{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    {% set referer = app.request.headers.get('referer')|default('/') %}

    <h3>Connected with Facebook!</h3>
    <p>Thanks for connecting your Facebook Account.</p>
    <p><a href="{{ referer }}" class="btn btn-success btn-rounded">Continue</a></p>
{% endblock hwi_oauth_content %}
