{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <div class="login__card">
        <div class="login__card__body">
            {% if error is defined and error %}
                <span>{{ error }}</span>
            {% endif %}
            {% for owner in hwi_oauth_resource_owners() %}
                <a href="{{ hwi_oauth_login_url(owner) }}" rel="noopener noreferrer">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
            {% endfor %}
        </div>
    </div>
{% endblock hwi_oauth_content %}
