{% extends '::base.html.twig' %}

{% block title %}so-sure - Server Error{% endblock %}

{% block remotestylesheets %}
    <link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block body %}
<section class="error-page">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="section-title">Sorry, computer says, no.</h1>
              <img class="logo" src="{{ cdn_url }}/images/logo/so-sure_blue-frown.svg" alt="Unhappy so-sure smiley" />
            <p class="lead">It looks like there was a server error. Our engineers will investigate the problem, but in the meantime, you can try refreshing the page.</p>
            <p>If you're attempting to login or reset your password, you may have too many failed attempts recently, in which case, please <a href="mailto:support@wearesosure.com?Subject=503 Error">contact us</a>.</p>
           </div>
        </div>
    </div>
</section>
{% endblock %}
