{% extends '::base.html.twig' %}

{% block title %}so-sure - Server Error{% endblock %}

{% block body %}
  <div class="section hero">
    <div class="container text-center">
      <img class="logo" src="{{ cdn_url }}/images/logo/unhappy-so-sure-smiley.svg" alt="Unhappy so-sure smiley" style="width: 20%; margin-top: 50px;"></img>
      <h2 class="section-title">Computer says, no.</h2>
      <p class="pre-launch-description">
        It looks like there was a server error.  Our engineers will investigate the problem, but in the meantime, you can try refreshing the page.</p>
        <p class="pre-launch-descripton">
          If you're attempting to login or reset your password, you may have too many failed attempts recently, in which case, please <a href="mailto:support@wearesosure.com?Subject=503 Error">contact us</a>.
        </p>
    </div>
  </div>
{% endblock %}
