<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>so-sure - Server Error</title>

  {% include 'AppBundle:Default:header.html.twig' %}

</head>

<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section hero">
    <div class="container">
      <img class="logo" src="/images/logo/so-sure-logo-new-dark.svg"></img>
      <h2 class="section-title">Server Error</h2>
      <p class="pre-launch-description">
        There was a server error.  Our engineers will look at it, but you can refresh the page
        to retry.
        </p>
    </div>
  </div>

  {% include 'AppBundle:Default:footer.html.twig' %}

  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
