{% extends 'base.html.twig' %}

{% block title %}so-sure - Page not found{% endblock %}

{% block body %}
  <div class="section hero">
    <div class="container">
      <img class="logo" src="/images/logo/so-sure-logo-new-dark.svg"></img>
      <h2 class="section-title">Page not found</h2>
      <p class="pre-launch-description">
        The requested page couldn't be located. Check the URL for any
        misspellings or <a href="{{ path('homepage') }}">return to the homepage</a>.
        </p>
    </div>
  </div>
{% endblock %}