{% extends '::base.html.twig' %}

{% block title %}so-sure - Page not found{% endblock %}

{% block body %}
  <div class="section hero">
    <div class="container text-center">
      <img class="logo" src="{{ cdn_url }}/images/logo/unhappy-so-sure-smiley.svg" alt="Unhappy so-sure smiley" style="width: 10%;"></img>
      <h2 class="section-title" style="margin-top: 30px;">Page Not Found</h2>
      <p class="pre-launch-description" style="margin-bottom: 100px;">
        Unforunately the page you requested couldn't be located. Check the URL for any
        misspellings or <a href="/">return to the homepage</a>.
        </p>
    </div>
  </div>
{% endblock %}
