{% extends '::base.html.twig' %}

{% block title %}so-sure - Server Error{% endblock %}

{% block remotestylesheets %}
    <link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block body %}
<section class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
		      <h1 class="section-title">Access Denied</h1>
              <img class="logo" src="{{ cdn_url }}/images/logo/so-sure_blue-frown.svg" alt="Unhappy so-sure smiley" />
		      <p class="lead">Looks like you're trying to view something you're not currently allowed to view.  Maybe you're not logged in?  Or logged in with the wrong account?</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
