{% extends 'base.html.twig' %}

{% block title %}so-sure - Server Error{% endblock %}

{% block body %}
  <div class="section hero">
    <div class="container text-center">
      <img class="logo" src="{{ cdn_url }}/images/logo/so-sure-logo.svg" style="width: 40%; margin-top: 50px;"></img>
      <h2 class="section-title">Server Error</h2>
      <p class="pre-launch-description">
        There was a server error.  Our engineers will investigate the problem, but in the meantime,
        you can refresh the page to retry.
        </p>
    </div>
  </div>
{% endblock %}