{# Any changes to error pages should also be reflected in the varnish error page - cdn files + varnish vcl file #}
{% extends '::base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'error-page' %}

{% block title %}so-sure - Page not found{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/error.css') }}">
{% endblock %}

{% block body %}
    <section class="exception d-flex align-items-center text-center">
        <div class="container">
            <img class="logo" src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_broken-phone.png" alt="Unhappy so-sure" width="200px" class="d-block" alt="Broken phone logo" />
            <h1 class="text-white">Page Not Found</h1>
            <p class="text-white">Unfortunately the page you requested couldn't be located. Check the URL for any misspellings or <a href="{{ path('homepage') }}" class="text-white">return to the homepage</a></p>
        </div>
    </section>
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/error.js') }}"></script>
{% endblock %}
