<ul class="nav navbar-nav flex-row align-items-center">
    <li class="nav-item d-xl-block pr-xl-5">
        <a id="quote_btn" href="#" class="btn btn-sm py-1 btn-success btn-turquoise-gradient get-in-touch">Request a Quote</a>
    </li>
</ul>
