<ul class="nav navbar-nav flex-row align-items-center">
    <li class="nav-item d-none d-xl-block pr-xl-5">
        <a href="{{ path('fos_user_security_login') }}"
           class="nav-link user-link">
           Customer log in <i class="far fa-arrow-right fa-fw ml-2"></i>
        </a>
    </li>
</ul>
