<ul class="nav navbar-nav flex-row align-items-center">
    <li class="nav-item">
        <a href="{{ path('user_home') }}"
           class="btn btn-sm py-1 btn-outline-deep-sky-blue-d">
           Login <span class="d-none d-md-inline">to your dashboard</span>
        </a>
    </li>
</ul>
