<ul class="nav navbar-nav flex-row align-items-center">
    <li class="nav-item d-none d-xl-block pr-xl-5">
        <a id="quote_btn" href="#" class="btn btn-sm py-1 btn-outline-white get-a-quote disabled btn-shadow btn-swap">Get a Quote</a>
    </li>
</ul>
