// palette.scss

$white: #ffffff;
$off-white: #f2f2f3;

// $blue-d: #1a7bdb;
// $blue-1: #1e90ff;
// $blue-2: #02bcfe;
// $blue-l: #24d2fd;

$grey:   #687296;
$dark:   #170B38;
$bb-1:   #ECF5FE; // bb = background blue
$bb-2:   #E0EFFD;
$blue-1: #00BAFF;
$blue-2: #2593F3;
$blue-3: #0051E8;
$blue-4: #081B9A;
$purple: #443b5f;

// Extend Theme colours and overide primary BS colour
$theme-colors: (
    "primary": $blue-2,
    "blue1":   $blue-1,
    "blue2":   $blue-2,
    "blue3":   $blue-3,
    "blue4":   $blue-4,
    "purple":  $purple,
    "white":   $white,
);

// Gradients
.blue-gradient-ld {
    @include linear-gradient(90deg, $blue-1, $blue-3);
}

.blue-gradient-dl {
    @include linear-gradient(90deg, $blue-3, $blue-1);
}
