// palette.scss

// W/B
$white:     #ffffff;
$lynch:     #687296;
$dark:      #170B38;

$white:                #ffffff; // < $white
$link-water:           #c7d8f2;
$selago:               #dee9fa;
$lily-white:           #e5f4ff; // < $bb-1
$pattens-blue:         #e0efff; // < $pattens-blue
$tangerine:            #fd7b3d; // + $tangerine
$jacarta:              #443b5f; // < $purple
$lust:                 #ed1c23; // < $lust
$ufo-green:            #3fc67d; // < $green
$islamic-green:        #00B500; // < $green
$zaffre:               #081a9a; // < $blue-4
$crayon-blue:          #0051e8; // < $blue-3
$dodger-blue:          #2593f3; // < $blue-2
$deep-sky-blue-b:      #00baff; // < $blue-1a
$deep-sky-blue-d:      #00d9ff; // < $blue-1b
$lynch:                #687296; // < $lynch
$lynch-30:             rgba(104, 114, 150, 0.3); // < $lynch 30%
$haiti:                #170b38; // < $dark
$haiti-80:             rgba(23, 11, 56, 0.8);    // < $dark 80%
$columbia-blue-e:      #99e3ff; // < $blue-1
$columbia-blue-f:      #8fe0ff; // + new
$pale-cornflower-blue: #a8d1f7; // < $blue-x
$ultramarine:          #081B9A;
$bright-yellow:        #fbd231;

// Brands
$facebook: #3B5998;
$google:   #DF4A32;
$starling: #593FA7;
$twitter:  #00aced;

// Extend Theme colours and overide primary BS colour
$theme-colors: (
    "white":                $white,
    "link-water":           $link-water,
    "selago":               $selago,
    "lily-white":           $lily-white,
    "tangerine":            $tangerine,
    "jacarta":              $jacarta,
    "lust":                 $lust,
    "ufo-green":            $ufo-green,
    "islamic-green":        $islamic-green,
    "zaffre":               $zaffre,
    "crayon-blue":          $crayon-blue,
    "dodger-blue":          $dodger-blue,
    "deep-sky-blue-b":      $deep-sky-blue-b,
    "deep-sky-blue-d":      $deep-sky-blue-d,
    "lynch":                $lynch,
    "grey":                 $lynch,
    "lynch-30":             $lynch-30,
    "haiti":                $haiti,
    "haiti-80":             $haiti-80,
    "columbia-blue-e":      $columbia-blue-e,
    "columbia-blue-f":      $columbia-blue-f,
    "pale-cornflower-blue": $pale-cornflower-blue,
    "facebook":             $facebook,
    "google":               $google,
    "starling":             $starling,
    "twitter":              $twitter,
    "bright-yellow":        $bright-yellow,
);

// Bootstrap overides
$primary:       $dodger-blue;
$secondary:     $lynch;
$success:       $ufo-green;
$info:          $columbia-blue-e;
$warning:       $bright-yellow;
$danger:        $lust;
$light:         $lynch-30;
$dark:          $haiti;


// Gradients
// TODO: Find cases where gradient is in css and remove apply gradient to it or extend
@mixin blue-gradient {
    @include linear-gradient(100deg, $crayon-blue, $deep-sky-blue-b);
}

@mixin blue-gradient-0 {
    @include linear-gradient(0deg, $crayon-blue, $deep-sky-blue-b);
}

@mixin blue-gradient-180 {
    @include linear-gradient(0deg, $deep-sky-blue-b, $crayon-blue);
}

.blue-gradient {
    @include linear-gradient(100deg, $crayon-blue, $deep-sky-blue-b);
}

@mixin dark-blue-gradient {
    @include linear-gradient(90deg, $zaffre, $haiti);
}

// Box shadow
.box-shadow {
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);
}

// Opacity
.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-75 {
    opacity: 0.75;
}

a.text-hover-white {

    &:hover {
        color: $white !important;
    }
}
