// palette.scss

// W/B
$white:     #ffffff;
$grey:     #687296;
$dark:     #170B38;

// Blues
$blue-x:   #A8D1F7;
$bb-1:     #E5F4FF; // bb = background blue
$bb-2:     #E0EFFD;
$blue-1:   #99E3FF;
$blue-1a:  #00BAFF;
$blue-1b:  #00D9FF;
$blue-2:   #2593F3;
$blue-2a:  #3B9EF4;
$blue-3:   #0051E8;
$blue-4:   #081B9A;

// #A8D1F7 - $blue-x  > $skyblue:       #A8D1F7;
// #8FE0FF -            $arcticblue:    #8FE0FF;
// #99E3FF - $blue-1  > $arctic2blue:   #99E3FF;
// #00D9FF - $blue-1b > $sky2blue:      #00D9FF;
// #00BAFF - $blue-1a > $ceruleanblue:  #00BAFF;
// #2593F3 - $blue-2  > $cerulean2blue: #2593F3;
// #0051E8 - $blue-3  > $blue:          #0051E8;
// #081B9A - $blue-4  > $admiralblue:   #081B9A;
// #170B38 - $dark    > $denimblue:     #170B38;
// #170B38 - 80%      > $deminblue80:   rgba(23, 11, 56, 0.8);
// #687296 - grey     > $grey:          #687296;
// #687296 - grey 30% > $grey30:        rgba(104, 114, 150, 0.3);
// #3FC67D - green    > $fern:          #3FC67D;
// #ED1C24 - red      > $red:           #ED1C24;
// #443B5F - purple   > $purple:        #443B5F;
// #FD7B3D - tangerine> $tangerine:     #FD7B3D;
// #FFFFFF - white    > $white:         #FFFFFF;

// Purple
$purple:   #443b5f; // Use to overide BS - purple

// Action colours
$green:    #00B500; // Use to overide BS - success
// TODO: Remove - Button Refactor
$green-2:  #2FC476;
$red:      #ED1C24; // Use to overide BS - danger

// Brands
$facebook: #3B5998;
$google:   #DF4A32;
$starling: #593FA7;

$theme-colors: (
    "primary":  $blue-2,
    "success":  $green,
    "blue1":    $blue-1,
    "blue1a":   $blue-1a,
    "blue1b":   $blue-1b,
    "blue2":    $blue-2,
    "blue3":    $blue-3,
    "blue4":    $blue-4,
    "purple":   $purple,
    "white":    $white,
    "facebook": $facebook,
    "google":   $google,
    "starling": $starling,
    "grey":     $grey,
);

// Extend Theme colours and overide primary BS colour
// $theme-colors: (
    // "skyblue":      $skyblue,
    // "arcticblue":   $arcticblue,
    // "arctic2blue":  $arctic2blue,
    // "sky2blue":     $sky2blue,
    // "ceruleanblue": $ceruleanblue,
    // "blue":         $blue,
    // "admiralblue":  $admiralblue,
    // "denimblue":    $denimblue,
    // "deminblue80":  $deminblue80,
    // "grey":         $grey,
    // "grey30":       $grey30,
    // "fern":         $fern,
    // "red":          $red,
    // "purple":       $purple,
    // "tangerine":    $tangerine,
    // "facebook":     $facebook,
    // "google":       $google,
    // "starling":     $starling,
// );

// Bootstrap overides
// $primary:       $cerulean2blue;
// $secondary:     $grey;
// $success:       $fern;
// $info:          $arctic2blue;
// $warning:       $tangerine;
// $danger:        $red;
// $light:         $grey30;
// $dark:          $denimblue;


// Gradients
// TODO: Find cases where gradient is in css and remove apply gradient to it or extend

@mixin blue-gradient-ld {
    @include linear-gradient(100deg, $blue-3, $blue-1a);
}

// Migrate above to this
// @mixin sosure-gradient {
//     @include linear-gradient(100deg, $blue, $ceruleanblue);
// }
// @mixin sosure-gradient-r {
//     @include linear-gradient(100deg, $ceruleanblue, $blue);
// }

// Box shadow
.box-shadow {
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);
}

// Opacity
.opacity-50 {
    opacity: 0.5;
}
