// variables.scss
// Note: copy and overide boostrap variables here!

// use #{$cdn_url}
$cdn_url: "https://cdn.so-sure.com";

// Breakpoints extend for 4k
$grid-breakpoints: (
  xs:  0,
  ss:  375px,
  sm:  576px,
  md:  768px,
  lg:  992px,
  xl:  1200px,
  fl:  1600px,
  fk:  2200px,
);

// Color - see _palette.scss
$link-color:                    $zaffre;

// Fonts
$font-size-base:                 0.88rem;
$line-height-base:               1.7;
$headings-line-height:           1.34;

// Buttons
$btn-border-radius:              3.125rem;
$btn-border-radius-lg:           3.125rem;
$btn-border-radius-sm:           3.125rem;

$btn-padding-x:                  1.4rem;
$btn-padding-x-lg:               2rem;
$btn-padding-x-sm:               1.1rem;

$btn-focus-width:                .1rem;

// Modal
$modal-content-bg:               rgba(255, 255, 255, 0.98);
$modal-header-border-color:      transparent;
$modal-content-border-color:     transparent;
$modal-content-border-radius:    11px;

// Form
$label-margin-bottom:            .3rem;
$input-bg:                       rgba(37, 147, 243, 0.03);
$input-border-color:             rgba(104, 114, 150, 0.29);
$input-border-radius:            10px;
$input-border-width:             2px;
$input-btn-padding-x:            1.2rem;
$input-btn-padding-y:            .6rem;
$input-color:                    $zaffre;

$input-group-addon-color:        $white;
$input-group-addon-bg:           $primary;
$input-group-addon-border-color: $primary;

// Dropdowns
$dropdown-border-color:          $columbia-blue-e;
$dropdown-divider-bg:            $columbia-blue-e;
$dropdown-padding-y:             0;
$dropdown-item-padding-y:        1rem;
$dropdown-border-radius:         6px;

$dropdown-link-color:            $dodger-blue;
$dropdown-link-hover-color:      $dodger-blue;
$dropdown-link-hover-bg:         rgba(37, 147, 243, 0.1);

$dropdown-link-active-color:     $zaffre;
$dropdown-link-active-bg:        rgba(37, 147, 243, 0.2);

// Tables
$table-head-bg:                  rgba(37, 147, 243, 0.03);
$table-head-color:               $zaffre;

$cdn_url: "https://cdn.so-sure.com";

// Hamburgers
$hamburger-padding-x:            15px;
$hamburger-padding-y:            15px;
$hamburger-layer-width:          25px;
$hamburger-layer-height:         3px;
$hamburger-layer-spacing:        5px;
$hamburger-layer-color:          $white;
$hamburger-layer-border-radius:  2px;

// Carousel
$carousel-indicator-width:       12px;
$carousel-indicator-height:      12px;
$carousel-indicator-spacer:      5px;
$carousel-indicator-active-bg:   $dodger-blue;

// Tooltips
$tooltip-bg:                     $crayon-blue;

// Tables
$table-head-bg:                  rgba(37, 147, 243, 0.03);
$table-head-color:               $zaffre;
$table-border-color:             $selago;
$table-accent-bg:                rgba(229, 244, 255, 0.4);

// Nav
$nav-pills-border-radius:        0;
$nav-pills-link-active-color:    $white;
$nav-pills-link-active-bg:       $dodger-blue;
