.about-section h1 {
	margin-bottom: 20px;
}

.about-section h3 {
	color: #626b78;
}

.about-section ul {
	margin-bottom: 20px;
}

.about-section ul li {
	padding: 8px 0;
	font-size: 17px;
}

.about-section small {
	font-size: 60%;
}

.about-section .go-back {
	margin-top: 20px;
}

.about-section .thumbnail {
	padding: 15px 15px 4px;
}

.about-section .thumbnail:hover {
	background-color: #efefef;
}

.about-section .thumbnail:hover a {
	text-decoration: none;
}

/* Modal */
.team-member-img-modal {
	margin: 0 auto;
}