{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your claim with so-sure.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ data.policy.user.name }},
        <br><br>
        Thank you for starting your claim. Please note your claim <strong><u>has not</u></strong> been submitted as you need to submit additional documents. In order to submit and proceed with your claim, you will need you to upload the necessary documents as outlined to you in the online claims portal. Failure to do so will delay your claim.
        <br><br>
        If you need to come back at a later time to the online claims portal, simply enter your email using the link below. You will then receive another email to login to your account which is valid for 2 hours (due to security reasons).
        <br><br>
        <a href="{{ url('claim') }}">Click here to login</a>
        <br><br>
        We’re here if you have any further questions please <a href="mailto:support@wearesosure.com">contact us</a>.
        <br><br>
        Thanks for using so-sure.
		   </span>
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
