{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your link to proceed with your claim.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: left;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
        Hi {{ username }},<br><br>

        Ok, let's get your claim started...
        <br><br>
		The next step is to click the button below and fill out a short form with the details.
		<br><br>
		Once you have finished and your claim is approved, we aim to get you back up and running in 24-72 hours with a repaired or replacement phone. 
		<br><br>
		Please now click on the link below to get started:
        {{ macros.email_button_table(tokenUrl, "START MY CLAIM", "START MY CLAIM")}}
		   </span>
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
