{% set logo_image = 'unhappy' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Sorry to hear that something happened to your phone. We hope you're okay. &#x1f625;{% endblock %}
{% block body %}
	{{ macros.start_table() }}
		<h1>
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		</h1>
		<div style="font-size: 14px; text-align: left;">
		   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
		   <div style="font-size: 14px; text-align: center;"><font face="arial, helvetica neue, helvetica, sans-serif">We're sorry to hear that something happened to your phone. We do hope you're okay though.</font><br>
			  <br>Following your successful claim your Reward Pot has now been updated.<br>
		   </div>
		</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(branch_pot_url, "View your Reward Pot", "View your Reward Pot")}}
{% endblock %}
