// main.scss
// author: N Waller

// Import Bootstrap
@import "bootstrap-sass/bootstrap.scss";

// Import font-awesome
@import "font-awesome/font-awesome.scss";

// Mixins
@import "mixins";

// Common
@import "common/variables";
@import "common/palette";
@import "common/paletteNew";

@import "common/type";
@import "common/globalNew";

// Components
@import "components/buttonsNew";
// @import "components/modal";
@import "components/modalNew";
@import "components/banners";
@import "components/visual";
@import "components/forms";
@import "components/formsNew";
@import "components/hero";
@import "components/quotes";
@import "components/tables";
@import "components/panels";
@import "components/alertsNew";
@import "components/carousel";
@import "components/typeahead";
@import "components/dropdown";

// Layouts
@import "layout/footer";
@import "layout/header";
@import "layout/includes";
@import "layout/navAB";
@import "layout/base";

// Extras
@import "hamburgers/hamburgers";
@import "cookie-consent/cookieconsent";
