<div class="fos_user_user_show">
    <div class="container">
        <div class="row">
            <h1>Welcome {{ user.firstName }}!</h1>
            <div class="col-md-10 col-md-offset-1">
                <p>We're still working on our website at the moment, so there isn't a lot you can do at the moment.</p>
                <p>Got a suggestion? We'd love to hear from you - just drop us an <a href="mailto:support@wearesosure.com?subject=I have an idea!">email</a>.</p>
            </div>
        </div>
    </div>
</div>
