.DS_Store
.vagrant
.vagrant/*
/app/bootstrap*
/app/build/
/app/config/parameters.ini
/app/config/parameters.yml
/app/cache/
/app/logs/
/app/cache/dev/
/app/cache/
/app/report/
/app/Resources/node_modules
/app/Resources/node_modules/*
/app/spool/
/bin
/log
/vendor/
/web/app_*.php
/web/.htaccess
/web/bundles/
/web/CACHE
/web/robots.txt
/web/.htaccess
/web/app.php
/web/css
/web/js
/web/ops
/web/cover
/web/css-js
/bower_components/
/node_modules/
web/sitemap.xml
web/sitemap_index.xml
VagrantfileExtra.rb
.idea
/backup
*.backup
deploy/*
.php_cs.cache
yarn-error.log
.scannerwork
*.swp
