<section class="claims py-5">
    <div class="container py-5">
        <h2 class="h3 mb-3 text-primary">Our hassle-free 🤔 claims process</h2>
        <p class="mb-4">Need to claim, here's what happens</p>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="claims__step">
                    <div class="claims__number d-flex justify-content-center align-items-center h4 text-primary">1</div>
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_make-a-claim.png" alt="so-sure - Make a claim" width="180px" class="lozad">
                </div>
                <h5 class="text-primary">Launch your claim online</h5>
                <p class="mb-5">Is your phone lost, stolen or broken? Claiming with so-sure is easy, fast and pain-free. Get started using our online claims portal below</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="claims__step">
                    <div class="claims__number d-flex justify-content-center align-items-center h4 text-primary">2</div>
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_claims-team.png" alt="so-sure - Review claim" width="180px" class="lozad">
                </div>
                <h5 class="text-primary">Review Claim</h5>
                <p class="mb-5">Our UK based claims team will review your claim and reach out with a request for any further details or documents</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="claims__step">
                    <div class="claims__number d-flex justify-content-center align-items-center h4 text-primary">3</div>
                    <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_delivery.png" alt="so-sure - Approve claim" width="180px" class="lozad">
                </div>
                <h5 class="text-primary">Approve Claim</h5>
                <p class="mb-2">Once approved, we take your excess payment over the phone and aim to repair or replace your phone within 24-72 hours</p>
            </div>
        </div>
        <a href="{{ path('claim') }}" class="btn btn-primary btn-block-xs mt-3">Open the claims portal</a>
    </div>
</section>
