<section class="video d-lg-flex">
    <a href="#"
       id="play_video"
       class="video__play">
        <img src="{{ cdn_url }}/images/onexone.png"
             data-src="{{ cdn_url }}/images/rebrand/invite/so-sure_invite_reward_video_play_shadow.svg"
             alt="Play button"
             class="lozad"
             width="120px">
    </a>
    <div class="video__quote hideme" id="get_a_quote_video">
        <a href="#" class="btn btn-success btn-block get-a-quote disabled">Get a Quote ⏱</a>
    </div>
    <video id="hero_video">
        <source src="{{ cdn_url }}/video/sosure_tv_ad.mp4#t=1" type="video/mp4" preload="metadata">
    </video>
</section>
