<section class="differently py-lg-5" data-background-image="{{ cdn_url }}/images/rebrand/homepage/so-sure_intro-illustration.png">
    <div class="container-large py-5">
        <h2 class="h3 mb-3 text-primary text-center">We do things  🤩 differently</h2>
        <p class="mb-5 text-center">Our insurance is simple and hassle free so you don't need to worry, we've got you covered</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="differently__illustration__mobile d-block d-lg-none my-5">
                    <img data-src="{{ cdn_url }}/images/rebrand/homepage/so-sure_intro-illustration.png" alt="so-sure - pic-sure" class="img-fluid lozad">
                </div>
            </div>
            <div class="col-lg-6 pb-lg-5">
                <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                    <div class="expanding-cardbox__body">
                        <h3 class="h5 expanding-cardbox__title mb-0">
                            Aim for 24-72 hour replace or repair <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                        </h3>
                        <div class="expanding-cardbox__expand mt-4">
                            We understand it's stressful to be without your phone, that’s why we aim to get you back up and running quickly after your claim is approved. While we aim for 24-72 hours, some repairs may take a little longer.
                        </div>
                    </div>
                </div>
                <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                    <div class="expanding-cardbox__body">
                        <h3 class="h5 expanding-cardbox__title mb-0">
                            Up to 80% money back <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                        </h3>
                        <div class="expanding-cardbox__expand mt-4">
                            We reward our careful customers.  If you and your connections don’t make a claim we return up to 80% of your premium back at the end of every policy year.
                        </div>
                    </div>
                </div>
                <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                    <div class="expanding-cardbox__body">
                        <h3 class="h5 expanding-cardbox__title mb-0">
                            Low excess from just &pound;50 with our app <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                        </h3>
                        <div class="expanding-cardbox__expand mt-4">
                            Our excess is as low as &pound;50 for accidental damage and &pound;70 for loss &amp; theft when you validate your phone with our app.
                            <br><br>
                            Download our app and prove to us your device is in good working order and the screen isn't cracked by taking a selfie of your phone!
                            <br><br>
                            So, if something unfortunate happens and you haven't validated your phone with our app you will need to pay up to &pound;100 extra for any loss, damage or theft claims.
                            <br><br>
                            Excess levels vary by make, model and memory size and might be higher for latest, most-expensive new handsets.
                        </div>
                    </div>
                </div>
                <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                    <div class="expanding-cardbox__body">
                        <h3 class="h5 expanding-cardbox__title mb-0">
                            Insuring second hand phones <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                        </h3>
                        <div class="expanding-cardbox__expand mt-4">
                            We're one of the only ones in the UK that insure older phones and second hand devices.
                        </div>
                    </div>
                </div>
                <div class="expanding-cardbox expanding-cardbox__icon mb-4">
                    <div class="expanding-cardbox__body">
                        <h3 class="h5 expanding-cardbox__title mb-0">
                            We decline less than 3.5% of claims* <i class="far fa-chevron-down text-dodger-blue fa-lg"></i>
                        </h3>
                        <div class="expanding-cardbox__expand mt-4">
                            We have our customers backs and we're here to protect you when you need us. That's what insurance is for after all. <br><br>
                            <small>*as of July 18</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
