// checkoutNav.scss

.purchase-nav {
	text-align: center;
	margin-bottom: 15px;

	ol {
		list-style: none;
		padding: 0;
		margin: 10px 0 25px;

		li {
		    min-width: 33.3333333333%;
		    font-size: 13px;
		    display: block;
		    float: left;
		    padding: 10px 0;
		    font-weight: bold;
		    color: $white;
		}

		.step-active {
		    background-color: $blue;
		    color: $white;
		}

		.step-inactive {
		    background-color: $grey;
		}

		@include breakpoint(tablet) {
	        padding: 30px 0;
	        margin: 0;
	        border-bottom: 2px solid $grey-light;

	        li {
		        min-width: 0;
		        display: inline-block;
		        float: none;
		        background-color: transparent;
		        font-size: 20px;
		        font-weight: bold;
		        padding: 0 20px;
	        }

	        .fa {
	        	color: $grey-light;
	        }

			.step-active {
			    background-color: $white;
			    color: $blue;
			}

			.step-inactive {
			    background-color: $white;
			    color: $grey;
			}
		}
	}
}
