// about.scss

@import "../mixins";
@import "../common/type";
@import "../common/paletteNew";

body {
    @include breakpoint(tablet) {
        background-color: $lightest-blue;
    }
}

.navbar {
    background-color: $white;
}

.section-about-us {
	position: relative;
}

.section--big-text {
    background-color: $off-white;
	padding: 20px 0 60px;

    @include breakpoint(tablet) {
		padding: 100px 0;
    }
}

.section--our-team {

	.media {
		margin-bottom: 40px;

		h4 span {
			font-family: $avenir-book;
			font-size: 16px;
		}

		.media-left {
			img {
				border: 3px solid $white;
			}
		}

	}
}

.section--our-partners {
    position: relative;
    z-index: 3;
}

.curved-background {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 2;
}

.curved-background-top {
    top: 0;
}

.about-panel {
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    @include border-radius(4px);
    border: none;
    box-shadow: none;
    position: relative;
    z-index: 3;

    @include breakpoint(tablet) {
        background-color: $white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }

    h2 {
    	margin-top: 0;
    }
}

.about-panel--transparent {
	@extend .about-panel;

    @include breakpoint(tablet) {
        background-color: transparent;
        box-shadow: none;
    }
}

.about-panel--thumb {
	text-align: center;
	margin-top: -80px;

	img {
		border: 3px solid $white;
	}
}

// .about-section {

// 	h1 {
// 		margin-bottom: 20px;
// 	}

// 	h2 {
// 		color: $grey-dark;
// 	}

// 	ul {
// 		margin-bottom: 20px;

// 		li {
// 			padding: 8px 0;
// 			font-size: 17px;
// 		}
// 	}

// 	small {
// 		font-size: 60%;
// 	}

// 	.go-back {
// 		margin-top: 20px;
// 	}

// 	.thumbnail {
// 		padding: 15px 15px 4px;

// 		&:hover {
// 			background-color: $grey-light;

// 			a {
// 				text-decoration: none;
// 			}
// 		}
// 	}
// }

// /* Modal */
// .team-member-img-modal {
// 	margin: 0 auto;
// }
