// admin.scss

@import "../mixins";
@import "../common/palette";

.container {
    padding-bottom: 50px;
}

.claim-status label {
    margin-left: 3px;
    margin-right: 10px;
}


.os label {
    margin-left: 3px;
    margin-right: 10px;
}


/* Claim Handling */

#claim-handling input {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid #3399ff;
}
#claim-handling select {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #3399ff;
  height: 36px;
}

#claim-handling .table>tbody>tr>td {
  padding: 15px 0px 15px 5px;
}

#claim-handling .table>thead>tr>th {
  padding: 8px 8px 8px 5px;
}

#claimPolicyItem .nav-tabs .badge {
  padding: 4px 10px 4px 10px;
  margin-left: 10px;
  background-color: #3399ff !important;
  border-radius: 4px;
}
#claim-handling label {
  margin-left: 0;
}

:target {
  font-weight: bold;
}

.popover {
  max-width: 100%;
  width: 100%;
}


.os label {
  margin-left: 3px;
  margin-right: 10px;
}

.img-preview {
  width: 20px;
  max-height: 20px;
}
