// adwordsLanding.scss

@import "../common/variables";
@import "../mixins";
@import "../common/paletteNew";

.landing {

    &__nav {
        background: transparent;
    }

    &__hero {
        // background-color: $light-ad-grey;
        background-color: $off-white;
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative;

        h1 {
            color: $dark-ad-green;
            margin: 0 0 5px;
        }

        .phone-img {
            margin-top: 20px;
        }

        @include breakpoint(tablet) {
            padding-top: 80px;
            padding-bottom: 100px;
        }

        &:after {
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }

        // background: rgb(30, 35, 50);
        background-image:
            url('#{$cdn_url}/images/landing_pages/tria_e.svg'),
            url('#{$cdn_url}/images/landing_pages/tria_f.svg'),
            url('#{$cdn_url}/images/landing_pages/tria_f.svg'),
            url('#{$cdn_url}/images/landing_pages/tria_e.svg');
        background-position:
            5% -10%,
            90% -20%,
            10% 100%,
            105% 120%;
        background-size:
            140px,
            120px,
            100px,
            150px;
        background-repeat: no-repeat;

        @include breakpoint(tablet) {
            background-position:
                5% -60%,
                89% -40%,
                -3% 130%,
                right -100px bottom -100px;
            background-size:
                300px,
                240px,
                230px,
                280px;
        }
    }

    &__press {
        // background: $off-white;
        position: relative;
        z-index: 1;

        &_defaqto {
            width: 100px;
        }

        &_trustpilot {
            width: 100px;
        }

        &_yell {
            width: 100px;
        }

        &_money {
            width: 100px;
        }

        &_gocompare {
            width: 100px;
        }

        &_theguardian {
            width: 100px;
        }

        &_financialtimes {
            width: 100px;
        }

        @include breakpoint(tablet) {
            &_defaqto {
                width: 140px;
            }

            &_trustpilot {
                width: 140px;
            }

            &_yell {
                width: 140px;
            }

            &_money {
                width: 140px;
            }

            &_gocompare {
                width: 200px;
            }

            &_theguardian {
                width: 200px;
            }

            &_financialtimes {
                width: 200px;
            }
        }
    }

    &__we-do-things-differently {
        // background-color: $lightest-blue;

        .img-app {
            width: 300px;

            @include breakpoint(laptop) {
                width: 400px;
                margin-top: 40px;
            }
        }
    }

    &__excess {
        // text-align: center;
    }

}
