// adwordsLanding.scss

@import "../common/variables";
@import "../mixins";
@import "../common/paletteNew";

.landing {

    &__hero {

    }

    &__press {
        background: $off-white;
        position: relative;
        z-index: 1;
        margin: 25px 0 0;

        &_defaqto {
            width: 100px;
        }

        &_trustpilot {
            width: 100px;
        }

        &_money {
            width: 100px;
        }

        &_gocompare {
            width: 100px;
        }

        &_theguardian {
            width: 100px;
        }

        &_financialtimes {
            width: 100px;
        }

        @include breakpoint(tablet) {
            &_defaqto {
                width: 140px;
            }

            &_trustpilot {
                width: 140px;
            }

            &_money {
                width: 140px;
            }

            &_gocompare {
                width: 200px;
            }

            &_theguardian {
                width: 200px;
            }

            &_financialtimes {
                width: 200px;
            }
        }
    }

}
