// article.scss

@import "../mixins";
@import "../common/palette";

.hero h1 {
	text-align: center;
	// padding-top: 20px;
}

.article-content {
	background-color: $white;

	p {
		// line-height: 2;
		font-size: 17px;
		line-height: 1.7;
	}

	ul {

		li {
			font-size: 17px;
			line-height: 1.7;
		}
	}

	img {
		margin: 0 0 20px;
	}

	.h2 {
		margin-bottom: 20px;
	}

	.table {
		margin-bottom: 0;
	}

	.table-width {
		// max-width: 660px;
		// margin: 0 auto;
	}

	.table > thead > tr > td {
		vertical-align: middle;
		background-color: $blue;
	}
}

