// homepage.scss

@import "../mixins";
@import "../common/palette";

body {
    background-color: $blue;
}

// Adjust Navbar

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding-top: 20px;
    color: $blue;

    &:hover {
    	color: darken($blue, 20%);
    	transition: all 0.3s ease;
    }

    &:focus {
    	color: $black;
    	border-color: $black;
    	outline: none;
    }
    transition: all 0.3s ease;

	@include breakpoint(tablet) {

		color: $white;

	}

}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;

	.icon-bar {
		background-color: $white;
	}

	&:hover, &:focus {
		background-color: transparent;
		border: none;
		outline: none;
		transition: all 0.3s ease;

		.icon-bar {
			background-color: darken($blue, 20%);
		}
	}
}

// Hero Search
.twitter-typeahead,
.tt-input,
.tt-menu,
.tt-hint {
    width: 215px;

    @include breakpoint(tablet) {
        // width: 100%;
        width: 320px;
    }
}

.hero {
    padding: 10px 0 25px;
}

@include breakpoint(laptop) {

    .hero {
        padding: 20px 0 0 0;
    }
}

.hero-search {
    margin: 0 auto 40px;
    position: relative;
    z-index: 10;

    &--left,
    &--right {
        width: 50%;
        float: left;

        img {
            width: 100%;
            height: auto;
        }
    }

    @include breakpoint(mobileishup) {
        width: 388px; height: 331px;

        &--left,
        &--right {
            width: 194px;
        }
    }

    @include breakpoint(laptop) {
        margin: 0 auto;
        top: 30px;
    }
}


