// homepageNew.scss

@import "../mixins";
@import "../common/palette";
@import "../common/paletteNew";
@import "../common/type";

.navbar {
    background-color: $white;
}

.homepage {

    &--hero {
        text-align: center;

        // Set max width on container
        .container {
            max-width: 800px;
        }

        h1 {
            color: $primary-blue;

            @include breakpoint(desktop) {
                font-size: 72px;
                line-height: 1;
            }
        }
    }

    &--what-is-so-sure {

    }

    &--press {

    }

    &--why-we-are-better {

    }

    &--cover-details {

    }

    &--when-you-travel {

    }

    &--what-we-dont-cover {

    }

    &--how-does-the-reward-pot-work {

    }

    &--claims-process {

    }

    &--we-compare-well {

    }

    &--feedback {

    }

    &--instant-quote {

        // Set max width on container
        .container {
            max-width: 800px;
        }
    }
}


// TODO: Move!
.search-phone-form--homepage {

    @include breakpoint(tablet) {
        padding: 10px;
        @include border-radius(4px);
        box-shadow: 0 0 15px $grey;
    }

    // Hide the form on load
    .select-phone-form {
        display: none;
    }

    .search-phone-text {
        border-color: transparent;
    }

    .form-inline--homepage {

        @include breakpoint(tablet) {

            .form-group {
                display: inline-block;
                margin-bottom: 0;
                vertical-align: middle;
            }

        }

        .form-control {
            vertical-align: initial;
            border-color: transparent;
            padding-left: 35px;
        }

    }

    .twitter-typeahead {
        width: 100%;
        font-size: 20px;

        .tt-hint,
        .tt-input {
            height: 52px;
            padding-left: 50px;
        }

        &:before {
            content: '\f002';
            color: $light-blue;
            font-family: FontAwesome;
            font-size: 36px;
            position: absolute;
            z-index: 10;
            left: 5px; top: 0;
        }
    }

    .tt-menu {
        max-height: 176px;
        margin: 10px 0 0;
    }
}


