// homepage.scss

@import "../mixins";
@import "../common/palette";

body {
    background-color: $blue;
}

// Adjust Navbar

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding-top: 20px;
    color: $blue;

    &:hover {
    	color: darken($blue, 20%);
    	transition: all 0.3s ease;
    }

    &:focus {
    	color: $black;
    	border-color: $black;
    	outline: none;
    }
    transition: all 0.3s ease;

	@include breakpoint(tablet) {

		color: $white;

	}

}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;

	.icon-bar {
		background-color: $white;
	}

	&:hover, &:focus {
		background-color: transparent;
		border: none;
		outline: none;
		transition: all 0.3s ease;

		.icon-bar {
			background-color: darken($blue, 20%);
		}
	}
}

.twitter-typeahead,
.tt-input,
.tt-menu,
.tt-hint {
    max-width: 320px;
}

// Hero Search

.hero h1,
.hero .lead {
    text-align: center;

    @include breakpoint(desktop) {
        text-align: left;
    }
}

.search-home {
    text-align: center;

    @include breakpoint(desktop) {
        text-align: left;
    }
}

@include breakpoint(desktop) {

    .hero {
        padding: 20px 0 0 0;
    }
}

.hero-search {
    width: 388px; height: 331px;
    margin: 0 auto 20px;
    position: relative;
    z-index: 10;

    &--left,
    &--right {
        width: 194px;
        float: left;
    }

    @include breakpoint(desktop) {
        margin: 0 auto;
        top: 20px;
    }
}


