// money.scss

@import "../common/variables";
@import "../mixins";
@import "../common/paletteNew";

$protectyourbubble: #383570;
$loveitcoverit: #CD355E;
$gadgetcover: #E8C955;

.navbar {
    background-color: $white;
}

.table {

    &__comparison {
        max-width: 800px;
        margin: 25px auto;
        background-color: $white;

        > tbody {
            > tr {
                > td {
                    vertical-align: middle;
                    border-top: 0;
                }
            }
        }

        thead {
            > tr {
                > th {
                    vertical-align: middle;
                }
            }
            th {
                text-align: center;
                padding-top: 25px !important;
                padding-bottom: 25px !important;
                border-bottom: 0 !important;
                position: relative;

                @include breakpoint(tablet){
                    &:after {
                        width: 0; height: 0;
                        content: '';
                        position: absolute;
                        z-index: 100;
                        top: 100%; left: 50%;
                        margin-left: -10px;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid;
                    }
                }

                &:first-of-type {
                    &:after {
                        border: none;
                    }
                }
            }

            th.border-left-right {
                border-left: 2px solid $primary-blue;
                border-right: 2px solid $primary-blue;
            }
            th.border-left-right-bottom {
                border-left: 2px solid $primary-blue;
                border-right: 2px solid $primary-blue;
                border-bottom: 2px solid $primary-blue;
            }

            .so-sure {
                background-color: $primary-blue;

                &:after {
                    border-top: 10px solid $primary-blue;
                }
            }
            .protectyourbubble {
                background-color: $protectyourbubble;

                &:after {
                    border-top: 10px solid $protectyourbubble;
                }
            }
            .loveitcoverit {
                background-color: $lightest-blue;

                &:after {
                    border-top: 10px solid $lightest-blue;
                }
            }
            .gadgetcover {
                background-color: $gadgetcover;

                &:after {
                    border-top: 10px solid $gadgetcover;
                }
            }
        }

        .fa.protectyourbubble {
            color: $protectyourbubble;
        }
        .fa.loveitcoverit {
            color: $loveitcoverit;
        }
        .fa.gadgetcover {
            color: $gadgetcover;
        }

        tbody {
            td {
                padding-top: 25px !important;
                padding-bottom: 25px !important;
            }

            td.border-left-right {
                border-left: 2px solid $primary-blue;
                border-right: 2px solid $primary-blue;

                font-weight: bold;
            }
            td.border-left-right-bottom {
                border-left: 2px solid $primary-blue;
                border-right: 2px solid $primary-blue;
                border-bottom: 2px solid $primary-blue;

                font-weight: bold;
            }
        }
    }
}

.comparison {

    &__container {
        .left {
            padding-right: 0;
        }

        .right {
            padding-left: 0;
        }
    }

    &__list {
        text-align: center;
        margin: 0 0 25px;

        &_border {
            border-right: 1px solid $pale-grey;
        }

        li {
            vertical-align: middle;
            padding: 15px;
            position: relative;

            &:first-of-type {
                height: 90px;
                line-height: 55px;
                // padding: 30px 15px;
            }

            &:nth-child(even) {
                background-color: $off-white;
            }

            .fa {
                margin-bottom: 5px;
            }
        }

        li.so-sure {
            background-color: $primary-blue;
        }

        li.protectyourbubble {
            background-color: $protectyourbubble;
            color: $white;
        }

        .fa.protectyourbubble {
            color: $protectyourbubble;
        }

        li.loveitcoverit {
            background-color: $lightest-blue;
            color: $white;
        }

        .fa.loveitcoverit {
            color: $loveitcoverit;
        }

        li.gadgetcover {
            background-color: $gadgetcover;
            color: $white;
        }

        .fa.gadgetcover {
            color: $gadgetcover;
        }
    }
}

.comparison__controls {
    position: absolute;
    top: 20px;

    &_left {
        left: 10px;
    }

    &_right {
        right: 10px;
    }
}

.speech-bubble {
    text-align: center;
    position: relative;
    font-size: 18px;
    margin: 50px 0;
    // @include border-radius(20px);

    @include breakpoint(tablet) {
        font-size: 24px;
        margin: 80px 0;
    }

    &:before, &:after {
        font-family: serif;
        font-size: 80px;
        color: $grey;
        line-height: 0;
        position: absolute;
    }

    &:before {
        content: open-quote;
        top: -10px; left: 50%;
        margin-left: -20px;

        // @include breakpoint(tablet) {
        //     top: 10px; left: -35px;
        //     margin: 0;
        // }
    }

    &:after {
        display: none;
        content: close-quote;

        // @include breakpoint(tablet) {
        //     display: block;
        //     bottom: 10px; right: -35px;
        // }
    }
}

.table-responsive {
    border: none;

    > .fixed-column {
        width: auto;
        position: absolute;
        display: inline-block;
        z-index: 10;

        @include breakpoint(tablet) {
            display: none;
        }
    }
}

.money {

    &__hero {
        h1 {
            font-size: 30px;
            margin-top: 30px;

            @include breakpoint(tablet) {
                font-size: 36px;
            }
        }
    }

    &__press {
        background: $off-white;

        .money-img {
            width: 120px;
            margin-bottom: 25px;

            @include breakpoint(tablet) {
                width: 200px;
            }
        }

        .press-list {
            margin-bottom: 0;

            li {
                width: 100px; height: 50px;
                background: transparent url('#{$cdn_url}/images/homepage/press/in_the_press_sprite_fixed_width_x2_.png') no-repeat;
                background-size: 600px;

                &:nth-child(2) {
                    background-position: -100px 0;

                    @include breakpoint(tablet) {
                        background-position: -200px 0;
                    }
                }

                &:nth-child(3) {
                    background-position: -200px 0;

                    @include breakpoint(tablet) {
                        background-position: -400px 0;
                    }
                }

                &:nth-child(4) {
                    background-position: -300px 0;

                    @include breakpoint(tablet) {
                        background-position: -600px 0;
                    }
                }

                &:nth-child(5) {
                    background-position: -400px 0;

                    @include breakpoint(tablet) {
                        background-position: -850px 0;
                    }
                }

                &:nth-child(6) {
                    background-position: -500px 0;

                    @include breakpoint(tablet) {
                        background-position: -1000px 0;
                    }
                }

                @include breakpoint(tablet) {
                    width: 200px; height: 100px;
                    background-size: 1200px;

                    &:nth-child(5) {
                        width: 100px;
                    }
                }
            }

            &--1 {
                text-align: center;

                li {
                    &:nth-child(2) {
                        background-position: -200px 0;
                    }

                    &:nth-child(3) {
                        background-position: -400px 0;
                    }
                }
            }

            &--2 {
                text-align: center;

                li {
                    &:nth-child(1) {
                        background-position: -600px 0;
                    }

                    &:nth-child(2) {
                        background-position: -800px 0;
                    }
                }
            }
        }
    }

    &__cover {

        .media {
            margin-bottom: 30px;
        }

        .media-heading {
            margin-top: 30px;
        }
    }

    &__cover_next {
        background-color: $off-white;

        .col-md-4 {
            text-align: center;
        }

        ul {
            margin-bottom: 30px;

            li {
                font-size: 18px;
                font-weight: bold;
                padding-left: 42px;
                padding-bottom: 10px;
                margin: 15px 0 20px;
                background: transparent url('#{$cdn_url}/images/logo/so-sure-blue-smile.svg') no-repeat top left;
                background-size: 30px;

                small {
                    font-weight: normal;
                }

            }
        }

        @include breakpoint(tablet) {
            text-align: left;

            .col-md-4 {
                text-align: right;

                img {
                    margin-top: 35px;
                }
            }
        }
    }

    &__feedback {
        // background-color: $off-white;
        img {
            margin-bottom: 15px;
        }
    }
}

.ui-loader {
    display: none;
}
