// money.scss

@import "../common/variables";
@import "../mixins";
@import "../common/paletteNew";

.navbar {
    background-color: $white;
}

.speech-bubble {
    text-align: center;
    position: relative;
    font-size: 18px;
    margin: 50px 0;
    // @include border-radius(20px);

    @include breakpoint(tablet) {
        font-size: 24px;
        margin: 80px 0;
    }

    &:before, &:after {
        font-family: serif;
        font-size: 80px;
        color: $grey;
        line-height: 0;
        position: absolute;
    }

    &:before {
        content: open-quote;
        top: -10px; left: 50%;
        margin-left: -20px;
    }

    &:after {
        display: none;
        content: close-quote;
    }
}

.table-responsive {
    border: none;

    > .fixed-column {
        width: auto;
        position: absolute;
        display: inline-block;
        z-index: 10;

        @include breakpoint(tablet) {
            display: none;
        }
    }
}

.money {

    &__hero {
        h1 {
            font-size: 30px;
            margin-top: 30px;

            @include breakpoint(tablet) {
                font-size: 36px;
            }
        }
    }

    &__press {
        background: $off-white;

        .money-img {
            width: 120px;
            margin-bottom: 25px;

            @include breakpoint(tablet) {
                width: 200px;
            }
        }

        .press-list {
            margin-bottom: 0;

            li {
                width: 100px; height: 50px;
                background: transparent url('#{$cdn_url}/images/homepage/press/in_the_press_sprite_fixed_width_x2_.png') no-repeat;
                background-size: 600px;

                &:nth-child(2) {
                    background-position: -100px 0;

                    @include breakpoint(tablet) {
                        background-position: -200px 0;
                    }
                }

                &:nth-child(3) {
                    background-position: -200px 0;

                    @include breakpoint(tablet) {
                        background-position: -400px 0;
                    }
                }

                &:nth-child(4) {
                    background-position: -300px 0;

                    @include breakpoint(tablet) {
                        background-position: -600px 0;
                    }
                }

                &:nth-child(5) {
                    background-position: -400px 0;

                    @include breakpoint(tablet) {
                        background-position: -850px 0;
                    }
                }

                &:nth-child(6) {
                    background-position: -500px 0;

                    @include breakpoint(tablet) {
                        background-position: -1000px 0;
                    }
                }

                @include breakpoint(tablet) {
                    width: 200px; height: 100px;
                    background-size: 1200px;

                    &:nth-child(5) {
                        width: 100px;
                    }
                }
            }

            &--1 {
                text-align: center;

                li {
                    &:nth-child(2) {
                        background-position: -200px 0;
                    }

                    &:nth-child(3) {
                        background-position: -400px 0;
                    }
                }
            }

            &--2 {
                text-align: center;

                li {
                    &:nth-child(1) {
                        background-position: -600px 0;
                    }

                    &:nth-child(2) {
                        background-position: -800px 0;
                    }
                }
            }
        }
    }

    &__cover {

        .media {
            margin-bottom: 30px;
        }

        .media-heading {
            margin-top: 30px;
        }
    }

    &__cover_next {
        background-color: $off-white;

        .col-md-4 {
            text-align: center;
        }

        ul {
            margin-bottom: 30px;

            li {
                font-size: 18px;
                font-weight: bold;
                padding-left: 42px;
                padding-bottom: 10px;
                margin: 15px 0 20px;
                background: transparent url('#{$cdn_url}/images/logo/so-sure-blue-smile.svg') no-repeat top left;
                background-size: 30px;

                small {
                    font-weight: normal;
                }

            }
        }

        @include breakpoint(tablet) {
            text-align: left;

            .col-md-4 {
                text-align: right;

                img {
                    margin-top: 35px;
                }
            }
        }
    }

    &__feedback {
        // background-color: $off-white;
        img {
            margin-bottom: 15px;
        }
    }
}

.ui-loader {
    display: none;
}
