// phoneLanding.scss

@import "../mixins";
@import "../common/paletteNew";

body {
    background-color: $white;
}

a {
    &:hover {
        text-decoration: none !important;
    }
}

.navbar {
    background-color: $white;
}

.phone {
    text-align: center;
}

.phone.thumbnail {
    position: relative;
    border-color: transparent;
    padding-top: 30px;

    > img {
        display: inline;
        margin: 0;
        height: 190px;
        max-width: none;
    }

    .caption {
        position: relative;
        z-index: 10;
    }
}

.phone-hover {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: none;
    opacity: 0;
    z-index: 9;

    // transition: background-color 0.5s ease-in-out;

    background-color: rgba(214, 235, 255, 0.85);
    border: 2px solid $light-blue;
    @include border-radius(4px);

    &--inner {
        width: 100%; height: 100%;
        display: table;

        padding: 0 30px;
    }

    .mem-btns, .one-btn {
        width: 100%; height: 100%;
        display: table-cell;
        vertical-align: top;
    }

    .one-btn {
        padding-top: 80px;
    }
}

.phone:hover .phone-hover {
    display: block;
    opacity: 1;
}

.owl-carousel {
    margin-bottom: 30px;

    .item {
        text-align: center;
        display: none;
        min-width: 120px;

        &-inner {
            // height: 300px;
        }

        img {
            height: 250px; width: auto;
            margin: 0 auto;
            display: block;
        }
    }
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
}
