// picsureML.scss

.container {
	margin-bottom: 20px;

	.container-action {
		margin-top: 20px;
		margin-bottom: 20px;
		
		button {
			margin-right: 10px;
		}
	}

	.picsure-image {
		margin-bottom: 20px;
		padding: 10px;
		border-radius: 5px;
		border: solid 1px;

		img {
			max-width: 100%;
			height: auto;
		}
		
		span.label {
			padding: .5em .6em .3em;
		}
	}

	#picsureml_search_form_label {
		label {
			padding: 12px 12px 12px 6px;
		}
	}

	#picsureml_search_form_version {
		label {
			padding: 12px 12px 12px 6px;
		}
		input {
			max-width: 60px;
		}
		button {
			margin-left: 48px;
		}
	}

	#picsureml_search_form_images_per_page {
		label {
			padding: 12px 12px 12px 6px;
		}
		input {
			max-width: 60px;
		}	
	}

	#picsureml_search_form_for_detection {
		label {
			padding: 12px 12px 12px 6px;
		}
		input {
			max-width: 60px;
		}
	}

	.picsure-image-edit {
		img {
			max-width: 100%;
			height: auto;
		}
	}

}