// picsureML.scss

.container {
	margin-bottom: 20px;

	.container-action {
		margin-top: 20px;
		margin-bottom: 20px;
		
		button {
			margin-right: 10px;
		}
	}

	.picsure-image {
		margin-bottom: 20px;
		padding: 10px;
		border-radius: 5px;
		border: solid 1px;

		img {
			max-width: 100%;
			height: auto;
		}
		
		span.label {
			padding: .5em .6em .3em;
		}
	}

}