// starling.scss

@import "../common/variables";
@import "../mixins";
@import "../common/paletteNew";

.navbar {
    background-color: $white;
}

.speech-bubble {
    text-align: center;
    position: relative;
    font-size: 18px;
    margin: 50px 0;

    @include breakpoint(tablet) {
        font-size: 24px;
        margin: 80px 0;
    }

    &:before, &:after {
        font-family: serif;
        font-size: 80px;
        color: $grey;
        line-height: 0;
        position: absolute;
    }

    &:before {
        content: open-quote;
        top: -10px; left: 50%;
        margin-left: -20px;
    }

    &:after {
        display: none;
        content: close-quote;
    }
}

.starling {

    &__hero {
        position: relative;
        z-index: 10;

        h1 {
            font-size: 30px;
            margin-top: 30px;

            @include breakpoint(tablet) {
                font-size: 46px;
            }
        }

        .search-phone-form {
            margin: 25px auto;
        }

        @include breakpoint(tablet) {
            padding-bottom: 110px;
        }
    }

    &__press {
        background: $off-white;
        position: relative;
        z-index: 1;
        margin: 0;

        &_defaqto {
            width: 100px;
        }

        &_trustpilot {
            width: 100px;
        }

        &_money {
            width: 100px;
        }

        &_gocompare {
            width: 100px;
        }

        &_theguardian {
            width: 100px;
        }

        &_financialtimes {
            width: 100px;
        }

        @include breakpoint(tablet) {
            &_defaqto {
                width: 140px;
            }

            &_trustpilot {
                width: 140px;
            }

            &_money {
                width: 140px;
            }

            &_gocompare {
                width: 200px;
            }

            &_theguardian {
                width: 200px;
            }

            &_financialtimes {
                width: 200px;
            }
        }
    }

    &__press_grayscale {
        img {
            filter: gray;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            opacity: 0.5;

            &:hover {
                filter: none;
                -webkit-filter: none;
                filter: none;
                opacity: 1;
            }
        }
    }

    &__cover_next {
        // background-color: $off-white;

        .col-md-4 {
            text-align: center;
        }

        ul {
            margin-bottom: 30px;

            li {
                font-size: 18px;
                // font-weight: bold;
                padding-left: 42px;
                padding-bottom: 10px;
                margin: 15px 0 20px;
                background: transparent url('#{$cdn_url}/images/logo/so-sure-blue-smile.svg') no-repeat top left;
                background-size: 30px;

                small {
                    font-weight: normal;
                }

            }
        }

        @include breakpoint(laptop) {
            // text-align: left;

            .col-md-4 {
                text-align: left;

                img {
                    margin-top: 35px;
                }
            }
        }
    }

    &__why {
        background-color: $off-white ;
    }

    &_feedback {
        background: $off-white;
        text-align: center;

        img {
            border-radius: 50%;
            border: 15px solid $off-white;

            &:hover {
                border-color: $lightest-blue;
            }

        }
    }
}

// TODO: Move!
.dropdown-phone-form {
    max-width: 450px;
    // background-color: $white;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.search-phone-form--homepage {
    max-width: 450px;
    // background-color: $white;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 15;

    // Hide the form on load
    .select-phone-form {
        display: none;
    }

    .search-phone-text {
        border-color: transparent;
    }

    .form-inline--homepage {

        .form-group {
            margin-bottom: 0;
        }

        @include breakpoint(desktop) {

            .form-group {
                display: inline-block;
                vertical-align: middle;
            }

        }

        .form-control {
            vertical-align: initial;
            border-color: transparent;
            padding-left: 35px;
        }

        .btn {
            font-size: 18px;
        }

    }

    .twitter-typeahead {
        z-index: 99;

        .tt-hint,
        .tt-input {
            height: 40px;
            padding-left: 40px;
            margin-bottom: 10px;

            @include breakpoint(laptop) {
                height: 57px;
                padding-left: 60px;
                margin-bottom: 0;
            }
        }

        &:before {
            content: '\f002';
            color: $starling;
            font-family: FontAwesome;
            font-size: 24px;
            position: absolute;
            z-index: 10;
            left: 10px; top: 0;

            @include breakpoint(laptop) {
                font-size: 34px;
                top: 2px;
            }
        }

        @include breakpoint(tablet) {
            font-size: 20px;
        }
    }

    .tt-menu {
        margin-top: 11px;

        @include breakpoint(tablet) {
            width: 430px;
        }

        @include breakpoint(laptop) {
            width: 530px;
        }

        @include breakpoint(desktop) {
            width: 630px;
        }
    }

    .tt-suggestion {
        font-size: 16px;
    }

    // Add style to search form - set width
    max-width: 450px;
    padding: 10px;

    @include border-radius(6px);
    // border: 1px solid $grey;
    background-color: $starling-teale;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    // search form - set width
    @include breakpoint(laptop) {
        max-width: 550px;
    }

    // search form - set width
    @include breakpoint(desktop) {
        max-width: 650px;
    }
}

// Style input on focus
.search-phone-form--focus {
    border-color: $primary-blue;

    .twitter-typeahead {

        &:before {
            color: $primary-blue;
        }
    }
}

.search-phone-form--sticky {
    position: fixed;
    top: 60px; left: 0; right: 0;
    z-index: 999;

    margin-left: 10px;
    margin-right: 10px;

    padding: 0 10px;

    .twitter-typeahead {

        .tt-hint,
        .tt-input {

            @include breakpoint(laptop) {
                height: 38px;
                padding: 0 0 0 50px;
            }
        }

        &:before {

            @include breakpoint(laptop) {
                font-size: 23px;
                top: 2px;
            }
        }

        @include breakpoint(tablet) {
            font-size: 18px;
        }

        .tt-menu {
            margin-top: 1px;
        }
    }

    border-color: $light-blue;

    @include breakpoint(tablet) {
        margin-left: auto;
        margin-right: auto;
    }

    // search form - set width/height
    @include breakpoint(laptop) {
        height: 40px;
    }

    @include breakpoint(desktop) {
        top: 5px;
        z-index: 1001;
    }
}

.dropdown-phone-form #reset-sticky {
    display: none;
}

.dropdown-phone-form.search-phone-form--sticky {
    top: 55px;
    background-color: $black-opaque;

    @include border-bottom-radius(4px);

    #reset-sticky {
        color: $white;
    }
}

#carousel-feedback {
    min-height: 350px;
    max-width: 800px;
    margin: 15px auto;

    @include breakpoint(tablet) {
        min-height: 380px;
    }
}

.carousel-indicators {
    li {
        border: 1px solid $dark-grey;
    }

    li.active {
        background: $dark-grey;
    }
}

.footer-homepage {
    padding-top: 40px;
}
