// user.scss

@import "../common/variables";
@import "../mixins";
@import "../common/type";
@import "../common/palette";
@import "../common/paletteNew";
@import "homepage";

body {
    background-color: $blue;
}

.navbar-default {
    margin-bottom: 20px;
}

.user-homepage {

	&--header {
		text-align: center;
		padding-bottom: 20px;

        &-inner {
            padding-top: 20px;

            > * {
                margin: 0 0 10px 0;
            }
        }

		img {
			width: 140px; height: 140px;
			border: 4px solid $white;
			margin: 0 0 10px 0;
		}

		@include breakpoint(tablet) {
			text-align: left;

			img {
				display: inline-block;
				float: left;
				margin: -5px 15px 0 0;
			}
		}
	}

	&--content {
		background-color: $white;
	}

	&--section {
		margin-bottom: 25px;

        .media-list {
            margin-bottom: 30px;
        }
	}

    &--nav {
        background-color: $white;
        padding: 15px 0 0 0;
    }
}

// Switch policy
.policy-dropdown {
    font-family: $avenir-book;
    min-width: 200px !important;
    left: auto; right: auto;

    @include breakpoint(mobileishup) {
        right: 0 !important;
    }
}

.policy-dropdown-list {
    display: inline-block;
    margin-bottom: 0;

    a {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}


// Reward Pot
.circle-chart-container {
    width: 180px; height: 180px;
    position: relative;
    margin: 0 auto 15px;

    canvas {
	    position: absolute;
	    left: 50%;
	    margin-left: -90px;
    }
}

.circle-chart--value {
    width: 180px;
    position: absolute;
    left: 50%; top: 65px;
    margin-left: -90px;
}

.circle-chart--full {
    width: 180px;
    position: absolute;
    left: 50%; top: 35px;
    margin-left: -90px;
}

.circle-chart--full-value {
    width: 150px;
    display: inline-block;
    margin-top: 5px;
}

// Coffee Stamp
.coffee-stamp,
.invite-list li img,
.coffee-stamp-add {
    display: inline-block;
    width: 68px; height: 68px;
    margin-bottom: 15px;
    border: 2px solid transparent;
    cursor: pointer;
}

.user-has-claimed {
    border-color: $red;
}

// Borders
.box-border-grey {

    text-align: center !important;

    h3, h4 {
        margin-top:  10px;
    }
}

// Nav
.nav-pills {
    > li {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    @include breakpoint(mobileonly) {
        > li + li {
            margin-bottom: 15px;
        }
    }

	> li > a {
        border: 2px solid $blue;
        color: $blue;

        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
	}

	> li.active > a,
	> li.active > a:hover,
	> li.active > a:focus {
        background-color: $blue;
        color: $white;
	}
}


// Invalid Page
.user-invalid {
    margin-bottom: 40px;

    @include breakpoint(tablet) {
		margin-bottom: 200px;
    }
}

// TODO: Move to global
.bacs-list {
    margin-bottom: 25px;

    li {
        margin-bottom: 15px;
    }
}

// Invites

// .invite-list {

// 	> li {
// 	    padding: 5px 0 10px;
// 	    margin: 5px 0;
// 	    border-bottom: 1px solid $grey-light;

// 		&:first-of-type {
// 			margin-top: 0;
// 		}

// 		&:last-of-type {
// 		    margin-bottom: 0;
// 		    border: none;
// 		}

// 		img {
// 			margin-right: 15px;
// 		}
// 	}

//     @include breakpoint(tablet) {
// 		margin-top: 20px;
//     }
// }

// Invite Modal
.modal-body {
    padding-bottom: 30px;
}

@include breakpoint(tablet) {
    .jssocials-share-whatsapp,
    .jssocials-share-messenger {
        display: none;
    }
}

.trust {
	  border: 1px solid #1d2f3b;
	  border-radius: 15px;
	  padding: 15px;
	  margin-bottom: 20px;
	  height: 280px;
}

.trust-photo {
	  width: 150px;
	  height: 150px;
}

.trust p {
  	text-align: center;
}

.connections-container {

    h3 {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.share {

    &__box {
        background-color: $lightest-blue;
        padding: 30px;
        margin-bottom: 25px;
        @include border-radius(8px);
        // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

        ul {
            li {
                margin-bottom: 15px;
            }
        }
    }
}
