// userWelcome.scss

@import "../mixins";
@import "../common/palette";
@import "../common/paletteNew";
@import "../common/type";
@import "rewardCalculatorNew";

.navbar {
    background-color: $white;
}

.btn-block {
    margin-bottom: 15px;

    @include breakpoint(tablet) {
        margin-bottom: 0;
    }
}

.user-welcome {


    &--intro {
        background-color: $primary-blue;
        padding-bottom: 0;

        p {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .container {
            position: relative;
        }

        // TODO make a generic class???
        .policy-roundup {
            background-color: $white;
            margin-left: -15px;
            margin-right: -15px;

            @include breakpoint(tablet) {
                width: 600px;
                position: absolute;
                left: 50%;
                z-index: 10;
                margin-left: -300px;
                @include border-radius(8px);
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                margin-right: 0;
            }

            @include breakpoint(desktop) {
                width: 800px;
                margin-left: -400px;
            }

            &--inner {
                padding: 30px 15px;

                @include breakpoint(desktop) {
                    padding: 30px 30px 40px;
                }
            }

            &--share {
                background: $lightest-blue;
                padding: 15px 30px;
                margin: 15px 0 40px;

                @include border-radius(8px);

                * {
                    margin: 5px 0;
                }
            }
        }

        @include breakpoint(tablet) {
            // margin-bottom: 400px;
            padding-bottom: 450px;
        }
    }

    &--pic-sure {
        text-align: center;
        background-color: $lightest-blue;

        p {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        table { //TODO - Move to tables scss
            max-width: 600px;
            margin: 30px auto 0;

            thead {
                td {
                    padding: 30px 15px;
                    text-align: center;
                    vertical-align: middle;
                }
            }

            tr {
                td.sosure {
                    background-color: $white;
                }

                td.contrast {
                    background-color: lighten($lightest-blue, 6%);
                    opacity: 0.7;
                }
            }

            tbody {
                td {
                    padding: 15px;
                    border-color: darken($lightest-blue, 6%);
                    vertical-align: middle;
                }
            }
        }

        .app-link {
            img {
                // max-width: 500px;
                margin: 0 auto;

                @include breakpoint(tablet) {
                    max-width: 500px;
                }
            }
        }

        .non-iosandroid {
            margin-top: 20px;
        }

        @include breakpoint(tablet) {
            // margin-bottom: 400px;
            padding-top: 350px;
        }
    }

    &--how-to-get-cashback {
        text-align: center;


        .cashback-step {

            img {
                margin: 0 auto;
            }

            p {
                opacity: 0;
            }
        }
    }

    &--slider {
        // background-color:
    }

    &--effective-monthly-premium {
        background-color: $off-white;
        text-align: center;
    }

    &--video {
        background-color: $primary-blue;
        text-align: center;

        .container {
            position: relative;
        }

        .video-container {
            height: 0;
            overflow: hidden;
            position: relative;
            padding-bottom: 53.4%;
            padding-top: 30px;

            iframe {
                width: 100%; height: 100%;
                position: absolute;
                top: 0; left: 0;
            }

            @include breakpoint(tablet) {
                width: 800px; height: 450px;
                position: absolute;
                left: 50%;
                margin-left: -400px;
                margin-top: 15px;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
                padding: 0;

                iframe {
                    width: inherit; height: inherit;
                    position: static;
                }
            }

        }

        @include breakpoint(tablet) {
            padding-bottom: 150px;
            margin-bottom: 300px;
        }
    }

    &--download {
        text-align: center;

        p {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.speech-bubble {
    text-align: center;
    position: relative;
    font-size: 18px;
    margin: 50px 0 15px;
    // @include border-radius(20px);

    @include breakpoint(tablet) {
        font-size: 24px;
        margin: 30px 30px 10px;
    }

    &:before, &:after {
        font-family: serif;
        font-size: 80px;
        color: $grey;
        line-height: 0;
        position: absolute;
    }

    &:before {
        content: open-quote;
        top: -5px; left: 50%;
        margin-left: -20px;

        @include breakpoint(tablet) {
            top: 10px; left: -35px;
            margin: 0;
        }
    }

    &:after {
        display: none;
        content: close-quote;

        @include breakpoint(tablet) {
            display: block;
            bottom: 10px; right: -35px;
        }
    }
}

.welcome-modal-content {
    @include linear-gradient(#3883FB, #24ADFC);
}
