<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <style>
            body: { width: 100%; }
            table { width: 100%; border-collapse: separate; border-spacing:1em; }
            td:first { width: 60%; }
            .table-striped > tbody > tr:nth-child(2n+1) {
                background-color: #f9f9f9;
            }
        </style>
    </head>
    <body>
        <h1>so-sure Salva Accounts for {{ month }} / {{ year }}</h1>
        {% include 'AppBundle:Admin:adminAccountsSalvaData.html.twig' %}
    </body>
</html>
