// global.scss

body {
	font-family: $avenir-light;
	font-size: 16px;
	color: $black;

	padding-top: 50px; // As we're using a fixed nav

	background-color: $white;

	overflow-x: hidden;
}

body.distraction-free {
	padding-top: 0;
}

small {
	font-size: 14px;
}

strong {
	font-family: $avenir-book;
}

.lead {
	font-size: 18px;
	line-height: 1.49;
	margin-bottom: 25px;
}

ul.lead {
	line-height: 2;
}

i {
	font-family: $avenir-oblique;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family: $avenir-heavy;
	color: $black;
	line-height: 1.49;
}

h5, h6, .h5, .h6 {
	font-family: $avenir-book;
	color: $black;
}

h1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

h2, h3, h4, .h1, .h2, .h3, .h4  {
	margin-top: 30px;
	margin-bottom: 20px;
}

.h-light {
	font-family: $avenir-light;
}

.h-nom {
	margin-top: 0 !important;
}

p {
	line-height: 1.9;
}

.big-text {
	font-size: 20px;
	line-height: 36px;
	margin: 0 auto;

	@include breakpoint(tablet) {
		max-width: 960px;
		font-size: 30px;
		line-height: 60px;
	}
}

a {
	color: $blue;

	&:hover, &:focus {
		color: darken($blue, 15%);
	}

	&:active {
		color: darken($blue, 25%);
	}
}


hr {
	border: 0;
	margin: 30px 0;
	border-top: 1px dashed $light-blue;
}

mark {
	background-color: $lightest-blue;
	padding: 4px;
	@include border-radius(2px);
}

// Helpers - for rapid prototyping

	// Alignment
	.center-xs {
		text-align: center;
	}

	@include breakpoint(tablet) {

		.center-xs {
			text-align: inherit;
		}

	}

	// Text colours
	.text-black {
		color: $black !important;
	}

	.text-white {
		color: $white !important;
	}

	.text-red,
	.error-text {
		color: $red !important;
	}

	.text-blue {
		color: $blue !important;
	}

	.text-lightest-blue {
		color: $lightest-blue !important;
	}

	.text-light-blue {
		color: $light-blue !important;
	}

	.text-dark-blue {
		color: $dark-blue !important;
	}

	.text-grey-blue {
		color: $blue-grey !important;
	}

	.text-grey {
		color: $grey !important;
	}

	.text-light-grey {
		color: $grey-light !important;
	}

	.text-dark-grey {
		color: $grey-dark !important;
	}

	.text-green,
	.text-success {
		color: $green !important;
	}

	.text-underline {
		text-decoration: underline !important;
	}

	// Backgrounds
	.background-white {
		background-color: $white !important;
	}

	.background-light-grey {
		background-color: $grey-light;
	}

	.background-lightest-blue {
		background-color: $lightest-blue;
	}

	.background-smiley {
		background: $white url('#{$cdn_url}/images/background-smile-logo-pattern.png');
	}

	// Borders
	.box-border-grey {
		position: relative;
	}

	.box-border-grey {
		padding: 15px;
		margin-bottom: 25px;
		background-color: $white;
		border: 2px solid $grey-light;
		@include border-radius(4px);
	}

    .box-border--highlight {
        border-color: $blue;
    }


// Fixes (Overide external plugins etc)

	/* Hide the ProdPad Got Feedback button floating at bottom of page */
	#pp-cfp-trigger {
	    display: none !important;
	}

	.login-box {
		min-height: 250px;
		max-width: 345px;
		margin: 0 auto;

		&--controls {
			min-height: 0;
		}
	}

// Google Maps
.google-map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

// Images
.fade-img {
  animation-name: fade;
  animation-duration: 0.4s;
}

.img-center {
	display: block;
	margin: 0 auto;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
