// global.scss

// Control the type for the site

body {
	font-family: $avenir-book;
	color: $black;
	background-color: $white;
}

strong {
	font-family: $avenir-heavy;
}

em {
	font-family: $avenir-light;
}

i {
	font-family: $avenir-oblique;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family: $avenir-heavy;
	color: $black;
}

h5, h6, .h5, .h6 {
	font-family: $avenir-book;
	color: $black;
}

a {
	color: $blue;

	&:hover, &:focus {
		color: darken($blue, 15%);
	}

	&:active {
		color: darken($blue, 25%);
	}
}

// Helpers - for rapid prototyping

	// Alignment
	.center-xs {
		text-align: center;
	}

	@include breakpoint(tablet) {

		.center-xs {
			text-align: inherit;
		}

	}

	// Text colours
	.text-black {
		color: $black !important;
	}

	.text-white {
		color: $white !important;
	}

	.text-red,
	.error-text {
		color: $red !important;
	}

	.text-blue {
		color: $blue !important;
	}

	.text-light-blue {
		color: $blue-lightest !important;
	}

	.text-grey-blue {
		color: $blue-grey !important;
	}

	.text-grey {
		color: $grey !important;
	}

	.text-light-grey {
		color: $grey-light !important;
	}

	.text-dark-grey {
		color: $grey-dark !important;
	}

	.text-green,
	.text-success {
		color: $green !important;
	}

	.text-underline {
		text-decoration: underline !important;
	}

	// Backgrounds
	.background-white {
		background-color: $white;
	}

	.background-light-grey {
		background-color: $grey-light;
	}

	// Borders
	.box-border-grey {
		position: relative;
	}

	.box-border-grey {
		padding: 15px;
		margin-bottom: 25px;
		background-color: $white;
		border: 2px solid $grey-light;
		@include border-radius(4px);
	}

    .box-border--highlight {
        border-color: $blue;
    }


// Fixes (Overide external plugins etc)

/* Hide the ProdPad Got Feedback button floating at bottom of page */
#pp-cfp-trigger {
    display: none !important;
}

