// palette.scss

// Blues
$lightest-blue: #d6ebff;
$light-blue: #99ccff;
$primary-blue: #3399ff;
$dark-blue: #0073e6;
$darkest-blue: #0059b3;

// Greys
$white: #ffffff;
$off-white: #f6f7fb;
$pale-grey: #efefef;
$grey: #c9c9c9;
$dark-grey: #626b78;

// Black
$black: #202532;

// Others
$facebook: #4267B2;


.background-off-white {
    background-color: $off-white;
}

.background-lightest-blue {
    background-color: $lightest-blue;
}
