// paletteNew.scss

// Blues
$lightest-blue: #d6ebff;
$light-blue: #99ccff;
$primary-blue: #3399ff;
$dark-blue: #0073e6;
$darkest-blue: #2D84D8;

// Greys
$white: #ffffff;
$off-white: #f6f7fb;
$pale-grey: #efefef;
$grey: #c9c9c9;
$dark-grey: #626b78;

// Black
$black: #202532;

// Others
$facebook: #4267B2;
$starling: #593fa7;

// Red
$red: #ff6666;

// Green
$green: #80ce4d;

// Amber
$amber: #ffd726;

// Monies
$gold: #DDCBA7;
$gold-dark: #CABB79;
$silver: #EFEBE8;

// Effects
$white-opaque: rgba(255, 255, 255, 0.9);
$black-opaque: rgba(0, 0, 0, 0.8);

.background-off-white {
    background-color: $off-white;
}

.background-lightest-blue {
    background-color: $lightest-blue;
}

// Backgrounds
.background-blue {
    background-color: $blue;
}

// Gradients
.brand-gradient {
     @include linear-gradient(294deg, rgba(3, 189, 254, 0.55), #4481eb);
}
