// type.scss

@import "variables";

// Import fonts
@font-face {
    font-family: 'Avenir LT Std 45 Book';
    font-style: normal;
    font-weight: 300;
    src: url('#{$cdn_url}/fonts/AvenirLTStd-Book.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: bold;
    font-weight: 700;
    src: url('#{$cdn_url}/fonts/AvenirLTStd-Heavy.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir LT Std 55 Oblique';
    font-style: italic;
    font-weight: 300;
    src: url('#{$cdn_url}/fonts/AvenirLTStd-Oblique.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir LT Std 35 Light';
    font-style: light;
    font-weight: 200;
    src: url('#{$cdn_url}/fonts/AvenirLTStd-Light.woff') format('woff');
    font-display: swap;
}

// Font stacks
$avenir-book: 'Avenir LT Std 45 Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$avenir-heavy: 'Avenir LT Std 85 Heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$avenir-oblique: 'Avenir LT Std 55 Oblique', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$avenir-light: 'Avenir LT Std 35 Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
