<section class="cover pt-lg-5">
    <div class="container-large pt-5">
        <div class="row">
            <div class="col-lg-4 cover-background">
                <h2 class="h3 mb-4 text-primary">Relax, 😎 <br> We've got you covered </h2>
                <p class="mb-5">
                    We replace and repair hundreds of customer phones every month, here's a look at what's covered
                    <span class="d-lg-none">👇</span><span class="d-none d-lg-inline">👉</span>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="cardbox cardbox-100 cardbox-flow mb-5">
                    <div class="cardbox__header-icon"><i class="fas fa-bolt fa-2x"></i></div>
                    <div class="cardbox__body text-center">
                        <h3 class="h6 mt-3">Accidental damage</h3>
                        <span class="cardbox__text">
                           Don't worry we can usually repair this device so its a good as new
                        </span>
                    </div>
                </div>
                <div class="cardbox cardbox-100 cardbox-flow mb-5">
                    <div class="cardbox__header-icon"><i class="fas fa-calendar-exclamation fa-2x"></i></div>
                    <div class="cardbox__body text-center">
                        <h3 class="h6 mt-3">Phone up to three years old</h3>
                        <span class="cardbox__text">
                            We're one of the only insurers that covers phones up to 3 years old
                        </span>
                    </div>
                </div>
                <div class="cardbox cardbox-100 cardbox-flow mb-5">
                    <div class="cardbox__header-icon"><i class="fas fa-mobile fa-2x"></i></div>
                    <div class="cardbox__body text-center">
                        <h3 class="h6 mt-3">Out of Warranty Breakdown</h3>
                        <span class="cardbox__text">
                           Phone breaks out of warranty, no worries your covered.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cardbox cardbox-100 cardbox-flow mb-5">
                    <div class="cardbox__header-icon"><i class="far fa-exclamation-triangle fa-2x"></i></div>
                    <div class="cardbox__body text-center">
                        <h3 class="h6 mt-3">Theft or loss</h3>
                        <span class="cardbox__text">
                            Phone been snatched, don't stress we've got your back.
                        </span>
                    </div>
                </div>
                <div class="cardbox cardbox-100 cardbox-flow mb-5">
                    <div class="cardbox__header-icon"><i class="fas fa-headphones-alt fa-2x"></i></div>
                    <div class="cardbox__body text-center">
                        <h3 class="h6 mt-3">Accessories</h3>
                        <span class="cardbox__text">
                            No tunes, no problem. You're covered up to the value of £100 inc. VAT.
                        </span>
                    </div>
                </div>
                <div class="cardbox cardbox-100 cardbox-flow mb-5">
                    <div class="cardbox__header-icon"><i class="fas fa-plane-departure fa-2x"></i></div>
                    <div class="cardbox__body text-center">
                        <h3 class="h6 mt-3">International Travel</h3>
                        <span class="cardbox__text">
                            90 days of globe trotting, from backpacking to business you're covered
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>