<div class="modal fade"
     id="did_you_know_modal"
     tabindex="-1" role="dialog"
     aria-labelledby="did_you_know_modal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fact check  🔎</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>We don’t do Fake News. Here’s where we got our figures from...</p>
                <p><strong>1,222 mobile handsets are stolen every day in the UK!</strong></p>
                <p class="mb-4"><a href="https://www.mobilenewscwp.co.uk/2017/03/13/nearly-half-million-brits-phones-stolen-last-year/" target="_blank" rel="noopener noreferrer"><u>Read article</u></a></p>
                <p><strong>1 in 4 UK smartphone owners have broken their screen in the last 2 yrs</strong></p>
                <p class="mb-4"><a href="https://www.mintel.com/press-centre/technology-press-centre/smashing-times-24-of-uk-smartphone-owners-have-broken-their-screen-in-the-past-two-years" target="_blank" rel="noopener noreferrer"><u>Read article</u></a></p>
                <p><strong>It can cost &pound;250-&pound;300 to repair top-end smartphone screens</strong></p>
                <p>
                    <a href="https://www.imend.com" target="_blank" rel="noopener noreferrer"><u>iMend</u></a><br>
                    <a href="https://www.ismash.com" target="_blank" rel="noopener noreferrer"><u>iSmash</u></a><br>
                    <a href="https://www.timpson.co.uk/services/mobile-phone-repairs" target="_blank" rel="noopener noreferrer"><u>Timpson</u></a>
                </p>
                <p>Price checked for iPhone X (June 2019)</p>
            </div>
        </div>
    </div>
</div>
