<div class="knowledge-base__mobile d-xl-none">
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h6 expanding-cardbox__student mb-0">
                <span class="h2 mb-0 mr-3">😎</span>
                <span class="mr-3">Smart savings</span>
                <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
              <p>Peace of mind that won't break the bank. Enjoy a low monthly price and excess. If you change your mind within 14 days we will give you your money back no questions asked.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h6 expanding-cardbox__student mb-0">
                <span class="h2 mb-0 mr-3">⚡️</span>
                <span class="mr-3">Smart fast claims</span>
                <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
              <p>No more waiting around. The majority of claims will be sorted within 72 hours.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h6 expanding-cardbox__student mb-0">
                <span class="h2 mb-0 mr-3">👍</span>
                <span class="mr-3">Reliable when you need us</span>
                <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
              <p>We’ve approved 96% of our claims so you know you’re in good hands when you claim.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h6 expanding-cardbox__student mb-0">
                <span class="h2 mb-0 mr-3">🤑</span>
                <span class="mr-3">Up to 80% money back</span>
                <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
              <p>Connect with at least five responsible friends and get rewarded every year when you and your connections don't claim.</p>
            </div>
        </div>
    </div>
    <div class="expanding-cardbox expanding-cardbox-white mb-3">
        <div class="expanding-cardbox__body">
            <h2 class="h6 expanding-cardbox__student mb-0">
                <span class="h2 mb-0 mr-3">✅</span>
                <span class="mr-3">Same price as renewal</span>
                <i class="fas fa-arrow-circle-down fa-lg"></i>
            </h2>
            <div class="expanding-cardbox__expand">
              <p>We guarantee the same price upon renewal when you don’t make any claims. </p>
            </div>
        </div>
    </div>
</div>
<div class="knowledge-base__desktop d-none d-xl-block">
    <div class="tabbed-cardbox-alt tabbed-cardbox-white-bg">
        <ul class="nav nav-tabs"
            id="knowledge_tabs"
            role="tablist">
            <li class="nav-item">
                <a class="nav-link tab-link active"
                   id="smart_savings_tab"
                   data-toggle="tab"
                   href="#smart_savings"
                   role="tab"
                   aria-controls="smart_savings"
                   aria-selected="true">
                    <span class="h2 mb-0 mr-3">😎</span>
                    Smart <br> savings
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="claims_tab"
                   data-toggle="tab"
                   href="#claims"
                   role="tab"
                   aria-controls="claims"
                   aria-selected="true">
                    <span class="h2 mb-0 mr-3">⚡️</span>
                    Super <br> fast claims
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="reliable_tab"
                   data-toggle="tab"
                   href="#reliable"
                   role="tab"
                   aria-controls="reliable"
                   aria-selected="true">
                    <span class="h2 mb-0 mr-3">👍</span>
                    Reliable when <br> you need us
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="cashback_tab"
                   data-toggle="tab"
                   href="#cashback"
                   role="tab"
                   aria-controls="cashback"
                   aria-selected="true">
                    <span class="h2 mb-0 mr-3">🤑</span>
                    Up to 80% <br> money back
               </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-link"
                   id="renew_tab"
                   data-toggle="tab"
                   href="#renew"
                   role="tab"
                   aria-controls="renew"
                   aria-selected="true">
                    <span class="h2 mb-0 mr-3">✅</span>
                    Same price <br> as renewal
               </a>
            </li>
        </ul>
        <div class="tab-content" id="knowledge_tabs_content">
            <div class="tab-pane fade show active"
               id="smart_savings"
               role="tabpanel"
               aria-labelledby="smart_savings_tab">
               Peace of mind that won't break the bank. Enjoy a low monthly price and excess. If you change your mind within 14 days we will give you your money back no questions asked.
            </div>
            <div class="tab-pane fade show"
               id="claims"
               role="tabpanel"
               aria-labelledby="claims_tab">
               No more waiting around. The majority of claims will be sorted within 72 hours.
            </div>
            <div class="tab-pane fade show"
               id="reliable"
               role="tabpanel"
               aria-labelledby="reliable_tab">
               We’ve approved 96% of our claims so you know you’re in good hands when you claim.
            </div>
            <div class="tab-pane fade show"
               id="cashback"
               role="tabpanel"
               aria-labelledby="cashback_tab">
               Connect with at least five responsible friends and get rewarded every year when you and your connections don't claim.
            </div>
            <div class="tab-pane fade show"
               id="renew"
               role="tabpanel"
               aria-labelledby="renew_tab">
               We guarantee the same price upon renewal when you don’t make any claims.
            </div>
        </div>
    </div>
</div>