<div class="loading-screen">
    <div class="loading-screen__inner d-flex flex-column align-items-center justify-content-center">
        <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" width="240px" class="mb-lg-5" alt="so-sure"> <br> <span class="text-white h5">{{ loading_term }}</span>
    </div>
</div>
