.article-content {
  background-color: #fff;
}

.article-content p {
    line-height: 2;
    font-size: 18px;
    margin: 0 0 30px;
}

/* Page Specific Backgrounds */

.thinkYourIPhone7IsInsuredByYourBank {
    background: #202532;
    background: 
       linear-gradient(to right, rgba(32, 37, 50, 0.84) , 
       rgba(51, 153, 255, 0.64)), url(https://cdn.so-sure.com/images/articles/iphone7back.jpg);
    background-position: top; 
    background-size: cover;
}

.isInsuranceWithVodafoneAllThatItSeems {
    background: #202532;
    background: 
       linear-gradient(to right, rgba(32, 37, 50, 0.84) , 
       rgba(51, 153, 255, 0.64)), url(https://cdn.so-sure.com/images/articles/vodafone-back.jpg);
    background-position: top; 
    background-size: cover;  
}