/* Sticky Quote */
.banner-sticky { /* TODO Move to resusable class in refactor */
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    padding: 15px 0;
    z-index: 8888;
    background-color: rgba(32, 37, 50, 0.95);
    text-align: center;
}

.banner-sticky h3 {
    margin: 0 0 3px;
    color: #fff;
}

.banner-sticky h3 span {
    font-size: 65%;
}

@media (min-width: 768px) {

    .banner-sticky {
        text-align: left;
    }

    .banner-sticky h3 {
        margin: 10px 0;
    }    
}

@media (min-width: 991px) {

    .banner-sticky h3 span {
        font-size: inherit;
    }

}

.banner-sticky-hide {
    display: none;
}