#connection-slider .slider-selection {
	background: rgba(51,153,255,1);
	background: -moz-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(50%, rgba(51,153,255,1)), color-stop(100%, rgba(0,204,255,1)));
	background: -webkit-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
	background: -o-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
	background: linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#00ccff', GradientType=1 );
}
#connection-slider {
	width: 60% !important;
	height: 35px !important;
}
@media (max-width: 543px) {
	#connection-slider {
		width: 100% !important;
	}
}
#connection-slider .slider-handle {
	background: #3399FF;
}
#connectionLegend {
	padding-bottom: 20px;
	color: #626B78;
}
#connectionsChartLegend {
	padding-top: 20px;
}
#connectionsChartLegend ul {
	list-style: none;
	color: #626B78;
}
#connectionsChartLegend ul li span {
	padding-right: 5px;
}

@media (min-width: 992px) {
	#connection-slider {
		width: 90% !important;
	}
}
