  /* this is used on the homepage and the invalid user page, if we change the homepage we need to make sure the invalid user page still works */ 
body {
    background: #4481eb;
    background: linear-gradient(294deg, rgba(3, 189, 254, 0.55), #4481eb);    
}

/* Adjust Navbar */

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav li > a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/*.fa-list-bullet {
	margin: 25px 0;
}

.fa-list-bullet li {
	margin: 15px 0;
}*/