  /* this is used on the homepage and the invalid user page, if we change the homepage we need to make sure the invalid user page still works */ 
body {
    background: #4481eb;
    /*background: linear-gradient(294deg, rgba(3, 189, 254, 0.55), #4481eb);    */
    background: 
       linear-gradient(to right, rgba(32, 37, 50, 0.84) , 
       rgba(51, 153, 255, 0.64)), 
       url(https://static.pexels.com/photos/33999/pexels-photo.jpg) no-repeat center top;
    background-size: cover;
}

/* Adjust Navbar */

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav li > a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
