/* HERO - Section Index: MOVE TO components > _hero.scss */

.hero {
    padding: 30px 20px 50px 20px;
    color: #fff;
    text-shadow: 0 0 8px #666;
}

.hero h1 {
    color: #fff;
}

/* MOVE TO components > _buttons.scss  */

#get-quote-btn {
    padding: 12px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 155px;
}

#switch-btn {
    padding-top: 20px;
    font-size: 14px;
}


/* HOW IT WORKS: MOVE TO layouts > _includes.scss */

#how-it-works {}

.how-it-works--step {
    margin: 40px 0;
}

.how-it-works--step h4 {
    line-height: 1.5;
}  

.how-it-works--step .img-responsive {
    margin: 0 auto;
    max-width: 65%;
}

@media (min-width: 600px) {

    .how-it-works--step .h3 {
        text-align: center;
    }      

    .how-it-works--step .img-responsive {
        max-width: 45%;
    }

}



/* SOSURE COMPARED: MOVE TO layouts > _includes.scss */

.comparison-table {
    background-color: #fff;
    border-radius: 4px;
}

.comparison-table--head {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1.1px;
    color: #fff;
}

.comparison-table--title {
    position: absolute;
    left: 0; right: 0; top: 0;
    padding: 5px 0;
    text-align: center;
}

.comparison-table--left,
.comparison-table--right {
    width: 50%;
    padding: 5px 0;
    text-align: center;   
}

.comparison-table--left {
    background-color: #3399FF;
}

.comparison-table--right {
    background-color: #8B97B5;     
}

.comparison-table--body {
    padding: 15px 25px 25px;
}

.comparison-table--body a {
    text-decoration: underline;
}

.comparison-table--body ul {
    margin: 0 0 25px;
}

.comparison-table--body li {
    padding: 5px 0;
}

.comparison-table--cta {
    padding: 25px 0;
    text-align: center;
}

.comparison-table--footer {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #efefef;
}

@media (min-width: 767px) {

    .sosure-compared {
        background-color: #99CCFF;
        padding: 60px 0;
    }

    .comparison-table {
        max-width: 80%;
        margin: 25px auto;        
    }

    .comparison-table--left,
    .comparison-table--title,
    .comparison-table--right {
        padding: 15px 0;
    }

    .comparison-table--body {
        font-size: 17px;
        padding: 25px 0;        
    }    

    .comparison-table--body ul,
    .comparison-table--body h3 {
        padding: 0 40px;
    }

    .comparison-table--body .border-right {
        border-right: 2px solid #efefef;
    }

    .comparison-table--left {
        border-top-left-radius: 3px;
    }

    .comparison-table--right {
        border-top-right-radius: 3px;        
    }    

    .comparison-table--footer {
        border: none;
    }    

}

@media (min-width: 991px) {

    .comparison-table {
        max-width: 800px;    
    }    

}

/*.sosure-compared .container {
    padding: 0;
}

.sosure-compared--card {
    line-height: 1.7;
    margin-bottom: 25px;    
}

@media (min-width: 767px) {

    .sosure-compared--card {
        padding: 30px;
        margin-bottom: 60px;
        position: relative;
        background-color: #fff;
        border: 2px solid #efefef;
        border-radius: 8px;          
    }  

    .sosure-compared--card .col-md-6:first-of-type {
        border-right: 2px solid #efefef;
    }

}*/

/* POPULAR DEVICES - LEGACY??? Remove */

.popular-devices {
    background-color: #FFF;
    padding: 80px 20px 150px 20px;
    text-align: center;
}

#device-logo {
    background: #fff;
    min-width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px #efefef !important;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

#device-logo img {
    width: 150px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    height: 100%;
}
.popular-devices .btn-danger {
    padding: 12px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 155px;
}

#memory-select {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background: #fff;
    transition: 0.4s ease-out;
    vertical-align: middle;
}

#memory-select h5 {
    padding-top: 10px;
    color: #202532;
    text-decoration: none;
}

#memory-select a, #memory-select a:hover, #memory-select a:focus {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

#memory-select ul {
    list-style-type: none;
    padding-left: 0;
}

#memory-select li {
    padding-top: 10px;
    font-size: 16px;
}

#memory-select button.btn {
    width: 50px;
    height: 10px;
    background: #3399ff;
    color: #fff;
}

#device-logo:hover #memory-select {
    opacity: 0.96;
}

#device-logo:focus #memory-select {
    opacity: 0.96;
}

/* PRE-FOOTER - LEGACY??? Remove */

.pre-footer {
    position: relative;
    z-index: 100;
    padding: 40px;
}

.pre-footer h4 {
    color: #202532;
    font-family: "Avenir LT Std 85 Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-footer .row {
    margin: 0 auto;
    max-width: 1170px;
}

.pre-footer p {
    font-size: 16px;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
}

.pre-footer span {
    padding-left: 5px;
}

.pre-footer .col-a {
    padding-bottom: 15px;
}

.pre-footer.footer-social {
    padding: 48px 40px 32px;
    background: #ff6666;
}

.pre-footer.footer-social p {
    color: #efefef;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-footer.footer-social .spread-word {
    color: #fff;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-footer.footer-social .share-row {
    margin: 30px auto 0 auto;
    max-width: 900px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pre-footer.footer-social .share-row li {
    display: inline-block;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
    vertical-align: top;
}

.pre-footer.footer-social .share-row li a {
    opacity: 1;
}

@media (min-width: 768px) {

    .pre-footer .col-a {
        padding-right: 60px;
        padding-bottom: 0;
        border-right: 1px solid #ddd;
    }

    .pre-footer .col-b {
        padding-left: 70px;
    }

}


/* VIDEO OVERLAY: MOVE TO layouts > _includes.scss */

.explainer-video {
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 20px;
}
.explainer-video-view {
    position: relative;
    z-index: 0;
}
.explainer-video-frame {
    background-image: url(https://cdn.so-sure.com/images/home/explainer-video/explainer-video-frame-2.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0 5px 30px -5px rgba(0,0,0,.15);
    border-radius: 4px;
    width: 100%;
    height: 250px;
}
@media (max-width: 992px) {
  .explainer-video {
    margin-top: 50px;
  }
  .explainer-video-frame {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .explainer-video-frame {
    width: 70%;
  }
}
@media (max-width: 543px) {
  .explainer-video-frame {
    width: 90%;
    height: 170px;
  }
}
.explainer-video-overlay {
  background-image: url(https://cdn.so-sure.com/images/home/explainer-video/video-overlay-play.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: opacity 0.5s ease;
}
.explainer-video-overlay:hover {
    opacity: 1;
    text-decoration: none;
}
/* Video Modal: MOVE TO layouts > _includes.scss */

.modal-fullscreen {
  background: #ffffff;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}


/* Modal: MOVE TO components > _modal.scss */
.modal-header {
    border-bottom: none !important;
}

.modal-header button.close {
    z-index: 9999;
}

.modal-body {
    padding: 25px;
}

.modal-body li {
    padding: 4px 0;
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.responsive-container {
	position: relative;
    padding-bottom: 53.4%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.responsive-container,
	.responsive-container iframe {
	max-width: 1280px;
	max-height: 720px;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
   }
}

.modal-switching ol {
  font-size: larger;
}
.modal-switching {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 10%;
}

/* Blockquote: MOVE TO layouts > _quotes.scss */

blockquote {
    position: relative;
    margin: 25px 0;
    padding: 10px 0 10px 20px;
    font-size: 16px;
}

blockquote:before, blockquote:after {
    position: absolute;
    font-family: FontAwesome;
    font-size: 50px;
    color: #ccc;
    line-height: 1;
}

blockquote:before {
    top: 5px; left: -15px;
    content: '“';
}

blockquote footer:before {
    content: '';
}

@media (min-width: 991px) {

    blockquote {
      margin: 0;
    }  

}

/* MOVE TO components > _forms.scss */

#select-phone .device-select li {
  display: inline !important;
}

@media (max-width: 992px) {
  #select-phone .device-select li {
    display: block !important;
  }
}
