.signup {
  width: 424px;
  margin: 35px auto 37px;
  position: relative;
}
.hero {
  background-size: cover;
  background: #3399ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3399ff 50%, #00ccff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3399ff 50%,#00ccff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3399ff 50%,#00ccff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#00ccff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  text-align: center;
  padding: 4rem 0 4rem;
}
.hero strong {
  color: #000;
  font-family: serif;
}
.hero p.pre-launch-description {
  font-size: 1.9rem;
}
.hero p {
  margin-bottom: 0rem;
  font-size: 1.5rem;
}
.select-device {
  margin-top: 4rem;
  margin-bottom: -2rem !important;
}
.hero .learn-more {
  padding-top: 2rem;
}
.logo {
  width: 45%;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
#launch_phone_phone {
  box-shadow: none;
  border: none;
  color: #2e424d;
  border-radius: 5px;
}
#launch_phone_next {
  right: 0;
  top: 0;
  margin-top: 0;
  background-color: #2e414d;
  border-color: #2e414d;
  margin-left: 10px;
  border-radius: 5px;
}
.input-group {
  padding: 2rem;
}
.select-device > a:nth-child(1) {
  color: #fff;
  text-decoration: underline;
}
.hero img.google-play {
  padding-top: 2rem;
  width: 50%;
}
.hero img.app-store {
  padding-top: 2rem;
}
@media (min-width: 340px) {
  .hero img.google-play {
    width: 34%;
  }
}
@media (min-width: 580px) {
  .hero img.google-play {
    width: 22%;
  }
}
@media (min-width: 750px) {
  .hero img.google-play {
    width: 24%;
  }
}
@media (min-width: 992px) {
  .hero img.google-play {
    width: 62%;
  }
}
@media (min-width: 1200px) {
  .hero img.google-play {
    width: 50%;
  }
  .hero img.app-store {
    padding-top: 2rem;
  }
}
@media (max-width: 750px) {
  .logo {
    width: 70%;
  }
}
@media (max-width: 500px) {
  #launch_phone_phone {
    float: none;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}
/* How
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.how {
  background-color: #fff;
}
.how .section-description {
  max-width: 100%;
}
.icon {
  width: 50%;
  margin-bottom: -1rem;
}
#quote-how {
  background-color: #efefef;
}

/* Mission
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mission {
  background-color: #efefef;
}
.mission .section-heading {
  font-size: 3.0rem;
}
.mission .section-description {
  margin-bottom: 2rem;
}
.mission .section-title {
  margin-bottom: 3.2rem;
}
.mission i {
  color: #ff3300;
}
@media (max-width: 1000px) {
  .mission .section-description {
    max-width: 100%;
  }
}

/* Twitter
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.twitter p {
  color: #333333;
}
.twitter .section-description {
  padding-top: 1.2rem;
}

/* CTA
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cta {
  background: #3399ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3399ff 50%, #00ccff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3399ff 50%,#00ccff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3399ff 50%,#00ccff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#00ccff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 6rem 0 6rem;
  position: relative;
}
.cta .section-heading {
  color: #fff;
}
.cta p {
  color: #fff;
}
#launch_bottom_email {
  box-shadow: none;
  border: none;
  color: #2e424d;
}
#launch_bottom_save {
  right: 0;
  top: 0;
  margin-top: 0;
  background-color: #2e414d;
  border-color: #2e414d;
  margin-left: 10px;
  border-radius: 5px;
}

/* Smaller than 500 - Remove Email Box */

@media (max-width: 500px) {
  #launch_bottom_email {
    float: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  .signup {
    width: auto;
  }
}
