/* HERO */

.hero {
  height: 80%;
}
.hero-cta {
  padding-right: 50px;
}

@media (max-width: 992px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 50px;
        height: 900px;
    }
    .hero-cta {
      padding-right: 15px;
    }
}
@media (max-width: 767px) {
  .hero {
    height: 1000px;
  }
}

#welcome {
    padding-bottom: 15px;
}

#welcome h1 {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    #hero-description {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.hero .btn-primary {
    padding: 12px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 155px;
}

.hero .btn-info {
    padding: 12px 30px;
    border: 2px solid #202532;
    background: none !important;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: none;
    color: #202532;
    width: 155px;
    margin-left: 20px;
}

@media (max-width:992px) {
    .hero .text-left {
        text-align: center;
    }
    .hero .text-right {
        text-align: center;
    }
    .hero .btn-primary {
        width: 250px;
    }
    .hero .btn-info {
      margin-top: 0px;
      margin-left: 10px;
      width: 250px
    }
}
@media (max-width: 543px) {
  .hero .btn-info {
    margin-top: 15px;
    margin-left: 0px;
    width: 250px
  }
}


/* PRESS */

.press {
    padding: 30px 0px 30px 0px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.press img {
    width: 130px;
}
.press h5 {
  padding-top: 4px;
}
@media (min-width: 992px) {
  .press img {
    width: 180px;
  }
  .press h5 {
    padding-top: 12px;
  }
}
@media (max-width: 767px) {
  .press {
    padding-top: 50px;
  }
  .press img {
    width: 280px;
  }
  div.col-sm-2:nth-child(6) > a:nth-child(1) > img:nth-child(1) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* GET QUOTE */

#select-phone {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

@media (max-width: 767px) {
    #select-phone {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #select-phone .device-select, .device-select .input-group {
        display: inline-block !important;
        margin-top: 5px !important;
        width: 100% !important;
    }
    .form-control {
        border-width: 0px;
        height: 45px;
    }
}

#select-phone .device-select, .device-select .input-group {
    display: inline-table;
    color: #202532;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    width: 75%;
}

#launch_phone_phone {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size: 13px 13px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 98%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 12px 30px;
    border: 2px solid #efefef;
    color: #202532;
    box-shadow: none;
}

.form-control {
    border-width: 0px;
    height: 45px;
}

#select-phone a {
    margin-top: 20px;
    font-size: 14px;
}

#select-phone a:hover, a:focus {
    text-decoration: none !important;
    color: #202532;
}

#select-phone button.btn {
    padding: 10px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    #select-phone button.btn {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        margin-left: 0px;
    }
}


/* HOW IT WORKS */

#learn-more {
    background-color: #FFF;
    padding: 80px 20px 150px 20px;
    text-align: center;
}

#learn-more img {
    width: 55%;
    padding-top: 55px;
}

#learn-more h3 {
    padding-top: 140px;
}

#learn-more a:hover {
    color: #202532;
    text-decoration: none !important;
}

@media (max-width:992px) {
    #learn-more h3 {
        padding-top: 0;
    }
    #learn-more .text-right, #learn-more .text-left {
        text-align: center;
    }
}

@media (max-width:543px) {
    #learn-more img {
        width: 60%;
        padding-top: 50px;
    }
}


/* POPULAR DEVICES */

.popular-devices {
    background-color: #FFF;
    padding: 80px 20px 150px 20px;
    text-align: center;
}

#device-logo {
    background: #fff;
    min-width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px #efefef !important;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

#device-logo img {
    width: 150px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    height: 100%;
}
.popular-devices .btn-danger {
    padding: 12px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 155px;
}

#memory-select {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background: #fff;
    transition: 0.4s ease-out;
    vertical-align: middle;
}

#memory-select h5 {
    padding-top: 10px;
    color: #202532;
    text-decoration: none;
}

#memory-select a, #memory-select a:hover, #memory-select a:focus {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

#memory-select ul {
    list-style-type: none;
    padding-left: 0;
}

#memory-select li {
    padding-top: 10px;
    font-size: 16px;
}

#memory-select button.btn {
    width: 50px;
    height: 10px;
    background: #3399ff;
    color: #fff;
}

#device-logo:hover #memory-select {
    opacity: 0.96;
}

#device-logo:focus #memory-select {
    opacity: 0.96;
}

/* BENEFITS */

.benefits {
    padding: 80px 20px 150px 20px;
    text-align: center;
}

.benefits img {
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* SOCIAL PROOF */

.social-proof {
    background-color: #FFF;
    padding: 80px 20px 150px 20px;
    text-align: center;
}

.social-proof .row {
    text-align: left;
    margin-top: 40px;
    display: inline-block;
}

@media (max-width: 543px) {
    .social-proof .row {
        display: inline;
    }
}

@media (max-width: 767px) {
    .social-proof .row {
        text-align: center;
    }
}


/*PRE-FOOTER*/

.pre-footer {
    position: relative;
    z-index: 100;
    padding: 40px;
    background: #efefef;
}

.pre-footer h4 {
    color: #363b43;
    font-family: "Avenir LT Std 85 Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-footer .row {
    margin: 0 auto;
    max-width: 1170px;
}

.pre-footer p {
    color: #999;
    color: #737e90;
    font-size: 16px;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
}

.pre-footer a:hover {
    color: #3399ff;
    text-decoration: none;
}

.pre-footer span {
    padding-left: 5px;
}

.pre-footer .col-a {
    padding-bottom: 15px;
}

.pre-footer.footer-social {
    padding: 48px 40px 32px;
    background: #ff6666;
}

.pre-footer.footer-social p {
    color: #efefef;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-footer.footer-social .spread-word {
    color: #fff;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pre-footer.footer-social .share-row {
    margin: 30px auto 0 auto;
    max-width: 900px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pre-footer.footer-social .share-row li {
    display: inline-block;
    ;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
    vertical-align: top;
}

.pre-footer.footer-social .share-row li a {
    opacity: 1;
}

@media (min-width: 768px) {
    .pre-footer .col-a {
        padding-right: 60px;
        padding-bottom: 0;
        border-right: 1px solid #ddd;
    }
    .pre-footer .col-b {
        padding-left: 70px;
    }
}

/* Video Overlay */

.explainer-video {
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}
.explainer-video-view {
    position: relative;
    z-index: 0;
}
.explainer-video-frame {
    background-image: url(https://cdn.so-sure.com/images/home/explainer-video/explainer-video-frame.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0 5px 30px -5px rgba(0,0,0,.15);
    border-radius: 4px;
    width: 100%;
    height: 250px;
}
@media (max-width: 992px) {
  .explainer-video {
    margin-top: 50px;
  }
  .explainer-video-frame {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .explainer-video-frame {
    width: 70%;
  }
}
@media (max-width: 543px) {
  .explainer-video-frame {
    width: 90%;
  }
}
.explainer-video-overlay {
  background-image: url(https://cdn.so-sure.com/images/home/explainer-video/video-overlay-play.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: opacity 0.5s ease;
}
.explainer-video-overlay:hover {
    opacity: 1;
}
/* Video Modal */

.modal-fullscreen {
  background: rgba(255, 255, 255, 0.9);
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}
.modal-header {
  border-bottom: none !important;
}
.modal-body {
  padding: 17px;
}
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.responsive-container {
	position: relative;
  padding-bottom: 53.4%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.responsive-container,
	.responsive-container iframe {
	max-width: 1280px;
	max-height: 720px;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
   }
}
