.section-title {
  text-align: center;
}
ul.jobs {
  font-size: 2rem;
  list-style: none;
}
.jobs li.dev:before {
  font-family: 'FontAwesome';
  content: '\f179';
  margin: 0 5px 0 -15px;
}
.jobs li.growth:before {
  font-family: 'FontAwesome';
  content: '\f0a1';
  margin: 0 5px 0 -15px;
}
