/*
.refer h3 {
  padding-top: 3rem;
}
.refer ul {
  text-align: left;
}
.refer li {
  margin-bottom: 3rem;
  margin-left: 0rem;
}
.refer-card {
  border-color: #f2f2f2;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  position: relative;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0 1rem 0;
  border-radius: 5px;
}
.refer .twt-share-button {
  padding-right: 10rem;
  padding-top: 3.4rem;
}
.refer .fb-share-button {
  padding-top: 3rem;
  padding-left: 12rem
}
@media (max-width: 1000px) {
  .refer .twt-share-button {
    padding-right: 6rem;
    padding-top: 0.4rem;
  }
  .refer .fb-share-button {
    padding-left: 6rem;
  }
}
@media (max-width: 750px) {
  .refer .twt-share-button {
    padding-top: 0.4rem;
    padding-right: 2rem;
  }
  .refer .fb-share-button {
    padding-left: 2rem;
  }
}
@media (max-width: 550px) {
  .refer .fb-share-button {
    padding-bottom: 2rem;
    padding-left: 0rem;
  }
  .refer .twt-share-button {
    padding-right: 0rem;
  }
}
*/