/* Modal: MOVE TO components > _modal.scss */

/* Standards */

.modal {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: .40;
	filter: alpha(opacity=40);
	overflow-y: hidden;
}

.modal-content {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

/* Header */

.modal-header {
	border-bottom: none;
	padding: 15px 25px 0;
}

.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5 {
	border-bottom: 2px solid #efefef;
	padding-bottom: 15px;
}

.close {
	opacity: 1;
	color: #626B78;
}

/* Body */

.modal-body {
	padding: 15px 25px;	
}

/* Footer */

.modal-footer {}

/* Fullscreen */

.modal-fullscreen .modal-dialog {
	width: 100%;	
	margin: 0 auto
}

.modal-fullscreen .responsive-container {
	position: relative;
    padding-bottom: 53.4%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.modal-fullscreen .responsive-container,
.modal-fullscreen .responsive-container iframe {
	max-width: 1280px;
	max-height: 720px;
}

.modal-fullscreen .responsive-container iframe {
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
}

@media (min-width: 768px) {

	.modal-fullscreen .modal-dialog {
		width: 750px;
	}

}

@media (min-width: 992px) {
	
	.modal-fullscreen .modal-dialog {
		width: 970px;
	}

}

@media (min-width: 1200px) {
	
	.modal-fullscreen .modal-dialog {
		width: 1170px;
	}

}

/* Variations */

.modal-middle { /* Align In the Middle */
	padding-top: 10%;
}

/* Policy Modal */

.modal-policy h1 {
	font-size: 24px;
}

.modal-policy h2 {
	margin: 0 0 15px;
	padding: 10px 30px 10px 15px;
	border: 1px solid #cccccc;
	border-radius: 4px;

	background-color: #efefef;
	
	font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}

.modal-policy h2:after {
	content: '\f054';
	font-family: FontAwesome;
	position: absolute;
	right: 15px;
}

.modal-policy h2.section-open:after {
	content: '\f078';
}

.modal-policy h3 {
	font-size: 16px;
}

.modal-policy p {
	font-size: 14px;
	padding: 0 15px;
}

.modal-policy ul {
	font-size: 14px;
	padding: 5px 15px 5px 25px;
}

.modal-policy table {
	margin: 10px auto;
	font-size: 14px;
}

.modal-policy th,
.modal-policy td {
	padding: 15px;
}

.modal-policy th {
	font-weight: bold;
}

