/* VIEW QUOTE */

.view-quote {
    padding: 30px 20px 50px 20px;
}
.view-quote h1 {
    padding-bottom: 10px;
}
.view-quote .panel-primary {
  color: #202532 !important;
}
.clickable {
    cursor: pointer;
}
.view-quote .panel-primary {
    border: 2px solid #efefef;
    margin: 0 -1px 39px 0;
    position: relative;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
    height: 100%;
    margin-top: 20px;
}
.quote-panel-left {
    padding: 20px 25px 20px 25px;
}
.quote-panel-right {
    padding: 20px 25px 20px 25px;
}
.view-quote .btn-primary {
  padding: 12px 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

@media (min-width:767px) {
.view-quote .panel-primary .your-device {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.got-a-question {
    font-size: 14px;
    padding-bottom: -20px;
  }
}
@media (min-width: 992px) {
  .view-quote .panel-primary {
    height: 395px;
  }
}
@media (max-width: 992px) {
  .view-quote p.text-left, .view-quote h3.text-left {
  text-align: center;
  }
  .quote-panel-left {
      border-bottom: 2px solid #efefef;
      padding: 15px 5px 15px 5px;
  }
  .quote-panel-right {
    padding: 15px 5px 15px 5px;
  }
  .view-quote .btn-primary {
    width: 150px;
  }
}

/* Connections Indicator */

.connections {
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 105px;
    text-align: center;
    color: #202532;
    border-top: #efefef 2px solid;
}
@media (max-width: 992px) {
.reward-pot  p.text-left, .reward-pot h3.text-left {
    text-align: center;
  }
}
.connections p {
    font-size: 15px;
}
.connections .explainer {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 960px;
    display: inline-block;
}
.connections .explainer h5 {
    padding-top: 10px;
}
.connections .explainer p {
    text-align: left;
    padding-top: 10px;
    font-family: "Avenir LT Std 35 Light", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    color: #626B78;
}
.reward-pot {
  padding-top: 35px;
}
@media (max-width:767px) {
  .connections .explainer p {
      text-align: center;
    }
    .reward-pot {
      padding-top: 10px;
    }
    .slider-container {
  		padding-top: 10px;
  	}
}
@media (min-width: 767px) {
	.pot-text-container {
		padding-top: 30px;
	}
}


/* Start Purchase */

.start-purchase {
  text-align: center;
}
.start-purchase h4 {
  padding-top: 0;
  padding-left: 0;
}
.banner .col-sm-2 {
  padding-top: 20px;
}

@media (max-width: 992px) {
.banner .col-sm-2, .banner .col-sm-4 {
    width: 100%;
    text-align: center;
    float: none;
  }
}

@media (min-width: 1200px) {
.start-purchase h4 {
  padding-top: 6px;
  padding-left: 10px;
  }
}
@media (min-width: 992px) {
.start-purchase h4 {
  padding-top: 6px;
  }
}

.start-purchase img {
    width: 130px;
}
@media (min-width: 992px) {
  .start-purchase img {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .start-purchase img {
    width: 140px;
  }
}

/* Page Scroll Indictor */

.connections .download-prompt {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #202532;
}
.hero .scroll-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
@media (max-width: 992px) {
#money_back {
  margin-top: 10px;
  }
}
.circle {
  width: 110px;
  height: 110px;
  line-height: 115px;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  background: #202532;
  margin-top: 10px;
}
/* Frequently Asked Questions */

.faqs {
  padding: 30px 15px 120px 15px;
}
@media (min-width: 992px) {
  .faqs {
  padding-left: 150px;
  padding-right: 150px;
  }
}

/* Download Now */

.download-now {
    background-color: #FFF;
    padding: 60px 20px 60px 20px;
    text-align: center;
    color: #202532;
}
.download-now p {
    color: #626B78;
}

/* Video */

.learn-video {
  background-color: #FFF;
  padding: 60px 20px 60px 20px;
  text-align: center;
}
.learn-video .explainer-video {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .learn-video .explainer-video-frame {
    width: 450px;
  }
}

/* Email Modal */

.modal-buy {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 10%;
}

#download-now #lead_form_email {
  padding: 10px 15px 10px 15px;
  width: 400px;
  margin-bottom: 0;
  margin-top: 15px;
  border-radius: 25px;
  border: 2px solid #efefef;
}

#download-now #lead_form_save {
  padding: 12px 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
@media (min-width: 992px) {
  #download-now img {
    width: 30%;
  }
}
@media (max-width: 543px) {
    #download-now #lead_form_save {
      margin-top: 15px;
      margin-left: 0px;
      width: 250px;
    }
    #download-now #lead_form_email {
      width: 250px;
    }
}
@media (max-width: 992px) {
  #download-now .text-left {
    text-align: center !important
  }
  #download-now .text-right {
    text-align: center !important
  }
  #download-now img {
    padding-top: 10px;
  }
}

.memory-select-text {
  font-size: 13px;
}

.memory-select-text .btn-link {
  border: 1px solid #3399ff;
  border-radius: 30px;
  font-size: 13px;
}
