/* VIEW QUOTE */

.view-quote {
    margin-top: 20px;
}

.view-quote h2 {
    margin-top: 10px;
}

.view-quote .panel-primary {
    border: 2px solid #ddd;
    padding: 30px 20px 0;
}

.view-quote--left {}

.view-quote--right {
    margin-top: 20px;
}

.view-quote-ticks {
    display: inline-block;
    padding: 0 5px 5px 0;
}

.view-quote--footer {
    border-top: 2px solid #ddd;
    margin-top: 30px;
    padding-top: 15px;
}

@media (min-width: 768px) { 

    .view-quote {
        margin-top: 0;
    }

    .view-quote--right {
        margin-top: 0;
    }    

}

@media (min-width: 1200px) { 

    .view-quote .panel-primary {
        padding: 50px 30px 0;
    }
}

/* TODO Move to HELPERS when css is refactored */
.apple-hide {
    display: none;
}

.android-hide {
    display: none;
}

/* Sticky Quote */
.banner-sticky { /* TODO Move to resusable class in refactor */
    width: 100%;
    position: fixed;
    bottom: 0; left: 0;
    padding: 15px 0;
    z-index: 8888;
    background-color: rgba(32, 37, 50, 0.95);
}

.banner-sticky h3 {
    margin-top: 10px;
    color: #fff;
}

.banner-sticky-hide {
    display: none;
}

/* Connections Indicator */

.connections {
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 105px;
    text-align: center;
    color: #202532;
    border-top: #efefef 2px solid;
}
@media (max-width: 992px) {
.reward-pot  p.text-left, .reward-pot h3.text-left {
    text-align: center;
  }
}
.connections p {
    font-size: 15px;
}
.connections .explainer {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 960px;
    display: inline-block;
}
.connections .explainer h5 {
    padding-top: 10px;
}
.connections .explainer p {
    text-align: left;
    padding-top: 10px;
    font-family: "Avenir LT Std 35 Light", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    color: #626B78;
}
.reward-pot {
  padding-top: 35px;
}
@media (max-width:767px) {
  .connections .explainer p {
      text-align: center;
    }
    .reward-pot {
      padding-top: 10px;
    }
    .slider-container {
  		padding-top: 10px;
  	}
}
@media (min-width: 767px) {
	.pot-text-container {
		padding-top: 30px;
	}
}


/* Start Purchase */

.start-purchase {
  text-align: center;
}
.start-purchase h4 {
  padding-top: 0;
  padding-left: 0;
}
.banner .col-sm-2 {
  padding-top: 20px;
}

@media (max-width: 992px) {
.banner .col-sm-2, .banner .col-sm-4 {
    width: 100%;
    text-align: center;
    float: none;
  }
}

@media (min-width: 1200px) {
.start-purchase h4 {
  padding-top: 6px;
  padding-left: 10px;
  }
}
@media (min-width: 992px) {
.start-purchase h4 {
  padding-top: 6px;
  }
}

.start-purchase img {
    width: 130px;
}
@media (min-width: 992px) {
  .start-purchase img {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .start-purchase img {
    width: 140px;
  }
}

/* Page Scroll Indictor */

.connections .download-prompt {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #202532;
}
.hero .scroll-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
@media (max-width: 992px) {
#money_back {
  margin-top: 10px;
  }
}
.circle {
  width: 110px;
  height: 110px;
  line-height: 115px;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  background: #202532;
  margin-top: 10px;
}
/* Frequently Asked Questions */

.faqs {
  padding: 30px 15px 120px 15px;
}
@media (min-width: 992px) {
  .faqs {
  padding-left: 150px;
  padding-right: 150px;
  }
}

/* Download Now */

.download-now {
    background-color: #FFF;
    padding: 60px 20px 60px 20px;
    text-align: center;
    color: #202532;
}
.download-now p {
    color: #626B78;
}

/* Video */

.learn-video {
  background-color: #FFF;
  padding: 60px 20px 60px 20px;
  text-align: center;
}
.learn-video .explainer-video {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .learn-video .explainer-video-frame {
    width: 450px;
  }
}

/* Email Modal */

.modal-buy {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 10%;
}

#download-now #lead_form_email {
  padding: 10px 15px 10px 15px;
  width: 400px;
  margin-bottom: 0;
  margin-top: 15px;
  border-radius: 25px;
  border: 2px solid #efefef;
}

#download-now #lead_form_save {
  padding: 12px 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
@media (min-width: 992px) {
  #download-now img {
    width: 30%;
  }
}
@media (max-width: 543px) {
    #download-now #lead_form_save {
      margin-top: 15px;
      margin-left: 0px;
      width: 250px;
    }
    #download-now #lead_form_email {
      width: 250px;
    }
}
@media (max-width: 992px) {
  #download-now .text-left {
    text-align: center !important
  }
  #download-now .text-right {
    text-align: center !important
  }
  #download-now img {
    padding-top: 10px;
  }
}

.memory-select-text {
  font-size: 13px;
  margin-bottom: 10px;
}

.memory-select-text .btn-link {
  border: 1px solid #3399ff;
  border-radius: 30px;
  font-size: 13px;
}

a#help-centre.btn.btn-info {
  padding: 12px 30px;
  border: 2px solid #fff;
  background: none !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: none;
  color: #fff;
  width: 175px;
}

a#open-intercom.btn.btn-primary {
  padding: 12px 30px;
  border: 2px solid #202532;
  background: #202532 !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: none;
  color: #fff;
  width: 175px;
}

@media (max-width: 992px) {
  a#help-centre.btn.btn-info {
    margin-top: 10px;
  }

  a#open-intercom.btn.btn-primary {
    margin-top: 10px;
  }

}
