/* VIEW QUOTE */

.view-quote {
    background: rgba(51,153,255,1);
    background: -moz-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(50%, rgba(51,153,255,1)), color-stop(100%, rgba(0,204,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
    background: linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#00ccff', GradientType=1 );
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: 500px;
    position: relative;

}
.view-quote h1 {
    color: #fff;
    padding-bottom: 10px;
}
.view-quote .panel-primary > .panel-heading {
    letter-spacing: 3px;
    color: #202532;
    text-transform: uppercase;
    background: none;
}
.clickable {
    cursor: pointer;
}
.view-quote .panel-title {
    font-size: 14px;
}
.view-quote .panel-body h5 {
    padding-bottom: 20px;
    font-size: 19px;
}
.quote-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.panel-group {
  padding-bottom: 40px;
}
.phone-fact-title {
    padding-top: 10px;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    border-top: 1px solid #efefef;
}
.phone-fact-body {
    font-size: 14px;
}
.view-quote .panel-body .coverage {
    font-size: 14px;
    text-align: left;
}
.view-quote .panel-body .coverage ul, li {
    margin: 0px 5px;
    padding: 10px 5px;
}
.view-quote .panel-body .coverage h4 {
    text-align: center;
    text-decoration: none;
}
.view-quote .panel-body .not-covered h4 {
    text-align: center;
    text-decoration: none;
}
.panel-title > a {
    display: inline-block;
    width: 100%;
}
.panel-title > a:hover {
    text-decoration: none;
}
.view-quote .panel-body .not-covered {
    font-size: 14px;
    text-align: left;
}
.view-quote .panel-body .not-covered ul, li {
    margin: 0px 5px;
    padding: 0px 5px;
}
.view-quote .panel-info > .panel-heading {
    color: #fff;
    background-color: #3399ff;
    text-align: left;
}
.view-quote .panel-info {
    border-color: #3399ff;
}
.view-quote .panel-primary {
    border: 2px solid #efefef;
    position: relative;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
    height: 100%;
}
.quote-panel-left {
    padding: 20px 25px 20px 25px;
}
.quote-panel-right {
    padding: 20px 25px 20px 25px;
}

@media (min-width:767px) {
.view-quote .panel-primary .your-device {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.got-a-question {
    font-size: 14px;
    padding-bottom: -20px;
  }
}
@media (min-width: 992px) {
  .view-quote .panel-primary {
    height: 400px;
  }
}
@media (max-width: 992px) {
  .view-quote p.text-left, .view-quote h3.text-left {
  text-align: center;
  }
  .quote-panel-left {
      border-bottom: 2px solid #efefef;
  }
}

/* Connections Indicator */

.connections {
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 105px;
    text-align: center;
    color: #202532;
    border-top: #efefef 2px solid;
}
@media (max-width: 992px) {
.reward-pot  p.text-left, .reward-pot h3.text-left {
    text-align: center;
  }
}
.connections p {
    font-size: 15px;
}
.connections .explainer {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 960px;
    display: inline-block;
}
.connections .explainer h5 {
    padding-top: 10px;
}
.connections .explainer p {
    text-align: left;
    padding-top: 10px;
    font-family: "Avenir LT Std 35 Light", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    color: #626B78;
}
@media (max-width:767px) {
  .connections .explainer p {
      text-align: center;
    }
}

/* Page Scroll Indictor */

.connections .download-prompt {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #202532;
}
.hero .scroll-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
@media (max-width: 992px) {
#money_back {
  margin-top: 20px;
  }
}
.circle {
  width: 110px;
  height: 110px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  text-align: center;
  background: #3399FF;
  padding-top: 5px;
  background: rgba(51,153,255,1);
  background: -moz-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(50%, rgba(51,153,255,1)), color-stop(100%, rgba(0,204,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
  background: linear-gradient(45deg, rgba(51,153,255,1) 50%, rgba(0,204,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#00ccff', GradientType=1 );
}

.support-chat {
  padding: 60px 50px 0 50px;
}

#sk-container.sk-embedded {
	font-family: inherit !important;
	border-radius: 4px !important;
	border: 2px solid #efefef;
  position: relative !important;
  height: 500px !important;
}

#sk-container.sk-embedded #sk-header {
	background-color: #efefef !important;
}

#sk-container.sk-embedded #sk-conversation .sk-intro-section {
	background-color: #efefef;
	border-radius: 4px !important;
}
#sk-container.sk-embedded #sk-conversation .sk-intro-section {
	display: none;
}
#sk-container.sk-embedded #sk-conversation {
	padding-top: 10px;
}
#sk-container.sk-embedded #sk-footer {
  height: 40px !important;
}
.sk-logo {
	display: none !important;
}

/* Frequently Asked Questions */

.faqs {
  padding: 30px 20px 60px 20px;
  max-width: 750px
}

/* Download Now */

.download-now {
    background-color: #FFF;
    padding: 100px 20px 100px 20px;
    text-align: center;
    color: #202532;
    border-top: #efefef 2px solid;
    min-height: 500px;
}
.download-now p {
    color: #626B78;
}
