.checkout-step {
  display: flex;
  justify-content: center;
}

.register label {
  font-weight: normal;
  margin-top: 5px;
  font-size: 14px;
  float: left;
}
.form-horizontal {
  width: 90%;
}

@media (min-width: 563px) {
  .form-horizontal {
  width: 60%;
  }
}
@media (min-width: 767px) {
  .register label {
    float: right;
  }
}

@media (min-width:992px) {
    .form-horizontal {
      width: 35%;
    }
}

.register .row {
    margin-bottom: 15px;
}

.register .section-title {
    margin-bottom: 20px;
}

.register .section-description {
    font-size: 20px;
    margin-bottom: 20px;
}
.register .form-control {
    border: 2px solid #efefef;
    box-shadow: none;
}

.help-block ul {
  list-style: none;
}

.help-block li {
  margin-left: -40px;
  color: #FF6666;
  font-size: 14px;
}

.help-block .list-unstyled li {
  margin-left: 0px;
}

.has-error .form-control {
  border-width: 2px;
}
