/* Cashback Total */
.reward-total {
	background-color: #d6ebff;
	border: 2px solid #3399ff;
	   -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	color: #626B78;
	text-align: center;
	padding: 15px 15px 10px;
	margin: 15px 0;
}

.cashback-value {
	color: #3399ff;
	font-size: 38px;
}

.cashback-with-claim {
	text-decoration: line-through;
	color: #8B97B5;
}

/* Custom Reward Slider */

.reward-slider {
	margin: 25px 0;
}

.rewardslider,
.rewardslider__fill {
	display: block;
	   -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.rewardslider {
	background: #efefef;
	position: relative;
}

.rewardslider--horizontal {
  	width: 100%; height: 20px;
}

.rewardslider--vertical {
	width: 20px;
	min-height: 150px;
	max-height: 100%;
}

.rewardslider--disabled {
  	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  	opacity: 0.4;
}

.rewardslider__fill {
	background: #99CCFF;
	position: absolute;
}

.rewardslider--horizontal .rewardslider__fill {
	top: 0;
	height: 100%;
}

.rewardslider--vertical .rewardslider__fill {
	bottom: 0;
	width: 100%;
}

.rewardslider__handle {
	width: 40px; height: 40px;
	background: #3399ff;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	   -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;

	color: #fff;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	line-height: 42px;
}

.rewardslider__handle:active, .rewardslider--active .rewardslider__handle {
	background-color: #8B97B5;
}

.rewardslider--horizontal .rewardslider__handle {
  	top: -10px;
 	touch-action: pan-y;
  	-ms-touch-action: pan-y;
}

.rewardslider--vertical .rewardslider__handle {
	left: -10px;
	touch-action: pan-x;
	-ms-touch-action: pan-x;
}

/* Premium Table */
.premium-table table {
	margin-bottom: 5px;
}

.premium-table table td {
	padding-bottom: 3px;
}

.bar {
	width: 100%; height: 20px;
}

.bar div {
	width: 0; height: 100%; 
	background-color: #efefef;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;	
	transition: width 0.5s ease;
}

.bar-static {
	height: 20px;
	background-color: #3399ff;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;		
}

.bar-us div {
	background-color: #80CE4D;
}

/* Claim options */
.claim-options {
	display: none;
}

.claim-options-list button {
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 0.8em;
}

.claim-options-list button:hover {
	background-color: #D6EBFF;
}

.claim-options-list button:focus,
.claim-options-list button:active,
.claim-options-list button .active {
	background-color: #3399ff;
	color: #fff;
	box-shadow: none;
	outline: none;
}

.premium-and-claims {
	position: relative;
}
