.mouse {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 26px;
  height: 28px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mouse::after {
  font-family: FontAwesome;
  border-radius: 100%;
  content: "\f078";
  position: absolute;
  top: 5px;
  width: 4px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
          transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
          animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
            transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
            transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
            transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
            transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
            transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
            transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
