.mouse {
  position: absolute;
  bottom: -8%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #202532;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mouse::after {
  font-family: FontAwesome;
  border-radius: 100%;
  content: "\f078";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 4px;
  height: 4px;
  opacity: 1;
}
@media (max-width:550px) {
  .mouse {
    bottom: -6%;
  }
}
