/* Hide form on load whilst rendering */
#search-phone-form {
    display: none;
    /*margin-bottom: 25px;*/
}

.select-phone-box {
    text-align: center;
    padding: 15px;
    background-color: #efefef;
    margin-bottom: 15px;
}

/* Dropdown styling */

.select-phone-dropdown {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size: 13px 13px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 98%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid #efefef;
    color: #202532;
    box-shadow: none;
    width: 320px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 14px;
}

#select-phone {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

@media (max-width: 992px) {
    #select-phone {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .select-phone-dropdown {
        display: inline-block !important;
        margin-bottom: 15px !important;
        width: 100% !important;
        margin-right: 0px;
    }
    #select-phone .form-control {
        border-width: 0px;
        height: 45px;
    }
    #select-phone .input-group-btn {
      top: 0px !important;
    }
}

#select-phone .device-select, .device-select .input-group {
    display: inline-table;
    color: #202532;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
}
@media (max-width: 992px) {
  #select-phone .device-select, .device-select .input-group {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #select-phone .device-select, .device-select .input-group {
    width: 100%;
  }
}

#select-phone .form-control {
    border-width: 0px;
}

#select-phone a {
    margin-top: 20px;
    font-size: 14px;
    color: #202532;
}


#select-phone button.btn {
    padding: 12px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

#select-phone .device-select ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#select-phone .device-select li {
  display: block;
}

#select-phone .input-group-btn {
  width: 0% !important;
  display: initial;
}

.device-select p {
    margin-top: 10px;
}

.select-phone-dropdown.has-error {
    background-color: #ff6666;
}

#select-phone .device-select li {
  display: inline !important;
}

@media (max-width: 992px) {
  #select-phone .device-select li {
    display: block !important;
  }
}

/* Twitter Typehead */



.search-phone-text {
    min-width: 100%;
    padding: 9px 15px;
    border: 2px solid #efefef;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;

    color: #202532;
}

.search-phone-text:focus,
.search-phone-text:active {
    outline: none;
}

.btn-get-quote {
    margin-top: 15px;
}

.twitter-typeahead, 
.tt-input,
.tt-menu,
.tt-hint {
    width: 100%;
}

.tt-menu {
    max-height: 176px;
    margin: -2px 0 0; 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    border: 2px solid #efefef;
    
    overflow-y: scroll;
    cursor: pointer;
}

.tt-suggestion {
    color: #202532;
    text-align: left;
    padding: 3px 12px;
}

.tt-suggestion:hover {
    background-color: #efefef;
}

@media (min-width: 767px) {

    .search-phone-text {
        max-width: 320px;
        margin: -11px 0 0 0;
    }

    .btn-get-quote {
        margin-top: 0;
    }    

    .twitter-typeahead, 
    .tt-input,
    .tt-menu,
    .tt-hint {
        max-width: 320px;
    }    

    .twitter-typeahead {
        margin-right: 5px;
    }

}

/*.tt-menu {
    background-color: white;
    border: 2px solid #efefef;
    margin-top: -2px;
    overflow-y: scroll;
    max-height: 176px;
    padding: 2px;
    cursor: pointer;
}

.tt-suggestion {
    padding-bottom: 2px;
    padding-left: 2px;
    text-align: left;
    color: #000;
}

.tt-suggestion:hover {
    background-color: #F5F5F5;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

.search-phone-text {
    background-color: #fff;
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size: 13px 13px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 98%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid #efefef;
    color: #202532;
    box-shadow: none;
    width: 320px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 14px;
    left: auto !important;
}

.device-search {
    display: inline !important;
}
.device-select {
    display: none !important;
}
@media (max-width: 992px) {
    .device-search {
        display: none !important;
    }
    .device-select {
        display: inline !important;
    }*/
}