// footer.scss

body {
    min-height: 100vh;
}

.footer {
    position: relative;
    z-index: 1010;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: $g-light;

    @include dark-blue-gradient;

    .container {
        position: relative;
        z-index: 2;
    }

    svg {
        position: absolute;
        bottom: 0; left: 0;
        z-index: 1;
    }

    &__links {

        a {
            text-decoration: underline;
        }
    }

    @include media-breakpoint-up(lg) {

    }
}
