// main.scss

// Funnel Template
.qpw {
    position: relative;

    // Containers & Curves
    &__main__container {
        position: relative;
        z-index: 4;

        // Curve
        svg {
            transform: translateY(1px);
        }

        @include media-breakpoint-up(lg) {
            width: 55vw; height: 100vh;

            // Scroll stuff
            overflow-y: scroll;

            // IE
            -ms-overflow-style: none;

            // Webkit
            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }

            // Firefox
            scrollbar-width: none;
        }

        @include media-breakpoint-up(xl) {
            width: 55vw;
        }
    }

    &__main {
        padding-top: 2rem;
        padding-bottom: 1.76rem;

        @include media-breakpoint-up(lg) {
            padding-top: 3rem;
        }
    }

    &__curve {
        position: relative;
        display: none;

        @include media-breakpoint-up(xl) {
            width: 5vw; height: 100vh;
            display: block;

            svg {
                height: 100vh;
                position: absolute;
                z-index: 4;
                right: 0; top: 0;
            }
        }
    }

    &__sub__container {
        background-color: $white;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            width: 45vw; height: 100vh;

            // Scroll stuff
            overflow-y: scroll;

            // IE
            -ms-overflow-style: none;

            // Webkit
            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }

            // Firefox
            scrollbar-width: none;
        }

        @include media-breakpoint-up(xl) {
            width: 40vw;
        }
    }

    &__sub {
        position: relative;
    }

    // Contents
    &__h1 {
        color: $deep-sky-blue-d;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    &__h3 {
        color: $white;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    &__h5 {
        color: $white;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;
    }
}

.policy {

    &__info {
        border-bottom: 1px solid $deep-sky-blue-d;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-image-source: linear-gradient(
        45deg,
        rgba(0, 186, 255, 1) 0%,
        rgba(0, 81, 232, 1) 80%
        );
        border-image-slice: 1;

        &:last-of-type {
            border-bottom: none;
        }

        .table-list {
            position: relative;

            &__header {
                background-color: $zaffre;
            }

            &__insurers {
                tr {
                    td {
                        background-color: $dodger-blue;
                        border-bottom-color: rgba(255, 255, 255, 0.1);
                    }

                    td.border-fix {
                        @include  border-bottom-radius(15px);

                        @include media-breakpoint-up(lg) {

                        }
                    }
                }
            }

            &__icn-dark {
                background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_unhappy-dark-icn.svg');
            }

            @include media-breakpoint-up(md) {
                width: 500px;
            }

            @include media-breakpoint-up(xl) {

                &__insurers {
                    z-index: 10;
                }

                &__so-sure {
                    // transform: translateX(-25px);
                    // z-index: 11;

                    @include media-breakpoint-up(md) {
                        // width: 400px;
                    }
                }
            }
        }
    }
}

.cred {
    text-align: center;
    background-color: $white;
    position: relative;
    z-index: 5;

    img {
        width: 120px;
        margin: 0.5rem;
        // opacity: 0.3;

        @include media-breakpoint-up(lg) {
            width: 160px;
            margin: 0;
        }
    }
}
