// main.scss

// Funnel Template
.qpw {
    position: relative;

    // Containers & Curves
    &__main__container {
        position: relative;
        z-index: 4;

        // Curve
        svg {
            transform: translateY(1px);
        }

        @include media-breakpoint-up(lg) {
            width: 60vw; height: 100vh;

            // Scroll stuff
            overflow-y: scroll;

            // IE
            -ms-overflow-style: none;

            // Webkit
            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }

    &__main {
        padding-top: 5rem;
        padding-bottom: 1.76rem;

        @include media-breakpoint-up(lg) {
            padding-top: 12rem;
        }
    }

    &__curve {
        position: relative;

        @include media-breakpoint-up(lg) {
            width: 5vw; height: 100vh;

            svg {
                height: 100vh;
                position: absolute;
                z-index: 4;
                right: 0; top: 0;
            }
        }
    }

    &__sub__container {
        background-color: $white;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            width: 35vw; height: 100vh;

            // Scroll stuff
            overflow-y: scroll;

            // IE
            -ms-overflow-style: none;

            // Webkit
            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }

    &__sub {
        position: relative;
    }

    // Contents
    h1 {
        border-bottom: 2px solid $columbia-blue-e;

        &.qpw__h1-policy {
            border-bottom: transparent;
        }
    }

    &__h1 {
        font-size: 1.4rem;

        @include media-breakpoint-up(ss) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 1.6rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 2.2rem;
        }

        .far {
            cursor: pointer;
        }
    }

    &__h5 {
        @include media-breakpoint-down(xs) {
            font-size: 0.9rem;
            opacity: 0.6;
        }
    }

    &__alt__phones {

        a.dropdown-toggle {
            &:before {
                display: none;
            }
        }
    }

    &__sticky {
        position: fixed;
        bottom: -1px; left: 0; right: 0;
        z-index: 1000;
        color: $white;
        @include blue-gradient;
        box-shadow: 0 -15px 30px 0 rgba(8,27,154,0.08),
                    0 -5px 15px 0 rgba(8,27,154,0.08);

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;
    }
}

.policy {

    &__info {

        border-top: 1px solid $columbia-blue-e;

        &:first-of-type {
            border-top: none;
        }

        .table-list {
            position: relative;

            &__header {
                background-color: $zaffre;
            }

            &__insurers {
                tr {
                    td {
                        background-color: $dodger-blue;
                        border-bottom-color: rgba(255, 255, 255, 0.1);
                    }

                    td.border-fix {
                        @include  border-bottom-radius(15px);

                        @include media-breakpoint-up(lg) {

                        }
                    }
                }
            }

            &__icn-dark {
                background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_unhappy-dark-icn.svg');
            }

            @include media-breakpoint-up(md) {
                width: 384px;
            }

            @include media-breakpoint-up(xl) {

                &__insurers {
                    z-index: 10;
                }

                &__so-sure {
                    transform: translateX(-25px);
                    z-index: 11;

                    @include media-breakpoint-up(md) {
                        width: 400px;
                    }
                }
            }
        }
    }
}

.cred {
    text-align: center;
    background-color: $white;
    position: relative;
    z-index: 5;

    img {
        width: 120px;
        margin: 0.5rem;
        // opacity: 0.3;

        @include media-breakpoint-up(lg) {
            width: 160px;
            margin: 0;
        }
    }
}
