<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}so-sure{% endblock %}</title>

        {# Meta #}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta name="referrer" content="origin" />

        {% block meta %}{% endblock %}
        {% include '::meta_rebrand.html.twig' %}

        {# Stylesheets #}
        {% block stylesheets %}
            {% stylesheets output='css/*.css'
                'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'
                '@AppBundle/Resources/public/sass/adminNew.scss'
            %}<link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}

        {% block remotestylesheets %}{% endblock %}
        {% block metaend %}{% endblock %}
    </head>
    <body>

        {# Dev Bar #}
        {% include '::dev_bar.html.twig' %}

        {# Navigation #}
        {% block nav %}
            {% include '::nav.html.twig' %}
        {% endblock %}

        {# Flash Messages #}
        {% include '::flash_messages.html.twig' %}

        {# Page Content #}
        {% block body %}{% endblock %}
        {# End Page Content #}

        {# Footer #}
        {% block footer %}
            {% include '::footer_data.html.twig' %}
        {% endblock %}

        {# If using CDN else load locally #}
        {% if use_cdn %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% else %}
            <script src="/components/jquery/jquery.min.js"></script>
            <script src="/components/bootstrap-sass/bootstrap.js"></script>
            <script src="/components/bootstrap-sass/tab.js"></script>
            <script src="/components/bootstrap-sass/tooltip.js"></script>
        {% endif %}

        {# Javascript #}
        {% block javascripts %}
            {% javascripts
            '../app/Resources/public/js/rollbar.js'
            'components/moment/moment.min.js'
            'components/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
            '@AppBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
