<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="origin" />
        {% if robots_noindex is defined and robots_noindex %}
            <meta name="robots" content="noindex" />
        {% endif %}

        <title>{% block title %}so-sure{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}
        {% block cssPage %}{% endblock %}
    </head>
    <body class="d-flex flex-column {% if body_class is defined %}{{ body_class }}{% endif %}">

        {% include '::flash_rebrand.html.twig' %}

        <main id="content" class="w-100 flex-grow-1">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
            {% if hide_footer is not defined or not hide_footer %}
                {% if small_footer is defined and small_footer %}
                    {% include '::footer_slim.html.twig' %}
                {% else %}
                    {% include '::footer_rebrand.html.twig' %}
                {% endif %}
            {% endif %}
        {% endblock %}

        {% include '::footer_data.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('global') }}
            {% if environment != 'prod' %}
                 {{ encore_entry_script_tags('dev') }}
            {% endif %}
        {% endblock %}
        {% block javascriptsPage %}{% endblock %}
    </body>
</html>
