{% if app.session.isStarted %}
    {% if app.session.flashBag.peekAll | length > 0 %}
        <div class="flash-message">
            <div class="container-fluid">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flash_message|raw }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('warning') %}
                    <div class="alert alert-warning" role="alert">
                        {{ flash_message|raw }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                      {{ flash_message|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}

