{% import "::macros.html.twig" as macros %}

<footer class="footer-new">
    <div class="container">
        <p class="text-center">
        <small>We are a company registered in England &amp; Wales (No. 09365669) and our registered address is 10 Finsbury Square, London EC2A 1AF.</small></p>
        <p class="text-center"><small>so-sure Limited is an appointed representative of AFL Insurance Brokers Limited which is authorised and regulated by the Financial Conduct Authority. Our firm's Registration Number is <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000003MOOUGAA5" target="_blank" style="text-decoration: underline !important;">744729</a>.  We are permitted to arrange, deal as an agent of insurers and clients, and assist in claims handling.</small></p>
    </div>
</footer>

{# Loading Overlay #}
<div id="loading-overlay--spinner" class="loading-overlay">
    <div class="loading-overlay--inner">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-blue"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Analytics -->
<div id="fb-root"></div>
<div id="ss-root" data-fb-id="{{ fb_appid }}"
   data-fb-redirect="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"
   {% if use_pca is defined %}data-pca-key="{{ pca_webkey }}"{% endif %}
   ></div>
