{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        <span class="icon" style="margin-top: 7px;"> <i class="fa fa-magic fa-2x"></i></span>
        <span  style="margin-top: 0px;"><strong class="text-red">{{ environment }}</strong></span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b><a href="{{ path('ops_pages') }}">Pages <i class="fa fa-wrench fa-lg"></i></a></b>
        </div>

        <div class="sf-toolbar-info-piece">
            <b><a href="{{ path('phone_insurance_make_model_memory', {'make':'Apple','model':'iPhone+7','memory':128}) }}">Quote <i class="fa fa-mobile fa-lg" title="Quick Quote"></i></a></b>
        </div>

        <div class="sf-toolbar-info-piece">
            <b><a href="#" data-toggle="modal" data-target="#dev-modal">Info  <i class="fa fa-info fa-lg" title="Accounts Info"></i></a></b>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
