<footer>
    <div class="container" style="padding: 30px;">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    <a href="/"></a>
                    so-sure Ltd &copy; 2016
                    <span>|</span>
                    <a href="/terms">Terms</a>
                    &amp;
                    <a class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy" href="//www.iubenda.com/privacy-policy/7805295">Privacy Policy</a>
                    <script type="text/javascript">
                        (function(w, d) {
                            var loader = function() {
                                var s = d.createElement("script"),
                                    tag = d.getElementsByTagName("script")[0];
                                s.src = "//cdn.iubenda.com/iubenda.js";
                                tag.parentNode.insertBefore(s, tag);
                            };
                            if (w.addEventListener) {
                                w.addEventListener("load", loader, false);
                            } else if (w.attachEvent) {
                                w.attachEvent("onload", loader);
                            } else {
                                w.onload = loader;
                            }
                        })(window, document);
                    </script>
                </p>
                <p class="text-center">
                    <a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap | Mobile and Web Analytics"/></a>
                </p>
            </div>
        </div>
    </div>
</footer>
