// _buttons.scss

.btn {
	@include border-radius(4px);
	border-width: 1px;

	&:hover {
		transition: all 0.3s ease;
		cursor: pointer;
	}

	&:focus, &:active {
		cursor: pointer;
		outline: none !important;
		transition: all 0.3s ease;
		box-shadow: none;
	}
}

@mixin btn($background-color, $color, $color2) {
	background-color: $background-color;
	color: $color;

	&:hover, &:focus {
		background-color: darken($background-color, 15%);
		color: $color;
	}

	&:active {
		background-color: darken($background-color, 25%);
		color: $color2;
	}

	&-hollow {
		background-color: transparent;
		border-color: $background-color;
		color: $background-color;

		&:hover, &:focus {
			background-color: darken($background-color, 15%);
			border-color: darken($background-color, 15%);
			color: $color2;
		}

		&:active {
			background-color: darken($background-color, 25%);
			border-color: darken($background-color, 25%);
			color: $color2;
		}
	}

}
// End Mixin

.btn-blue {
	@include btn($primary-blue, $white, $white);
}

.btn-red {
	@include btn($red, $white, $white);
}

.btn-grey {
	@include btn($pale-grey, $dark-grey, $white);
}

.btn-green {
	@include btn($green, $white, $white);
}

.btn-ad-green {
	@include btn($dark-ad-green, $white, $white);
}

.btn-white {
	@include btn($white, $white, $white);
}

.btn-facebook {
	@include btn($facebook, $white, $white);
}

.btn-starling {
	@include btn($starling, $white, $white);
}

.btn-pad {
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn-big-text {
	@include breakpoint(tablet) {
		font-size: 24px;
	}
}

.btn-link-white {
	@include btn(transparent, $white, $white);
}

.btn-link {
	@include btn(transparent, $blue, $blue);
	text-decoration: underline;
}

// Active Buttons
.btn.active {
	box-shadow: none;
}

.btn-blue-hollow.active {
	 @include btn($primary-blue, $white, $white);
}

// Others

.btn-arrow-right {

	&:after {
		font-family: FontAwesome;
		content: '\f0da';
		position: relative;
		padding-left: 10px;
		font-size: 90%;
	}
}

// Nav Btn
.navbar-btn {
	background-color: transparent;
	border-color: $white;
	color: $white;

	&:hover, &:focus {
		background-color: $white;
		color: $blue;
	}

	&:active {
		background-color: darken($white, 25%);
		border-color: darken($white, 25%);
		color: $blue;
	}

    @include breakpoint(laptop) {
		background-color: transparent;
		border-color: $blue;
		color: $blue;

		&:hover, &:focus {
			background-color: $blue;
			color: $white;
		}

		&:active {
			background-color: darken($blue, 25%);
			border-color: darken($blue, 25%);
			color: $white;
		}
    }
}

//TODO - Construct a better way to do this, count btns next to one another and alter respectively if possible?
.btn-30 {

	// @include breakpoint(tablet) {
		width: 30%;
		padding-left: 0;
		padding-right: 0;
		font-size: 12px;
		margin-bottom: 5px;
	// }
}

.btn.disabled,
.btn[disabled] {
	cursor: not-allowed !important;
}

// .btn-30 + .btn-30 {
// 	margin-bottom: 15px;
// }
