// forms.scss

// Overides
.form-control {
    border: 1px solid $grey-light;
    box-shadow: none;

    margin-bottom: 5px;

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $blue-lighter;
    }
}

.has-error {

    .form-control {
        border-color: $red;

        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $red;
        }
    }

    .help-block {
        color: $red;
    }
}

label {
    font-size: 15px;
    font-family: $avenir-heavy;
    margin-bottom: 5px;

    .req {
        color: $blue;
    }
}

// Select Phone Make
// - Hide form on load so no content flash
#search-phone-form {
	display: none;
}

.search-phone-text {
	min-width: 100%;
	padding: 10px 15px;
	background-color: $white;
	border: 1px solid $grey-light;
	@include border-radius(4px);
	box-shadow: none;
	color: $black;

	&:focus, &:active {
		outline: none;
	}
}

.btn-get-quote {
    margin-top: 15px;
}

.twitter-typeahead,
.tt-input,
.tt-menu,
.tt-hint {
    width: 100%;
}

.tt-menu {
    max-height: 176px;
    margin: -2px 0 0;
    background-color: $white;
    border: 1px solid $grey-light;
    @include border-bottom-radius(4px);
    overflow-y: scroll;
    cursor: pointer;
}

.tt-suggestion {
    color: $black;
    text-align: left;
    padding: 10px 15px;
    transition: all 0.3s ease;

    &:hover {
    	background-color: $blue-lightest;
    }
}

.empty-message {
	padding: 5px 10px;
	text-align: center;
	color: $black;
	cursor: default;
}

@include breakpoint(tablet) {

	.search-phone-text {
        max-width: 320px;
        margin: -11px 0 0 0;
	}

    .btn-get-quote {
        margin-top: 0;
    }

    .twitter-typeahead,
    .tt-input,
    .tt-menu,
    .tt-hint {
        // max-width: 320px;
    }

    .twitter-typeahead {
        margin-right: 5px;
    }

}
