// forms.scss

// Overides
.form-control {
    border: 1px solid $grey-light;
    box-shadow: none;

    margin-bottom: 5px;

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $blue-lighter;
    }
}

.form-control-white {
    background-color: $white;
}

.has-error {

    .form-control {
        border-color: $red;

        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $red;
        }
    }

    .help-block {
        color: $red;
    }
}

label {
    font-size: 15px;
    font-family: $avenir-heavy;
    margin-bottom: 5px;

    .req {
        color: $blue;
    }
}

// Form Inline
// @include breakpoint(mobileonly) {

//     .form-inline {

//         .form-control {
//             display: inline-block;
//             width: auto;
//             vertical-align: middle;
//         }

//         .form-group {
//             display: inline-block;
//             margin-bottom: 0;
//             vertical-align: middle;
//         }
//     }

// }

.reset-error {
    ul {
        list-style: none;
        padding: 0;

        li {
            color: $red;
        }
    }
}

// Select Phone Make Overide
.tt-menu {
    margin-top: -2px;
}
