// hero.scss

.hero {
	color: $white;

	h1 {
		color: $white;
		line-height: 1.3;

		@include breakpoint(mobileishup) {
			font-size: 32px;
			margin-bottom: 0;
		}
	}

	h3 {
		line-height: 1.3;

		@include breakpoint(mobileishup) {
			font-size: 30px;
		}
	}

	@include breakpoint(tablet) {
		padding: 40px 0 70px 0;
	}

	h1 + h3 {
		margin-top: 0;
	}

}
