// modal.scss

// Standards overide bootstrap

.modal {
    background-color: $white-opaque;

    &-dialog { }

    &-content {
        border: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10)  ;
        @include border-radius(2px);
    }

    &-header {
        border-bottom: none;

        h1, h2, h3, h4, h5 {
            margin-bottom: 0;
        }

        .close {
            width: 45px; height: 45px;
            position: absolute;
            top: 10px; right: 10px;
            color: $white;
            background-color: $primary-blue;
            text-shadow: none;
            opacity: 1;
            @include border-radius(50%);

            &:hover, &:focus {
                background-color: $dark-blue;
                box-shadow: none;
            }

            @include breakpoint(laptop) {
                top: -15px; right: -15px;
            }
        }
    }

    &-body {
        @include breakpoint(tablet) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &-footer {
        border-top: none;
        text-align: center;
    }

}

.modal-new {

    .modal-dialog {
        width: 100%;
        margin: 0;

        @include breakpoint(laptop) {
            width: 65%;
            margin: 3% auto 0;
        }
    }

    .modal-content {
        @include border-radius(0);
    }

    .modal-header {

        .close {
            width: 45px; height: 45px;
            position: absolute;
            top: 10px; right: 10px;
            color: $white;
            background-color: $primary-blue;
            text-shadow: none;
            @include border-radius(50%);

            &:hover, &:focus {
                background-color: $dark-blue;
                box-shadow: none;
            }

            @include breakpoint(laptop) {
                top: -15px; right: -15px;
            }
        }

        @include breakpoint(tablet) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .modal-body {

        @include breakpoint(tablet) {
            padding-left: 30px;
            padding-right: 30px;
        }

        // Style text
        ul {
            padding-left: 18px;

            li {
                padding: 5px 0;
                font-size: 14px;
            }
        }

        p, li {
            line-height: 1.5;
        }

        &--left {
            @include breakpoint(tablet) {
                padding-right: 15px;
            }
        }

        &--right {
            @include breakpoint(tablet) {
                padding-left: 15px;
            }
            @include breakpoint(laptop) {
                border-left: 1px solid $pale-grey;
                padding-left: 30px;
            }
        }

    }

    &-footer { }
}

// Animations
.modal.fade .modal-dialog {
    @include transform(scale(0.1));
    top: 300px;
    opacity: 0;
    @include transition(all 0.3s);
}

.modal.fade.in .modal-dialog {
    @include transform(scale(1));
    @include transform(translate3d(0, -300px, 0));
    opacity: 1;
}

// Variations

.modal-purchase {

    .modal-body {

        ol, ul {
            padding: 10px 10px 10px 30px;

            li {
                font-family: $avenir-heavy;
                font-size: 16px;
                line-height: 1.5;
                padding: 7px 0;
            }

        }
    }
}

.modal-fullscreen {

    .modal-dialog {
        width: 100%;
        margin: 0px auto;

        @include breakpoint(tablet) {
            width: 750px;
            margin: 25px auto;
        }

        @include breakpoint(laptop) {
            width: 970px;
        }

        @include breakpoint(desktop) {
            width: 1170px;
        }

    }

    .responsive-container {
        height: 0;
        overflow: hidden;
        position: relative;
        padding-bottom: 53.4%;
        padding-top: 30px;
    }

    .responsive-container, .responsive-container iframe {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
    }

}

.modal-middle {
    @include breakpoint(tablet) {
        padding-top: 10%;
    }
}

.modal-policy, .modal-policy-embedded {

    h2 {
        font-size: 24px;
    }

    h3 {
        margin: 0 0 15px;
        padding: 10px 30px 10px 15px;
        background-color: $grey-light;
        border: 1px solid $grey;
        @include border-radius(4px);
        font-family: $avenir-book;
        font-size: 16px;
        cursor: pointer;
        position: relative;

        &:after {
            content: '\f054';
            font-family: FontAwesome;
            position: absolute;
            right: 15px; top: 10px;
        }
    }

    h3.section-open:after {
        content: '\f078';
    }

    p {
        font-size: 14px;
        padding: 0 15px;
    }

    ul {
        font-size: 16px;
        padding: 5px 15px 5px 25px;
    }

    table {
        margin: 10px auto;
        font-size: 14px;

        td, th {
            padding: 15px;
        }

        th {
            font-weight: bold;
        }
    }

}

// Carousel inside modal

.modal.and.carousel {

    .modal-content {

    }

    .carousel-control.left {
        left: -10px; top: 100px;

        span {
            top: 20px;
        }

        @include breakpoint(laptop) {
            left: -120px;

            span {
                top: inherit;
            }
        }
    }

    .carousel-control.right {
        right: -10px; top: 100px;

        span {
            top: 20px;
        }

        @include breakpoint(laptop) {
            right: -120px;

            span {
                top: inherit;
            }
        }
    }

    .modal-footer {
        @include breakpoint(laptop) {
            width: 100%;
            position: absolute;
            top: 100%; left: 0; right: 0;
        }
    }
}

.modal.and.carousel {
    position: fixed; // Needed because the carousel overrides the position property
}

// Find your phone
.modal-phone {

    .modal-body {
        @include breakpoint(tablet) {
            padding-bottom: 0;
        }
    }

    &--link-list {
        height: 200px;
        margin: 0;
        overflow: hidden;

        img {
            height: 300px;
        }

        li {
            position: relative;
            padding-top: 15x;

            &:first-of-type,
            &:last-of-type, {
                top: 25px;
            }

            h5 {
                font-weight: bold;
                color: $primary-blue;

                &:hover, &:focus {
                    text-decoration: none;
                }
            }

            &:hover {
                top: -10px;

                &:first-of-type,
                &:last-of-type, {
                    top: 15px;
                }
            }
        }
    }
}
