// panels.scss

.panel-default {

	> .panel-heading {
		background-color: $grey-light;
		position: relative;
		padding-right: 25px;

		h4 {
			cursor: pointer;
			line-height: 1.5;
		}

		&:hover, &:focus {
			background-color: $grey;
		}

		&:after {
		    font-family: FontAwesome;
		    content: '\f054';
		    position: absolute;
		    top: 10px; right: 10px;
		}
	}

	> .panel-heading.panel-open:after {
	    content: '\f078';
	}
}

.panel-sosure {
	background-color: $off-white;
	padding-bottom: 30px;
	margin: 0 0 25px;
	border: 1px solid $pale-grey;

	@include breakpoint(laptop) {
		margin: 50px 0;

		.optouts {
			max-width: 600px;
			margin: 0 auto;
		}
	}
}
