// quote.scss

blockquote {
	position: relative;
	margin: 25px 0;
	padding: 10px 15px;
	border: none;

	text-align: center;

	p {
		line-height: 1.5;
	}

	footer {
		text-align: center;
		font-weight: bold;
		color: $primary-blue;

		&:before {
			content: '';
		}

		img {
			display: block;
			margin: 0 auto 10px;
		}
	}

	// &:before {
	// 	width: 25px;
	// 	position: absolute;
	// 	left: 50%; top: -25px;
	// 	margin-left: -12.5px;
	// 	font-family: FontAwesome;
	// 	font-size: 60px;
	// 	line-height: 1;
	//     content: '\201C';
	// }
}
