// tables.scss

/*Responsive table hack firefox*/
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.faster-claims-table td {
    padding: 20px !important;
}

.table-mod {

    > tbody {
        > tr {
            > td {
                vertical-align: middle;
            }
        }
    }
}
