// _visual.scss

// Loading overlay
.loading-overlay {
    width: 100%; height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $white-opaque;

    // Important!
    display: none;

    &--inner {
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Loading overlay
.loading-overlay-widget {
    width: 100%; height: 100%;
    position: fixed;
    z-index: 1200;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $white-opaque;
    outline: 0;

    // Important!
    display: none;

    &__inner {
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--show {
        display: block;
    }
}

// Text line break
.text-break {
    color: $black;
    padding: 15px 0;
    font-family: $avenir-heavy;
    text-align: center;

    .line {
        border-bottom: 2px solid $grey-light;
        display: inline-block;
        margin: -2px 10px 0;
        width: 35%;
        vertical-align: middle;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

// Fa list
.fa-list-bullet {
    padding-left: 20px;
    margin: 15px 0 25px;
}

.fa-list-bullet li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.fa-list-bullet .fa {
    position: absolute;
    right: 100%; top: 2px;
}

// Video Embed
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

// Video
.explainer-video {}

.explainer-video-thumb {
    position: relative;
    margin: 20px 0 0;
    cursor: pointer;

    svg  {
        width: 80px;
        position: absolute;
        top: calc(50% - 40px); left: calc(50% - 40px);
        transition: all 1s ease;
    }

    &:hover svg #play-bg {
        fill: $green;
    }
}

// Stuck
.stuck {
    width: 100%;
    position: fixed;
    top: 50px; left: 0;
    z-index: 999;
    display: none;

    @include breakpoint(tablet) {
        top: 60px;
    }

    @include breakpoint(laptop) {
        top: 5px;
    }
}
