{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your Direct Debit Cancellation{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;">
           <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
               Hi {{ user.name }},<br><br>
			   You have recently cancelled your direct debit with so-sure. Please note this <strong>does not cancel</strong> your policy with so-sure.
			   <br><br>
			   {% if claimed %}
				   Your contract with is for a 1 year period. If you <strong>have not</strong> made a claim and want to cancel please email us at support@wearesosure.com.
				   <br><br>
				   If you <strong>have</strong> made a claim during that period you will be liable for the remainder of the premium.
			   {% else %}
				   Should you wish to cancel your policy with so-sure, please email us at support@wearesosure.com.
			   {% endif %}
			   <br><br>
			   You can easily setup your direct debit again (or switch to debit/credit card payments) by logging into your account at https://wearesosure.com.
			   <br><br>
				Have a great day!<br>
				The so-sure Team
           </span>
	   </div>
	</div>
	{{ macros.end_table() }}
{% endblock %}
