imports:
    - { resource: config_dev.yml }

parameters:
    mongo.session.options:
        database: sosure-test

framework:
    trusted_hosts: ['127.0.0.1', 'localhost', 'dev.so-sure.net', '10\.\d+\.\d+\.\d+']
    trusted_proxies: ['127.0.0.1']
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

doctrine_mongodb:
    default_database: sosure-test

swiftmailer:
    default_mailer: default
    mailers:
        default:
            transport:  null
            delivery_address: "non-prod-web@so-sure.com"
