# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    api_base_url: http://localhost
    web_base_url: http://localhost

    ses_mailer_transport:  smtp
    ses_mailer_host:       127.0.0.1
    ses_mailer_port:       25
    ses_mailer_user:       ~
    ses_mailer_password:   ~
    ses_mailer_encryption: ~

    sparkpost_mailer_transport:  smtp
    sparkpost_mailer_host:       smtp.sparkpostmail.com
    sparkpost_mailer_port:       587
    sparkpost_mailer_user:       SMTP_Injection
    sparkpost_mailer_password:   ~
    sparkpost_mailer_encryption: tls

    blue_mailer_transport:  smtp
    blue_mailer_host:       127.0.0.1
    blue_mailer_port:       25
    blue_mailer_user:       ~
    blue_mailer_password:   ~
    blue_mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    api_secret:        ThisTokenIsNotSoSecretChangeIt
    form_required:     true

    fb_appid: changeme
    fb_secret: changeme
    fb_pixel_id:
    fb_og_namespace: 'wearesosure-dev'
    account_kit_secret: changeme

    starling_client_id:      'changeme'
    starling_client_secret:  'changeme'
    starling_auth_url:       'http://localhost'
    starling_token_url:      'http://localhost'
    starling_info_url:       'http://localhost'

    mailchimp_apikey: bad-mailchimp # exception thrown if - not present in param
    mailchimp_prelaunch_list:
    appannie_apikey:

    google_appname:
    google_apikey:
    google_analytics:
    ga_tag_manager_env: '&gtm_auth=&gtm_preview=env-4&gtm_cookies_win=x'
    google_clientauth_id: 'changeme'
    google_clientauth_secret: 'changeme'
    google_clientid: 'changeme'

    rollbar_access_token:
    rollbar_client_access_token:

    directgroup_sftp_server:
    directgroup_sftp_username:
    directgroup_sftp_password:
    directgroup_zip_password:

    heap_id:
    mixpanel_apitoken:
    mixpanel_apisecret:
    mixpanel_webhook_key:
    gocompare_key:

    judopay_apitoken:
    judopay_apisecret:
    judopay_webtoken:
    judopay_websecret:
    judopay_id:

    mongodb_db: so-sure
    mongodb_url: mongodb://root:root@localhost
    census_mongodb_url: mongodb://root:root@localhost
    picsure_mongodb_url: mongodb://root:root@localhost

    redis_dsn: redis://localhost
    redis_default_dsn: redis://localhost/0
    redis_session_dsn: redis://localhost/1
    redis_mailer_dsn: redis://localhost/2

    sixpack_url: 'http://localhost:5000'

    aws_key: ''
    aws_secret: ''
    aws_cognito_identitypoolid: ''
    policy_key: ''
    zendesk_key: 'cannotbeblank'

    pca_apikey: ''
    pca_webkey: ''
    branch_key: ''
    branch_secret: ''
    branch_domain: ''
    drift_key: ''
    zendesk_jwt_secret: 'cannotbeblank'
    geoip_city_db:     '/var/geoip/GeoLite2-City.mmdb'
    geoip_country_db:  '/var/geoip/GeoIP2-Country.mmdb'

    gsma_apikey:  ''
    gsma_username: ''
    receperio_secretkey: ''
    receperio_storeid: ''

    salva_url: ''
    salva_username: ''
    salva_password: ''

    sns_base_arn: ''

    plivo_authid:        'cannotbeblank'
    plivo_authtoken:     'cannotbeblank'
    plivo_sendingnumber: 'sosuredev'

    branch_pot_url: ''
    branch_share_url: ''
    branch_policy_url: ''
    branch_card_url: ''

    google_app_download: 'https://play.google.com/store/apps/details?id=com.wearesosure'
    apple_app_download:  'https://itunes.apple.com/gb/app/so-sure/id1094307449'

    davies_ip: 10.0.2.2
    directgroup_ip: 10.0.2.2

    sosure_employee_cookie_value: 'changeme'
    sosure_employee_cookie_domain: '.dev.so-sure.net'
    slack_webhook: 'http://dev.so-sure.net'
    digits_consumer_key: ''
    allowed_digits_consumer_keys: ''

    intercom_token: ''
    intercom_webhook_key: ''
    intercom_secure: ''
    intercom_secure_android: ''
    intercom_secure_ios: ''
    intercom_dpa_app_secret: ''
    intercom_dpa_app_admin: ''

    accesspay_server: ''
    accesspay_username: ''
    accesspay_password: ''
    accesspay_keyfile: ''
    accesspay_s3file_password: 'changeme'

    sosure_sftp_server: ''
    sosure_sftp_username: ''
    sosure_sftp_password: ''
    sosure_sftp_keyfile: ''

    expected_claim_frequency: 2

    recaptcha_public_key: ""
    recaptcha_private_key: ""
