# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    fb_appid: changeme
    fb_secret: changeme
    fb_pixel_id:
    fb_og_namespace: 'wearesosure-dev'

    mailchimp_apikey:
    mailchimp_prelaunch_list:

    google_appname:
    google_apikey:
    google_analytics:

    gocardless_apikey:
    gocardless_prod: false

    rollbar_access_token:

    heap_id:

    judopay_apitoken:
    judopay_apisecret:
    judopay_id:

    mongodb_db: mongo
    mongodb_url: mongodb://localhost

    aws_key: ''
    aws_secret: ''
    aws_cognito_identitypoolid: ''

    pca_apikey: ''
    branch_key: ''
    smooch_key: ''
    geoip_db: ''
    gsma_apikey:  ''
    gsma_username: ''

    sns_prelaunch_all: ''
    sns_prelaunch_registered: ''
    sns_prelaunch_unregistered: ''
