# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    ses_mailer_transport:  smtp
    ses_mailer_host:       127.0.0.1
    ses_mailer_port:       25
    ses_mailer_user:       ~
    ses_mailer_password:   ~
    ses_mailer_encryption: ~

    blue_mailer_transport:  smtp
    blue_mailer_host:       127.0.0.1
    blue_mailer_port:       25
    blue_mailer_user:       ~
    blue_mailer_password:   ~
    blue_mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    api_secret:        ThisTokenIsNotSoSecretChangeIt

    fb_appid: changeme
    fb_secret: changeme
    fb_pixel_id:
    fb_og_namespace: 'wearesosure-dev'

    mailchimp_apikey:
    mailchimp_prelaunch_list:

    google_appname:
    google_apikey:
    google_analytics:

    gocardless_apikey:
    gocardless_prod: false

    rollbar_access_token:

    heap_id:

    judopay_apitoken:
    judopay_apisecret:
    judopay_id:

    mongodb_db: mongo
    mongodb_url: mongodb://localhost

    redis_default_dsn: redis://localhost/0
    redis_session_dsn: redis://localhost/1

    aws_key: ''
    aws_secret: ''
    aws_cognito_identitypoolid: ''
    policy_key: ''

    pca_apikey: ''
    branch_key: ''
    smooch_key: ''
    zendesk_jwt_secret: ''
    geoip_db: ''

    gsma_apikey:  ''
    gsma_username: ''
    receperio_secretkey: ''
    receperio_storeid: ''

    salva_url: ''
    salva_username: ''
    salva_password: ''

    sns_prelaunch_all: ''
    sns_prelaunch_registered: ''
    sns_prelaunch_unregistered: ''

    plivo_authid:        ''
    plivo_authtoken:     ''
    plivo_sendingnumber: ''

    braintree_env:         'sandbox'
    braintree_merchant_id: 'ChangeMe'
    braintree_public_key:  'ChangeMe'
    braintree_private_key: 'ChangeMe'

    branch_pot_url: ''
    branch_share_url: ''
    branch_policy_url: ''
