/* Checkout */

.checkout .form-group label {
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

.checkout .form-group .form-control {
    border: 2px solid #efefef;
    box-shadow: none;
}

/* Radio Buttons */

.checkout .radio {
    width: 45%;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    border: 2px solid #3399ff;
    border-radius: 3px;        
}

.checkout .radio:first-of-type {
    margin-right: 10%;
}

.checkout .radio label {
    text-align: center;
}

.checkout .radio.radio-selected {
    background-color: #3399ff;
    color: #fff;
}

.checkout .radio input {
    margin-top: 2px;
}

.checkout .checkbox-terms {
    padding: 15px 0;
    display: block !important;
    text-align: center !important;
}

.checkout .address-manual-cont {    
    margin-top: 15px;
}

.checkout .address-manual {
    padding: 12px 30px;
    border: 2px solid #202532;
    background: none !important;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: none;
    color: #202532;    
}

.checkout .birthday-picker {
    cursor: pointer;
}

/* Includes */

.purchase-download {
    margin: 10px 0 40px;
}

.purchase-download--btns {
    text-align: center;
}

/* Errors */

.help-block ul {
    list-style: none;
    text-align: left;
    margin: 0; padding: 0;
}

.help-block li {
    color: #ff6666;
    font-size: 13px;
}

.has-error .control-label {
    color: #ff6666;
}

.address-show-error-text {
    color: #ff6666;
}

/*


/* Modal */

.modal-confirm {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 10%;
}

.modal-confirm-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-summary {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 10%;
}

.modal-summary ul {
    list-style: none;
}

.modal-summary ul li {
    font-weight: 900;
}

.modal-policy {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
    max-height: 90%;
    overflow-y: scroll;
}

.modal-policy .modal-dialog {
    width: 70% !important;
}

/* Twitter Typehead */

.tt-menu {
    background-color: white;
    border: 1px solid;
    width: 150%;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 150px;
    padding: 10px;
    cursor: pointer;
}

.tt-suggestion {
    padding-bottom: 2px;
}

.tt-suggestion:hover {
    background-color: #F5F5F5;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

/* Responsive */

@media (min-width: 563px) {

    .checkout .form-horizontal {
        width: 455px;
        margin: 0 auto;
    }    

}

@media (min-width: 767px) {

    .checkout .form-group label {
        display: inline;
        text-align: inherit;
    }

}

@media (min-width:992px) {


}
