/* Checkout */

.checkout {
    /*padding: 0 0 30px;*/
}

.checkout h3 {
    /*display: none;*/
}

.checkout--step {
    max-width: 410px;
    margin: 0 auto;
}

.checkout--step-review {
    line-height: 2;
}

.checkout .form-group .form-control {
    /*border: 2px solid #efefef;*/
    /*box-shadow: none;*/
}

.checkout .form-group label {
    /*font-size: 14px;*/
}    

.checkout .form-footer {
    margin-top: 25px;
}


/* Radio Buttons */

.checkout .radio {
    width: 45%;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px 0;
    border: 2px solid #3399ff;
    border-radius: 3px;        
}

.checkout .radio:first-of-type {
    margin-right: 10%;
}

.checkout .radio label {
    text-align: center;
}

.checkout .radio.radio-selected {
    background-color: #3399ff;
    color: #fff;
}

.checkout .radio input {
    margin-top: 2px;
}

.terms-checkbox {
    margin-top: 20px;
}

.terms-checkbox label {
    font-size: 16px !important;
    font-weight: bold;
}

.checkout .address-manual-cont {    
    margin-top: 15px;
}

/*.checkout .btn-additional {
    padding: 12px 30px;
    border: 2px solid #202532;
    background: none !important;
    border-radius: 30px;
    margin-top: -3px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: none;
    color: #202532;    
}*/

/*.checkout .square-o:before {
content: "\f096";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
}

.checkout .check-square-o:before {
content: "\f046";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
}*/

/* Birthday */
/*.birthday select {
    font-size: 14px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
          background-clip: padding-box;
    border: 2px solid #efefef;
    border-radius: 4px;
}

.review-terms {
    background-color: #d6ebff;
    border: 2px solid #3399ff;
       -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #626B78;
    padding: 25px;
    margin: 15px 0;    
}

.review-terms ol {
    padding-left: 25px;
}

.review-terms li {
    padding: 5px 0;
}*/

/* Includes */

/*.purchase-download {
    margin: 10px 0 40px;
}

.purchase-download--btns {
    text-align: center;
}*/

/* Errors */

/*.help-block ul {
    list-style: none;
    text-align: left;
    margin: 0; padding: 0;
}

.help-block li {
    color: #ff6666;
    font-size: 13px;
}

.has-error .control-label {
    color: #ff6666;
}

.address-show-error-text {
    color: #ff6666;
}*/

/* Twitter Typehead */

/*.tt-menu {
    background-color: white;
    border: 2px solid #efefef;
    margin-top: -2px;
    overflow-y: scroll;
    max-height: 176px;
    padding: 2px;
    cursor: pointer;
}

.tt-suggestion {
    padding-bottom: 2px;
    padding-left: 2px;
    text-align: left;
}

.tt-suggestion:hover {
    background-color: #F5F5F5;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}*/

/* intl-tel-input */
/*.intl-tel-input { display: block; }
.iti-flag {background-image: url("/components/intl-tel-input/flags.png");}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
    .iti-flag{background-image:url("/components/intl-tel-input/flags@2x.png")}
}*/

/* Responsive */

/*@media (min-width: 563px) {

    .checkout--step-review {
        padding: 0 20px;
    }

}

@media (min-width: 767px) {
    .checkout--step {
        max-width: 510px;
    }

    .checkout {
        padding: 0 0 100px;
        margin-top: 5px;
        border-top: 2px solid #3399ff;
    }

    .checkout h3 {
        display: block;
        padding: 0 0 10px;
        margin-bottom: 25px;
        color: #3399ff;
        border-bottom: 2px solid #efefef;
    }

    .checkout .form-group label {
        display: inline;
        text-align: inherit;
    }

}

@media (min-width:992px) {

*/
}
