.modal-confirm {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 10%;
}

.modal-confirm-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-summary {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 10%;
}

.modal-summary ul {
    list-style: none;
}

.modal-summary ul li {
    font-weight: 900;
}

.modal-policy {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
    max-height: 90%;
    overflow-y: scroll;
}

.modal-policy .modal-dialog {
    width: 70% !important;
}

.help-block ul {
    list-style: none;
}

.help-block li {
    margin-left: -40px;
    color: #FF6666;
    font-size: 14px;
}

.help-block .list-unstyled li {
    margin-left: 0px;
}

.has-error .form-control {
    border-width: 2px;
}

.tt-menu {
    background-color: white;
    border: 1px solid;
    width: 150%;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 150px;
    padding: 10px;
    cursor: pointer;
}

.tt-suggestion {
    padding-bottom: 2px;
}

.tt-suggestion:hover {
    background-color: #F5F5F5;
}

.address-manual {
    padding: 12px 30px;
    border: 2px solid #202532;
    background: none !important;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: none;
    color: #202532;
    margin-top: 20px;
}

.address-manual:hover {
    color: #202352;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
    width: 100%;
}

label {
    font-weight: normal !important;
}

.text-break {
    padding: 20px !important;
}

.btn-primary {
    padding: 12px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.btn-primary.disabled {
    background-color: #ccc;
    border-color: #ccc;
}

.purchase-amount label {
    display: block;
    margin-bottom: 10px;
}

.purchase-amount input {
    margin-left: 10px !important;
    display: inline-block;
    position: relative;
}

.payment-container .radio input[type="radio"] {
    position: relative;
}

.purchase-nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.purchase-nav ul {
    list-style: none;
    padding: 0;
}

.purchase-nav li {
    display: inline-block;
    margin-right: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    border-right: 2px solid #efefef;
}

.purchase-nav li:last-child {
    border-right: none;
}

.purchase-nav .step-active {
    color: #626b78;
}

.step-inactive {
    color: #ccc;
}

.step-inactive a {
  color: #33CCCC;
}

@media (max-width: 767px) {
    .purchase-nav .step-active {
        background-color: #000;
        color: #fff;
        padding: 10px;
        width: 100%;
        position: absolute;
        top: 120px;
        left: 0;
    }
    .purchase-nav li {
        border-right: none;
    }
    .purchase-nav .step-inactive {
        display: none;
    }
    .desktop-page-title {
      display: none;
    }
    .purchase-nav {
      padding-top: 0;
      padding-bottom: 0;
    }
}

.payment-container {
    min-height: 700px;
}

.payment-container label {
    font-weight: normal;
    margin-top: 7px;
    font-size: 14px;
    float: left;
}

@media (min-width: 767px) {
    .payment-container label {
        float: right;
    }
}

.checkout-step {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 20px;
}

.payment-container .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal {
    width: 100%;
}

@media (min-width: 563px) {
    .form-horizontal {
        width: 60%;
    }
}

@media (min-width:992px) {
    .form-horizontal {
        width: 40%;
    }
}

.payment-container .form-control {
    border: 2px solid #efefef;
    box-shadow: none;
}

.help-block ul {
    list-style: none;
}

.help-block li {
    color: #FF6666;
    font-size: 14px;
    text-align: left;
}

.help-block .list-unstyled li {
    margin-left: 0px;
}

.has-error .form-control {
    border-width: 2px;
}

.payment-container .btn-primary {
    margin-top: 20px;
}
.payment-container .text-break .line {
  width: 30%;
}

.address-show-error {
  color: #FF6666;
}

.payment-container .input-group-addon {
  border-top: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  border-left: none;
}
.payment-container .input-group {
  display: inline-flex;
  width: 100%;
}
.payment-container .input-group-addon {
  width: initial;
}

#purchase_form_amount {
  text-align: left;
}

#purchase_form_amount label {
  float: none;
  display: inline;
  padding: 15px;
  margin-right: 10px;
}

.payment-container .btn-link {
    padding: 7px;
}

.payment-container .help-block {
  font-style: italic;
  text-align: left;
  font-size: 14px;
  color: #FF6666;
}

@media (max-width: 543px) {
  #purchase_form_amount label {
    padding: 10px;
  }
}

.payment-container h4 {
  text-align: left;
}

@media (max-width: 767px) {
  .payment-container .btn-link {
    padding: 5px;
    float: right;
  }
  .payment-container h4 {
    text-align: left;
    margin-top: 40px;
  }
  #purchase_form_amount {
    margin-top: 25px;
  }
}

@media (max-width: 320px) {
  .payment-container h4 {
    float: left;
    margin-right: 135px;
    margin-top: 0px;
  }
}


.payment-container .checkbox label {
  float: none;
  font-size: 14px;
  color: #202532;
}

.payment-container input[type="checkbox"] {
  margin: 3px -25px 0;
}

.payment-container .text-danger {
  color: #ff6666;
}

.device-select-block li {
    display: block !important;
}
    
