/* Purchase Nav */

.purchase-nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.purchase-nav ul {
    list-style: none;
    padding: 0;
}

.purchase-nav li {
    display: inline-block;
    margin-right: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    border-right: 2px solid #efefef;
}

.purchase-nav li:last-child {
    border-right: none;
}

.purchase-nav .step-active {
    color: #626b78;
}

.step-inactive {
    color: #ccc;
}

.step-inactive a {
  color: #33CCCC;
}

@media (max-width: 767px) {
    .purchase-nav {
      margin-bottom: 80px;
    }

    .purchase-nav .step-active {
        background-color: #000;
        color: #fff;
        padding: 10px;
        width: 100%;
        position: absolute;
        top: 120px;
        left: 0;
    }
    .purchase-nav li {
        border-right: none;
    }
    .purchase-nav .step-inactive {
        display: none;
    }
    .desktop-page-title {
      display: none;
    }
    .purchase-nav {
      padding-top: 0;
      padding-bottom: 0;
    }
}
