.modal-confirm {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 10%;
}

.modal-confirm-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-summary {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 10%;
}

.modal-summary ul {
    list-style: none;
}

.modal-summary ul li {
    font-weight: 900;
}

.modal-policy {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 2%;
  max-height: 90%;
  overflow-y: scroll;
}

.modal-policy .modal-dialog {
    width: 70% !important;
}

.help-block ul {
  list-style: none;
}

.help-block li {
  margin-left: -40px;
  color: #FF6666;
  font-size: 14px;
}

.help-block .list-unstyled li {
  margin-left: 0px;
}

.has-error .form-control {
  border-width: 2px;
}

.tt-menu {
  background-color: white;
  border: 1px solid;
  width:150%;
  overflow-y: scroll;
  border-radius: 5px;
  max-height: 150px;
  padding: 10px;
  cursor: pointer;
}

.tt-suggestion {
  padding-bottom: 2px;
}

.tt-suggestion:hover {
  background-color: #F5F5F5;
}

.address-manual {
  padding: 12px 30px;
  border: 2px solid #202532;
  background: none !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: none;
  color: #202532;
}
.address-manual:hover {
  color: #202352;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

label {
  font-weight: normal !important;
}

.text-break {
  padding: 20px !important;
}

.btn-primary {
  padding: 12px 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}

.btn-primary.disabled {
  background-color: #ccc;
  border-color: #ccc;
}

.purchase-amount label {
   display: block;
   margin-bottom: 10px;
}
.purchase-amount input {
  margin-left: 0px !important;
}

.purchase-nav {
  text-align: center;
}

.purchase-nav ul {
  list-style: none;
}

.purchase-nav li {
  display: inline-block;
  margin-right: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  border-right: 1px solid;
}

.purchase-nav .step-active {
  font-weight: bold;
}
