{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section section--pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Are we regulated within the UK?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p>In short, yes.</p>
				<p>so-sure is an appointed representative of AFL Insurance Brokers Limited which is authorised and regulated by the Financial Conduct Authority. Our firm's Registration Number is <a target="_blank" href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000003MOOUGAA5">744729</a>. We are permitted to arrange, deal as an agent of insurers and clients, and assist in claims handling.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="go-back"><a href="{{ path('about_home') }}" class="btn btn-primary-hollow"><span class="fa fa-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
