{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section section--pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">How secure is so-sure?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p>In short, so-sure is totally secure.</p>
				<p>As well as being regulated by the Financial Conduct Authority we also take great pride in ensuring that all your data is secure and remains private. We comply with the latest EU data regulation laws and take the issue of data protection seriously.</p>
				<p>If you would like more detail, then please <a href="mailto:hello@wearesosure.com">email us</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="go-back"><a href="{{ path('about_home') }}" class="btn btn-primary-hollow"><span class="fa fa-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
