{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section section--pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">How to contact so-sure?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p>We are always happy to talk and can be found via <a href="#"class="open-intercom"><i class="fa fa-comments"></i> Intercom</a>, <a href="mailto:hello@wearesosure.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>, <a target="_blank" href="https://www.facebook.com/wearesosure/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a> and <a target="_blank" href="https://twitter.com/wearesosure"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>.</p>
				<p>However, if you have a more technical question you can ask a question in the <a href="/help/support">support section</a>.</p>
				<p><i>p.s. we're always around and love hearing from you. Please get in touch if you want to ask something or even just to say hello :)</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p class="go-back"><a href="{{ path('about_home') }}" class="btn btn-primary-hollow"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
