{% extends 'base.html.twig' %}

{% block title %}so-sure - Jobs{% endblock %}
{% block meta %}
    <meta name="description" content="Make the Social Insurance Revolution happen by joining our awesome team."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
{#
<section class="section--pad jobs">
    <div class="container text-center">
        <h1>We're not currently hiring.</h1>
        <br>
        <p class="lead">
            Thanks for checking in with us, but <span class="text-underline">we don't currently have any vacancies</span>.
        </p><br>
        <p class="lead">
            However, if you're keen to help us out, please do send a note to <a href="mailto:jobs@wearesosure.com">jobs@wearesosure.com</a>.
        </p>
        <br><br><br>
    </div>
</section>
#}
 <section class="section--pad jobs">
    <div class="container">

        <h1 class="text-center">We are hiring!</h1>

        <h2>About so-sure</h2>
        <p class="lead"><strong>Everyone hates insurance. We believe that needs to change.</strong></p>
        <p>We are revolutionising insurance by providing consumers with a better, easier and up to 80% cheaper solution. We call this <strong>Social Insurance</strong>.</p>
        <p>Starting with mobile phones, so-sure’s ambition is to expand rapidly across consumer lines and geographies over the next few years.</p><br>

        <h2>Full Stack Developer - PHP, JavaScript </h2>

        <p>We are looking for a Senior Full Stack (Back-end focused) Web Developer to join so-sure. You will be moving into a key role within their development team and play an important part in implementing new features, improving performance and building a fantastic product and experience for their users.</p>

        <p>The code-base is fairly new (<2 years old) and well-tested and we deploy to production several times/day. We're currently developing in PHP/Symfony 3 with MongoDb and we need someone who can jump in quickly on the codebase. There are plenty of opportunities to expand your skillset with projects in image processing, machine learning and devops on the immediate horizon.</p>

        <p>We are looking for a thoughtful, well-rounded developer with experience in both back and front-end development and a good knowledge of the latest tools, methodologies and best practice.</p>

        <h3>Responsibilities:</h3>

        <ul>
            <li>
                Working closely with and supporting the CTO
            </li>
            <li>
                Designing and developing new features
            </li>
            <li>
                Investigating and resolving defects
            </li>
            <li>
                Working collaboratively to tackle complex problems and make important decisions
            </li>
            <li>
                Estimating and planning development tasks
            </li>
            <li>
                Advising on feasibility and complexity of potential features
            </li>
            <li>
                Identifying and implementing improvements for reliability, scalability and performance
            </li>
            <li>
                Finding efficient ways to meet key business objectives
            </li>
            <li>
                You are a good communicator, excellent problem solver, quick learner and can work independently as well as part of a team
            </li>
        </ul><br>

        <h3>Skills and experience:</h3>

        <ul>
            <li>
                Symfony
            </li>
            <li>
                PHP
            </li>
            <li>
                HTML
            </li>
            <li>
                CSS
            </li>
            <li>
                JavaScript (JQuery)
            </li>
            <li>
                Databases - both Sql & NoSql
            </li>
            <li>
                Fantastic organizational and multitasking skills
            </li>
            <li>
                Friendly, well balanced individual
            </li>
            <li>
                Team player, who also works well, independently
            </li>
            <li>
                Somebody who likes to get involved
            </li>
            <li>
                You care about quality and you know what it means to ship high quality code
            </li>
            <li>
                Problem Solver
            </li>
            <li>
                Likes a challenge
            </li>
            <li>
                Innovator
            </li>
        </ul>

        <h3>Benefits</h3>
        <ul>
            <li>Competitive salary with equity options</li>
            <li>Get in on the ground floor of an exciting new start-up, with a truly disruptive proposition</li>
            <li>Work at Runway East - home to some of the UK’s hottest start-ups</li>
        </ul>
        <br><br>
        <h4 class="text-center">If this interests you then drop us an email – <a href="mailto:jobs@wearesosure.com?subject=Front-End Developer">jobs@wearesosure.com</a></h4>
    </div>
</section>

{% endblock %}
