{% extends 'base.html.twig' %}

{% block title %}so-sure - Jobs{% endblock %}
{% block meta %}
    <meta name="description" content="Make the Social Insurance Revolution happen by joining our awesome team."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
{#
<section class="section--pad jobs">
    <div class="container text-center">
        <h1>We're not currently hiring.</h1>
        <br>
        <p class="lead">
            Thanks for checking in with us, but <span class="text-underline">we don't currently have any vacancies</span>.
        </p><br>
        <p class="lead">
            However, if you're keen to help us out, please do send a note to <a href="mailto:jobs@wearesosure.com">jobs@wearesosure.com</a>.
        </p>
        <br><br><br>
    </div>
</section>
#}
 <section class="section--pad jobs">
    <div class="container">

        <h1 class="text-center">We are hiring!</h1>

        <div class="row">
            <div class="col-md-8">
                <h2>About so-sure</h2>
                <p class="lead"><strong>Everyone hates insurance. We believe that needs to change.</strong></p>
            </div>
            <div class="col-md-2">
                <p>
                    <a href="https://www.glassdoor.co.uk/Overview/Working-at-so-sure-EI_IE1814792.11,18.htm"><img src="https://www.glassdoor.co.uk/pc/static/img/partnerCenter/badges/eng_CHECK_US_273x90.png"></a>
                </p>
            </div>
        </div>
                <p>We are revolutionising insurance by providing consumers with a better, easier and up to 80% cheaper solution. We call this <strong>Social Insurance</strong>.</p>
                <p>Starting with mobile phones, so-sure’s ambition is to expand rapidly across consumer lines and geographies over the next few years.</p>
        <br>
        <br>
        <h4>Our current openings</h4>
         <script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
         <script type='text/javascript' charset='utf-8'>
         whr(document).ready(function(){
         whr_embed(242507, {detail: 'titles', base: 'jobs', zoom: 'country', grouping: 'none'});
         });
         </script>
         <div id="whr_embed_hook"></div>

    </div>
</section>

{% endblock %}
