{% extends 'base.html.twig' %}

{% block title %}so-sure - Jobs{% endblock %}
{% block meta %}
    <meta name="description" content="Make the Social Insurance Revolution happen by joining our awesome team."/>
    <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

<section class="section--pad jobs">
    <div class="container text-center">
        <h1>We're not currently hiring.</h1>
        <br>
        <p class="lead">
            Thanks for checking in with us, but <span class="text-underline">we don't currently have any vacancies</span>.
        </p><br>
        <p class="lead">
            However, if you're keen to help us out, please do send a note to <a href="mailto:jobs@wearesosure.com">jobs@wearesosure.com</a>.
        </p>
        <br><br><br>
    </div>
</section>

{# <section class="section--pad jobs">
    <div class="container">

        <h1 class="text-center">We are hiring!</h1>

        <h2>About so-sure</h2>
        <p class="lead"><strong>Everyone hates insurance. We believe that needs to change.</strong></p>
        <p>We are revolutionising insurance by providing consumers with a better, easier and up to 80% cheaper solution. We call this <strong>Social Insurance</strong>.</p>
        <p>Starting with mobile phones, so-sure’s ambition is to expand rapidly across consumer lines and geographies over the next few years.</p><br>

        <h2>Head of Marketing</h2>

        <p>We’re looking for a Head of Marketing to lead to the growth of an insurance revolution, as we expand into new insurance lines and across the world throughout 2017 and beyond. </p>

        <p>You will shape, test and optimise the story of so-sure in the never-ending pursuit of growth. As such, you will be responsible for devising ideas and messaging to capture customers regardless of channel or platform.</p>

        <p>Reporting directly into the CEO, you should be adept at discussing things like ASO, CAC and A/B tests and as you are story-telling.</p>

        <p>You will be collaborating with an awesome team of developers and designers. So we expect you to be as good at working as part of an agile team that loves to experiment, as you are at marketing a product.</p>

        <p>Supporting you, is a Marketing Executive, whose development you will be responsible for.</p>

        <p>You will be leading the marketing for so-sure in the UK; initially the existing product but then also the additional ones. You will refine the strategy to optimise the channels to acquire customers cost-effectively.</p><br>

        <h3>You must have</h3>

        <ul>
            <li>
                7+ years combined marketing experience delivering successful user acquisition and engagement strategies for tech-based products. Mostly in B2C but ideally also in B2B audiences
            </li>
            <li>
                Media strategy: Craft impactful go-to-market plans that, span multiple geographies and product lines.
            </li>
            <li>
                Creative: Be a never ending source of ideas that could increase growth, leveraging new paid and unpaid channels or routes to market.
            </li>
            <li>
                Messaging: Build a strong and bold vision for how we communicate, launch and position our so-sure across multiple channels
            </li>
            <li>
                Agile: Continually refine that vision and associated messaging by gaining a deep understanding of who are customers are and what makes them tick, through interviews and experiments.
            </li>
            <li>
                Analytical: leverage data to optimise existing campaigns / design new ones and define KPIs that will indicate their success.
            </li>
            <li>
                Teamwork: Track record of working successfully in an agile environment, where you partner closely with designers and developers.
            </li>
            <li>
                Hands-on: Never be afraid to get your hands dirty. While you maybe in a senior role, the task at hand requires someone that is willing to get stuck in when a job, however big or small, needs to be done.
            </li>
            <li>
                Reporting: More than capable of managing a budget, reporting on key metrics and optimising accordingly.
            </li>
            <li>
                Leadership: Manage a Marketing Executive who’s strength lie in content production
            </li>
        </ul><br>

        <p>You should be able to demonstrate all of the above, either through your prior prior experience or through challenges we may set.</p> <br>

        <h3>Benefits</h3>
        <ul>
            <li>Competitive salary with equity options</li>
            <li>Get in on the ground floor of an exciting new start-up, with a truly disruptive proposition</li>
            <li>Work at Runway East - home to some of the UK’s hottest start-ups</li>
        </ul>
        <br><br>
        <h4 class="text-center">If this interests you then drop us an email – <a href="mailto:jobs@wearesosure.com?subject=Front-End Developer">jobs@wearesosure.com</a></h4>
    </div>
</section> #}

{% endblock %}
