{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section section--pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Our mission</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<h3>Insurance is rubbish.</h3>
            	<p>It costs too much, you're never quite sure what you're paying for and when you try to claim you discover that you didn't read their <small>small print</small>.</p>
            	<h3>We are making it better.</h3>
            	<p>We're taking insurance back to how it all started: careful, connected people who can trust that when the worst does happen, they’re covered. And when it doesn’t, they get most of their money back.</p>
            	<p>We call this <strong>Social Insurance</strong>.</p>
            	<h3>We are starting with phones.</h3>
            	<p>Why? Because those shiny, magical objects connect us with the people we love most.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="go-back"><a href="{{ path('about_home') }}" class="btn btn-primary-hollow"><span class="fa fa-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
