{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/about.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<section class="about-section section--pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Why we're better</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<p>Here at so-sure we believe that insurance just doesn't work hard enough for you. As such, we're committed to giving you the best possible insurance experience your hard earned money can buy.</p>
				<p>Here are a few reasons why we think you'll enjoy so-sure!</p>
                <h3>We're Open All Hours</h3>
                <p>You can register your claim 24/7, 365 days a year. If it's outside the hours of 8am - 5pm, one of our lovely UK-based claim handlers will give you a call the very next morning at a time convenient for you.</p>
                <h3>Next-day Replacement Phone</h3>
                <p>Yeah, that's right! We provide you with a replacement phone within one working day of your claim being approved. We understand how important your phone is to you so we don't don't want to delay you getting it back.</p>
                <h3>Full Coverage For A Set Price</h3>
                <p>When you get insured with so-sure, your phone is covered for:</p>
                <ul>
                    <li>Theft</li>
                    <li>Loss</li>
                    <li>Accidental damage</li>
                    <li>Breakdown (outside manufacturer's warranty period)</li>
                </ul>
                <p>In the event of theft or loss, we also cover you for up to £1,000 including VAT of unauthorised network charges and up to £100 (including VAT) on accessories (e.g. headphones).</p>
                <p>We do all of this for a single price, no added check boxes to tick✌️.</p>
                <p>---</p>
                <p><i>If for any reason you feel we haven't lived up to our commitment then we need to know - please contact our <a href="mailto:support@wearesosure.com">support team</a> and we'll do our best to resolve your issue as soon as possible.</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="go-back"><a href="{{ path('about_home') }}" class="btn btn-primary-hollow"><span class="fa fa-chevron-left" aria-hidden="true"></span> Go back</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
