// fonts.scss

// Gordita Light
@font-face {
    font-family: 'gorditalight';
    src: url('#{$cdn_url}/fonts/gordita-light-webfont.eot');
    src: url('#{$cdn_url}/fonts/gordita-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$cdn_url}/fonts/gordita-light-webfont.woff2') format('woff2'),
         url('#{$cdn_url}/fonts/gordita-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$g-light: 'gorditalight', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Gordita Regular
@font-face {
    font-family: 'gorditaregular';
    src: url('#{$cdn_url}/fonts/gordita-regular-webfont.eot');
    src: url('#{$cdn_url}/fonts/gordita-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$cdn_url}/fonts/gordita-regular-webfont.woff2') format('woff2'),
         url('#{$cdn_url}/fonts/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$g-regular: 'gorditaregular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
    font-family: 'gorditamedium';
    src: url('#{$cdn_url}/fonts/gordita-medium-webfont.eot');
    src: url('#{$cdn_url}/fonts/gordita-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$cdn_url}/fonts/gordita-medium-webfont.woff2') format('woff2'),
         url('#{$cdn_url}/fonts/gordita-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

$g-medium: 'gorditamedium', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
    font-family: 'gorditabold';
    src: url('#{$cdn_url}/fonts/gordita-bold-webfont.eot');
    src: url('#{$cdn_url}/fonts/gordita-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$cdn_url}/fonts/gordita-bold-webfont.woff2') format('woff2'),
         url('#{$cdn_url}/fonts/gordita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$g-bold: 'gorditabold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
