// helpers.scss

.body--overflow {
    width: 100%; height: 100%;
    overflow: hidden;

    &_iOS {
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
    }
}

// Add extra paddin to container on smaller devices
.container-xtra {
    @media (max-width: 420px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

// Hide on XXS mobile
@media (max-width: 340px) {

    .d-none-xxs {
        display: none !important;
    }
}

// Hide the scrollbars
.hide-bars {
    overflow-y: scroll;

    // IE
    -ms-overflow-style: none;

    // Webkit
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}

.hideme {
    display: none;
}
