// type.scss

body {
    font-family: $g-regular;
    color: $zaffre;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $g-bold;

    .sub {
        font-family: $g-regular;
    }
}

a,
strong {
    font-family: $g-medium;

    &.no-style {
        &:hover {
            text-decoration: none;
        }
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    font-family: $g-bold;

    .sub {
        font-family: $g-regular;
    }
}

.opacity-05 {
    opacity: 0.5;
}

.link-subtle {
    font-size: 90%;
    text-decoration: underline;
    opacity: 0.5;

    &:hover,
    &:focus {
        text-decoration: none;
        opacity: 0.8;
    }
}

.hr-blue {
    border: 0;
    border-top: 2px solid $dodger-blue;
}
