// type.scss

body {
    font-family: $g-regular;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $g-bold;

    .sub {
        font-family: $g-regular;
    }
}

strong {
    font-family: $g-medium;
}

.opacity-05 {
    opacity: 0.5;
}
