{% block body %}
<h1>Cashback Reminder</h1>

{% if policies is not empty %}
	{% for policy in policies %}
		<li>{{ policy }}</li>
	{% endfor %}

{% else %}
<p>There are no cashbacks to process!</p>
{% endif %}
{% endblock %}