{% block body %}
<h1>
    <a href="{{ url('admin_policies') }}">
        Cashback Reminder
    </a>
</h1>

{% if results is not empty %}

    {% for result in results %}
        <li>Policy <a href="{{ url('admin_policy', {'id': result.policy.id }) }}">{{ result.policy.policyNumber }}</a> has
            status {{ result.policy.status }}</li>
    {% endfor %}

{% else %}

    <p>There are no cashbacks to process!</p>

{% endif %}
{% endblock %}