{% extends 'AppBundle:Email:base.txt.twig' %}
{% block body %}
Payment failure for {{ policy.policyNumber }}

**
------------------------------------------------------------
Your monthly payment of £{{ policy.premium.monthlyPremiumPrice }} was declined.
{% if next %}
We will attempt to process the payment again, using the card details you originally provided us with, on {{ next|date }}.
{% endif %}

If your payment details are no longer valid, you can update them by <a href="{{ branch_pot_url }}">opening the app</a> and following the steps on screen.

Please note that if you fail to pay within the next 30 days we will cancel your policy, so please ensure that your card details are correct as soon as possible.
{% endblock body %}
