/*.trust {
  border: 1px solid #1d2f3b;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  height: 280px;
}
.trust-photo {
  width: 150px;
  height: 150px;
}
.trust p {
  text-align: center;
}*/