{#
    This page is blank by intent, and immeadiately submits the webpay form, thereby loading
    the judopay page.
#}

<form action="{{ webpay_action }}" method="post" id="webpay-form">
    <input id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
</form>

{% block javascripts %}
    <script type="text/javascript">
        document.getElementById('webpay-form').submit();
    </script>
{% endblock %}
