{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="col-xs-12 col-md-8">
            <h2>Welcome to the so-sure family</h2>
            
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>Your policy</h2>
        </div>
    </div>
</div>
{% endblock %}
