<div class="purchase-nav">
<ul>
    <li class="{% if step == 1 %}step-active{% else %}step-inactive{% endif %}">
        {% if step > 1%}<i class="fa fa-check text-success"></i> {% endif %}
        {% if step <= 1 %}
            <span>Personal Details</span>
        {% else %}
            <a href="{{ path('purchase_step_personal') }}">Personal Details</a>
        {% endif %}
    </li>
    <li class="{% if step == 2 %}step-active{% else %}step-inactive{% endif %}">
        {% if step > 2%}<i class="fa fa-check text-success"></i> {% endif %}
        {% if step <= 2 %}
            <span>Billing Details</span>
        {% else %}
            <a href="{{ path('purchase_step_address') }}">Billing Details</a>
        {% endif %}
    </li>
    <li class="{% if step == 3 %}step-active{% else %}step-inactive{% endif %}">
        {% if step > 3%}<i class="fa fa-check text-success"></i> {% endif %}
        {% if step <= 3 %}
            <span>Personal Details</span>
        {% else %}
            <a href="{{ path('purchase_step_phone') }}">Phone Details</a>
        {% endif %}
    </li>
    <li class="{% if step == 4 %}step-active{% else %}step-inactive{% endif %}">
        {% if step <= 4 %}
            <span>Review Policy Information</span>
        {% else %}
            <a href="{{ path('purchase_step_review') }}">Review Policy Information</a>
        {% endif %}
    </li>
</ul>
</div>