<div class="purchase-nav">
<ul>
    <li><a href="{{ path('purchase_step_personal') }}">Step 1 - Personal Details</a></li>
    <li><a href="{{ path('purchase_step_address') }}">Step 2 - Billing Details</a></li>
    <li><a href="{{ path('purchase_step_phone') }}">Step 3 - Phone Details</a></li>
    <li><a href="{{ path('purchase_step_review') }}">Step 4 - Review Terms</a></li>
</ul>
</div>