{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Pay the Remainder of Your Policy</h3>
                    {% if webpay_action and webpay_reference and amount > 0 %}
                    <p class="lead">Click below to pay the remainder (£{{ amount|number_format(2, '.', ',') }}) of your policy for the year.</p>
                    <form action="{{ webpay_action }}" method="post" id="webpay-form">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <input  id="Reference" name="Reference" type="hidden" value="{{ webpay_reference }}">
                                <input type="submit" class="btn btn-success " value="Proceed to payment">
                            </div>
                        </div>
                    </form>
                  {% elseif amount == 0 %}
                    <h3>Your policy has been paid for the year.</h3>
                  {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
