
    <ol class="clearfix">
        <li class="{% if step == 1 %}step-active{% else %}step-inactive{% endif %}">
            <span>1. Personal</span>
        </li>
        <li class="hidden-xs"><i class="fa fa-chevron-right {% if step == 1 %}step-active{% endif %}" aria-hidden="true"></i></li>
        <li class="{% if step == 2 %}step-active{% else %}step-inactive{% endif %}">
            <span>2. Policy</span>
        </li>
        <li class="hidden-xs"><i class="fa fa-chevron-right {% if step == 2 %}step-active{% endif %}" aria-hidden="true"></i></li>
        <li class="{% if step == 3 %}step-active{% else %}step-inactive{% endif %}">
            <span>3. Purchase</span>
        </li>
    </ol>
</div>
