<div class="checkout-nav">
    <ul class="clearfix">
        <li class="{% if step == 1 %}step-active{% else %}step-inactive{% endif %}">
            <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-1.svg" alt="Smile Step 1">
            <span class="h4 text-light-blue step-no">Step 1 of 3</span>
            <span class="h4 text-blue step-txt">Personal details</span>
        </li>
        <li class="{% if step == 2 %}step-active{% else %}step-inactive{% endif %}">
            <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-2.svg" alt="Smile Step 1">
            <span class="h4 text-light-blue step-no">Step 1 of 3</span>
            <span class="h4 text-blue step-txt">Policy review</span>
        </li>
        <li class="{% if step == 3 %}step-active{% else %}step-inactive{% endif %}">
            <img src="{{ cdn_url }}/images/purchase/checkout-smile-step-3.svg" alt="Smile Step 1">
            <span class="h4 text-light-blue step-no">Step 1 of 3</span>
            <span class="h4 text-blue step-txt">Purchase</span>
        </li>
    </ul>
</div>
