{# 24-72 hour replace/repair #}
<div class="modal fade"
     id="policy_24_72_hours"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_24_72_hours"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">24-72 hour replace/repair</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>We understand it's stressful to be without your phone, that’s why we aim to get you back up and running quickly after your claim is approved. While we aim for 24-72 hours, some repairs may take a little longer.</p>
            </div>
        </div>
    </div>
</div>

{# Comprehensive cover #}
<div class="modal fade"
     id="policy_comprehensive"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_comprehensive"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Included as standard</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Did you know that most insurers do not cover loss as standard and will charge you an extra &pound;1-3 per month.</p>
            </div>
        </div>
    </div>
</div>

{# Up to 80% cashback every year #}
<div class="modal fade"
     id="policy_cashback"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_cashback"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Up to 80% cashback every year</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>We reward our careful customers. If you and your connections don't make a claim we return up to 80% of your premium back at the end of every policy year.</p>
            </div>
        </div>
    </div>
</div>

{# Excess from £50 #}
<div class="modal fade"
     id="policy_excess_50"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_excess_50"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Excess from {{ lowest_excess }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>We are the only company to offer up to &pound;100 off your excess if you can prove your phone is not damaged using our app. It's as simple as taking a selfie of your phone!</p>
            </div>
        </div>
    </div>
</div>

{# No Proof of Purchase #}
<div class="modal fade"
     id="policy_pop"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_pop"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">No Proof of Purchase</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>If you validate your phone is good working condition using our app (prior to your claim), you do not need proof of purchase. If you don't do this, you may need to provide proof of purchase when making a claim.</p>
            </div>
        </div>
    </div>
</div>

{# Policy Holder’s Full Name #}
<div class="modal fade"
     id="policy_name"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_name"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Policy Holder’s Full Name</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Policy holders must be over 18 years old, a UK resident, and be the main user of the mobile phone. The mobile phone must also have been purchased within the UK.</p>
            </div>
        </div>
    </div>
</div>

{# IMEI Number #}
<div class="modal fade"
     id="policy_imei_number"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_imei_number"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">IMEI Number</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Unlike other insurers we ask for this now, so if your phone is lost or stolen you dont have the additional hassle of finding this information. If your phone has more than one IMEI number (dual sim phones) just provide us with the first number shown.</p>
            </div>
        </div>
    </div>
</div>

{# Serial Number #}
<div class="modal fade"
     id="policy_serial_number"
     tabindex="-1" role="dialog"
     aria-labelledby="policy_serial_number"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Serial Number</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Unlike other insurers we ask for this now, so if your phone is lost or stolen you dont have the additional hassle of finding this information.</p>
            </div>
        </div>
    </div>
</div>

{# Billing date #}
<div class="modal fade"
     id="billing_date"
     tabindex="-1" role="dialog"
     aria-labelledby="billing_date"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Billing date</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <h3 class="text-zaffre mb-4">Select your billing date</h3>
                <p>Unlike cards, Direct Debit is not an instant payment method.</p>
                <p>In the case of weekends &amp; bank holidays, it can take <strong class="text-nowrap">up to 3 working days</strong> after your selected date for payments to leave your account.</p>
                <p>Please also be aware that it can take up to <strong class="text-nowrap">7 days</strong> to initially setup your Direct Debit &amp; you will not be able to select dates before your first payment is taken.</p>
            </div>
        </div>
    </div>
</div>

{# Bank details #}
<div class="modal fade"
     id="bank_details_modal"
     tabindex="-1" role="dialog"
     aria-labelledby="bank_details_modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h5 modal-title">Confirm Bank Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <h4 class="h3 text-zaffre mb-4">Why do we ask you to enter your bank details twice? 🤷🏻‍♀️</h4>
                <p>If your payment fails, you will be in danger of losing cover for your mobile phone and could face issues making a successful claim.</p>
                <p>So, that’s why we ask you to enter your Sort Code and Account Number twice… to make double sure they are correct! 👍</p>
            </div>
        </div>
    </div>
</div>

