{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'seo-broken-phone' %}

{% block title %}so-sure - Phone Insurance Broken Phone{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
    <link rel="canonical" href="{{ url('phone_insurance_broken_phone') }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/seo-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="intro py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="text-zaffre mb-0">Phone Insurance</h5>
                    <h1 class="text-primary mb-4">Broken Phone</h1>
                    <p class="mb-4">Breaking your phone is a serious drag and can happen either accidentally or by putting your phone at risk. If it's the former, we'll make sure that you are covered. Examples of damage include mechanical faults like broken buttons or when the phone simply won't turn on.</p>
                    <a href="#"
                       class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote sosure-track"
                       data-event="seo-pages-broken-phone">
                       Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}

{% endblock %}
