{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'seo-theft' %}

{% block title %}Phone Insurance Theft | so-sure{% endblock %}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just £50 - New, second hand & refurbished phones, Up to 80% money back"/>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/seo-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="intro py-lg-5">
        <div class="container-large py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="breadcrumbs">
                        <ul class="list-inline"
                            vocab="https://schema.org/"
                            typeof="BreadcrumbList">
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('homepage') }}"
                                   class="text-primary"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Home</span>
                                </a>
                                <meta property="position" content="1">
                            </li>
                            <li class="list-inline-item text-zaffre">
                                <i class="fal fa-angle-right text-zaffre"></i>
                            </li>
                            <li class="list-inline-item"
                                property="itemListElement"
                                typeof="ListItem">
                                <a href="{{ path('phone_insurance') }}"
                                   class="text-primary"
                                   property="item"
                                   typeof="WebPage">
                                   <span property="name">Phone Insurance</span>
                                </a>
                                <meta property="position" content="2">
                            </li>
                            <li class="list-inline-item text-zaffre">
                                <i class="fal fa-angle-right text-zaffre"></i>
                            </li>
                            <li class="list-inline-item text-zaffre"
                                property="itemListElement"
                                typeof="ListItem">
                                <span property="name">Theft</span>
                                <meta property="position" content="3">
                            </li>
                        </ul>
                    </div>
                    <h1 class="text-primary mb-4">Theft</h1>
                    <p>Nearly 300,000 mobile phones are stolen every year. That kind of number makes us sad (what kind of person steals a phone!?) - phones are an essential part of all of our lives as we depend on them to do just about everything. Taking a phone away from somebody robs them of the ability to contact their close family and friends while also making it harder for them to do everyday things such as paying bills, getting the bus or finding their way around town. </p>
                    <p class="mb-4">Thankfully, when bad stuff like this happens you can be sure that we’ve got you covered. so-sure covers your phone for theft at home and abroad (up to 90 days coverage).</p>
                    <a href="#"
                       class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote disabled track-data"
                       data-event="seo-pages-theft">
                       Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}

{% endblock %}
