{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'seo-water-damage' %}

{% block title %}so-sure - Phone Insurance Water Damage{% endblock %}
{% block meta %}
    <meta name="description" content="Mobile Insurance that's Simply Better, 24-72 hour replace or repair, Low excess from just £50 - New, secondhand & refurbished phones, Up to 80% money back"/>
    <link rel="canonical" href="{{ url('phone_insurance_water_damage') }}" />
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/seo-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="intro py-lg-5">
        <div class="container container-xtra py-5">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="text-zaffre mb-0">Phone Insurance</h5>
                    <h1 class="text-primary mb-4">Water Damage</h1>
                    <p>One of the most common claims, water damage is when your phone has been submerged in water and has been left unusable as a result. It's a really common thing to do so don’t feel like a massive doofus if you do end up doing it. </p>
                    <p>However, if you do end up dunking your phone in a pint or the bath then don’t fear, because the infamous 'rice trick' can actually work. Our founder, Dylan even managed to revive his beloved phone via granular intervention!</p>
                    <p class="mb-4">Fortunately, so-sure covers you for water damage.</p>
                    <a href="#"
                       class="btn btn-success btn-shadow btn-block-xs mb-5 get-a-quote disabled sosure-track"
                       data-event="seo-pages-water-damage">
                       Get a Quote</a>
                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block javascriptsPage %}

{% endblock %}
