<h1>Change your password</h1>
<p>Make sure your new password contains a mixture of letters, numbers and special charachters.</p>
<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password login-box" autocomplete="off">
    <div class="reset">
        <div class="form-group">
            <input id="fos_user_change_password_form_current_password" type="password" name="fos_user_change_password_form[current_password]" required="required" class="form-control username" placeholder="Current Password"/>
        </div>
        <div class="form-group">
            <input id="fos_user_change_password_form_new_first" type="password" name="fos_user_change_password_form[new][first]" required="required" class="form-control password" placeholder="New Password" />
        </div>
        <div class="form-group">
            <input id="fos_user_change_password_form_new_second" type="password" name="fos_user_change_password_form[new][second]" required="required" class="form-control password" placeholder="Confirm Password" />
        </div>
        <div class="form-group">
            {{ form_errors(form.current_password) }}
            {{ form_errors(form.new.first) }}
            <input type="hidden" id="fos_user_change_password_form__token" name="fos_user_change_password_form[_token]" value="{{ form._token.vars['value'] }}" />
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
</form>
