{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Invitation{% endblock %}

{% block body %}
    <div class="container">
        Please join us

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
