{% set include_emoji = true %}
{% set robots_noindex = true %}

{% extends 'base.html.twig' %}

{% block title %}so-sure - Invitation{% endblock %}

{% block body %}

<section class="section--pad login">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <img class="logo" src="{{ cdn_url }}/images/logo/unhappy-so-sure-smiley.svg" alt="Unhappy so-sure smiley" style="width: 10%; margin-bottom: 50px;"></img>
                <p>Hmm, it looks like this invitation to join so-sure has already been
                {% if invitation.isAccepted %}accepted
                {% elseif invitation.isRejected %}declined
                {% elseif invitation.isCancelled %}cancelled
                {% else %}processed
                {% endif %}
                .</p>
                <p>Something not right? <a href="mailto:support@wearesosure.com">Let us know</a>.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
