{% set include_emoji = 1 %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Invitation{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="text-center">
          <p>Hmm, it looks like this invitation to join the Social Insurance revolution has already been
          {% if invitation.isAccepted %}accepted
          {% elseif invitation.isRejected %}declined
          {% elseif invitation.isCancelled %}cancelled
          {% else %}processed
          {% endif %}
          .</p>
          <p>Something not right? <a href="mailto:support@wearesosure.com">Let us know</a>.</p>
        </div>
    </div>
  </div>
{% endblock %}
