{% extends 'admin_claims_base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>so-sure Rate Limits</h2>
        </div>
    </div>

    {% if rateLimits|length == 0 %}
    <div class="row-fluid">
        <h2>No rate limits present</h2>
    </div>
    {% else %}
    <div class="row-fluid">
        <div class="col-md-11">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Key</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name, count in rateLimits %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
