{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        Some type of stats here
        <a href="{{ path('admin_phones') }}">Phones</a>
    </div>
</div>
{% endblock %}
