{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        Some type of stats here
        <ul>
            <li><a href="{{ path('admin_users') }}">Users</a></li>
            <li><a href="{{ path('admin_phones') }}">Phones</a></li>
            <li><a href="{{ path('admin_claims') }}">Claims</a></li>
        </ul>
    </div>
</div>
{% endblock %}
