// global.scss

// Abstracts
// - functions, mixins, variables
@import "abstracts/mixins";
@import "abstracts/palette";
@import "abstracts/variables";

// Import Bootstrap
@import "vendor/bs4/bootstrap.scss";

// Base
// - animations, typography, utilies
@import "base/fonts";
@import "base/type";
@import "base/helpers";

// Components
// - split into individual files
@import "components/loader";
@import "components/flash-messages";
@import "components/forms";
@import "components/form-steps";
@import "components/modal";
@import "components/buttons";
@import "components/nav";
@import "components/menu";
@import "components/dropdown";
@import "components/custom-select";
@import "components/search";
@import "components/lists";
@import "components/cards";
@import "components/tables";
@import "components/reviews";
@import "components/get-quote";
@import "components/toasts";

// Layout
// - header, footer, navigation
@import "layout/main";
@import "layout/header";
@import "layout/footer";

// Vendor
// - third parts CSS
@import "vendor/hamburgers/hamburgers";
@import "vendor/cookieconsent.min.css";
@import "vendor/classic.css";
@import "vendor/animate.css";
@import "vendor/jssocials.css";
@import "vendor/jssocials-theme-flat.css";
@import "vendor/tempusdominus-bootstrap-4.css";
@import "vendor/flickity.css";
@import "vendor/jquery.dataTables";

// Pages
// @import "pages/homepage";
