/* MOVE TO common > _variable.scss */

@charset "UTF-8";
@font-face {
    font-family: 'Avenir LT Std 45 Book';
    font-style: normal;
    font-weight: 300;
    src: local('/fonts/Avenir LT Std 45 Book'), url('/fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: bold;
    font-weight: 700;
    src: local('/fonts/Avenir LT Std 85 Heavy'), url('/fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 55 Oblique';
    font-style: italic;
    font-weight: 300;
    src: local('/fonts/Avenir LT Std 55 Oblique'), url('/fonts/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light';
    font-style: light;
    font-weight: 200;
    src: local('/fonts/Avenir LT Std 35 Light'), url('/fonts/AvenirLTStd-Light.woff') format('woff');
}



/* MOVE TO common > _global.scss */

html {
  /*height: 100%;*/
}

html, body {
    overflow: auto;
}

body {
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    background-color: #ffffff;
    /*height: 100%;*/
}
strong {
    font-family: "Avenir LT Std 85 Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Quick helpers */

.error-text {
    color: #FF6666;
}

.text-blue {
    color: #3399FF !important;
}

.text-grey {
    color: #CCC !important;
}

.text-light-blue {
    color: #D6EBFF !important;
}

.text-grey-blue {
    color: #8B97B5 !important;
}

.text-light-grey {
    color: #efefef !important;
}

.text-dark-grey {
    color: #626B78;
}

.text-black {
    color: #202532;
}

.text-green {
    color: #80ce4d !important;
}

.text-red {
    color: #FF6666 !important;
}

.text-success {
    color: #33CCCC !important;
}

.text-white {
    color: #fff !important
}

.text-underline {
    text-decoration: underline !important;
}

.text-shadow {
    text-shadow: text-shadow: 0 1px 0 #000;
}

.background-white {
    background-color: #fff;
}


/* Borders */

.box-border-grey {
    position: relative;
}

@media (min-width: 340px) {

    .box-border-grey { /* TODO // Refactor on quote page */
        padding: 15px;      
        margin-bottom: 25px;
        background-color: #fff;
        border: 2px solid #efefef;
        border-radius: 4px;          
    } 

    .box-border--highlight {
        border-color: #02C9FF;
    }

}

.center-xs {
    text-align: center;
}

@media (min-width: 767px) {

  .center-xs {
      text-align: inherit;
  }
  

}

/* MOVE TO layout > _header.scss */

.so-sure-logo-dark {
    background: transparent no-repeat center top url("/images/logo/so-sure-logo-dark.svg");
    background-size: 130px;
    width: 130px;
    height: 30px;
}

.so-sure-logo-light {
    background: transparent no-repeat center top url("/images/logo/so-sure-logo-light.svg");
    background-size: 130px;
    width: 130px;
    height: 30px;
}

/*.so-sure-logo-xmas {
    background: transparent no-repeat center top url("/images/logo/xmas-full-logo.svg");
    background-size: 90px;
    width: 130px;
    height: 41px;
}

@media (min-width: 768px) { 

    .so-sure-logo-xmas {
      background-size: 130px;
      width: 130px;
      height: 41px;
    }
}*/



/* MOVE TO common > _global.scss */
h1, h2, h3,
.h1, .h2, .h3 {
    font-family: "Avenir LT Std 85 Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #202532;
}

h4, h5, h6,
.h4, .h5, .h6 {
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;    
    color: #202532;
}

/*.list-fa {
    padding-left: 30px;
    margin-bottom: 20px;
}

.list-fa li {
    position: relative;
}

.list-fa li .fa-lg {
    position: absolute;
    left: -30px; top: 4px;
}*/

/* Global Tools */


/* App Badges classes for stand alone section -  LEGACY??? Remove  */

.app-badge img {
  width: inherit;
}

@media (min-width: 992px) {
  .app-badge img {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .app-badge .text-left {
    text-align: center !important
  }
  .app-badge .text-right {
    text-align: center !important
  }
  .app-badge img {
    padding-top: 10px;
  }
}

/* Navigation: MOVE TO layout > _header.scss */

.navbar-default {
    z-index: 1000;
    margin-bottom: 0;
    border: 0;
    background: rgba(0,0,0,0.0);
    display: block;
}


.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding-top: 20px;
    color: #202532;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #3399ff;
}

.navbar-default .navbar-nav > li > a:focus {
    border-color: #202352 !important;
    color: #202352 !important;
}

.navbar-toggle {
    background-color: transparent;
    border: none;
}
.navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    border: none;
}

.cc-window {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.cc-window .cc-message {
    margin-bottom: 0 !important;
}

.cc-floating.cc-theme-classic {
    border-radius: 0;
}

@media (min-width: 991px) {
  .navbar-nav>li {
      margin: 0px 5px;
      padding: 0px 5px;
  }
}


@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
      background-color: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
      border: 2px solid #efefef;
      border-radius: 4px;
      position: absolute;
      width: 100%;
    }
    .navbar-default .navbar-nav> li> a {
        color: #3399ff !important;
    }
    .navbar-default .navbar-nav> li> a:hover {
        color: #2a303a !important;
    }
    .navbar-default .navbar-nav li> a.btn:hover {
        color: #2a303a !important;
        border: 2px solid;
    }
    .navbar .btn {
        display: none;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent !important;
    }
}

/* TEXT LINE BREAK */

.text-break {
    color: #202532;
    padding: 20px 0;
    font-family: "Avenir LT Std 85 Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
.text-break .line {
    border-bottom: 2px solid #efefef;
    display: inline-block;
    margin: -2px 10px 0;
    width: 35%;
    vertical-align: middle;
}

.text-break .line:first-of-type {
    margin-left: 0;
}

.text-break .line:last-of-type {
    margin-right: 0;
}


/* DOWNLOAD APP: MOVE TO components > _buttons.scss  */

#app-store {
    padding-top: 20px;
    text-align: center;
}
.download-app li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin-left: -25px;
}
.download-app img {
    width: 30%;
    padding-top: 20px;
}
@media (max-width:992px) {
    .download-app img {
        width: 30%;
    }
    .download-app .text-left {
        text-align: center;
    }
    .download-app .text-right {
        text-align: center;
    }
}
@media (max-width:543px) {
    .download-app img {
        width: 50%;
    }
}

/* BUTTONS: MOVE TO components > _buttons.scss  */

#app-store .btn-danger {
    color: #fff;
    background-color: #ff3300;
    border-color: #ff3300;
    margin: 20px;
}
#app-store .btn-danger:hover {
    color: #fff;
    background-color: #ff6666;
    border-color: #ff6666;
}


/* LOGIN: MOVE TO layouts > _pages.scss */

.swap-login-wrapper {
    margin-top: 40px;
}
.login-email .btn-primary, .login-digits .btn-primary {
  padding: 12px 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  width: 250px;
}
.login-email .btn-info, .login-digits .btn-info {
  padding: 12px 30px;
  border: 2px solid #202532;
  background: none !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: none;
  color: #202532;
  width: 250px;
}
.login-email .btn-info:hover, .login-digits .btn-info:hover {
  text-decoration: none!important
}
.login {
    padding-top: 100px;
    padding-bottom: 150px;
    min-height: 700px;
    text-align: center;
    height: 80%;
}
.login #username, .login #password, #fos_user_resetting_form_new_first, #fos_user_resetting_form_new_second {
    padding: 5px 15px 5px 15px;
    width: 300px;
    margin-bottom: 0;
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 2px solid #3399ff;
}
.login #password, #fos_user_resetting_form_new_second {
    margin-top: 0px;
}

.btn-facebook  {
    color: #fff !important;
    background-color: #4267B2 !important;
    padding: 15px;
    font-size: 16px;
}

.login .btn-facebook {
    margin-top: 60px;
}

.reset-error-box {
    border: 2px solid red !important;
}
.reset-error {
    font-weight: bold;
    color: red;
}
.reset-error li {
    list-style: none;
}
.flash {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.digits-container iframe {
  height: 200px;
}
@media (max-width: 543px) {
  .digits-container iframe {
    height: 250px;
  }
}

/* Download Now */

.download-now {
    background-color: #FFF;
    padding: 80px 20px 150px 20px;
    text-align: center;
    color: #202532;
}
.download-now p {
    color: #626B78;
}

/* Benefits */

.benefits img {
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Section Tools: MOVE TO common > _global.scss */

.section--pad {
    padding: 40px 0;
}

.align-middle {
    background-size: 100% auto;
    height: 100%;
    position: relative;
}

.align-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-height: 500px) {
    
    .align-middle {
        min-height: 450px;
    }

    .section--pad {
        padding: 60px 0;
    }    
    
}

.vertical-align-wrap {
    width: 100%;
    height: 80%;
    display: table;
}

.vertical-align-middle {
    vertical-align: top;
    display: table-cell;
}

@media (min-width: 563px) {

    .vertical-align-middle {
        text-align: center;
    }

}

@media (min-width: 767px) {

    .vertical-align-middle {
        vertical-align: middle;
    }  

}

.loading-overlay {
    width: 100%; height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

/* : MOVE TO components > _effects.scss */

.light-gradient {
  background: #Efefef; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #efefef , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #efefef , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.brand-gradient {
  background: #202532;
  background: -webkit-linear-gradient(to right, #000428 , #004e92);
  background: linear-gradient(to right, #202532 , #3399ff);
}
@media (max-width: 992px) {
  .brand-gradient {
    background: #202532;
    background: -webkit-linear-gradient(to bottom, #000428 , #004e92);
    background: linear-gradient(to bottom, #202532 , #3399ff);
  }
}
.alt-brand-gradient {
background: rgba(51, 153, 255, 1);
    background: -moz-linear-gradient(45deg, rgba(51, 153, 255, 1) 50%, rgba(0, 204, 255, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(50%, rgba(51, 153, 255, 1)), color-stop(100%, rgba(0, 204, 255, 1)));
    background: -webkit-linear-gradient(45deg, rgba(51, 153, 255, 1) 50%, rgba(0, 204, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(51, 153, 255, 1) 50%, rgba(0, 204, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(51, 153, 255, 1) 50%, rgba(0, 204, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(51, 153, 255, 1) 50%, rgba(0, 204, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#00ccff', GradientType=1);
}

/* MOVE TO components > _buttons.scss */

.btn-success {
    background-color: #80CE4D;
    border-color: #80CE4D;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #67A53E;
    border-color: #67A53E;
}

.btn-subtle {
    background-color: #8B97B5;
    border-color: #8B97B5;
}

.btn-subtle:hover,
.btn-subtle:focus {
    background-color: #8B97B5;
    border-color: #8B97B5;
    color: #fff;
}

.btn-rounded {
    border-radius: 100px;
    padding: 12px 30px;
}

.btn-rounded.btn-xs {
    padding: 5px 15px;
}

.btn-link {
    padding-top: 12px;
    padding-bottom: 12px;      
}

.btn-rounded.btn-sm {
    padding: inherit;
}

.btn-hollow {
    background: none;
    border-width: 2px;
    color: #3399ff; /* Bit hacky sort with addition of SASS */
}

.btn-hollow-subtle {
    color: #8B97B5;
}

.btn-arrow-left:after {
    content: '\f053';
    font-family: FontAwesome;
    position: absolute;
    /*left: 5px;  */
}

.btn-rounded.btn-arrow-left:after {
    left: 15%;
}

.btn-arrow-right:after {
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    /*right: 5px;  */
}

.btn-rounded.btn-arrow-right:after {
    right: 15%;
}

.btn-play-right:after {
    content: '\f04b';
    font-family: FontAwesome;
    position: absolute;
    /*right: 5px;  */
}

.btn-rounded.btn-play-right:after {
    right: 15%;
}

.btn-white {
    color: #fff;
}

@media (min-width: 379px) {

    .btn-hollow {
        margin-top: 0;
    }
}

.btn:focus {
  outline: none;
}

.explainer-video-thumb {
    margin: 30px 0;
    cursor: pointer;
    border: 2px solid #eee;
}

/* Main CTA: MOVE TO components > _buttons.scss  */

@media (min-width: 992px) {
.main-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 575px;
  }
}

/* Footer CTA: MOVE TO components > _buttons.scss / layouts > _footer.scss */

.footer-cta {
  color: #fff;
  padding: 40px;
}

.footer-cta h2 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer-cta .lead {
  margin: 0;
}

.footer-cta ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-cta li {
  display: inline-block;
}

a#open-intercom.btn.btn-info {
  padding: 12px 30px;
  border: 2px solid #fff;
  background: none !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: none;
  color: #fff;
  width: 155px;
}

a#get-quote-btn.btn.btn-primary {
  padding: 12px 30px;
  border: 2px solid #202532;
  background: #202532 !important;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: none;
  color: #fff;
  width: 155px;
}
@media (max-width: 1200px) {
  a#open-intercom.btn.btn-info {
    margin-top: 10px;
  }
  a#get-quote-btn.btn.btn-primary {
    margin-top: 10px;
  }
}

.dark-bg-link {
  color: #efefef !important;
}

.dark-bg-link:hover {
  color: #fff !important;
  text-decoration: underline;
}

@media (max-width: 992px){
.footer-cta .text-left {
    text-align: center !important;
  }
}

.error-page {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}

.error-page img {
  width: 10%;
  margin: 20px 0 30px 0;
}

/*Responsive table hack firefox*/
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.faster-claims-table td {
    padding: 20px !important;
}

ul.lead li {
    padding: 10px 0;
}

/* Fa list */
.fa-list-bullet {
    padding-left: 30px;
    margin: 15px 0;
}

.fa-list-bullet li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.fa-list-bullet .fa {
    position: absolute;
    right: 100%; top: 2px;
}

/* Cookie */
.cc-message {
    padding-right: 15px;
}

.cc-compliance {
    align-self: flex-start;
}

.cc-btn { 
    margin-top: 5px;
}

@media (min-width: 767px) {

    .cc-btn { 
        margin-top: 0;
    }

    .fa-list-bullet li {
        font-size: 22px;
    }
}

/* Hide the ProdPad Got Feedback button floating at bottom of page */
#pp-cfp-trigger {
    display: none !important;
}
