/* FOOTER: MOVE TO layout > _footer.scss */ 

.footer {
    position: relative;
    z-index: 100;
    padding: 20px 0 70px 0;
    background: #202532;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: "Avenir LT Std 45 Book", "Helvetica Neue", Helvetica, Arial, sans-serif;  
    text-align: center;    
    background: #202532;
    color: #fff;  
}

.footer hr {
    border: none;
    border-top: 1px solid #555f6e;
}

.footer a {
    color: #fff;
    opacity: 1;
    transition-property: color;
    text-decoration: none !important;  
    cursor: pointer;  
}

.footer a:hover {
    color: #3399ff;
}

.footer .so-sure-logo-light {
    margin: 0 auto 15px;
}    

@media (min-width: 992px) {

    .footer {
        text-align: left;
    }

}

/* In Partnership - Ext Banner: MOVE TO layouts > _footer.scss */
.in-partnership {
    text-align: center;
}

/* PRESS - Ext Banner: MOVE TO layouts > _footer.scss */

section.press {
    background: #ddd !important;
    padding: 20px 0;
    text-align: center;
}

.press h4 {
    margin-top: 15px;
}

.press img {
    max-width: 220px;
    margin: 0 auto;
}

@media (min-width: 768px) {

    .press img {
        max-width: 100%;
    }

}