{% set logo_image = 'happy' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your communication preferences.{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
		You recently requested a link to manage your communication preferences with so-sure.
	   </div>
	</div>
	{{ macros.end_table() }}
    {{ macros.email_button_table(url('optout_hash', {'hash': hash}), "Update Preferences", "Update Preferences")}}
{% endblock %}
