<p>
    Welcome {{ policy.user.name }}.
</p>
<p>
    Thank you for joining so-sure.  We're excited to have you onboard.
</p>
<p>
    Your policy is for {{ policy.phone }} and runs from {{ policy.start|date }} to {{ policy.end|date }}.
</p>
