<section class="banner py-5">
    <div class="container container-xtra">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <div class="mb-4 mb-lg-0 d-lg-flex align-items-lg-center">
                <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_app-icn.svg" class="d-none d-lg-inline lozad" alt="so-sure App Icon">
                <div class="banner__text text-center text-lg-left ml-lg-4">
                    <h4 class="text-white">Mobile insurance designed for you</h4>
                    <p class="lead text-white">Cover your phone in minutes </p>
                </div>
            </div>
            <div class="banner__controls text-center text-lg-left">
                <a href="#"
                   class="btn btn-outline-white watch-video btn-block-xs mr-sm-2"
                   data-event="watch-video-index-bottom-banner"
                   data-toggle="modal"
                   data-target="#sosure-video-modal"
                   data-src="https://www.youtube.com/embed/QEskwqsNgrQ">
                    <i class="far fa-play-circle fa-lg opacity-50 mr-1"></i>
                    Watch our Video
                </a>
                <a href="#" class="btn btn-white btn-block-xs get-a-quote disabled">Get a Quote</a>
            </div>
        </div>
    </div>
</section>
