<section class="comparison py-lg-5">
    <div class="container container-xtra py-5">
        <h2 class="h3 mb-3 text-primary text-center">What makes so-sure better than the rest?</h2>
        <p class="mb-5 text-center">Our customers love us – that's why thousands of customers have joined the so-sure family.</p>
        <div class="d-xl-flex justify-content-lg-center">
            <table class="table-list mx-auto table-list__insurers mb-5">
                <thead>
                    <tr>
                        <th class="table-list__header h4 text-white">Traditional Insurers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-dark text-white"><strong>4-18 days wait on average*</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-dark text-white"><strong>Cover starts after 14 days</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-dark text-white"><strong>Only phones purchased within 30 days are covered</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-dark text-white"><strong>You'll need to have a law degree to understand the terms</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4 border-fix">
                            <span class="table-list__icn table-list__icn-dark text-white"><strong>Unnecessarily expensive</strong></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-list mx-auto table-list__so-sure">
                <thead>
                    <tr>
                        <th class="table-list__header h4 text-white blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-light.svg" width="130px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-happy"><strong>24-72 hour replace/repair once claim approved</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-happy"><strong>Immediate cover</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-happy"><strong>Refurbished and second-hand devices up to 3 years old covered</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-happy"><strong>Plain English Terms &amp; Conditions</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-4">
                            <span class="table-list__icn table-list__icn-happy"><strong>We’re up to 40% cheaper</strong></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
