<section class="comparison py-lg-5">
    <div class="container-large py-5">
        <h2 class="h3 mb-3 text-primary text-center">What makes so-sure better than the rest?</h2>
        <p class="mb-5 text-center">Our customers love us – that's why thousands of customers have joined the so-sure family.</p>
        {% include 'AppBundle::Default/_comparisonTable.html.twig' %}
    </div>
</section>
