<section class="intro py-lg-5">
    <div class="container-large py-5">
        <div class="row">
            {# TODO: Needs copy #}
            <div class="col-md-6 col-lg-4">
                <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-smile.png" alt="so-sure - Simple Terms &amp; Conditions" width="180px" class="lozad">
                <h2 class="h5 text-primary">24-72 hour replace or repair</h2>
                <p class="mb-5">We aim to replace or repair your phone within <span class="text-nowrap">24-72</span> hours after your claim is approved</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_wallet-cashback.png" alt="so-sure - Up to 40% cheaper" width="180px" class="lozad">
                <h2 class="h5 text-primary">Up to 80% money back</h2>
                <p class="mb-5">Connect with friends and get rewarded when you and your connections don't claim</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <img data-src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_phone-qr.png" alt="so-sure - super quick cover" width="180px" class="lozad">
                <h2 class="h5 text-primary">Low excess from just &pound;50</h2>
                <p class="mb-5">Download the so-sure app and validate your phone to reduce your excess</p>
            </div>
        </div>
        <a href="#" class="btn btn-primary btn-block-xs get-a-quote disabled mb-5">Insure your phone in minutes</a>
    </div>
</section>
