{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% if app.user is not null and app.user %}

        <div class="login__card">
            Card
        </div>

    {% else %}

        <h4 class="text-blue1 text-center mb-1">Login to your account</h4>
        <h1 class="text-white text-center mb-4">Welcome Back!</h1>

        <div class="login__card">
            <div class="login__card__body">

                {# Account Kit #}
                <div class="login__account-kit">
                    <form method="get" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/" autocomplete="off">
                        <input type="hidden" value="+44" id="country_code" class="form-control" />
                        <input type="hidden" name="app_id" value="{{ fb_appid }}">
                        <input type="hidden" name="redirect" value="{{ app.request.schemeAndHttpHost }}/login/check-accountkit">
                        <input type="hidden" name="state" value="{{ accountkit_state() }}">
                        <input type="hidden" name="fbAppEventsEnabled" value=true>
                        <input type="hidden" name="debug" value=false>
                        <div class="form-group">
                            <label for="phone_number">Mobile Number</label>
                            {# TODO: Add validation for uk number as to match placeholder #}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fal fa-mobile-android fa-lg"></i></div>
                                </div>
                                <input placeholder="Enter Mobile Number" id="phone_number" name="phone_number" class="form-control" type="tel" />
                            </div>
                            {% if error %}
                                <label class="error mt-1">Sorry, we were unable to log you in. You can try again, or <a href="mailto:support@wearesosure.com" class="open-intercom">contact us</a> for help.</label>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-icon btn-grey arrow-right" disabled>
                                Login via SMS
                            </button>
                        </div>
                    </form>
                    <div class="login__divider"><span class="h6 text-grey">or login via</span></div>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-primary btn-square btn-shadow"><i class="fas fa-envelope fa-lg"></i> Email</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-facebook btn-square"><i class="fab fa-facebook fa-lg"></i> Facebook</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-google btn-square"><i class="fab fa-google fa-lg"></i> Google</a>
                        </li>
                        {% if feature_enabled('starling') %}
                            <li>
                                <a href="#">Starling</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                {# Email #}

            </div>
        </div>

    {% endif %}

{% endblock fos_user_content %}
