<table width="100%" class="table-comparison light-table d-table d-lg-none mx-auto">
    <thead>
        <tr>
            <th width="50%" class="blue-gradient">
                <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure" width="150px">
            </th>
            <th width="50%" class="b4">
                <div class="td-container">
                  Other insurers*
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-30 bb1" colspan="2" align="center"><strong>Renewal price</strong></td>
      </tr>
      <tr>
          <td class="wh">
            Same price at renewal
          </td>
          <td class="wh">
            Increases by > 25% every year
          </td>
      </tr>
      <tr>
        <td class="td-30 bb1" colspan="2" align="center"><strong>Hidden fees</strong></td>
      </tr>
      <tr>
          <td class="wh">
            <span class="d-flex align-items-center justify-content-center">
              <i class="far fa-times fa-2x text-primary mr-2"></i> NO fees
            </span>
          </td>
          <td class="wh">
            <span class="d-flex align-items-center justify-content-center">
              <i class="far fa-check fa-2x text-danger mr-2"></i> £10 - £30
            </span>
          </td>
      </tr>
      <tr>
        <td class="td-30 bb1" colspan="2" align="center"><strong>Excess</strong></td>
      </tr>
      <tr>
          <td class="wh">
            Only the one you choose
          </td>
          <td class="wh">
            ‘Compulsory excess’ above what you choose
          </td>
      </tr>
      <tr>
        <td class="td-30 bb1" colspan="2" align="center"><strong>Claim</strong></td>
      </tr>
      <tr>
          <td class="wh">
            Fast and easy
          </td>
          <td class="wh">
            Slow and painful
          </td>
      </tr>
      <tr>
        <td class="td-30 bb1" colspan="2" align="center"><strong>Money back</strong></td>
      </tr>
      <tr>
          <td class="wh">
            <span class="d-flex align-items-center justify-content-center">
              <i class="far fa-check fa-2x text-primary mr-2"></i> Up to 40% every year
            </span>
          </td>
          <td class="wh">
            <span class="d-flex align-items-center justify-content-center">
              <i class="far fa-times fa-2x text-danger mr-2"></i> Never
            </span>
          </td>
      </tr>
    </tbody>
</table>
<table class="table-comparison table-700 light-table d-none d-lg-block mx-auto mt-lg-5">
    <thead>
        <tr>
            <th width="300px" class="wh text-left"><span class="h5 text-primary">Features</span></th>
            <th width="300px" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure" width="150px"></th>
            <th width="300px" class="b4">Other insurers*</th>
    </thead>
    <tbody>
        <tr>
            <td class="bb1 text-left"><strong>Renewal price</strong></td>
            <td class="bb1">
              Same price at renewal
            </td>
            <td class="bb1">
              Increases by > 25% every year
            </td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Hidden fees</strong></td>
            <td class="wh">
              <span class="d-flex align-items-center justify-content-center">
                <i class="far fa-times fa-2x text-primary mr-2"></i> NO fees
              </span>
            </td>
            <td class="wh">
              <span class="d-flex align-items-center justify-content-center">
                <i class="far fa-check fa-2x text-danger mr-2"></i> £10 - £30
              </span>
            </td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Excess</strong></td>
            <td class="bb1">
              Only the one you choose
            </td>
            <td class="bb1">
              ‘Compulsory excess’ above what you choose
            </td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Claim</strong></td>
            <td class="wh">
              Fast and easy
            </td>
            <td class="wh">
              Slow and painful
            </td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Money back</strong></td>
            <td class="bb1">
              <span class="d-flex align-items-center justify-content-center">
                <i class="far fa-check fa-2x text-primary mr-2"></i> Up to 40% every year
              </span>
            </td>
            <td class="bb1">
              <span class="d-flex align-items-center justify-content-center">
                <i class="far fa-times fa-2x text-danger mr-2"></i> Never
              </span>
            </td>
        </tr>
    </tbody>
</table>