{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>Email sent!</h1>
    <p class="text-center">
        You should receive an email shortly with instructions on how to reset your password. Let us know if you don't recieve one.
    </p>
{% endblock %}
