{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <h1>Password reset request received</h1>
    <p class="text-center">
        If you have an account, you should receive an email shortly with instructions on how to reset your password.
    </p>
    <p class="text-center">
        If you don't receive an email, please check your spam/junk/promotions folders as sometimes these type of emails
        will wind up there.
    </p>
    <p class="text-center">
        To protect your account, we only allow one reset request every {{ tokenLifetime }} hours.
    </p>
    <p class="text-center">
        <a id="open-intercom" href="mailto:hello@wearesosure.com" class="btn btn-blue btn-pad">Need help?</a>
    </p>
{% endblock %}
