{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}

    <h1 class="text-white text-center mb-4">Computer says "No."</h1>

    <div class="login__card">
        <div class="login__card__body">
            <p>It looks like we've already sent you a password reset email recently. Please check your spam folder to see if its there.</p>
            <a id="open-intercom" href="mailto:hello@wearesosure.com" class="btn btn-outline-primary btn-block"><i class="fal fa-ambulance fa-lg"></i> Need help?</a>
        </div>
    </div>

{% endblock fos_user_content %}
