{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1>Computer says "No."</h1>
    <p class="text-center">
        It looks like we've already sent you a password reset email recently. Please check your spam folder to see if its there.
    </p>
    <p>
        If not, drop us an <a href="mailto:support@wearesosure.com">email</a> and a human will help you out!
    </p>
{% endblock fos_user_content %}
