{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel login__panel">
        <div class="panel-body">
            <h1 class="h2">Computer says "No."</h1>
            <p>It looks like we've already sent you a password reset email recently. Please check your spam folder to see if its there.</p>
            <p>If not, drop us an <a href="mailto:support@wearesosure.com">email</a> and a human will help you out!</p>
        </div>
    </div>
{% endblock fos_user_content %}
