{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>
        We've already sent you a password reset email recently.  Please check your spam folder to see
        if its there.
    </p>
{% endblock fos_user_content %}
