{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}

    <h1 class="text-white h2 text-center mb-4">Computer says "No."</h1>

    <div class="login__card">
        <div class="login__card__body">
            <p>It looks like we've already sent you a password reset email recently. Please check your spam folder to see if its there.</p>
            <div class="col-md-8 offset-md-2">
                <a href="{{ path('about_how_to_contact_so_sure') }}" class="btn btn-outline-primary btn-block">Contact Us</a>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
