{# TODO: Add JS Validation #}
{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

<h1 class="text-white text-center mb-1">Reset Password</h1>
<h4 class="text-columbia-blue-e text-center mb-4">Enter your email and we'll send you a reset link</h4>

<div class="login__card">
    <div class="login__card__body">
        <form action="{{ path('fos_user_resetting_send_email') }}"
              method="POST"
              class="fos_user_resetting_request"
              autocomplete="off"
              data-client-validation="{{ form_client_validation }}">
            <div class="form-group">
                <label for="username">Email Address</label>
                <input type="email" id="username" name="username" required="required" class="reset form-control" placeholder="Enter Email Address"/>
                {% if invalid_username is defined %}
                    <label class="error">Invalid email address</label>
                {% endif %}
            </div>
            <div class="form-group" >
                <input type="submit" value="Send me a link!" class="btn btn-success btn-block" />
            </div>
            <div class="form-group">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-primary btn-block"><i class="far fa-arrow-left"></i> back to login</a>
            </div>

            <input type="hidden" name="token" value="{{ csrf_token('default') }}" />
        </form>
    </div>
</div>
