<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <h2>Email me a reset password link</h2>
        {% if invalid_username is defined %}
            <p>Invalid email address</p>
        {% endif %}
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div class="form-group">
            <input type="submit" value="Reset my pasword" class="btn btn-success" />
        </div>
    </div>
</form>
