<div class="panel login__panel">
    <div class="panel-body">
        <h1 class="h2">Choose a new password</h1>
        <p>Make sure it contains a mixture of letters, numbers and special charachters.</p>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_reset login-box" autocomplete="off">
            <div class="reset">
                <div class="reset-error">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    <input id="fos_user_resetting_form_plainPassword_first" type="password" class="form-control input-lg {% if not form.vars.valid %} reset-error-box{% endif %}"
                        name="fos_user_resetting_form[plainPassword][first]" required="required" class="username" placeholder="New Password"/>
                </div>
                <div class="form-group">
                    <input id="fos_user_resetting_form_plainPassword_second" type="password" class="form-control input-lg{% if not form.vars.valid %} reset-error-box{% endif %}"
                        name="fos_user_resetting_form[plainPassword][second]" required="required" class="form-control password" placeholder="Confirm Password" />
                </div>
                <div class="form-group">
                    <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" value="{{ form._token.vars['value'] }}" />
                    <input type="submit" value="Set password" class="btn btn-blue btn-block btn-pad" />
                </div>
            </div>
        </form>
    </div>
</div>
