{# TODO: Add JS Validation #}
<h1 class="text-white h2 text-center mb-4">Choose a new password</h1>

<div class="login__card">
    <div class="login__card__body">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}"
              method="POST"
              class="fos_user_resetting_reset login-box"
              autocomplete="off"
              data-client-validation="{{ form_client_validation }}">
            <div class="reset-error">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                <label for="fos_user_resetting_form[plainPassword][first]">New Password</label>
                <input id="fos_user_resetting_form_plainPassword_first" type="password" class="form-control input-lg {% if not form.vars.valid %} reset-error-box{% endif %}"
                    name="fos_user_resetting_form[plainPassword][first]" required="required" class="username" placeholder="Enter New Password"/>
            </div>
            <div class="form-group">
                <label for="fos_user_resetting_form[plainPassword][second]">Confirm Password</label>
                <input id="fos_user_resetting_form_plainPassword_second" type="password" class="form-control input-lg{% if not form.vars.valid %} reset-error-box{% endif %}"
                    name="fos_user_resetting_form[plainPassword][second]" required="required" class="form-control password" placeholder="Confirm your Password" />
            </div>
            <p class="mb-4 text-center">Make sure it contains a mixture of letters, numbers and special characters</p>
            <div class="form-group col-md-8 offset-md-2">
                <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" value="{{ form._token.vars['value'] }}" />
                <input type="submit" value="Set password" class="btn btn-success btn-no-shadow btn-block" />
            </div>
        </form>
    </div>
</div>
