{% set logo_image = 'unhappy' %}
{% extends 'AppBundle:Email:base.html.twig' %}
{% import "AppBundle:Email:macros.html.twig" as macros %}
{% block title %}Your so-sure account is locked{% endblock %}
{% block body %}
	{{ macros.start_table() }}
	<h1>
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	</h1>
	<div style="font-size: 14px; text-align: left;">
	   <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
	   <div style="font-size: 14px; text-align: center;"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">
       Its been at least 90 days since your password was last changed.
       Due to so-sure security policy, your account is now locked. 
	   </div>
	</div>
	{{ macros.end_table() }}
	{{ macros.email_button_table(reset_url, "Reset my password", "Reset my password")}}
{% endblock %}
