// user-claim.scss

@import "../../vendor/bs4/functions";
@import "../../vendor/bs4/variables";
@import "../../vendor/bs4/mixins/breakpoints";
@import "../../abstracts/mixins";
@import "../../abstracts/palette";
@import "../../abstracts/variables";

.hero {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 6rem;
    text-align: center;

    @include blue-gradient-45;

    .container-large {
        position: relative;
        z-index: 4;
    }

    &:before {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        z-index: 1;
        background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background-mobile.svg');
        background-size: cover;
        opacity: 0.44;
        transform: scaleX(-1);
    }

    @include media-breakpoint-up(lg) {

        &:before {
            background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background.svg');
            transform: scaleX(-1);
        }
    }
}

.claim {
    position: relative;
    z-index: 100;
    transform: translateY(-50px);
}
