// user-cancel.scss

@import "../../vendor/bs4/functions";
@import "../../vendor/bs4/variables";
@import "../../vendor/bs4/mixins/breakpoints";
@import "../../abstracts/mixins";
@import "../../abstracts/palette";
@import "../../abstracts/variables";

body {
    // background-color: $athens-gray;
}

.hero {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 4rem;
    text-align: center;
}

.reason {
    text-align: left;
    display: none;
}

.cancel-text {
    max-width: 600px;
    margin: 0 auto;
}
