{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Unlike other insurers, our <strong>OnePlus 6 insurance</strong> gives you instant cover after you've purchased your phone, includes refurbished &amp; second-hand devices up to 3 years old, and we use plain-English Terms &amp; Conditions. Moreover, we're up to 40% cheaper and use a UK-based claims team. We got you, relax.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Coming as the most polished phone from this manufacturer at the time of launch (Techradar), <strong> OnePlus 6</strong> sees an all-glass design, generous screen size, dual cameras and doesn't focus on the luxury features that brands like Samsung and Apple pack their phones with but don't really get used by the owners.</p>
    <p>Worthwhile mentions are the premium look &amp; feel, 6.28-inch display with Optic AMOLED technology, Android 8.1, fingerprint and face unlock, Snapdragon 845 chip, 64GB of storage as standard &amp; a USB-C port. This is a neat little device.</p>
    <p><em>Psst! We give back up to 80% of the premium if you and your connections don't make a claim at the end of every policy year.</em></p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your OnePlus 6 for theft, loss, accidental damage &amp; more</h2>
    <p>Thanks to its premium design, the OnePlus 6 is a surprisingly common target for theft. The right insurance policy not only protects you financially if your handset goes missing - it also provides important peace of mind, letting you use your phone as intended.</p>
    <p>Our smartphone insurance makes it easy to cover your OnePlus 6 for theft, loss and accidental damage, among other situations, whether it's brand new or you've purchased it second-hand / refurbished, as long as it was sold into the UK market (models sold in China or other countries aren't covered). So if your phone is ever stolen or goes missing, we'll aim to provide a replacement in 24 to 72 hours after receiving your claim.</p>
    <p>You'll also get full coverage for any accidental damage to your device, such as a cracked screen or broken charging port to water damage, letting you get the most from your device without ever having to worry. Let's get your OnePlus insured!</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Phone Insurance that rewards you when you (and your connections) don't claim</h2>
    <p>With its fast processor, detailed screen and highly capable 4K camera, the OnePlus 6 is a real "flagship killer" that's worth protecting. And protecting your phone is our main concern indeed.</p>
    <p>Our OnePlus insurance makes it easy and cost-effective to cover your phone in case it breaks, it's stolen or you lose it. With a legalese-free, plain-English contract, you'll be completely aware of what is and isn't covered by your policy before you need to sign anything and we aim to provide a replacement or carry out a repair within 24-72 hours of approving your claim. We'll even cover your smartphone accessories, with cover for items with a value of up to &pound;100 including VAT.</p>
    <p>Worried about taking your phone abroad? No need to. We provide up to 90 days of worldwide cover for your mobile device, letting you use your handset out of the UK without any headaches. You'll even be covered for up to &pound;1,000 in unauthorised network charges for extra peace of mind.</p>
    <p>Moreover, if you and your connections don't make any claims in a policy year, you could receive up to 80% of your premiums as cash back.</p>
{% endblock %}
