{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">With so-sure you don't need a law degree in order to understand what the <strong>OnePlus 6T insurance</strong> covers, because we use plain English: comprehensive insurance coverage for a host of unexpected situations. We also cover refurbished and second-hand phones and we are up to 40% cheaper.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Considered the best OnePlus smartphone so far and one with the most customisable Android (<em>Forbes</em>), <strong>OnePlus 6T</strong> shows great performance and has outclassed <a href="https://wearesosure.com/mobile-insurance/oneplus-6">OnePlus 6</a> while still being a middle-class handset.</p>
    <p>6T comes with a stylish design, runs on OxygenOS &ndash; a versatile and smooth version of Android 9, a good quality camera, 6.41-inch AMOLED 19.5:9 Full HD+ display, top-notch fingerprint sensor, decent battery life, fast-charge, dual sim and Snapdragon 845 chip.</p>
    <p>Whether it's a brand-new phone or second-hand one, we'll insure it if it's for the UK market.</p>
    <p>Traveling? You're still covered for 90 days.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Simple and comprehensive insurance for your OnePlus 6T smartphone</h2>
    <p>The OnePlus 6T packs a powerful processor, pro-level camera and other great technology into one of the year's best looking designs, making it equally as appealing as a theft target as it is for tech enthusiasts and power users.</p>
    <p>Our insurance makes it very easy to cover your OnePlus 6T, it comes with a low excess and it represents good value for money, too. Whether your phone is shiny new or second-hand (up to three years old), we want you to rest assured that it's covered for a range of situations, including loss, accidental damage or theft. So you can keep in touch with friends and family, manage your daily schedule or just browse the web without having to worry.</p>
    <p>And because we believe that <a href="https://wearesosure.com/mobile-insurance/">good phone insurance</a> needs to be both simple and comprehensive, you're covered for accessories up to &pound;100 (inc. VAT) for theft of loss claims and if your OnePlus 6T phone breaks outside your warranty period. Let's get you started!</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Easily protect your device against accidental damage, theft or loss</h2>
    <p>Our OnePlus 6T cover makes it quite easy to protect your mobile device. We'll keep you covered for theft and loss as a standard, meaning you can use your handset with total confidence while you're out on the town, running errands or just living your life.</p>
    <p>If you're traveling outside the UK we still provide full cover for up to 90 days of global travel, letting you take your handset on holiday without any problems. You'll even be covered for up to &pound;1,000 in unauthorised network charges, further protecting you from scams and device theft.</p>
    <p>Can't go without your accessories? We know the feeling. We'll also cover you for up to &pound;100 worth of accessories, making it easy to replace your headphones, case and other essentials if they go missing.</p>
    <p>And if you ever need to make a claim, we're here to help without delay. We settle 74% of claims within 24 hours or less after approving them, and 85% of claims within three days. Our goal is simple: to get a replacement or repaired phone back into your hands, as soon as possible.</p>
    <p>Better yet, we'll help you save money. If you and your connections don't make any claims within a policy year, you could receive up to 80% of your premiums back as cash, letting you save more and spend less to keep your phone insured.</p>
{% endblock %}
