{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Instant &amp; comprehensive <strong>HTC Desire</strong> insurance - protect against accidental damage, stolen or lost phone, international travel, accessories up to the value of &pound;100 (inc VAT), plus more. Plain-English T&amp;Cs, UK-based claims team, immediate cover.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>First introduced in 2010, HTC has kept the Desire refreshed and updated over the years with a variety of new features. The latest HTC Desire smartphones mix functionality with affordable pricing, packing a great selection of features into a budget-friendly phone.</p>
    <p>While the Desire isn't the fastest smartphone on the market, it's large screen, 18:9 aspect ratio and modern styling make it an affordable favorite. Featuring 13 MP and 5 MP cameras, it's also far from a slouch in the photography department.</p>
    <p>Popular smartphones like the HTC Desire are best when they're insured, which is where we're here to help. With a 24-72 hour replacement and repair process and affordable pricing, we offer the ideal insurance cover to keep your HTC Desire insured against theft, loss and damage.</p>
    <p>We currently cover <strong>HTC Desire 620</strong> &amp; <strong>HTC Desire 626</strong>.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover HTC Desire 620 and 626 for theft, loss and accidental damage</h2>
    <p>The popularity of smartphones like the HTC Desire makes them a major target for thieves, who can easily sell them to unknowing consumers illegally. Our insurance cover keeps you protected against the financial loss of losing your smartphone, whether to a thief or just accidentally.</p>
    <p>We also cover you for accidental damage, meaning there's no need to stress about damage to your smartphone's screen, buttons or ports after dropping it. We'll even cover your accessories, with insurance for smartphone accessories valued at up to &pound;100.</p>
    <p>With a simple, plain-English agreement, you'll know exactly what's covered without ever having to worry about legalese or complex wording. We even aim to replace or repair your Desire in 24 to 72 hours after approving your claim, meaning you'll rarely be without your phone.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Our HTC Desire insurance cover is about peace of mind</h2>
    <p>From value to simplicity, we aim to give you peace of mind.</p>
    <p>Our smartphone insurance uses plain-English terms and conditions so that you're always aware of what's covered and what isn't, as well as pricing that's up to 40% cheaper than the competition. When you insure your smartphone with us, you'll be insured for theft, loss and any accidental damage to your phone.</p>
    <p>Our hassle-free claims process makes it easy to file your claim online, all without the complicated paperwork or long waiting periods of other insurers. Once approved, we work lightning fast and aim to get your replacement or repaired phone in your hands in 24 to 72 hours.</p>
    <p>And if you and your connections don't make any claims, you could even earn up to 80% of your premium back at the end of every year, helping you to save money. This makes our insurance up to 40% cheaper. You don't get this with other insurers.</p>
{% endblock %}
