{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>Samsung Galaxy J6 insurance</strong> that covers accidental smartphone damage, international travel, unauthorised network charges (up to &pound;1000, VAT inc), theft, loss &amp; much more. We customer-focused insurer that takes insurance to the next level.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Like all the models in the J series, <strong>Samsung Galaxy J6</strong> is a budget smartphone that caters to those who want to use their handset more like a mobile phone rather than a portable computer. This, however, doesn't make Galaxy J6 less than an impressive, low cost portable computer.</p>
    <p>Equipped with a Super-AMOLED display (720 x 1480 res), Exynos 7870 chipset, Android Oreo 8.0, a decent camera and battery and thankfully the good old 3.5mm headphones jack, this is a well-built phone that does well for the price.</p>
    <p><strong>so-sure's</strong> insurance starts from only &pound;6.48 a month - it's easy and affordable to insure your J6.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Comprehensive Samsung Galaxy J6 cover against the unexpected</h2>
    <p>Our Samsung Galaxy J6 cover makes protecting your mobile device a breeze. You'll be fully covered if your phone is stolen or goes missing, with our dedicated team always available to process a claim and get to work on providing a replacement.</p>
    <p>You'll also be covered for accidental damage, meaning there's no need to worry about breaking your phone's screen, dropping it in water or other common issues. We'll even provide cover for your favourite accessories with a value of up to &pound;100 including VAT.</p>
    <p>Love to travel? We'll keep you covered with up to 90 days of worldwide cover, letting you travel the world without any extra stress. You'll also be covered for up to &pound;1,000 worth of unauthorised network charges, giving you extra piece of mind if your phone is lost or stolen.</p>
    <p>Need to make a claim? We aim to provide a replacement phone or carry out a full repair within 24-72 hours of approving your claim, letting us put a working mobile device back in your hands as quickly as possible after any incident.</p>
    <p>Better yet, we'll help you save money on your insurance, with up to 80% of your premiums as cash back if you and your connections don't need to make any claims at the end of the policy year.</p>
{% endblock %}
