{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>Samsung Galaxy J3 insurance</strong> against accidental damage, theft, loss, water damage and a lot more. Insuring your Samsung phone with so-sure is painless and easy, up to 40% cheaper and we cover up to 3 years old second-hand and refurbished devices, too.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>First launched in 2016, the <strong>Samsung Galaxy J3</strong> is an affordable phone that offers all of the features you'd expect, as well as a few pleasant surprises. With a simple design and a large, highly readable screen, this smartphone is a great do-all device.</p>
    <p>With a quad-core processor, five-inch LCD display and 8 MP camera, the Galaxy J3 isn't a powerhouse by any definition. However, this phone's classic design and variety of features combine to make it one of the best affordable offerings around.</p>
    <p>Thanks to its expandable microSD storage, it's also an easy phone to upgrade over time to store your holiday photos, emails and other important data.</p>
    <p>Do you use a Galaxy J3? Our affordable smartphone insurance can help you keep your J3 covered for theft and loss, as well as for common accidental damage.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Galaxy J3 for theft, loss and accidental damage</h2>
    <p>Going a day, week or month without your smartphone after theft or loss can be a frustrating experience, especially if you rely on your phone for sending emails, working and keeping in touch with friends and family. We want to change that.</p>
    <p>Like other popular smartphones, the Galaxy J3 is a common target for thieves. Designed to provide all of the coverage you need, our smartphone insurance makes it easy to keep your phone insured against theft and loss. It may not be the most expensive smartphone, but this Samsung handset is still a cool phone with good specs.</p>
    <p>When you insure with so-sure you'll also receive coverage for accidental damage, meaning there's no need to worry if you accidentally drop your phone, as well as coverage for unauthorized network charges that can occur after your phone goes missing.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Galaxy J3 cover that's easy and comprehensive</h2>
    <p>We know how annoying it can be to go without your smartphone, which is why we always aim to provide you with a replacement phone or repair your damaged smartphone within 24-72 hours of approving your claim.</p>
    <p>Our cover also goes above and beyond to protect you as a smartphone owner. Not only are you covered if your Galaxy J3 gets stolen or goes missing &mdash; you're also covered for up to &pound;1,000 (VAT included) of unauthorized charges.</p>
    <p>Frequent traveller? We've got you covered with up to 90 days of global travel. Your insurance cover even includes accessories up to the value of &pound;100 (VAT included) in the event they're lost or stolen with your smartphone.</p>
    <p>Don't need to file a claim? You deserve a reward! We offer up to 80% cashback if you and your connections don't make any claims at the end of every policy year, making it even more affordable to keep your smartphone covered. Your peace of mind is our mission.</p>
{% endblock %}
