{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Gets <strong>Samsung Galaxy S7 insurance</strong> against the unexpected in minutes - instant comprehensive cover against a variety of situations to give you peace of mind, and it can be up to 40% cheaper. UK-based claims team, low excess, great customer care.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Introduced in 2016, the <strong>Samsung Galaxy S7</strong> offered lightning-fast performance when it first hit the market - performance that's held up well thanks to the phone's speedy octa-core CPU, 4 GB of RAM and powerful 3,000 mAh battery.</p>
    <p>Add a super crisp 5.1 inch AMOLED display, 4K camera and range of convenience sensors into the equation (the Galaxy S7 can sense everything from your fingerprint to your heart rate) and the S7 is still a cutting-edge piece of technology more than two years after its release.</p>
    <p>Are you a Galaxy S7 user? Our Samsung Galaxy S7 insurance makes it easier and more affordable than ever to cover your device for theft, loss and accidental damage, letting you use your phone without any stress or worries.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Galaxy S7 for theft, loss and accidental damage</h2>
    <p>Whether you use your Samsung Galaxy S7 for work, for keeping up with your friends and family or for both, we're here to make sure your device is covered. Our smartphone cover keeps your Samsung phone covered in any setting, letting you use it as intended with total confidence.</p>
    <p>As a flagship phone, the Galaxy S7 is a popular theft target. Our insurance covers your handset for theft and loss, meaning you'll be able to get a replacement if it's stolen or goes missing while you're out and about.</p>
    <p>You're also covered for accidental damage, meaning there's no need to worry if you drop your phone and crack the screen. We even provide cover for accessories with a value of up to &pound;100 (including VAT), meaning items like headphones and hands-free sets are also covered.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">so-sure insurance can be up to 40% cheaper than elsewhere</h2>
    <p>Worried about losing your Samsung device? We're here to help. We know how stressful it can be to lose your smartphone, which is why aim to provide a replacement or repair within 24-72 hours after we approve your claim.</p>
    <p>Not only will we cover your device while you're in the UK - we'll also protect you overseas. With our simple, plain-English insurance, you'll be covered for up to 90 days of global travel, making it easy for you to take your handset on holiday without ever having to worry.</p>
    <p>Better yet, we'll also provide coverage for up to &pound;1,000 (VAT inc) worth of unauthorized network charges, meaning you'll be protected against charges incurred after your phone goes missing.</p>
    <p>Don't need to make a claim? If you and your connections don't make any insurance claims, you could receive up to 80% of your premiums back at the end of every policy year, helping you save even more money on your smartphone insurance, something you don't get with other insurers. You can pay up to 40% cheaper than elsewhere.</p>
{% endblock %}
