{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Comprehensive <strong>Samsung Galaxy S8 Plus insurance</strong> against theft, loss, accidental damage and a lot more. Excess is as low as {{ lowest_excess }} for accidental damage when you validate your phone with our app. We believe insurance should be easy, cheap and clear.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Released in April 2017, Samsung Galaxy S8 Plus combines Samsung's modern design sense with a huge display, fast processor and a massive range of features. In other words, the S8+ is just what you would expect from a high-end, flagship Samsung device.</p>
    <p>With its 6.2 inch screen, octa-core Snapdragon 835 processor and 64-128 GB of storage space, the S8+ is packed with the latest tech. It's also a great phone for video, with 4K capabilities and a crisp, professional quality 12 MP, f/1.7 rear camera.</p>
    <p>Are you a fan of the S8+ too? Our smartphone insurance is the perfect way to cover your S8+ for theft, loss and accidental damage, letting you use your phone the way it was intended with total peace of mind.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Easy to cover your Galaxy S8+ for theft, loss &amp; accidental damage</h2>
    <p>Your Galaxy S8+ is more than just a phone, it's a place you store your memories, a tool for keeping in touch with friends and family, a business productivity tool and an essential part of your life. You have to care for it.</p>
    <p>It's also a major target for theft, unfortunately. Based on our internal claim data, the S8 Plus is one of the most claimed on handsets on the market, ranging in first place alongside the iPhone X as popular targets for theft.</p>
    <p>Our comprehensive, plain-English insurance lets you insure your S8+ phone without the headaches and legalese of a traditional insurer, allowing you to use your phone at home, out on the town and abroad without ever having to worry, so you can relax and focus on the stuff that matters.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">so-sure's Galaxy S8 Plus insurance is up to 40% cheaper than elsewhere</h2>
    <p>We're here to make insuring your mobile device as easy as possible. With our insurance, you'll be covered when you lose your phone, it gets stolen or suffers accidental damage (including water damage), meaning there's no need to worry about using your phone as intended while you're out and about.</p>
    <p>In addition to covering you while you're in the UK, we provide up to 90 days of worldwide cover, letting you travel without ever having to worry about your phone. You'll even be covered for any accessories with a value of &pound;100 (including VAT), as well as for &pound;1,000 (including VAT) of unauthorized charges. That's pretty neat.</p>
    <p>Not a lawyer? Don't worry, you don't have to speak fluent legalese to understand our simple, plain-English contract.</p>
    <p>To make insuring your phone even more affordable, we even offer cashback. If you and your connections don't make any claims throughout the year, you could receive up to 80% of your premiums back, helping you pay with up to 40% less than elsewhere on your mobile insurance.</p>
{% endblock %}
