{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">We believe insurance should be easy, clear and affordable; that's why we provide comprehensive <strong>Samsung Galaxy S8 insurance</strong> against theft, loss and a host of other situations and also offer an excess as low as {{ lowest_excess }} for accidental damage when you validate your phone with our app. Let's get started!</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Billed as the best phone your money can buy (Tom's Guide) when launched and unlike any other phone on the market (Techradar), the Samsung Galaxy S8 smartphone made a huge splash in 2017 and it's a superior piece of equipment.</p>
    <p>It has the looks, the hardware, the features, the generous display size and the superb camera (surpassed only by <a href="{{ path('phone_insurance_make_model', {'make': 'samsung', 'model': 'Galaxy-S9' }) }}">Galaxy S9</a>) which turned this phone into a premium one. S8 leads in terms of performance, display and image quality and even the battery life.</p>
    <p>Samsung Galaxy S8 is one the most insured Samsung smartphones at so-sure and its specs make an easy to understand argument for this.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Samsung Galaxy S8 is a fantastic handset, let's cover it!</h2>
    <p>Packed with great specs, all-screen front and solid hardware inside a sturdy, amazing design, Samsung Galaxy S8 made quite a splash when it came out, and rightly so. It is still a high-end mobile device that stands out from the crowd, kudos to you if you've picked this handset as your main phone.</p>
    <p>Unfortunately, its popularity and technical specifications also makes this Samsung phone a popular target for theft. And along with the <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-x'}) }}">iPhone X</a>, the Galaxy S8 is one of our most claimed-on models, making it one of the most likely to be stolen smartphones out there, our data shows.</p>
    <p>This is why we've designed our Samsung phone insurance to be comprehensive enough to cover a variety of unwanted situations, with theft, loss and accidental damage being covered as a standard. Because Galaxy S8 is so widely used, you're still covered if you buy it second-hand or refurbished (as long is it's sold for the UK market).</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Great insurance is easy to understand and starts immediately</h2>
    <p>Our Samsung Galaxy S8 insurance starts immediately and we use plain English, so you know exactly what's covered and under what conditions. But rest assured that it's comprehensive and all the regular stuff is covered, from loss and theft, to accidental damage such as cracked screens and liquid damage. Our Galaxy S8 cover is designed to keep you fully protected while you use your phone, letting you avoid the headaches and stress that can come with owning a high-end, flagship device.</p>
    <p>Using so-sure to insure your Samsung mobile device means that you could pay up to 40% less than in other places, you have your accessories (up to &pound;100 / VAT included) covered and even that you don't need to worry if you travel outside the UK, because we still have your back for up to 90 days of global traveling.</p>
    <p>Want more? You got it! You'll also be covered for up to &pound;1,000 worth of unauthorised network charges, helping you to avoid unexpected expenses if your handset gets lost or is stolen.</p>
    <p>If you need to make a claims, we pride ourselves on fast, efficient UK-based service, with 74% of claims settled within 24 hours and an aim of providing a replacement or repair in 24-72 hours after approving your claim.</p>
    <p>We'll even help you save money by offering up to 80% of your premiums back if you and your connections don't make any insurance claims at the end of the policy year. Let's do this!</p>
{% endblock %}
