{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>Samsung Galaxy S6 insurance</strong> with comprehensive coverage against the unexpected, to give you peace of mind that you're covered in case your phone is ever stolen, lost, breaks whilst out of warranty or suffers accidental damage right after you've purchased it.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Released in April 2015, the Samsung Galaxy S6 offers everything you'd expect from Samsung's flagship phone. It's fast, with an octa-core processor and 3 GB of RAM, stylish and packed with great features from Samsung's R&amp;D team.</p>
    <p>With features like 4K video recording, dual video calling and air gestures, the Galaxy S6 stands out from other phones released in 2015. Despite its age, this is a modern, powerful phone that's more than capable of keeping up with newer hardware.</p>
    <p>Do you use the Galaxy S6 as your daily driver? Our affordable smartphone insurance makes it easier and more affordable than ever to cover your Galaxy S6 for theft, loss and any accidental damage it incurs through regular use.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Samsung Galaxy S6 insurance against theft, loss and accidental damage</h2>
    <p>It's never fun to go without your smartphone, especially if it's lost or stolen. The right insurance cover not only protects you from the financial side of losing your phone - it also makes it easier to get back up and running with a new or repaired handset.</p>
    <p>Like other high-end flagship phones, the Galaxy S6 is a major theft target. Our insurance cover lets you use your S6 with total confidence, knowing that if it's lost or stolen, we'll provide a replacement.</p>
    <p>Not only will you be covered for theft and loss - you'll also be covered for accidental damage that occurs to your phone. We even provide coverage for phone accessories with a value of &pound;100 (including VAT) to give you extra peace of mind.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Galaxy S6 insurance is all about your peace of mind</h2>
    <p>We're fully aware of how difficult and stressful it can be to lose your phone, which is why our cover is designed to make replacing or repairing your Samsung Galaxy S6 as simple as possible in the event it's stolen, goes missing or breaks due to an accident.</p>
    <p>That's why our mission is to give you peace of mind, whatever you do with your phone and wherever you take it. As well as a complete replacement or repair for your smartphone, we'll also provide cover for &pound;1,000 (inc VAT) worth of unauthorized network charges. This means there's no need for you to stress about charges if your handset is stolen or goes missing, even if it's not brand new: refurbished &amp; second-hand Samsung Galaxy S6 phones of up to 3 years are covered as well.</p>
    <p>Not only will you be covered in the UK - you'll also be protected overseas. Our policies include up to 90 days of international coverage, letting you travel the world with full confidence that your phone is protected.</p>
    <p>We even offer up to 80% cashback at the end of every policy year if you and your connections don't need to make any claims, helping you to save even more money - this means that so-sure's insurance can be up to 40% cheaper than elsewhere.</p>
{% endblock %}
