{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Easy, fast and plain-English <strong>Samsung Galaxy J5 (2017) insurance</strong> that protects you against the unexpected; whether it's loss, theft, cracked screen or liquid damage, we got you covered. We do phone insurance differently.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Whilst the affordably priced all-rounder Samsung Galaxy J5 already looked amazing and behaved nicely for a budget phone in 2015, the <strong>Samsung Galaxy J5 2017</strong> version is nothing short of a marvel for the price (Expert Reviews).</p>
    <p>It comes with dual SIM slot, excellent performance and battery life, decent, improved camera, a 1.6GHz Exynos 7870 chipset, 2GB of RAM and a 5-inch 720p Super AMOLED screen which does most of jobs it should do, along with a graphic card that can effortlessly handle 3D scenes.</p>
    <p>We're great at insuring high-end and budget phones and we have a fantastic track record so far. Give us a try.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Easily insure your Galaxy J5 against theft, loss and accidental damage</h2>
    <p>Your phone is the centre of your digital life, storing everything from conversations with your friends and family to your photos, private files and more. If your phone goes missing or gets stolen, it can be a major setback that puts parts of your life on hold.</p>
    <p>Although it's no longer the newest handset on the market, the Samsung Galaxy J5 is still a popular smartphone. Unfortunately, its widespread use also makes it a major target for theft, both in the UK and abroad.</p>
    <p>Our smartphone insurance covers you if your Galaxy J5 gets stolen or lost, meaning you'll be able to quickly and easily replace your phone. You'll also be covered for accidental damage to your handset, from a cracked screen to water damage, broken buttons and more.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Peace of mind our comprehensive Samsung Galaxy J5 cover</h2>
    <p>Our Galaxy J5 cover makes it easy to use your phone at home and abroad without having to worry about theft, loss or accidental damage.</p>
    <p>Not only will you be fully covered for theft and loss of your phone &mdash; we'll also cover you for any lost or stolen accessories with a value of up to &pound;100 (VAT inc.). This means that if your favourite case or headphones go missing along with your phone, you'll be able to get a replacement.</p>
    <p>Love travelling? We've got you covered. Our mobile device insurance includes up to 90 days of worldwide cover for your handset and accessories, allowing you to travel the world without any extra stress about your phone.</p>
    <p>We'll even cover you for unauthorised network charges up to &pound;1,000 (VAT inc.), meaning there's no risk of unexpected bills if your phone is lost or stolen outside the UK.</p>
    <p>We'll even cover you for unauthorised network charges up to &pound;1,000 (VAT inc.), meaning there's no risk of unexpected bills if your phone is lost or stolen outside the UK.</p>
    <p>Better yet, if you and your connections don't make any claims at the end of the policy year, you could receive up to 80% of your premiums back as cash, helping you save even more while insuring your mobile.</p>
{% endblock %}
