{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Easy <strong>Samsung Galaxy S7 Edge insurance</strong> with comprehensive cover and UK-based claims team, in case you ever need it, to give you peace of mind. Accidental damage, theft, loss, water damage and a lot more - we got you covered nicely.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Introduced in 2016, the <strong>Samsung Galaxy S7 Edge</strong> combines a huge, edge-to-edge display with the fast processor of the S7. Named the "best phone of 2016" by countless technology magazines, the S7 edge is every bit as good today as it was when it was first released.</p>
    <p>With a 5.5 inch display and 12 MP f/1.7 camera, the S7 Edge is a dream come true for fans of photography and high-resolution video. It's also a lightning fast phone, with a quad-core CPU and impressive 4 GB of RAM.</p>
    <p>Do you use a Galaxy S7 Edge? Our smartphone insurance makes it easier than ever to cover your phone for theft, loss and accidental damage, giving you total confidence and peace of mind whenever you use your device.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Galaxy S7 Edge for accidental damage, theft, loss and more</h2>
    <p>Dealing with a lost of stolen smartphone can be a seriously frustrating experience, especially if you rely on your Samsung Galaxy S7 Edge for managing your work and keeping in touch with friends, family and colleagues.</p>
    <p>With its eye-catching design and premium build quality, the Galaxy S7 Edge is, understandably, a common target for theft. In fact, the S7 Edge ranks near the top of our most claimed-on models, beaten only by the newer iPhone and Galaxy S devices.</p>
    <p>Our insurance covers you for theft and loss, meaning there's no need to fret if your S7 Edge goes missing. We even cover you for accidental damage and accessories with a value of up to &pound;100 including VAT, meaning you'll be covered for broken screens and other common issues.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">so-sure insurance is different: we reward you when you don't claim</h2>
    <p>Few things are more frustrating than dealing with a lost of stolen handset. Our plain-English insurance policies mean you'll be covered anywhere you use your phone for theft, loss and even accidental damage to your device.</p>
    <p>Not only do we provide cover in the UK - you'll also be covered for up to 90 days of global travel. We'll even cover you for up to &pound;1,000 of unauthorized network charges, as well as for stolen or missing accessories with a value of up to &pound;100 including VAT.</p>
    <p>Didn't need to make any claims this year? We offer up to 80% of your premiums back as cash at the end of the policy year if you and your connections don't make any claims, helping you to save more of your money while keeping your device fully covered. This means so-sure can be up to 40% cheaper than elsewhere.</p>
{% endblock %}
