{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>Samsung Galaxy Note 9 insurance</strong> with excellent coverage against the unexpected, to give you peace of mind that you're covered if your phone is stolen, lost, gets broken whilst out of warranty or suffers accidental damage right after you've purchased it.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>With massive storage space, powerful battery, top-quality large screen and water carbon fiber cooling system, Samsung Galaxy Note 9 is a treat for many Samsung smartphone fans. An expensive treat, too.</p>
    <p>Whilst all models in this line are known for being cutting-edge (Tom's Guide), this one is equipped with a 4000mAh battery, 6GB/8GB RAM, it comes with a superb dual camera, stereo speakers &amp; some cool software features directly from Samsung.</p>
    <p>This high-end smartphone needs proper insurance coverage, but we got you fully covered.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Galaxy Note 9 for theft, loss and accidental damage</h2>
    <p>The newest Samsung Galaxy Note 9 packs in features, from its advanced performance and all-day battery to its huge edge-to-edge screen - at 6.4 inches, it's the largest Infinity Display ever installed on a Samsung mobile.</p>
    <p>All of this adds up to a powerful phone, as well as a major target for theft. Just like the Galaxy S-series smartphones and Apple's iPhone, the Galaxy Note models account for a big share of our insurance claims.</p>
    <p>Our smartphone insurance makes it easy to keep yourself covered in the event your Galaxy Note 9 is stolen or gets lost. We'll also cover you for accidental damage, such as a cracked screen or a non-working phone that's been exposed to water.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About our comprehensive Samsung Galaxy Note 9 insurance</h2>
    <p>so-sure's Samsung Galaxy Note 9 insurance makes it easy for you to use your phone as intended, all without any stress or headaches.</p>
    <p>If your handset is lost or stolen, we'll provide a replacement. Our professional, efficient UK-based claims team aims to complete all claims within 72 hours of approval, giving you a new, working phone without any frustrating delays.</p>
    <p>You'll also be covered for accidental damage, meaning there's no need to worry if your phone get dropped, exposed to water or damaged in any other way.</p>
    <p>Add coverage for your favourite accessories with a value of up to &pound;100 including VAT into the equation and you're covered from every angle, letting you use your Galaxy Note 9 without any worries.</p>
    <p>Frequent traveller? We'll keep you covered for up to 90 days of travel outside the UK. You're also covered for up to &pound;1,000 of unauthorised network charges, meaning there's no risk of any surprise bills after your phone goes missing.</p>
    <p>We'll even make insuring your device as affordable as possible by offering up to 80% of your premiums back as cash if you and your connections don't make any claims, helping you save even more on your <a href="{{ path('phone_insurance') }}">mobile device insurance</a>.</p>
{% endblock %}
