{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Get your <strong>Samsung Galaxy S9 Plus insurance</strong> against theft, loss, accidental damage (including liquid damage) &amp; much more. Whether it's a refurbished or a second-hand mobile, as long it's less than 3 years old, you're covered. Get started in minutes.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Samsung's Galaxy S series has always impressed, but the strong{Samsung Galaxy S9 Plus} takes things to a new level. With its lightning fast processor and stunning dual aperture camera, the S9 Plus combines incredible performance with pro-level photography abilities.</p>
    <p>Love taking photos? The S9+ features two different aperture cameras - an f/1.5 camera for close-ups, nighttime shots and portrait photos, and a versatile f/2.4 camera for daylight use, casual snapshots and super slow-mo videos.</p>
    <p>Can't let go of your Galaxy S9 Plus? Our comprehensive smartphone insurance makes it easier than ever to cover your device for theft, loss and accidental damage, letting you use your S9+ without any headaches.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Use your Galaxy S9 Plus creatively, because we have your back</h2>
    <p>Losing your smartphone can be a major headache, especially if you depend on your device to keep in touch with friends &amp; family, stay on top of your workload and keep track of your daily schedule, to-do list and other important tasks. We know how it is.</p>
    <p>As a high-end, flagship phone, the Galaxy S9+ is a major target for theft. That's why our mobile insurance covers your Samsung Galaxy S9 Plus for theft, loss and even accidental damage, meaning you'll be insured if your phone goes missing or breaks after it's dropped or otherwise damaged.</p>
    <p>We also cover accessories with a value of up to &pound;100 including VAT, meaning there's no need to worry if you lose your favourite case, headset or other important accessories at the same time as your mobile device. You do your stuff, because we have your back.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">We believe phone insurance should be easy, inexpensive and clear</h2>
    <p>Our Samsung Galaxy S9+ cover includes everything you need to use your handset with total confidence, from full cover for your phone to coverage for your favorite mobile accessories.</p>
    <p>In addition to our mobile device coverage, we provide cover for up to &pound;1,000 worth of network charges, meaning there's no need for you to worry after your device goes missing. We'll even cover you overseas while you're traveling the world, with up to 90 days of global coverage.</p>
    <p>Need to make a claim? We're here to help, and fast. We aim to provide a replacement or repair within 24-72 hours of approving your claim, with 74% of our claims completely settled within 24 hours or less. Moreover, our claims team in based in the UK and they're our colleagues, not strangers.</p>
    <p>Don't need to make a claim? To make your insurance as affordable as possible, we offer up to 80% of your policy as cashback if you and your connections don't make any claims throughout the year. You don't get this with other phone insurers.</p>
{% endblock %}
