{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>so-sure</strong> provides comprehensive <strong>Samsung Galaxy S9 insurance</strong> against theft, loss, accidental damage and a lot more; so you can relax and make full use of that amazing camera, because you've covered. Insuring your phone is easy &amp; affordable and we're up to 40% cheaper than others.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Coming on strongly on a market where the predecessor, <a href="{{ path('quote_make_model', {'make': 'samsung', 'model': 'Galaxy+S8'}) }}">Samsung Galaxy S8</a>, made an incredibly good impression and a loud splash, some argued that <strong>Samsung Galaxy S9</strong> didn't actually brought many features to the table. But that one thing that it had brought was the <em>amazing</em> camera.</p>
    <p>This phone's camera was praised for the uncompromising quality of the images and colours in rich light. In fact, it's been <strong>rated one of the top smartphones for cameras ever</strong> (Trusted Reviews), with a f/1.5 aperture camera, so far considered the brightest aperture ever on a smartphone.</p>
    <p>Use this high-end phone as much as you want, because we're providing great insurance that's comprehensive and starts immediately.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Samsung Galaxy S9 is quite a handset, let's cover it!</h2>
    <p>With its modern design, edge-to-edge display and unique dual camera, Samsung Galaxy S9 is quite a jewel and easily stands out from other popular phones. This phone has left some competitor brand models behind with its powerful camera but it packs some powerful and good technology as well under its shiny covers.</p>
    <p>Unfortunately, its popularity also makes Galaxy S9 a common target for theft, a victim of its own success. Our data shows that the high-end, S-series Galaxy models are some of the most claimed-on smartphone models, making it important to keep your handset covered if you use a Galaxy S9 as your everyday phone.</p>
    <p>Our <a href="{{ path('phone_insurance') }}">smartphone insurance</a> is comprehensive and it covers your S9 against theft and loss, so you'll be able to quickly get a replacement if your phone goes missing. You'll also be covered for any accidental damage that occurs to your phone, such as water damage or a cracked display.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">We insure thousands of customer phones each year</h2>
    <p>We insure thousands of customer phones each year and we want to insure your Samsung Galaxy S9 phone as well.</p>
    <p>Our process makes insuring your smartphone a breeze, with full coverage for theft, loss and any accidental damage that might happen to your handset. Because your device is personal and unique, you'll also be covered for phone cases, headphones and other accessories with a value of up to &pound;100 including VAT.</p>
    <p>This means you can use your Samsung phone with confidence, whether you're out shopping, enjoying a night out with friends or traveling the world.</p>
    <p>We know first hand how difficult it can be to go without your phone, which is why we aim to provide a full repair or replacement phone in 24-72 hours after approving your claim, should it ever come to that. Our team fulfills 85% of all claims within 72 hours, with an impressive 74% of claims completed in 24 hours or less.</p>
    <p>Need to travel outside the UK? We'll keep you fully covered with up to 90 days of international cover. You'll also be protected if someone makes calls from your phone or uses your internet data with coverage for up to &pound;1,000 worth of unauthorised network charges.</p>
    <p>Better yet, we'll help you save money, with up to 80% of your premiums available as cashback if you and your connections don't make any insurance claims when the policy year ends. Piece of mind is what we're looking to offer.</p>
{% endblock %}
