{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Instant, low excess <strong>Samsung Galaxy S5 Mini</strong> &amp; <strong>S5 Neo insurance</strong> against theft, accidental damage, loss, out-of-warranty breakdown and much more, for new and second-hand phones, even when out of warranty. Great customer communication, UK-based claims team.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>With its speedy quad-core Snapdragon 801 processor, impressively long battery life and sharp, 4K-capable rear-facing camera, the Samsung Galaxy S5 is just as appealing today as it was in 2014 when Samsung first revealed it to the world.</p>
    <p>Add unique, cool features like a built-in heart rate monitor into the equation and the S5 isn't just another Samsung flagship &mdash; it's an impressive phone that's held up well over the years since its launch.</p>
    <p>Are you a Galaxy S5 user? Our cost-effective smartphone insurance provides full cover for your S5 for theft, loss and accidental damage, all with a range of extra benefits you won't find with a traditional insurer.</p>
    <p>We currently cover these two models: <strong><a href="{{ path('quote_make_model_memory', {'make': 'samsung', 'model': 'Galaxy+S5+mini', 'memory': 16}) }}">Samsung S5 Mini</a> and <a href="{{ path('quote_make_model_memory', {'make': 'samsung', 'model': 'Galaxy+S5+neo', 'memory': 16}) }}">Samsung S5 Neo</a>.</strong></p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Insure Galaxy S5 Mini and Galaxy S5 Neo for theft, loss and accidental damage</h2>
    <p>Like other S series Galaxy smartphones, the Galaxy S5 Mini and Galaxy S5 Neo are popular smartphones for thieves to target. In fact, our own internal data shows that S series Samsung phones result in the highest number of claims, along with Apple's iPhone range.</p>
    <p>If you use a Galaxy S5 as your day-to-day phone, it's essential that you keep it protected. Our smartphone insurance covers your phone for theft and loss, as well as any accidental damage that occurs while you're using it. We also provide cover for accessories with a value of up to &pound;100 including VAT, as well as for unauthorized charges of up to &pound;1,000 (VAT inc.). You're even protected when you go abroad, with cover for up to 90 days of worldwide travel.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Comprehensive Samsung S5 Mini &amp; Neo insurance that you can rely on</h2>
    <p>Losing your phone can be a stressful experience. Our smartphone insurance keeps you fully covered in any situation, letting you easily file a claim online if your Galaxy S5 Mini &amp; Neo get stolen or go missing.</p>
    <p>We'll also cover you for accidental damage, meaning you can file a claim and schedule a full repair if your phone has a cracked screen or water damage.</p>
    <p>We aim to provide a replacement phone or carry out a full repair on your phone in 24-72 hours after approving your claim, meaning you'll never be without your phone for long. A full 85% of our claims are completed within 72 hours, with 74% of claims filled in 24 hours or less.</p>
    <p>Lost your phone abroad? No worries. With up to 90 days of global cover, you'll be covered even if you lose your smartphone outside the UK. We'll even cover up to &pound;1,000 (VAT inc.) of network charges if your phone is used after it goes missing.</p>
    <p>Better yet, if you and your connections don't make any claims, you could receive up to 80% of your premiums as cashback at the end of every policy year.</p>
{% endblock %}
