{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>so-sure's</strong> insurance for <strong>Samsung Galaxy Note 8</strong> aims to give you peace of mind that you're covered in case your phone gets stolen or lost, it breaks immediately after you've bought it or suffers water damage. We also cover accessories up to &pound;100 (inc VAT) for theft or loss claims.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Samsung Galaxy Note 8 is a pricey but terrific smartphone with an extraordinary set of features, ranging from the dual cameras, embedded stylus and brilliant design to wireless charging and large screen, making it the most feature-packed phone at time of launch (CNET).</p>
    <p>Interesting mentions are the top-notch screen (Quad-HD+ Super AMOLED) and the stunning cameras (typical for the Note lineup), 6GB RAM, wireless &amp; fast charging, decent battery, 64GB storage, Android 7.1.1, water resistant &amp; a boatload more.</p>
    <p>We see some serious insurance demand for this smartphone, because people love it and we can understand why. Are you ready to insure it?</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Smart Cover for your Samsung Galaxy Note 8 against theft, loss &amp; accidental damage</h2>
    <p>From its massive screen to its sleek, near bezel-less design, everything about Samsung Galaxy Note 8 screams flagship and we can certainly understand why. It's not just the design and the generous screen size that turns the heads, what's under the hood is just as compelling and attractive to power users and everyone else alike.</p>
    <p>The Galaxy Note and S-series handsets rank alongside the iPhones as our most claimed-on models, which means they are extremely popular among consumers but also very common targets for theft. High-end smartphones do come with this tag attached, unfortunately.</p>
    <p>But no reason to worry, because insuring expensive Samsung phones against a wide range of unexpected situations is our bread and butter and we're truly experts in providing peace of mind when it comes to this.</p>
    <p>Our smartphone insurance lets you use your Note 8 with total confidence that you're covered in the event it gets stolen or goes missing. You'll also be covered for accidental damage, such as water damage, a cracked screen or damage to the phone's buttons, ports or stylus.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Low excess phone insurance that starts immediately</h2>
    <p>From keeping in touch with friends and family to staying on top of your workload, your mobile is an essential item for managing your life. Our comprehensive Samsung Galaxy Note 8 insurance makes it easy to use your phone the way it was intended, all without the headaches that sometimes come with owning a smartphone.</p>
    <p>We'll keep you fully covered for theft and loss, meaning you'll have a replacement phone in your hands without delay if your Galaxy Note 8 is ever lost or stolen. You'll also be covered for cases, headphones and other accessories with a value of up to &pound;100 including VAT.</p>
    <p>Dropped your phone? No worries. Our insurance includes cover for accidental damage to your device, from water exposure to a cracked screen.</p>
    <p>We'll keep you fully insured whether you're at home or abroad with up to 90 days of worldwide cover. You'll also be covered for unauthorised network charges of up to &pound;1,000 to help protect you if your phone goes missing overseas, especially out of EU.</p>
    <p>And if you ever need to make a claim, our UK-based claims team will try to provide a replacement or carry out a repair within 72 hours of approving your claim, with 74% of all claims we approve completed in 24 hours or less.</p>
    <p>You can even receive up to 80% of your premiums back as cash at the end of the policy year if you and your connection's don't make any claims. This is our <a href="{{ path('faq') }}faq#social-insurance-and-reward-pot">social insurance</a>.</p>
{% endblock %}
