{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Low excess, fast Huawei P9 insurance against theft, accidental damage (including liquid damage), loss, theft and plenty more, for new and second-hand/refurbished phones up to 3 years old &ndash; even if they're out of warranty. We got you covered.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Stylish and built with power users in mind, the <strong>Huawei P9</strong> combines the styling of a flagship smartphone with a powerful dual camera system co-engineered with Leica.</p>
    <p>Released in mid 2016, this great-looking flagship phone is a versatile favourite that still performs well today.</p>
    <p>Specs-wise, the P9 is no slouch. It has a Kirin 955 octa-core processor powered by a large, long-lasting 3,000 mAh battery. Paired with its dual-lens Leica camera system, the P9 offers more than enough power and capacity to let you snap great photos all day.</p>
    <p>A versatile, powerful phone deserves great insurance. With our cost-effective, plain-English smartphone insurance coverage, you can cover your P9 for theft, loss and even accidental damage, letting you use the way it was intended without any headaches.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Smart cover for your P9 against theft, loss and accidental damage</h2>
    <p>With its stylish design and impressive dual-lens camera, the P9 looks the part as a high-end smartphone. Unfortunately, like other flagship phones, this also makes it a popular target for thieves seeking models that can easily be resold.</p>
    <p>Our smartphone insurance covers your P9 for theft and loss, meaning you'll be insured if it's stolen or goes missing. You'll also be covered for accidental damage, letting you use your P9 without having to worry about accidentally breaking the screen, buttons or ports.</p>
    <p>Like to travel? You're in luck! We'll keep you covered wherever you are, with coverage for up to &pound;1,000 worth of unauthorised network charges as well as 90 days of global protection every year.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Here's our comprehensive Huawei P9 cover</h2>
    <p>Losing your smartphone can be a major headache. We understand how frustrating and difficult it can be to deal with a lost or stolen smartphone, which is why we aim to deliver a replacement in 24-72 hours after approving your claim if your phone gets stolen or goes missing.</p>
    <p>Our mobile device insurance starts immediately, it's easy to aplly and make a claim (UK-based claims team) and it's quite comprehensive too.</p>
    <p>Broken phone? Not to worry &mdash; we also aim to complete all repairs within 24-72 hours, letting you get your favourite smartphone back as quickly as possible.</p>
    <p>We also cover refurbished and second-hand Huawei P9 phones, up to 3 years old, that were sold for the UK market.</p>
{% endblock %}
