{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Easy &amp; fast <strong>iPhone 8 insurance</strong> against cracked screens, liquid damage, loss, theft, out of warranty breakdown and much more. We are a customer-focused insurer with clear T&amp;Cs and up to 80% cheaper. You know phones, we know insurance.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p><strong>iPhone 8</strong> has earned a steady reputation for its performance &ndash; most impressive processor so far for Apple phones (<em>Trusted Reviews</em>) and some very neat features which beat <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-6s'}) }}">iPhone 6S</a> and <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-7'}) }}">iPhone 7</a>, both in terms of hardware and software.</p>
    <p>Worthwhile mentioning are the wireless charging option, the augmented reality (AR) feature in iOS, improved camera and display, louder speakers and, of course, the improved WiFi and cellular reception. A treat for geeks and regular users alike.</p>
    <p>Did we mention how big we are on plain-English insurance terms and cost-effective packages for iPhones? From loss and theft to cracked screens and out-of-warranty breakdowns, we cover most situations, so you can relax.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Comprehensive insurance cover for your iPhone 8 that starts immediately</h2>
    <p>Thanks to its sleek, stylish design and great technology, the iPhone 8 is one of the most popular handsets targeted for theft. Our insurance makes it easy to cover your iPhone for theft, loss and even accidental damage.</p>
    <p>We offer full coverage for the iPhone 8, meaning that you'll be able to file a claim and receive a replacement if your handset is lost or stolen. You'll even be covered for any accidental damage to your iPhone, such as a broken screen or water damage to the phone's internal components.</p>
    <p>Not only do we cover your phone - we cover your accessories too. Our insurance also covers your favourite mobile accessories with a value of up to &pound;100 (inc VAT), letting you keep your headphones, hands-free kit and other essentials protected.</p>
    <p>Bought an up to 3 years old second-hand iPhone 8 online? You are still covered.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Get peace of mind with a down-to-earth insurer</h2>
    <p>Losing your iPhone 8 can be a major headache, especially if you use your phone to store your photos and keep in touch with your friends and family. Our iPhone 8 cover makes dealing with a lost or stolen handset an easier and less stressful experience.</p>
    <p>If you lose your mobile device, we'll aim to provide a replacement in 24-72 hours of approving your claim. Damaged your phone accidentally? Our team will aim to perform a full repair within 24-72 hours, helping to get your phone back in your hands as quickly as possible.</p>
    <p>Love to travel? Whether you're exploring Europe or relaxing on a beach in an exotic destination further away, your phone and accessories will be covered for up to 90 days of travel outside the UK. We'll even cover you for unauthorised network charges up to a value of &pound;1,000 (inc VAT).</p>
    <p>Better yet, you could get up to 80% of your premiums as cashback if you and your connections don't make any insurance claims at the end of the policy year, helping to make your mobile insurance more affordable than ever.</p>
    <p>Thinking of taking a trip around the world? Our insurance covers up to 90 days of international travel, so rest assured that your device is protected.</p>
{% endblock %}
