{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Our comprehensive <strong>iPhone XR insurance</strong> covers accidental damage, stolen or lost phones, international travel and even out of warranty breakdowns, among other unexpected situations. We make insurance easy, claims easier and we're up to 40% lower-priced &amp; well-rated.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p><strong>iPhone XR</strong>is the most remarkable phone released by Apple in 2018, all things considered (TechRadar). The first thing that came to attention with this iPhone model is the better than brand-average battery, then &ndash; of course &ndash; the price, considering the hardware phones in the X series have.</p>
    <p>Specs and features wise, XR has a splendid design with vibrant colours, large and bright 6.1-inch screen, Apple's A12 Bionic chip &ndash; fastest processor in a phone (Tom's Guide), excellent audio quality and that long-lasting battery, among others.</p>
    <p><em>Psst! so-sure insurance also covers accessories of up to &pound;100 (inc VAT) for theft or loss claims.</em></p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">We offer fantastic 5⭐ insurance for your Apple iPhone XR</h2>
    <p>Can't live without your <strong>iPhone XR</strong>? We can't blame you, we're mad about it as well. As one of Apple's flagship devices, the iPhone XR attracts plenty of attention, making it one of the most commonly targeted models for smartphone theft in the UK. What's not to like about it?</p>
    <p>That's why our mobile insurance covers your iPhone against theft, loss and accidental damage (including water damage), letting you use it with confidence at home, at work and out and about. If your phone gets stolen or goes missing, we'll make sure you have a replacement ready to use as soon as possible.</p>
    <p>We'll also cover your accessories with a value of up to &pound;100 (VAT inc), meaning there's no need to worry if your favourite headphones, case or other items go missing along with your phone.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Comprehensive insurance that you can rely on</h2>
    <p>We know how difficult it can be to live without your phone, which is why our insurance coverage is designed to get your iPhone XR back into your hands as quickly as possible. This is what good insurance should aim to do.</p>
    <p>If your iPhone XR is stolen or goes missing, we'll aim to provide a replacement in 24-72 hours after approving your claim. We settle 74% of all claims within 24 hours and 85% in 72 hours or less, giving us a great track record of fast, efficient service.</p>
    <p>Got a damaged iPhone XR? If your phone's screen, port or other features are broken after an accidental drop or exposure to water, we'll try to provide a full repair.</p>
    <p>Holiday time? We provide cover for up to 90 days of international travel every year, meaning that you can use your iPhone XR out of the UK without having to worry. We even cover up to &pound;1,000 (VAT inc) worth of unauthorised network charges.</p>
    <p>Don't need to make any claims? We can provide up to 80% of your premiums back as cash if you and your connections don't make any claims at the end of the policy year, helping you save even more while keeping your device covered. You don't get this with other insurers.</p>
{% endblock %}
