{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Comprehensive low excess <strong>iPhone 7 Plus insurance</strong> against the unexpected; from accidental damage, loss &amp; theft, to accessories (up to &pound;100, VAT inc), unauthorised network charges (up to &pound;1000, VAT inc) and much more. We got you covered.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Released in September 2016, the iPhone 7 showcases everything that's cool about Apple. It's big and easy to use, with a 5.5 inch LED-backlit IPS LCD display. It's lightning fast, with a 2.43 GHz quad-core processor that still holds its own today.</p>
    <p>It's also packed with camera technology, from the pair of 12 MP front cameras (capable of 4K video recording) to the crisp and stylish 7 MP selfie camera. Add up to 256 GB of storage into the equation and the iPhone 7 Plus is still a versatile, powerful phone long after its release.</p>
    <p>Want to keep your iPhone 7 Plus protected? Our simple, plain-English insurance plans cover your iPhone for everything from theft and loss to accidental damage, helping you to use your iPhone with confidence.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your iPhone 7 against thieves, loss and damage</h2>
    <p>Worried about losing your iPhone? All iPhone models are hot targets for thieves thanks to their high-end technology and great resale values. Our insurance cover lets you protect your iPhone from theft and loss, letting you use it as intended without having to worry.</p>
    <p>You're also covered for accidental damage, meaning there's no need to worry about common iPhone 7 Plus problems like cracked screens or damaged ports. Our cover even insures your accessories, with coverage for up to &pound;100 of value if they're lost or stolen.</p>
    <p>Not the type for legalese? Not to worry. Our simple, plain-English agreement tells you exactly what you're getting before you commit to anything, helping you stay on top of what's covered when you insure your iPhone.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">so-sure's iPhone 7 Plus insurance is comprehensive is starts immediately</h2>
    <p>Your smartphone is an essential part of your life. That's why we offer simple, plain-English insurance cover that starts immediately and makes it easy to protect it from thieves, loss and accidental damage without the headaches of a traditional insurance policy.</p>
    <p>With prices up to 40% cheaper than the competition, our iPhone 7 Plus insurance lets you insure your smartphone without a hefty price tag. We're also lightning-fast, with an aim of providing replacements or repairs in 24-72 hours of approving your claim.</p>
    <p>In short, you won't be without your iPhone for long if gets stolen, lost or damaged, even if your phone is second-hand / refurbished (up to 3 years old), as long as it was sold for the UK market. Accessories? Covered still for accessories up to the value of &pound;100, VAT included. Travel? You bet! 90 days of travel around the world is included in your insurance.</p>
    <p>We also offer a range of rewards for you and your connections if you don't make a claim, allowing you to earn up to 80% of your premium back every policy year.</p>
{% endblock %}
