{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Compared to more expensive models, <strong>iPhone SE</strong> is not less powerful, but being a smaller phone (that's also fantastic-looking and comes packed with some excellent features) makes it more affordable. It only takes a few minutes to get it insured, so get started below.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Best described as a dinky phone, one of the main reasons buyers are looking to buy (and insure) the <strong>iPhone SE</strong> is the affordability of this model. After that, whilst being smaller is a valid selling point for some, the fact that it comes packed with some brilliant features has definitely raised interested eyebrows and made this Apple phone popular.</p>
    <p>Worthy mentions: powerful processor (A9 dual-core), great call quality, the same impressive camera as <a href="{{ path('phone_insurance_make_model', {'make': 'apple', 'model': 'iphone-6s'}) }}">iPhone 6s</a> (allowing for 4k video recording at 30 fps), 2 GB of RAM and an above average battery life.</p>
    <p>All things considered, this handset is value for money and with our social insurance scheme where you get up to 80% cashback every year when you and your friends don't claim, you're in for a treat.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Insure your Apple iPhone SE for loss, theft and accidental damage (including liquid damage)</h2>
    <p>From your photos, videos and memories to important conversations with your friends, family members and colleagues, losing your iPhone SE often can also mean losing a huge amount of important personal files and other data. That's quite a bummer.</p>
    <p>Our cost-effective insurance lets you cover your Apple iPhone SE for theft and loss, letting you use it with total confidence. We'll even cover you for accidental damage (water damage included), meaning there's no need to worry if you drop your iPhone SE and break the screen, button or ports.</p>
    <p>Lost your favourite headphones or other accessories along with your iPhone? We'll cover your accessories with a value of up to &pound;100 including VAT, giving you full confidence that your phone and other essentials are protected. We have your back, so you can relax and focus on stuff that matters.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Hassle-free Phone Insurance that's easy to understand and up to 40% cheaper</h2>
    <p>Our hassle-free insurance is the perfect partner for your iPhone SE. Designed to keep your device protected, we made the terms as simple as possible, using plain-English so you know what you're buying without speaking legalese. Good phone insurance always starts with this.</p>
    <p>Lost your device? We aim to provide a replacement or repair within 24-72 after approving your claim, making it as easy as possible for you to get back up and running, with 74% of our claims completed in 24 hours or less.</p>
    <p>Going abroad? You'll be happy to know that you're covered for up to 90 days of global travel every year, letting you use your phone outside the UK without ever having to worry. We'll even cover you for up to &pound;1,000 of unauthorised network charges.</p>
    <p>Don't need to make a claim? You're in for a treat: if you and your connections don't make any claims, you could receive up to 80% of your policy back as cash, making it even more affordable to insure your iPhone SE. Let's get you started.</p>
{% endblock %}
