{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Fast and easy <strong>iPhone 6S insurance</strong> that's comprehensive enough to cover the unexpected and it's effective immediately after the purchase. Damaged, lost or stolen phone? You're covered. Second-hand or refurbished device up to 3 years old? Still covered!</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>People are quite keen to use the latest iPhones on the market, but oftentimes you can do most of the things you need to do with an older model and pay less for this privilege.</p>
    <p>This generation of Apple phones was a great improvement when compared to all other previous models and broke a new record for Apple in 2014 by selling an impressive 10M units in the first weekend alone (Cult of Mac), then <strong>iPhone 6s went on to become the most popular iPhone ever</strong> (Newzoo Data). 4 years later, these iPhones still rock and are very much in use.</p>
    <p>Like all things that can be important to your everyday life, these handsets are worth insuring and we've always believed in making it as easy as possible for you to both insure and claim.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">The modern styling, resistance and technical specs made iPhone 6s a popular phone</h2>
    <p>While it's no longer the newest iPhone on the market, the iPhone 6s modern styling, resistance, technical specs and huge popularity made it a common target for theft, unfortunately. And going without your mobile phone can be a major annoyance - we know, especially if you depend on it for getting work done and staying in touch friends and family.</p>
    <p>This is why one of our focus points was to make mobile device insurance easier than ever to cover iPhones for theft, loss and even accidental damage, all while being up to 40% cheaper than other insurers on the market.</p>
    <p>Should your iPhone 6s ever get lost or stolen, our simple, plain-English claims process will make it easy for you to get a replacement. We even cover liquid damage to your phone, so you don't have to worry if you drop your iPhone is exposed to water.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Whether used for work or for fun, iPhone 6S should be properly insured</h2>
    <p>Whether you use your iPhone 6S exclusively for work or for keeping in touch with the important people in your life, we understand how frustrating it can be to suddenly go without it.</p>
    <p>Our low excess iPhone 6S insurance cover is designed to make dealing with a lost, stolen or damaged iPhone as easy as possible right from the beginning. We aim to provide a replacement phone or complete repair in 24-72 hours if you need it, and give you up to 80% of your money back if you and you connections don't make a claim at the end of the policy year.</p>
    <p>We settle more than 85% of claims in less than 72 hours after approving them, with 75% of our claims approved in 24 hours or less. In short, if your phone goes missing, you won't be without your handset for long.</p>
    <p>You'll also be covered for lost or stolen accessories up to a value of &pound;100 including VAT, as well as up to &pound;1,000 in unauthorised network charges. We'll even cover you overseas, with up to 90 days of global coverage every year.</p>
{% endblock %}
