{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Excellent <strong>iPhone XS insurance</strong> that's 5⭐ rated, comprehensively protects you against unexpected situations and is up to 40% cheaper than elsewhere. If you need to make a claim, our UK-based claims team offers a smooth, fast and pain-free process.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Can't live without your <strong>iPhone XR</strong>? We can't blame you, we're mad about it as well. As one of Apple's flagship devices, the iPhone XR attracts plenty of attention, making it one of the most commonly targeted models for smartphone theft in the UK. What's not to like about it?</p>
    <p>Specs-wise, this mobile phone is terrific, as all models in the X series; improved performance (A12 Bionic chip), uses &ldquo;Neural Engine&rdquo; &ndash; a system that learns how you use your phone, it's incredibly responsive, has outstanding cameras and superb audio quality. A superior product overall.</p>
    <p><em>Psst! Our insurance also covers phones of up to 3 years old, including second-hand and refurbished handsets.</em></p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">We offer fantastic 5⭐ insurance for your Apple iPhone XR</h2>
    <p>With its all-screen design and flagship hardware, the iPhone XS is one of the most desirable smartphones available now. It's also a common target for theft, with the high-end iPhone models racking up more claims than any other handsets in our database.</p>
    <p>Can't live without your iPhone? We're here to help. Our affordable insurance makes it easy to cover your iPhone XS for theft and loss, meaning you'll be able to quickly and easily replace it, should it go missing in action.</p>
    <p>We'll also cover you for accidental damage, meaning you don't need to worry if you drop your phone, get it wet or run into any other common mechanical issues. Even your favourite accessories with a value of up to &pound;100 including VAT are covered. So let's get started and give you peace of mind.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Don't let a damaged or lost phone to ruin your holidays</h2>
    <p>Losing your phone can be a frustrating, stressful experience. Dealing with a slow and inefficient claims process can be even worse. Our claims process is designed to help offer a replacement phone as quickly as possible if your device goes missing or gets stolen.</p>
    <p>We aim to provide a replacement phone or complete a repair within 24-72 hours of approving your claim. Our efficient, results-focused UK-based claims team completes 74% of claims within 24 hours, with 85% of claims completed in 72 hours or less.</p>
    <p>Lost your handset outside the UK? Your policy includes up to 90 days of cover for travel outside the UK, meaning you can enjoy your holidays without having to worry about your phone. You're even covered for up to &pound;1,000 worth of unauthorised network charges.</p>
    <p>And because we know you love getting a good deal, we offer up to 80% of your premiums as cashback if you and your connections don't need to make any claims, helping you save even more while keeping your favourite mobile device fully covered.</p>
{% endblock %}
