{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>iPhone XS Max insurance</strong> from so-sure is different; of course we cover accidental damage, theft, loss and a lot more, but we also return up to 80% of your premium back at the end of every policy year if you &amp; your connections don't make a claim at the end of the year. Let's get started!</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p><strong>iPhone XS Max</strong> is the most expensive Apple smartphone to date. But if you've bought this handset, you know what it can do and you're probably already in love with it &ndash; we sure are.</p>
    <p>It comes with a marvelous camera that takes fantastic photos even in low light, uses the smug-level of performance A12 Bionic processor, has a delicious 6.5-inch screen and a battery that lasts longer than iPhone XS' and it simply looks gorgeous. Apple phone fans were naturally delighted.</p>
    <p><strong>so-sure</strong> understands what this phone may mean to you (and your pocket) and we want you to relax, because our insurance really has your back.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">If you have the right phone, you need the right insurance - let's talk!</h2>
    <p>Whether you use your iPhone XS Max to keep in touch with friends and family or as a work tool, losing it can be a major headache, we know that. That's why we provide the right insurance for it &ndash; you'll find it easy and painless to get back up and running in the event your iPhone is lost or gets stolen (which does happen given that iPhone XS Max is one of the most popular devices from Apple).</p>
    <p>Whether you use your iPhone XS Max to keep in touch with friends and family or as a work tool, losing it can be a major headache, we know that. That's why we provide the right insurance for it &ndash; you'll find it easy and painless to get back up and running in the event your iPhone is lost or gets stolen (which does happen given that iPhone XS Max is one of the most popular devices from Apple).</p>
    <p>As a standard, you're covered for accidental damage, meaning you'll be able to get your handset fixed if it develops a broken screen or suffers from water damage. We even provide coverage for your favourite accessories with a value of up to &pound;100 (including VAT).</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Straightforward, plain-language, 5⭐ rated iPhone XS Max insurance for peace of mind</h2>
    <p>Our iPhone XS Max cover is designed to make protecting your iPhone as easy as possible. We use a straightforward, plain-language contract without the confusing legalese that's common in other insurance agreements, meaning you'll always know what you're signing up for.</p>
    <p>We also aim to provide a replacement or repair within 24-72 hours after approving your claim to help you get back up and running as soon as possible.</p>
    <p>Need to travel outside the UK? We've got you covered, for sure. Our mobile device insurance keeps your iPhone XS Max covered worldwide for up to 90 days, letting you enjoy your holidays without any headaches. We'll even cover you for up to &pound;1,000 worth of unauthorised network charges, if you ever need it.</p>
    <p>If you don't need to make any claims, we'll help you save. We offer up to 80% of your premiums as cash back if you and your connections don't make any insurance claims during a policy year, helping you to save even more when you insure your handset.</p>
{% endblock %}
