{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Universally praised for its display, camera and build quality, <strong>iPhone X</strong> is a brilliant piece of technology that simply raised the bar in terms of smartphone design and user experience. A great phone deserves great, 5 stars rated, comprehensive insurance &amp; easy to understand contract terms. That's us.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Starting with the display and ending with the sensor "notch" at the top of the screen, the iPhone X represents a step forward for the smartphone industry and it's easily one of the most impressive smartphones around.</p>
    <p>Interesting features: 5.8-inch Super Retina OLED display - the best screen on an iPhone (<em>Techradar</em>), A11 Bionic CPU processor, 3 GB RAM (1GB more than the <a href="https://wearesosure.com/phone-insurance/iphone-8">iPhone 8</a>), wireless charging and the Face ID technology.</p>
    <p>Great phones need great insurance and that's exactly what we're specialised on. With our 24-72 hour replace/repair once the claim is approved, instant cover after purchase and up to 80% of your premium returned if you and your connections don't make a claim at the end of the policy year, we're right up the iPhone alley.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Comprehensive Phone Insurance that starts immediately</h2>
    <p>Losing your iPhone X can be a hugely frustrating situation, especially if you rely on your phone - like we do - to keep in touch with friends, family and colleagues. Our smartphone insurance makes it easier to bounce back after your device is lost, stolen or accidentally gets damaged.</p>
    <p>With our comprehensive insurance, you'll be fully covered for theft or loss, letting you rest easy if your phone suddenly goes missing. We also provide cover for any accidental damage that happens to your iPhone, such as a cracked screen or accidental water damage.</p>
    <p>Can't live without your mobile accessories? We've got them covered too, with cover for up to &pound;100 worth of accessories for your mobile device and up to &pound;1,000 of unauthorised network charges if your phone goes missing.</p>
    <p>Let's get you started.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">With great iPhone X Insurance, comes great responsibility</h2>
    <p>Worried about losing your Apple iPhone X? We're here to help. Our hassle-free claims process (and our UK-based claims team) makes it fast and easy to get a replacement if your iPhone X goes missing or is stolen while you're out and about, running errands or traveling abroad.</p>
    <p>Your peace of mind is our mission.</p>
    <p>We aim to provide a replacement or perform a complete repair for your handset in 24-72 hours after approving your claim. Our fast, efficient team completes 74% of claims in 24 hours or less, meaning you'll have a new or repaired phone in your hand without having to wait.</p>
    <p>Need to travel outside the UK? We'll still keep you covered. Our mobile insurance also covers 90 days of worldwide travel every year, meaning there's no need to worry if you lose your phone outside the UK. We'll even cover you for up to &pound;1,000 worth of unauthorised network charges.</p>
    <p>Better yet, we'll help you to save money on your mobile insurance. If you and your connections don't make any claims, you can receive up to 80% of your premiums back as cash, giving you more money to spend on the things you love.</p>
{% endblock %}
