{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Cheap and easy iPhone 6S Plus insurance to protect your mobile against accidental damage, loss, theft, out-of-warranty breakdowns and much more. Our low excess insurance also covers second-hand &amp; refurbished 6S Plus phones up to 3 years old.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Launched in late 2015, the <a href="https://wearesosure.com/mobile-insurance/iphone-6s">iPhone 6S</a> combines a 5.5 inch screen with the sleek design and great performance you'd expect from an Apple device. With an LED-backlit IPS LCD screen, 16-128 GB of internal storage and 2 GB RAM, the <strong>iPhone 6S Plus</strong> is a great all-round phone meant to take its predecessor to the next level.</p>
    <p>Add features like a dual-core CPU, six-core graphics GPU and long-lasting 2750 mAh battery into the mix and the iPhone 6S Plus is still no slouch, even years after its original release. It's also a great phone for photographers, with a set of 12 MP and 5 MP f/2.2 cameras.</p>
    <p>Whether the iPhone 6S Plus is your main or secondary phone, we've got you covered. Our plans cover everything from out-of-warranty breakdowns to theft, loss and common iPhone issues such as broken screens.</p>
    <p>With plain-English insurance terms, it's never been easier to keep your iPhone 6S Plus fully protected.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Protect your iPhone 6S Plus from theft, loss and damage</h2>
    <p>iPhones are a major target for smartphone thieves, making it essential that your phone is fully protected. Our simple, value-focused iPhone 6S Plus insurance cover makes it easier than ever to use your device with full confidence that it's protected from theft and loss.</p>
    <p>Our phone insurance plans include accidental damage, meaning you'll be covered for common problems like cracked screens or damage to your phone's battery. We even cover a wide range of iPhone accessories with a value of up to &pound;100 with a loss or theft claim.</p>
    <p>Better yet, there's no need for you to have a lawyer's vocabulary to understand our terms. With our simple, plain-English agreement, you'll know exactly what you are and aren't covered for as soon as you start your contract.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About so-sure's iPhone 6S Plus insurance cover</h2>
    <p>We don't think smartphone insurance needs to be complicated. That's why our plans aren't full of complicated legalese and ambiguous language. Instead, we'll tell you exactly what you'll get when you insure your iPhone 6S Plus, from excesses to what's covered. And you should know that quite a few things are covered indeed; whether you travel around the world for pleasure or business, we'll make sure to keep your phone covered for up to 90 days, your accessories of up to &pound;100 and unauthorised network charges of up to &pound;1000.</p>
    <p>We aim for 24-72 hour replacement or repair once your claim is approved, meaning you'll never be without your iPhone 6S Plus for long if your phone is stolen, goes missing or suddenly stops working.</p>
    <p>so-sure also covers refurbished and second-hand phones up to three years old that you may have purchased from eBay and other similar websites, as long as they were sold for the UK market.</p>
    <p>Great insurance is what we do and our mission is your peace of mind, regardless how you choose to use your 6S Plus. With our low excess, comprehensive, instant cover and a UK-based claims team that tries to get you sorted as soon as possible, you have every reason to start insuring your IPhone with us. Let's get started!</p>
{% endblock %}
