{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>Apple iPhone 7 insurance</strong> ready in minutes: insure against accidental damage, theft, loss and a lot more, even for second-hand or refurbished phones up to 3 years old. We also cover accessories up to the value of &pound;100 (inc VAT) for theft or loss claims.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p><strong>iPhone 7</strong> is one of the best-sold &amp; insured mobile phones; packed with impressive hardware, is water resistant, stylish, fast, longer battery life than their predecessor. This baby needs insurance.</p>
    <p>Boasting a good quality camera that works great in low light, dual speakers, waterproof, robust design, Apple A10 Fusion chip, and a 4.7-inch screen, among others, this is the cheapest iPhone on Apple's official website &amp; stores (TechRadar).</p>
    <p>With so-sure insurance you get immediate cover after purchase but also peace of mind with our UK-based claims team.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Comprehensive phone insurance from a down-to-earth insurer</h2>
    <p>It's only naturals to be worried about losing your iPhone, we understand. Launched in late 2016, the iPhone 7 is still a very desirable phone that attracts no shortage of attention from Apple fans, techies and less technical users alike. It's sleek, powerful and also rather fragile.</p>
    <p>But no need to worry about that with our insurance package, as we make it simple and affordable to cover your device against theft, loss and even accidental damage. If your iPhone gets stolen, goes missing or stops working, you'll have comprehensively covered and you can quickly get a replacement or schedule a repair.</p>
    <p>In addition to covering your iPhone 7, you'll be fully covered for lost or stolen accessories with a value of up to &pound;100 including VAT. We even cover you for unauthorised network charges worth up to &pound;1,000, giving you full peace of mind for most situations.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Simple to insure, simple to understand, simple to claim</h2>
    <p>Our goal is simple indeed: to make insuring your iPhone 7 quick, easy and stress-free. Our insurance policies use plain-English language whilst leaving out the unnecessary complicated terminology of other insurers, letting you know exactly what you're getting before you sign up. We want you to be happy about your choices.</p>
    <p>If your device &ndash; new, refurbished or second hand &ndash; is ever lost or stolen, we'll aim to provide a replacement or repair within 24-72 hours of approving your claim. Our fast, UK-based claims team completes 74% of claims in 24 hours or less and 85% of claims within 72 hours of approval.</p>
    <p>Do you travel often? We'll keep you covered no matter where you are in the world, with 90 days of global coverage to help you travel with confidence. If you and your connections don't need to make any claims, you could even receive up to 80% of your premiums as cash back. This is <a href="{{ path('faq') }}#social-insurance-and-reward-pot">social insurance</a> and you can only get it from <strong>so-sure</strong>.</p>
{% endblock %}
