{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Wide-ranging <strong>iPhone 8 Plus insurance</strong> against theft, loss, accidental damage and a lot more, including for second-hand &amp; refurbished phones up to 3 years old. Instant cover after purchase, plain-English T&amp;Cs, excellent ratings. Get started in minutes.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Because after all, who couldn't be? With a 5.5 inch backlit IPS LCD display, an incredibly fast six-core CPU and a timeless design that's 100% Apple, there's no shortage of things to enjoy about the iPhone 8 Plus.</p>
    <p>Introduced in September 2017, the iPhone 8 Plus is a large, user-friendly phone that's a dream for photographers. With dual 12 MP cameras (one wide, the other telephoto), the iPhone 8 Plus is capable of recording full 2160P 4K footage at a buttery smooth 60 frames per second.</p>
    <p>Add Apple's timeless iPhone design philosophy, a dust/water resistant body and cool features like wireless charging into the equation and the iPhone 8 Plus is a great do-everything phone, especially for fans of iOS.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">One easy way to keep your iPhone 8 Plus protected</h2>
    <p>Few things are as frustrating as losing your smartphone. One easy way to keep your iPhone 8 Plus protected is by getting great insurance.</p>
    <p>Our plain-English iPhone insurance coverage makes it very easy to cover your iPhone 8 Plus for theft and loss, helping you to use your smartphone without feeling paranoid about the unexpected.</p>
    <p>You'll also be covered for accidental damage to your iPhone 8 Plus, meaning there's no need to fret about cracked screens, broken ports or other common issues. We've got you well and truly covered from every possible angle.</p>
    <p>Unlike other insurers, our plans are written in simple, straightforward English, meaning you don't need a law degree to know that your phone is protected. We even offer 80% of your insurance back as cash if you and your connections don't make a claim at the end of the policy year, to help make insuring your phone more affordable.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Our iPhone 8 Plus insurance is all about your peace of mind</h2>
    <p>Our goal is simple: to help you use your iPhone 8 Plus without having to worry about theft, loss or accidental damage. Peace of mind and freedom to use your device as you see fit.</p>
    <p>When you insure your iPhone with us, you'll know exactly what's covered before you make any commitments. Our simple, straightforward insurance covers all of the things you need to be on the look for as an iPhone owner, from outright theft to accidental loss.</p>
    <p>You'll also be covered for up to &pound;100 (VAT included) if your iPhone accessories are stolen, go missing or stop working as a result of accidental damage. Moreover, your iPhone insurance even covers unauthorised network charges of up to &pound;1000 (VAT included) &ndash; you don't get this with most insurers.</p>
    <p>We know how important it is to always have your smartphone available, which is why we aim for 24-72 hour replacement or repair as soon as your claim is approved. Did we also mention that our claims team is based in the UK? That's right, language won't be a barrier and quality customer care is one of core values.</p>
{% endblock %}
