{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p>Comprehensive, instant and easy <strong>Huawei Mate 10 Pro</strong> insurance: get started in minutes, covers second-hand &amp; refurbished phones up to 3 years old and unauthorised network charges up the value of &pound;1000 (inc VAT) as well. We got you covered.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>It's tall, thin and stylish, with an 18:9 OLED display measuring six inches from one corner to the other. Released in late 2017, the <strong>Huawei Mate 10 Pro</strong> pairs a powerful processor to a fantastic screen for a phone that's equal parts performance, portability and versatility.</p>
    <p>There's lots to like about the Mate 10 Pro. Its camera takes amazing photos in any light, with a Leica lens and AI-powered bokeh. Its battery is ideal for power users, with a 4000 mAh capacity and some of the fastest charging of any mid-range smartphone.</p>
    <p>Want to cover your smartphone against theft, loss and damage? As specialists in smartphone insurance, we're here to make owning your phone easy, with 24-72 hour replace and repair for claims, a hassle-free claims process and comprehensive coverage.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Keep your Mate 10 Pro covered for theft, loss and damage</h2>
    <p>Thanks to its large screen and great range of features, the Mate 10 Pro is a popular target for thieves.</p>
    <p>Our smartphone insurance covers your smartphone for theft and loss, letting you use your phone without ever having to feel unprotected. We'll also cover you for accidental damage, meaning there's no need to worry about damaging your smartphone after a drop. You'll even be covered for lost or stolen accessories with a value of up to &pound;100.</p>
    <p>Frequent traveller? Not to worry. We offer international coverage for up to 90 days of holidays and other travel, meaning you'll be covered against theft, loss and accidental damage even if you're outside the UK.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About our Mate 10 Pro cover</h2>
    <p>Few things are as frustrating as dealing with a stolen, missing or broken phone. Our coverage aims to tick all of the boxes, covering everything from out of warranty breakdowns to damaged screens, buttons and charging ports. You'll also be covered for unauthorised network charges of up to &pound;1,000, letting you rest easy if your Mate 10 Pro is stolen.</p>
    <p>Our insurance is available for smartphones of up to three years old, including second hand and refurbished devices.</p>
    <p>We understand how annoying it can be to live without your smartphone, which is why we aim to complete every replacement or repair in 24-72 hours after approving your claim.</p>
    <p>Don't need to make a claim? We offer a range of rewards if you or your connections don't make any claims, allowing you to earn up to 80% of your premium as cashback every policy year.</p>
{% endblock %}
