{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p>Our easy &amp; fast <strong>Huawei Mate 8 insurance</strong> offers protection against the unexpected, like cracked screens, liquid damage, loss, theft, out-of-warranty breakdown and a lot more. We practice clear Terms &amp; Conditions and we're up to 80% cheaper.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Released in late 2015, the Huawei Mate 8 blends Huawei's sleek design sense with a fast processor, a phablet-sized IPS-NEO LCD display and an impressive 16 MP camera that's capable of shooting at f/2.0.</p>
    <p>Add a long battery life into the equation and this smartphone is a great option if you need a large, user-friendly smartphone that's equally as good for managing your workload as it is for staying in touch with friends and family.</p>
    <p>Searching for cost-effective insurance for your smartphone? With plain-English contracts and up to 90 days of international cover, our smartphone insurance is the ideal way to keep your Mate 8 covered for theft, loss and accidental damage.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Mate 8 for theft, loss and accidental damage</h2>
    <p>Like other large, high-end smartphones, the Mate 8 is a common target for thieves. Protecting your smartphone with the right insurance plan means you'll be covered if it gets stolen or goes missing, letting you use your smartphone in any setting with total confidence.</p>
    <p>You'll also be covered for accidental damage, meaning there's no need to fret if you drop your smartphone and damage the screen, buttons or ports.</p>
    <p>Do you travel often? Our smartphone insurance doesn't just protect your smartphone at home - you'll also get coverage for up to 90 days of global travel, letting you explore the globe with your smartphone at your side.</p>
    <p>We got you, relax.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About our comprehensive Mate 8 cover</h2>
    <p>We understand how difficult it can be to deal with a lost, stolen or damaged smartphone, which is why our Mate 8 coverage is designed specifically to get you back up and running as soon as possible after you make a claim. From theft to loss or accidental damage, we've got all of your bases covered.</p>
    <p>Your smartphone insurance starts immediately and also includes cover for lost or stolen accessories with a value of up to &pound;100 including VAT. We'll even cover you for up to &pound;1,000 worth of unauthorized network charges, meaning there's no need for you to worry about costly bills if your smartphone gets stolen or goes missing while you're out and about.</p>
    <p>With our simple, online claims process, filing a claim for your lost, stolen or damaged phone is easy. We always aim to repair or replace your phone in 24-72 hours after approving your claim, meaning you'll never need to wait long to get your favourite smartphone back.</p>
{% endblock %}
