{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4"><strong>Motorola Moto insurance</strong> for a variety of models; our comprehensive insurance protects against accidental damage (including water damage), stolen or lost phone, international travel and plenty more. Clear T&amp;Cs and up to 80% cheaper.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>From the affordable Moto G to the higher-end Moto X and Z, <strong>Motorola Moto</strong> range of phones combine timeless styling with impressive performance, a pure Android experience and a range of high quality accessories.</p>
    <p>Customisable using a range of Moto Mods, the Moto series can be modified to project images and video, instantly print Polaroid-style photographs, shoot 360&deg; video and even transform into a portable gamepad. Add surprisingly affordable pricing into the equation and it comes as no surprise that the Moto series smartphones are so popular.</p>
    <p>If you use a Moto series phone, we're here to help. Our smartphone insurance covers you for theft, loss and accidental damage, with inclusive cover for Moto Mods and other accessories valued at up to &pound;100.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Keep your Moto covered, no matter where you are</h2>
    <p>Whether you use the affordable Moto G, the versatile Moto X or the customisable Moto Z, it's important to make sure your phone is covered for theft, loss and damage.</p>
    <p>Losing your phone can be a major headache, especially if you use it to store important photos, emails and other personal data. Our smartphone insurance keeps you covered in any situation, offering full coverage if your phone is stolen or goes missing. You're also covered for any accidental damage to your smartphone, such as a cracked screen or water damage.</p>
    <p>Got Moto Mods? Don't worry - we'll cover your smartphone accessories, up to a value of &pound;100 including VAT. We'll even cover you for up to &pound;1,000 of unauthorised network charges, letting you rest easy if your smartphone goes missing.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About our Motorola Moto cover</h2>
    <p>We're here to make owning your Moto series smartphone as stress-free as possible. From loss to theft, our smartphone insurance covers you if your phone goes missing while you're out and about enjoying life.</p>
    <p>f you travel outside the UK often, you'll still be protected. Our smartphone insurance includes up to 90 days of worldwide cover every year, meaning you'll be covered even while you're on holiday in another country.</p>
    <p>Don't like going without your phone? Neither do we. If your phone is lost, stolen or damaged, we'll aim to provide a replacement or complete repair in 24-72 hours of approving your claim, letting you get back up and running as soon as possible.</p>
    <p>Better yet, we'll help you get the best possible value for money by offering up to 80% cashback if you and your connections don't make any claims at the end of the policy year.</p>
{% endblock %}
