{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Quick and easy <strong>Google Pixel</strong> phone insurance, to suit your lifestyle and needs. <strong>so-sure</strong> is up to 40% cheaper and we enjoy rewarding our careful customers &ndash; we give up to 80% of your premium back if you and your connections don't make a claim at the end of every policy year.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p><strong>Google Pixel</strong> phones don't just look pretty and pack impressive cameras; they are great devices, with interesting features and solid hardware, something Google took pride in from the beginning.</p>
    <p>Coming with 4GB RAM, a Qualcomm Snapdragon 821 chip and a 5 inches display (which we hear is an ideal size but a missed opportunity for most smartphones), this first Google flagship phone doesn't impress with its design but it more than makes up for that with its stunning camera, which has been praised by critics over and over.</p>
    <p>The so-sure insurance covers a variety of situations, from out of warranty breakdowns, loss and theft, to accidental damage like water damage, broken screen &amp; more.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Simple, comprehensive, low excess Google Pixel insurance</h2>
    <p>With its eye-catching design and great specs, the Google Pixel still attracts lots of attention several years after its release. It's important to make sure your Pixel is fully covered against theft and loss, and so-sure has just the insurance you need for this marvel.</p>
    <p>Our <a href="https://wearesosure.com/phone-insurance/">mobile phone insurance</a> covers your Google Pixel for a variety of unwanted situations, including lost, theft and accidental damage as a standard, letting you use it at home and in public with full confidence that if something happens to it, you'll find it easy to get a replacement and continue to mind your business.</p>
    <p>Since you're covered for accidental damage, there's also no need to worry about a cracked screen, water damage, non-working ports or other common problems. Instead, you're free to focus on using your Pixel the way it was intended, all without any headaches. Let's get you started!</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">so-sure's Google Pixel cover is stress-free and easy to understand</h2>
    <p>Our Google Pixel cover is designed to make using your mobile device a completely stress-free process; it's comprehensive and it uses plain-English terms and conditions, so you know exactly what's what.</p>
    <p>Phone theft, loss and accidental damage are covered as a standard, meaning there's no need to worry if your Pixel gets stolen, goes missing or stops working. Our phone insurance also covers accessories up to &pound;100 including VAT, so your favourite case or headphones are taken care of. If your phone is refurbished or second-hand (up to 3 years old), you're still covered.</p>
    <p>Need to make a claim? Our UK-based claims team aims to provide a replacement or repair in 24-72 hours after your claim is approved, ensuring you'll have either a new or repaired phone in your hands without delay.</p>
    <p>Better yet, we'll cover you when you're outside the UK, with up to 90 days of international cover and protection against up to &pound;1,000 worth of unauthorised network charges.</p>
    <p>Don't need to make any claims? We'll help you save even more on your phone insurance, with up to 80% of your premiums available as cash back if you and your connections don't need to make any insurance claims within a policy year.</p>
{% endblock %}
