{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Fast and easy <strong>Google Pixel 2</strong> insurance with a UK-based claims team that makes the process painless, in case you ever need it. Our insurance can be up to 40% cheaper and covers out of warranty breakdowns too. We got you covered.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>Designed to provide a pure Android experience, the <strong>Google Pixel 2</strong> is a unique phone that’s packed with powerful technology. It’s fast, with an octa-core Snapdragon 835 CPU, 4 GB of RAM and up to 128 GB of internal storage.</p>
    <p>It’s also a great-looking phone. Stare into the five-inch AMOLED screen and you’ll struggle to spot a single pixel, thanks to the Pixel 2’s 441 ppi density. Add a 12.2 MP front camera with a wide f/1.8 aperture into the equation and the Pixel 2 will impress almost any photographer.</p>
    <p>Whether you use the Pixel 2 for its clean, bloat-free operating system or its sleek design and modern technology, we’ve got you covered. Our Pixel 2 insurance covers theft, loss and even accidental damage to your smartphone.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Pixel 2 for theft, loss and accidental damage</h2>
    <p>Our plain-English, value-focused insurance makes it easier than ever to insure your Pixel 2 for theft, loss and accidental damage.</p>
    <p>As a high-end smartphone, the Pixel 2 is a common target for thieves. Thanks to its sleek and thin design, it’s also an easy device to misplace, making loss a real concern if you’re a Pixel 2 user.</p>
    <p>Designed to make protecting your phone easy, our smartphone insurance covers your Pixel 2 for theft, loss and accidental damage like a broken screen or port. It also covers accessories, with coverage for up to £100 with a theft or loss claim.</p>
    <p>If you’re not a legal expert, don’t worry — our plain-English agreement makes it easy to know what’s covered under your policy, all without any confusing legalese.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About our Google Pixel 2 insurance cover</h2>
    <p>You depend on your smartphone for everything from keeping in touch with friends and family to running your business. Because of this, losing your smartphone can be a stressful experience that takes a major toll on your mood.</p>
    <p>Our Pixel 2 insurance cover is designed to give you peace of mind and confidence when you use your smartphone. If your smartphone is stolen, gets lost or suffers accidental damage, we want you to know that you’re protected.</p>
    <p>With an aim of providing a replacement or repair in 24-72 hours of approving your claim, we’re focused on making sure you have minimal downtime without your smartphone. We even cover your accessories, meaning you don’t have to fret if you lose more than just your phone.</p>
    <p>Better yet, we offer rewards of up to 80% of your premium back if you or your connections don’t make a claim, helping you save money when you insure your smartphone.</p>
{% endblock %}
