{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">The easiest way to buy comprehensive <strong>Google Pixel 3</strong> insurance against cracked screens, liquid damage, theft, loss, out of warranty breakdown and much more. So-sure cover starts immediately after purchase and also covers up to 3 years old second-hand phones.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p><strong>Google Pixel 3</strong> packs everything that's great about Google into a sleek, modern smartphone, from its bloat-free operating system to its powerful Night Sight camera. If you're an Android fan, it's tough to think of anything more appealing right now.</p>
    <p>Beneath its sleek exterior, the Pixel 3 is a real powerhouse. It has an octa-core Snapdragon 845 CPU, 4 GB of RAM and up to 128 GB of internal storage. Add a large 2915 mAh battery into the equation and the Pixel 3 definitely isn't short on endurance either.</p>
    <p>Like the other Pixel phones, the Pixel 3 is a great tool for photographers, with a Dual-LED flash, 12.2 MP f/1.8 camera and support for 2160p 4K video recording.</p>
    <p>Our Pixel 3 insurance makes it easy to keep this tech powerhouse safe, whether you're out shopping or enjoying the weekend.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Keep your Pixel 3 safe, protected and fully covered</h2>
    <p>As a flagship phone, the Pixel 3 is an expensive piece of technology that's becoming a popular target for thieves. Our straightforward, value-focused insurance lets you cover your Pixel 3 for theft and loss, letting you use it to the max with total confidence.</p>
    <p>You'll also be covered for accidental damage, meaning there's no need to worry if your Pixel 3 runs into screen or power issues as a result of being dropped. We even cover water damage to your phone, keeping you safe if your Pixel 3 goes beyond its built-in water resistance.</p>
    <p>Got accessories? They're covered too, with coverage for up to &pound;100 of value if your phone gets lost or is stolen. With a plain-English, legalese-free agreement, you'll know exactly what you're getting before you make any commitments. Need more information? Read on.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">Google Pixel 3 insurance that's comprehensive and easy</h2>
    <p>Insuring your smartphone shouldn't be complicated or costly. Designed to make protecting your Pixel 3 as simple as possible, our affordable insurance cover is designed to lower the stress of using a high-end flagship smartphone.</p>
    <p>We've got you covered for loss, theft and accidental damage. Our Pixel 3 insurance even has cover for up to 90 days of global travel, letting you use your smartphone with confidence while you're on holiday.</p>
    <p>We even protect you from unauthorized network charges of up to &pound;1,000, as well as for lost or stolen accessories with a value of up to &pound;100. With an aim of providing a replacement or repair in 24-72 hours of receiving your claim, our team is just as lightning fast as your smartphone.</p>
    <p>Better yet, we provide a range of rewards, including up to 80% cashback every year if you and your connections don't make a claim. Let's get started!</p>
{% endblock %}
