{% extends 'AppBundle:PhoneInsurance:phoneInsuranceMakeModel.html.twig' %}

{% block phone_hero_text %}
    <p class="mb-4">Easy & fast <strong>Sony Xperia insurance</strong> for a range of models to give you peace of mind when the unexpected happens. It covers accidental damage loss, theft, out-of-warranty breakdowns and much more. We have clear T&Cs and we’re up to 80% cheaper.</p>
{% endblock %}

{% block phone_why_insure_text %}
    <p>With a unique design that’s distinctly Sony, the Xperia series of smartphones offer a different experience from other brands. If you’re a fan of Sony’s mobile design philosophy, you’ll find a variety of things to like in the increasingly large Xperia range.</p>
    <p>From the flagship XZ series to the mid-range XA phones, Sony’s Xperia range packs unique, useful features into a variety of models. There are dual selfie cameras with different fields of view, powerful processors, plus clean, largely bloat-free versions of Android.</p>
    <p>Add some of the best rear cameras in the industry (Sony make the camera sensors for many other smartphone brands) and these versatile smartphones phones offer a unique, different experience from other brands.</p>
    <p>Looking for a partner for your new smartphone? Our hassle-free insurance keeps you covered for theft, loss and accidental damage, letting you enjoy your new phone as intended.</p>
{% endblock %}

{% block extra_content_one %}
    <h2 class="h3 mb-4 text-primary">Cover your Xperia for theft, loss and accidental damage</h2>
    <p>Like other smartphones, Xperia devices are common targets for thieves. Our insurance covers you for loss, theft and accidental damage, letting you use your Sony Xperia with full confidence and minimal stress.</p>
    <p>From drops to water, dust and sand, a variety of factors can leave your smartphone looking and feeling the worse for wear. With almost all sources of theft, loss and damaged covered, there’s no need for you to worry about using your smartphone.</p>
    <p>Our mobile phone insurance even covers international travel, letting you carry your phone in your pocket to snap photos, look up attractions and find the best local cafés and restaurants without any headaches.</p>
{% endblock %}

{% block extra_content_two %}
    <h2 class="h3 mb-4 text-primary">About our Sony Xperia cover</h2>
    <p>We offer insurance cover for almost all Sony Xperia models, making it easy for you to insure your new or used phone for theft, loss and accidental damage. Our plans use straightforward, plain English, meaning you don’t need to be a lawyer to understand how you’re covered.</p>
    <p>Never filed a claim before? Our simple, hassle-free online claims process is seriously easy to use, letting you file your claim in minutes. It’s also worthwhile noting that our claims team is based in the UK, removing any language barriers that may arise in such situations.</p>
    <p>Beyond theft, loss and accidental damage, you’ll also be covered for £1,000 (VAT inc.) of unauthorised network charges. We even provide coverage for up to 90 days of international travel and for out-of-warranty breakdowns.</p>
    <p>Can’t go without your smartphone? Don’t worry. We aim to provide a replacement or repair in 24-72 hours of approving your claim. You can even earn up to 80% of your premium as cash back if you and your connections don’t make any claims at the end of the policy year.</p>
    <p>Our <strong>Sony Xperia</strong> insurance covers the following models: <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+E4+8GB">Sony Xperia E4</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+E4g+8GB">Sony Xperia E4g</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+E5+16GB">Sony Xperia E5</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+M4+Aqua+8GB">Sony Xperia M4 Aqua</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+M5+16GB">Sony Xperia M5</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+X+32GB">Sony Xperia X</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XA+16GB">Sony Xperia XA</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XA+Ultra+16GB">Sony Xperia XA Ultra</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XA1+32GB">Sony Xperia XA1</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XA1+Ultra+32GB">Sony Xperia XA1 Ultra</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XA2+32GB">Sony Xperia XA2</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XA2+Ultra+32GB">Sony Xperia XA2 Ultra</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XZ+Premium+64GB">Sony Xperia XZ Premium</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XZ1+64GB">Sony Xperia XZ1</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XZ1+Compact+32GB">Sony Xperia XZ1 Compact</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XZ2+64GB">Sony Xperia XZ2</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XZ2+Compact+64GB">Sony Xperia XZ2 Compact</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+XZ3+64GB">Sony Xperia XZ3</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+Z3-plus+32GB">Sony Xperia Z3+</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+Z5+32GB">Sony Xperia Z5</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+Z5+Compact+32GB">Sony Xperia Z5 Compact</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+Z5+Premium+32GB">Sony Xperia Z5 Premium</a>, <a href="https://wearesosure.com/purchase-phone/Sony+Xperia+ZX+32GB">Sony Xperia ZX</a>.</p>
{% endblock %}
