{% extends '::base.html.twig' %}

{# Set vars #}
{% set exclude_remote_scripts = true %}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}
{% set new_footer = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/login.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="panel login__panel">
        <div class="panel-body">
            <form class="form" action="" method="post">
                {% for flashMessage in app.session.flashbag.get("two_factor") %}
                    <p class="error">{{ flashMessage|trans }}</p>
                {% endfor %}

                <div class="form-group">
                    <label for="_auth_code">Google Auth MFA Code</label>
                    <input id="_auth_code" type="tel" class="form-control" autocomplete="off" name="_auth_code" />
                </div>

                {% if useTrustedOption %}
                    <div class="form-group">
                        <label for="_trusted">
                            <input id="_trusted" type="checkbox" name="_trusted" /> Trust this computer
                        </label>
                    </div>
                {% endif %}

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-blue btn-pad" /></p>
                </div>

                <div class="form-group">
                    <a class="btn btn-link btn-xs" href="{{ path("_security_logout") }}">Abort login</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
