// admin.scss
//
@import "../vendor/jquery.fancybox.css";

body {
    padding-top: 5rem;
}

// Menus
.admin-list-group {

    a {
        display: flex;
        align-items: center;
        justify-content: start;

        i {
            // width: 1.2rem;
        }
    }
}

// Fitering
.card-page-filter {
    background-color: rgba(37, 147, 243, 0.03);
}

// Tables
.table {

    > tbody {
        > tr {
            > td {
                vertical-align: middle;
            }
        }
    }
}

// Tests
