// blog.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

body {
    position: relative;
    overflow-y: scroll;
}

.blog {
    position: relative;

    // Containers & Curves
    &__main__container {
        position: relative;
        z-index: 4;

        // Curve
        svg {
            transform: translateY(-1px);
            position: absolute;
            top: 100%; left: 0;
        }

        &-stuck {
            position: sticky;
            top: 0;
        }

        @include media-breakpoint-up(lg) {
            width: 60vw; height: 100vh;
            position: static;

            // Scroll stuff
            // overflow-y: scroll;

            // // IE
            // -ms-overflow-style: none;

            // // Webkit
            // &::-webkit-scrollbar {
            //     width: 0;
            //     background: transparent;
            // }
        }

    }

    &__index {
        padding-top: 12rem;
        padding-bottom: 4rem;

        // h2 {
        //     margin-bottom: 1.2rem;
        // }

        // h4 {
        //     margin-bottom: 1rem;
        // }

        // p, li {
        //     font-size: 16px;

        //     a {
        //         text-decoration: underline;
        //     }
        // }

        // li {
        //     margin-bottom: 1.4rem;
        // }

        // p, ul, ol {
        //     margin-bottom: 2rem;
        // }

        // @include media-breakpoint-up(lg) {
        //     // height: 70vh;
        // }
    }

    &__main {
        padding-top: 12rem;
        padding-bottom: 4rem;

        h2 {
            margin-bottom: 1.2rem;
        }

        h4 {
            margin-bottom: 1rem;
        }

        p, li {
            font-size: 16px;

            a {
                text-decoration: underline;
            }
        }

        li {
            margin-bottom: 1.4rem;
        }

        p, ul, ol {
            margin-bottom: 2rem;
        }

        @include media-breakpoint-up(lg) {
            // height: 70vh;
        }
    }

    &__curve {
        position: relative;

        @include media-breakpoint-up(lg) {
            width: 5vw; height: 100vh;

            svg {
                height: 100vh;
                position: absolute;
                z-index: 4;
                left: 0; top: 0;
                // transform: translateX(1px);
            }
        }
    }

    &__sub__container {
        background-color: $lily-white;

        @include media-breakpoint-up(lg) {
            width: 40vw; height: 100vh;
            position: fixed;
            right: 0;

            // Scroll stuff
            overflow: hidden;
        }
    }

    &__sub {
        width: 100%;
        padding-top: 8rem;
    }

    &__nav {
        position: fixed;
        top: 10rem;

        .list-group {
            font-family: $g-medium;

            a {
                color: $zaffre;
                border: none;
                border-bottom: 2px solid darken($pattens-blue, 5%);
                margin-bottom: 0;
                padding: 1rem 0;
                background-color: transparent;
                @include border-radius(0);
                transition: color 0.5s;

                .far {
                    display: none;
                }

                &.active {
                    color: $dodger-blue;
                    border-bottom: 2px solid darken($pattens-blue, 5%);
                    background: transparent;

                    .far {
                        display: inline-block;
                    }
                }

                &:hover {
                    color: $dodger-blue;
                    border-bottom: 2px solid darken($pattens-blue, 5%);
                    background-color: transparent;
                }

                &:first-of-type,
                &:last-of-type {
                    @include border-radius(0);
                }

                &:last-of-type {
                    border: none;
                }
            }
        }
    }

}
