// blog.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

.blog {
    position: relative;

    &__contents {
        h2 {
            margin-bottom: 1.2rem;
        }

        h3, h2 a, h3 a {
            color: $dodger-blue;
        }

        h2 a, h3 a {
            text-decoration: underline;
        }

        h4 {
            margin-bottom: 1rem;
        }

        p, li {
            font-size: 16px;

            a {
                text-decoration: underline;
                color: $dodger-blue;
            }
        }

        li {
            margin-bottom: 1.4rem;
        }

        p, ul, ol {
            margin-bottom: 2rem;
        }

        blockquote {
            p {
                color: $dark;
                font-style: italic;
            }
        }

        // Fix for twitter embed
        .twitter-tweet {
            margin: {
                // left: auto;
                // right: auto;
                top: 0 !important;
                bottom: 2rem !important;
            }
        }
    }

    hgroup {
        .list-inline {
            margin-bottom: 0;
        }
    }

    &-footer-cta {
        text-align: center;
        margin: 5rem 0 0 0;
    }

}


