// faq.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

body {
    position: relative;
    overflow-y: scroll;
}

.cp {
    position: relative;

    h2 {
        &:before {
            display: block;
            content: '';
            margin-top: -100px;
            height: 100px;
            visibility: hidden;
        }
    }

    &__content {
        padding-top: 4rem;

        @include media-breakpoint-up(md) {
            padding-top: 0rem;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 10rem;
        }
    }

    &__nav {
        position: fixed;
        top: 10rem;

        .list-group {
            font-family: $g-medium;

            a {
                color: $zaffre;
                border: none;
                border-bottom: 2px solid darken($pattens-blue, 5%);
                margin-bottom: 0;
                padding: 1rem 0;
                background-color: transparent;
                @include border-radius(0);
                transition: color 0.5s;

                .far {
                    display: none;
                }

                &.active {
                    color: $dodger-blue;
                    border-bottom: 2px solid darken($pattens-blue, 5%);
                    background: transparent;

                    .far {
                        display: inline-block;
                    }
                }

                &:hover {
                    color: $dodger-blue;
                    border-bottom: 2px solid darken($pattens-blue, 5%);
                    background-color: transparent;
                }

                &:first-of-type,
                &:last-of-type {
                    @include border-radius(0);
                }

                &:last-of-type {
                    border: none;
                }
            }
        }
    }

}
