// faq.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

body {
    position: relative;
    overflow-y: scroll;
}

.faq {
    padding-top: 5rem;
    padding-bottom: 1.5rem;

    &__main__container {

    }

    &__sub__container {
        height: 100vh;
        position: relative;
        z-index: 2;
    }

    &__nav {
        position: fixed;

        .list-group {
            font-family: $g-medium;

            a {
                color: $blue-4;
                border: none;
                border-bottom: 2px solid $bb-2;
                margin-bottom: 0;
                padding: 1rem 0;
                background-color: transparent;
                @include border-radius(0);
                transition: color 0.5s;

                .far {
                    display: none;
                }

                &.active {
                    color: $blue-2;
                    border-bottom: 2px solid $bb-2;
                    background: transparent;

                    .far {
                        display: inline-block;
                    }
                }

                &:hover {
                    color: $blue-2;
                    border-bottom: 2px solid $bb-1;
                    background-color: transparent;
                }

                &:first-of-type,
                &:last-of-type {
                    @include border-radius(0);
                }

                &:last-of-type {
                    border: none;
                }
            }
        }
    }

    &__curve {
        width: 35vw;
        position: fixed;
        z-index: 1;
        top: 77px; right: 0;

        @include media-breakpoint-up(xl) {
            top: 56px;
        }
    }
}
