// homepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

.hero {
    position: relative;
    overflow: hidden;
    padding: 6rem 0 3rem;

    @include blue-gradient-45;

    .container-large {
        position: relative;
        z-index: 4;

        @include media-breakpoint-up(lg) {
            &:before,
            &:after {
                display: block;
                width: 420px;
                height: 420px;
                content: '';
                position: absolute;
                top: -50px;
            }

            &:before {
                left: 0;
                margin-left: -240px;
                background-size: contain;
                background-image: url('#{$cdn_url}/images/rebrand/homepage/so-sure_hero-alt-desktop-left-image.png');
                background-repeat: no-repeat;
                opacity: 0.9;
            }

            &:after {
                right: 0;
                margin-right: -240px;
                background-size: contain;
                background-image: url('#{$cdn_url}/images/rebrand/homepage/so-sure_hero-alt-desktop-right-image.png');
                background-repeat: no-repeat;
                opacity: 0.9;
            }
        }

        @include media-breakpoint-up(fa) {
            &:before {
                margin-left: -340px;
            }

            &:after {
                margin-right: -340px;
            }
        }

        @include media-breakpoint-up(fk) {
            &:before {
                margin-left: -140px;
            }

            &:after {
                margin-right: -140px;
            }
        }
    }

    &-links {
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-link {
        display: block;
        background-color: $white;
        @include border-radius($g-border-radius-large);
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
        0 5px 15px 0 rgba(8,27,154,0.08);
        transition: box-shadow 0.3s ease-in-out;

        &-body {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0.2rem 1rem;

            .h5 {
                color: $primary;
                margin: 0;
            }

            .far {
                margin-left: auto;
            }
        }

        &:hover {
            text-decoration: none;
            box-shadow: 0 0 0 0.2rem rgba($color: $deep-sky-blue-d, $alpha: 0.5);
        }

        @include media-breakpoint-up(md) {
            min-width: 320px;

            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }

    &-link + &-link {
        margin-top: 1rem;

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }

    &-img-mobile {
        display: block;
        margin: 0 auto 1rem;
        opacity: 0.9;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &-scroll-down {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0;
        color: $white;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .badge {
        // font-size: 90%;
        padding: 0.6rem 1rem;
        text-transform: uppercase;
    }

    &:before {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        z-index: 1;
        background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background-mobile.svg');
        background-size: cover;
        opacity: 0.44;
        transform: scaleX(-1);
    }

    @include media-breakpoint-up(md) {
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        padding: 7rem 0;

        &:before {
            background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background.svg');
            transform: scaleX(-1);
        }
    }

    @include media-breakpoint-up(xl) {
        padding: 8rem 0;
    }
}

.products {
    background-color: $athens-gray;
    text-align: center;

    &-container {
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    &-item {
        width: 100%;
        background-color: $white;
        border: 1px solid $lynch-30;
        overflow: auto;
        padding: 1.5rem;
        // @include border-radius($g-border-radius-large);

        &-heading {
            color: $primary;
        }

        &:first-child {
            border-bottom: 0;
            @include border-top-radius($g-border-radius-large);
        }
        &:last-child {
            @include border-bottom-radius($g-border-radius-large);
        }

        @include media-breakpoint-up(md) {
            padding: 2rem;

            &:first-child {
                border-right: 0;
                border-bottom: 1px solid $lynch-30;
                @include border-left-radius($g-border-radius-large);
                @include border-top-right-radius(0);
            }
            &:last-child {
                @include border-right-radius($g-border-radius-large);
                @include border-bottom-left-radius(0);
            }
        }
    }
}

.why-insure {
    text-align: center;
    background-color: $white;

    &-content {
        @include media-breakpoint-up(sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card {
                align-self: stretch;
            }
        }
    }
}

.reviews {
    text-align: center;
    background-color: $athens-gray;
}

.app {
    text-align: center;
    background-color: $crayon-blue;

    &-buttons {
        display: flex;
        justify-content: center;
    }

    &-button {

        a {
            margin: 0 0.6rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &-rating {
        color: $white;
        margin: 0.5rem 0;
    }
}