// homepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

.hero {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 4rem;

    &__intro {
        @include media-breakpoint-up(lg) {
            padding-top: 6rem;
        }
    }


    &__credbar {
        text-align: center;

        img {
            opacity: 0.4;
        }

        ul {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            text-align: right;
        }
    }

    @include media-breakpoint-up(lg) {

    }

}

.intro {
    position: relative;
    z-index: 1;
    background-color: $bb-2;

    @include media-breakpoint-up(lg) {
        background: $bb-2 url('#{$cdn_url}/images/rebrand/homepage/so-sure_intro-illustration.png') no-repeat -110px 280px;
        background-size: 500px;
    }

    @include media-breakpoint-up(xl) {
        background-position: -40px 280px;
        background-size: 600px;
    }

    @include media-breakpoint-up(fk) {
        background-position: 450px 280px;
    }
}

.cover {

    &__illustration__mobile {
        height: 240px;
        overflow: hidden;
    }

    &__mobile {
        background-color: $bb-2;
    }

    &__list {
        margin-top: 7rem;
    }
}

.why {
    background-color: $bb-2;

    @include media-breakpoint-up(lg) {
        background: $bb-2 url('#{$cdn_url}/images/rebrand/homepage/so-sure_why-illustration.png ') no-repeat -220px 440px;
        background-size: 480px;
    }
}

.app {
    position: relative;

    @include media-breakpoint-up(lg) {
        background: $white url('#{$cdn_url}/images/rebrand/homepage/so-sure_app-illustration.png') no-repeat 550px 50px;
        background-size: 600px;
    }

    @include media-breakpoint-up(xl) {
        background-position: 800px 50px;
    }

    @include media-breakpoint-up(fk) {
        background-position: 1400px 50px;
    }

    &__illustration__mobile {
        position: relative;
    }
}

.claims {
    background-color: $bb-2;
}

.comparison {
    background-color: $bb-2;

    .table-list {
        position: relative;

        @include media-breakpoint-up(md) {
            width: 520px;
        }

        @include media-breakpoint-up(lg) {

            &__insurers {
                transform: translateX(25px);
                z-index: 10;
            }

            &__so-sure {
                transform: translateX(-25px);
                z-index: 11;
            }
        }
    }
}

.reviews {
    padding-bottom: 200px;
    margin-bottom: 4rem;

    .carousel-inner {
        min-height: 280px;

        @include media-breakpoint-up(lg) {
            min-height: none;
        }
    }

    background: $white url('#{$cdn_url}/images/rebrand/homepage/so-sure_reviews-image.png') no-repeat 80px bottom;
    background-size: 500px;

    @include media-breakpoint-up(sm) {
        background-position: 300px bottom;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: inherit;
        margin-bottom: 0;
        background: $white url('#{$cdn_url}/images/rebrand/homepage/so-sure_reviews-image.png') no-repeat 800px 50px;
        background-size: 600px;
    }

    @include media-breakpoint-up(xl) {
        background-position: 940px 50px;
        background-size: 700px;
    }

    @include media-breakpoint-up(fk) {
        background-position: right 50px;
    }
}
