// homepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

.hero {
    position: relative;
    padding-top: 6rem;

    @include blue-gradient-45;

    .container-large {
        position: relative;
        z-index: 4;
    }

    &-left {
        @include media-breakpoint-up(lg) {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-right {
        text-align: center;
    }

    &-heading {
        color: $white;
        margin-bottom: 2rem;

        span {
            color: $deep-sky-blue-d;
        }
    }

    &:after {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: 1;

        opacity: 0.8;
        background-repeat: repeat;
        background-size: 1140px;
        background-image: url('#{$cdn_url}/images/rebrand/homepage/so-sure_homepage_hero_confetti_background.svg');
    }
}

.products {
    background-color: $athens-gray;
    text-align: center;

    &-container {
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
        }
    }

    &-item {
        width: 100%;
        background-color: $white;
        border: 1px solid $lynch-30;
        overflow: auto;
        padding: 1.5rem;
        // @include border-radius($g-border-radius-large);

        &-heading {
            color: $primary;
        }

        &:first-child {
            border-bottom: 0;
            @include border-top-radius($g-border-radius-large);
        }
        &:last-child {
            @include border-bottom-radius($g-border-radius-large);
        }

        @include media-breakpoint-up(md) {
            padding: 2rem;

            &:first-child {
                border-right: 0;
                border-bottom: 1px solid $lynch-30;
                @include border-left-radius($g-border-radius-large);
                @include border-top-right-radius(0);
            }
            &:last-child {
                @include border-right-radius($g-border-radius-large);
                @include border-bottom-left-radius(0);
            }
        }
    }
}

.why-insure {
    text-align: center;
    background-color: $white;

    &-content {
        @include media-breakpoint-up(sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card {
                align-self: stretch;
            }
        }
    }
}

.reviews {
    text-align: center;
    background-color: $athens-gray;
}

.app {
    text-align: center;
    background-color: $crayon-blue;

    &-buttons {
        display: flex;
        justify-content: center;
    }

    &-button {

        a {
            margin: 0 0.6rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &-rating {
        color: $white;
        margin: 0.5rem 0;
    }
}