// homepage-xmas.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

// Lets add a snow layer rather than using body
.snow {
    width: 100vw; height: 100vh;
    position: fixed;
    background: none;
    pointer-events: none;
    top: 0; left: 0;
    overflow: hidden;
    z-index: 1030;
}

.snowflake{
    position:absolute;
    top: -40px;
    transition: left 5s;
    pointer-events: none;
    opacity: 1;
    z-index: 1030;
    color: $white;
    // -webkit-animation: spin 4s linear infinite;
    //    -moz-animation: spin 4s linear infinite;
    //         animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
