// landing.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $blue-3;
    @include linear-gradient(135deg, $blue-3, $blue-1a);
    // @include linear-gradient(160deg, $blue-3, $blue-1a);
}

// .welcome {
//     position: relative;

//     &__details__container {

//         @include media-breakpoint-up(lg) {
//             width: 60vw; height: 100vh;
//             overflow-y: scroll;

//             // IE
//             -ms-overflow-style: none;
//         }
//     }

//     &__details {
//         padding-top: 2rem;

//         @include media-breakpoint-up(lg) {
//             padding-top: 8rem;
//         }
//     }


//     &__cover__container {
//         background-color: $white;
//         margin-top: 4rem;

//         @include media-breakpoint-up(lg) {
//             width: 40vw; height: 100vh;
//             overflow-y: scroll;
//             margin-top: 0;

//             // IE
//             -ms-overflow-style: none;
//         }
//     }

//     &__cover {
//         max-width: 400px;
//         margin: 0 auto;
//         text-align: center;
//         padding-top: 2em;

//         @include media-breakpoint-up(lg) {
//             padding-top: 8rem;
//         }
//     }
// }

