// landing.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

.hero {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 8rem;
    text-align: center;
    background-color: $crayon-blue;
    @include blue-gradient-45;

    h1 {
        @include media-breakpoint-down(xs) {
            font-size: 1.8rem;
        }
    }

    svg {
        position: absolute;
        bottom: -1px; left: 0;
        z-index: 1;
    }

    .table-comparison {
        position: relative;
        z-index: 4;

        @include media-breakpoint-down(xs) {
            max-width: 300px;
        }
    }

    .updated-text {
        position: relative;
        z-index: 6;
    }

    &__partner-logo {
        position: relative;
        z-index: 4;
    }

    // Height so table overlaps
    height: 540px;

    @include media-breakpoint-up(sm) {
        height: 600px;
    }

    @include media-breakpoint-up(md) {
        padding-top: 8rem;
        height: 650px;
    }
}

.hero-starling {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 8rem;
    text-align: center;
    background-color: $starling-dark;

    h1 {
        @include media-breakpoint-down(xs) {
            font-size: 1.8rem;
        }
    }

    svg {
        position: absolute;
        bottom: -1px; left: 0;
        z-index: 1;
    }

    .table-comparison {
        position: relative;
        z-index: 4;

        @include media-breakpoint-down(xs) {
            max-width: 300px;
        }
    }

    .updated-text {
        position: relative;
        z-index: 6;
    }

    &__partner-logo {
        position: relative;
        z-index: 4;
    }

    // Height so table overlaps
    height: 560px;

    @include media-breakpoint-up(sm) {
        height: 600px;
    }

    @include media-breakpoint-up(md) {
        padding-top: 8rem;
        height: 650px;
    }
}

.comparison {
    background-color: $white;
    position: relative;

    // Height so table overlaps
    height: 1100px;

    @include media-breakpoint-up(sm) {
        height: 600px;
    }
}

.why {
    padding-top: 24rem;

    @include media-breakpoint-up(sm) {
        padding-top: 10rem;
    }

    &__container {
        text-align: center;
    }
}

.cover {
    position: relative;

    &__illustration__mobile {
        height: 240px;
        overflow: hidden;
        position: relative;
    }

    &__mobile {
        background-color: $pattens-blue;
    }

    &__list {
        margin-top: 7rem;
    }

    svg {
        position: absolute;
        bottom: -1px; left: 0; right: 0;
    }

    @include media-breakpoint-up(lg) {
        background-color: $pattens-blue;
    }
}

.differently {
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(lg) {
        background: transparent url('#{$cdn_url}/images/rebrand/homepage/so-sure_intro-illustration.png') no-repeat -110px 200px;
        background-size: 500px;
    }

    @include media-breakpoint-up(xl) {
        background-position: -40px 200px;
        background-size: 600px;
    }

    @include media-breakpoint-up(fk) {
        background-position: 500px 200px;
        background-size: 600px;
    }

    &__illustration__mobile {
        position: relative;
    }

}

.reviews {
    padding-bottom: 300px;
    background-color: $pattens-blue;

    .carousel-inner {
        min-height: 280px;
        background: $pattens-blue url('#{$cdn_url}/images/rebrand/misc/so-sure_quote-background.svg') no-repeat right 50%;

        @include media-breakpoint-up(lg) {
            min-height: none;
        }
    }

    background: $pattens-blue url('#{$cdn_url}/images/rebrand/homepage/so-sure_reviews-image.png') no-repeat 80px 500px;
    background-size: 500px;

    @include media-breakpoint-up(sm) {
        background-position: 300px 550px;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: inherit;
        margin-bottom: 0;
        background: $pattens-blue url('#{$cdn_url}/images/rebrand/homepage/so-sure_reviews-image.png') no-repeat 800px 50px;
        background-size: 600px;
    }

    @include media-breakpoint-up(xl) {
        background-position: 940px 50px;
        background-size: 700px;
    }

    @include media-breakpoint-up(fk) {
        background-position: 1400px 50px;
    }
}
