// login.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

.login {
    width: 100vw; height: 100vh;
    position: relative;
    @include linear-gradient(100deg, $blue-3, $blue-1a);

    &__inner {
        width: 100%;
        position: relative;
        z-index: 4;
    }

    &__card {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                    0 5px 15px 0 rgba(8,27,154,0.08);
        @include border-radius(15px);

        &__body {
            padding: 2rem;
        }
    }

    &__divider {
        text-align: center;
        margin: 2.4rem -2rem;
        border-top: 2px solid $blue-x;
        position: relative;

        span {
            width: 100px;
            background-color: $white;
            position: absolute;
            top: -12px;
            margin-left: -50px;
        }
    }

    &:before {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        z-index: 1;
        background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-background-mobile.svg');
        background-size: cover;
        opacity: 0.44;
    }

    @include media-breakpoint-up(lg) {
        &:before {
            background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-background.svg');
        }
    }
}
