// homepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

.hero {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include blue-gradient-45;

    .container-large {
        position: relative;
        z-index: 4;

        h1, h2, p, ul {
            color: $white;
        }
    }

    &-claims {
        position: relative;
        z-index: 4;

        .cardbox {
            width: 80%; height: 385px;
            margin-right: 1rem;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            text-align: center;

            @include media-breakpoint-up(lg) {
                width: 444px; height: 230px;
                max-width: none;
                text-align: left;
                margin-right: 2rem;

                &__body {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .flickity-page-dots .dot {
            width: 12px;
            height: 12px;
            opacity: 0.5;
            background: white;
            border: 2px solid white;
        }

        .flickity-page-dots .dot.is-selected {
            opacity: 1;
        }

        &:after {
            content: 'flickity';
            display: none;
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: center;

            &:after {
                content: '';
            }
        }
    }

    &:before {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        z-index: 1;
        background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background-mobile.svg');
        background-size: cover;
        opacity: 0.44;
        transform: scaleX(-1);
    }

    @include media-breakpoint-up(lg) {
        &:before {
            background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background.svg');
            transform: scaleX(-1);
        }
    }

}

.hero-phone {
    padding-bottom: 0rem;

    .container-large {
        padding-bottom: 380px;
        background-image: url('#{$cdn_url}/images/rebrand/claims/so-sure_broken_phone_hand_mobile_version.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 280px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 3rem;
            background-image: url('#{$cdn_url}/images/rebrand/claims/so-sure_broken_phone_hand_desktop.svg');
            background-position: left bottom;
            background-size: 380px;
        }
    }
}

.hero-contents {
    padding-bottom: 0rem;

    .container-large {
        padding-bottom: 280px;
        background-image: url('#{$cdn_url}/images/rebrand/claims/so-sure_home_mobile.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 280px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 240px;
            background-image: url('#{$cdn_url}/images/rebrand/claims/so-sure_home_desktop.svg');
            background-position: left bottom;
            background-size: 444px;
        }
    }
}