// phone-insurance.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

.hero {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 4rem;
    overflow: hidden;

    @include blue-gradient;

    .container-large {
        position: relative;
        z-index: 4;
    }

    &__intro {

        .h1m {
            line-height: 1.5;
            display: inline;
            font-size: 2rem;
        }

        .h1b {
            line-height: 1.5;
            font-size: 2rem;

            a,
            a.text-white:hover,
            a.text-white:focus,
            a.text-white:active {
                text-decoration: none;
                color: $white !important;
                outline: 0;
            }
        }

        @include media-breakpoint-up(lg) {
            padding-top: 2.7rem;
        }
    }

    // &__illustration {
    //     position: sticky;
    // }

    .hero__illustration-iphone-x {
        height: 250px;

        @include media-breakpoint-up(lg) {
            height: 100%;
            max-width: 340px;
            position: absolute;
            z-index: 2;
            left: 170px; bottom: 0;
        }
    }

    .hero__illustration-generic,
    .hero__illustration-iphone-xr,
    .hero__illustration-iphone-xs,
    .hero__illustration-iphone-7,
    .hero__illustration-iphone-8,
    .hero__illustration-galaxy-s8,
    .hero__illustration-galaxy-s9,
    .hero__illustration-galaxy-note-9,
    .hero__illustration-pixel
    .hero__illustration-pixel-3-xl,     {
        height: 250px;

        @include media-breakpoint-up(lg) {
            height: 100%;
            max-width: 340px;
            margin: 0 auto;
        }
    }

    .hero__illustration-iphone-7 {
        @include media-breakpoint-up(lg) {
            max-width: 260px;
        }
    }

    // TODO: Make better;
    .hero-generic {
        max-width: 300px;
    }

    &:before {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        z-index: 1;
        background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background-mobile.svg');
        background-size: cover;
        opacity: 0.34;
    }

    @include media-breakpoint-up(lg) {
        @include blue-gradient-45;

        &:before {
            background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-hero-background-b.svg');
        }
    }

}

.intro {
    text-align: center;
    background-color: $pattens-blue;
    position: relative;
    z-index: 5;

    p {
        max-width: 760px;
        margin: 0 auto;
    }
}

.why-insure {
    // text-align: center;
    overflow: hidden;

    .container-large {
        position: relative;
        z-index: 4;
    }

    &__illustration-desktop {
        width: 655px;
        position: absolute;
        z-index: 2;
        bottom: 0; right: -200px;

        @include media-breakpoint-up(fl) {
            right: -200px;
        }
    }

    // @include media-breakpoint-up(lg) {
    //     text-align: left;
    // }
}

.cover {
    position: relative;

    @include media-breakpoint-up(lg) {
        // background-color: $pattens-blue;
    }

    &__illustration__mobile {
        height: 240px;
        overflow: hidden;
        position: relative;
    }

    &__mobile {
        background-color: $pattens-blue;
    }

    &__list {
        margin-top: 7rem;
    }

    svg {
        position: absolute;
        bottom: -1px; left: 0; right: 0;
    }
}

.why-insure-continued {

    @include media-breakpoint-up(lg) {
        padding-bottom: inherit;
        margin-bottom: 0;
        background: $white url('#{$cdn_url}/images/rebrand/product/so-sure_reviews-image-alt-flipped.png') no-repeat -100px 70px;
        background-size: 600px;
        text-align: left;
    }

    @include media-breakpoint-up(xl) {
        background-position: -100px 70px;
        background-size: 700px;
    }

    @include media-breakpoint-up(fk) {
        background-position: -100px 70px;
    }
}

.our-reviews {
    background-color: $pattens-blue;
    text-align: center;
    position: relative;

    .reviews {
        position: relative;
        z-index: 4;
    }

    svg {
        position: absolute;
        bottom: 100%; left: 0;
    }
}

.comparison {
    background-color: $pattens-blue;

    .table-list {
        position: relative;

        &__header {
            background-color: $zaffre;
        }

        &__insurers {
            tr {
                td {
                    background-color: $dodger-blue;
                    border-bottom-color: rgba(255, 255, 255, 0.1);
                }

                td.border-fix {
                    @include  border-bottom-radius(15px);
                }
            }
        }

        &__icn-dark {
            background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_unhappy-dark-icn.svg');
        }

        @include media-breakpoint-up(xl) {

            &__insurers {
                z-index: 10;
            }

            &__so-sure {
                transform: translateX(-25px);
                z-index: 11;
            }
        }
    }
}

.other-phones,
.make-phones {
    text-align: center;

    a img {

        &:hover {
            transform: translateY(-5px);
        }
    }
}

.mini-faq {
    background-color: $pattens-blue;
}

.banner {
    position: relative;
    text-align: center;

    @include blue-gradient;

    &__close {
        position: absolute;
        top: 2rem; right: 2rem;
    }

    @include media-breakpoint-up(lg) {
        text-align: left;
    }
}

.make {
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(lg) {
        background: $white url('#{$cdn_url}/images/rebrand/homepage/so-sure_intro-illustration.png') no-repeat -110px 100px;
        background-size: 500px;
    }

    @include media-breakpoint-up(xl) {
        background-position: -10px 100px;
    }

    @include media-breakpoint-up(fk) {
        background-position: 500px 100px;
    }
}

.protect {

    &__illustration {
        width: 260px;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            width: 400px;
        }
    }
}

.travel {
    background: $athens-gray;

    @include media-breakpoint-up(lg) {
        padding-bottom: inherit;
        margin-bottom: 0;
        background: $athens-gray url('#{$cdn_url}/images/rebrand/product/so-sure_reviews-image-alt-flipped.png') no-repeat -100px 70px;
        background-size: 600px;
        text-align: left;
    }

    @include media-breakpoint-up(xl) {
        background-position: -100px 70px;
        background-size: 700px;
    }

    @include media-breakpoint-up(fk) {
        background-position: -100px 70px;
    }

    &__illustration__mobile {
        width: 260px;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            width: 400px;
        }
    }
}

.makes {
    text-align: center;
    position: relative;
    @include blue-gradient;
    z-index: 5;

    img {
        width: 120px;
        margin: 0.5rem;
        // opacity: 0.3;

        &:hover {
            filter: brightness(0.9);
        }

        @include media-breakpoint-up(lg) {
            width: 160px;
            margin: 0;
        }
    }
}
