// promo.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";
@import "../base/fonts";

body {
    background-color: $selago;
}

