// purchase.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $crayon-blue;
    @include blue-gradient;
}

// Old Form CSS
.step {

    &--hide {
        display: none;
    }

}


// Button to switch over to judo from bacs used to be a link, but had to be
// made into a button, so to maintain the design, css can be used to make
// it look like a link
.linkButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    color: $dodger-blue;
}
