// purchase.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $crayon-blue;
    @include blue-gradient;
}

// Old Form CSS
.step {

    &--hide {
        display: none;
    }

}

// Styles a button to look like a link.
// In some cases existing btn-link does not work.
.linkButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    color: $dodger-blue;
}
