// purchase.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $crayon-blue;
    @include blue-gradient;
    padding-top: 2rem;
}

.purchase {

    // Steps
    &-steps {
        display: flex;
        flex-wrap: wrap;
    }

    &-step {
        width: 100%; height: 12px;
        background-color: $athens-gray;
        margin: 0 5px;
        flex-basis: 0;
        flex-grow: 1;
    }

    &-step.active {
        background-color: $ufo-green;
    }

    // Top Section - Quote details & form
    &-top {

    }

    &-details {
        text-align: center;

        h1 {
            display: inline-block;
            border-bottom: 0.1rem solid $deep-sky-blue-d;

            a,
            a.text-white:hover,
            a.text-white:focus,
            a.text-white:active {
                text-decoration: none;
                color: $white !important;
                outline: 0;
            }

            @include media-breakpoint-up(xl) {
                display: block;
            }
        }
    }

    // Bottom Section - FAQ & info
    &-bottom {
        background-color: $athens-gray;
    }
}
