// quotepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $crayon-blue;
    // @include blue-gradient;
}

.qpw {
    padding-bottom: 6rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 0;
    }
}
