// // quotepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $blue-2;
    @include linear-gradient(180deg, $blue-3, $blue-1);
}

.quote {
    position: relative;

    &__h1 {
        @include media-breakpoint-down(xs) {
            font-size: 1.5rem;
        }

    }

    &__h5 {
        @include media-breakpoint-down(xs) {
            font-size: 1rem;
        }
    }

    &__details__container {

        @include media-breakpoint-up(lg) {
            width: 60vw; height: 100vh;
            overflow-y: scroll;
        }
    }

    &__details {
        padding-top: 6rem;

        @include media-breakpoint-up(lg) {
            padding-top: 12rem;
        }
    }

    &__footer {
        @include media-breakpoint-up(lg) {
            padding-top: 8rem;

            //TODO: This is terrible needs positioning
        }
    }

    &__info {
        // display: none;
        // height: 90vh;

        border-top: 2px solid $blue-1;

        &:first-of-type {
            border-top: none;
        }

        .table-list {
            width: 384px;
            position: relative;

            &__header {
                background-color: $blue-4;
            }

            &__insurers {
                tr {
                    td {
                        background-color: $blue-2;
                        border-bottom-color: rgba(255, 255, 255, 0.1);
                    }

                    td.border-fix {
                        border-bottom-left-radius: 15px;
                    }
                }
            }

            &__icn-dark {
                background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_unhappy-dark-icn.svg');
            }

            @include media-breakpoint-up(xl) {

                &__insurers {
                    z-index: 10;
                }

                &__so-sure {
                    width: 400px;
                    transform: translateX(-25px);
                    z-index: 11;
                }
            }
        }
    }

    &__cover {
        background-color: $white;

        @include media-breakpoint-up(lg) {
            width: 40vw; height: 100vh;
        }
    }
}
