// // quotepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $blue-2;
    @include linear-gradient(180deg, $blue-3, $blue-1);
}

.quote {
    position: relative;

    &__details__container {

        @include media-breakpoint-up(lg) {
            width: 60vw; height: 100vh;
            overflow-y: scroll;
        }
    }

    &__details {
        padding-top: 4rem;

        @include media-breakpoint-up(lg) {
            padding-top: 12rem;
        }
    }

    &__footer {
        @include media-breakpoint-up(lg) {
            padding-top: 8rem;
        }
    }

    &__info {
        // display: none;
        // height: 90vh;

        border-top: 2px solid $blue-1;

        &:first-of-type {
            border-top: none;
        }
    }

    &__cover {
        background-color: $white;

        @include media-breakpoint-up(lg) {
            width: 40vw; height: 100vh;
        }
    }
}
