// quotepage.scss (oboarding)

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    // background-color: $crayon-blue;
    // @include blue-gradient;
}

.onboarding {
    overflow: hidden;

    .carousel {
        // height: 100vh;
        position: static;
    }

    .carousel-item {
        // height: 100vh;
        text-align: center;

        &.active {
            // display: flex;
        }
    }

    // Overide indicators
    .carousel-indicators {
        position: static;
        margin: 0;
    }

    &__item {
        height: 100vh;
    }

    &__controls-mobile {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        background-color: $selago;
    }
}

// .qpw {

//     h1 {
//         // TODO: This could be done better
//         border: none;
//     }

//     &__main {
//         padding-top: 1.5rem;

//         @include media-breakpoint-up(lg) {
//             padding-top: 12rem;
//         }
//     }

//     &__sub__container {
//         margin-top: 3.4rem;

//         @include media-breakpoint-up(lg) {
//             margin-top: 0;
//         }
//     }

//     &__curve {
//         transform: translateY(-1px);

//         @include media-breakpoint-up(lg) {
//             transform: none;
//         }
//     }

//     &__sub {
//         max-width: 400px;
//         margin: 0 auto;
//         text-align: center;
//         padding-top: 2em;

//         @include media-breakpoint-up(lg) {
//             padding-top: 12rem;
//         }
//     }
// }

