// quotepage.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

body {
    background-color: $blue-2;
    @include linear-gradient(160deg, $blue-3, $blue-1a);
}

.welcome {
    position: relative;

    // h1 {
    //     border-bottom: 2px solid $blue-1b;
    // }

    // &__h1 {
    //     @include media-breakpoint-down(xs) {
    //         font-size: 1.5rem;
    //     }

    //     .far {
    //         cursor: pointer;
    //     }
    // }

    // &__h5 {
    //     @include media-breakpoint-down(xs) {
    //         font-size: 1rem;
    //         opacity: 0.5;
    //     }
    // }

    &__details__container {

        @include media-breakpoint-up(lg) {
            width: 60vw; height: 100vh;
            overflow-y: scroll;

            // IE
            -ms-overflow-style: none;
        }
    }

    &__details {
        padding-top: 6rem;

        @include media-breakpoint-up(lg) {
            padding-top: 8rem;
        }
    }


    &__cover__container {
        background-color: $white;

        @include media-breakpoint-up(lg) {
            width: 40vw; height: 100vh;
            overflow-y: scroll;

            // IE
            -ms-overflow-style: none;
        }
    }

    &__cover {
        max-width: 400px;
        text-align: center;
        padding-top: 2em;

        @include media-breakpoint-up(lg) {
            margin: 0 auto;
            padding-top: 8rem;
        }
    }
}

