<div class="modal" id="claimsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 6px;">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row text-center">
                        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    </div>
                    <div class="row text-center">
                        <h3>Loading...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>