<div class="modal" id="claimsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Claim: ''</h4>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab"
                       aria-controls="general"
                       aria-selected="true">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#damage" role="tab"
                       aria-controls="damage"
                       aria-selected="false">Damage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="replacement-tab" data-toggle="tab" href="#replacement" role="tab"
                       aria-controls="replacement"
                       aria-selected="false">Replacement Phone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dates-tab" data-toggle="tab" href="#dates" role="tab"
                       aria-controls="dates"
                       aria-selected="false">Dates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="amounts-tab" data-toggle="tab" href="#amounts" role="tab"
                       aria-controls="amounts"
                       aria-selected="false">Amounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="update-tab" data-toggle="tab" href="#update" role="tab"
                       aria-controls="update"
                       aria-selected="false">Update</a>
                </li>
            </ul>

            <div class="modal-body">

                <div class="container-fluid">

                    <div class="tab-content" id="tab-content">
                        <div class="tab-pane fade in active" id="general" role="tabpanel"
                             aria-labelledby="general-tab">
                            <table class="table table-striped">
                                <tr>
                                    <td>Policy</td>
                                    <td id='claims-detail-policy'></td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td id="claims-type"></td>
                                <tr>
                                    <td>Status</td>
                                    <td id='claims-detail-status'></td>
                                </tr>
                                <tr>
                                    <td>Claim Handling Team</td>
                                    <td id='claims-detail-handling-team'></td>
                                </tr>
                                <tr>
                                    <td>Number to reach</td>
                                    <td id='claims-detail-number-to-reach'></td>
                                </tr>
                                <tr>
                                    <td>Time to reach</td>
                                    <td id='claims-detail-time-to-reach'></td>
                                </tr>
                                <tr>
                                    <td>Initial Suspicion</td>
                                    <td id='claims-detail-initial-suspicion'></td>
                                </tr>
                                <tr>
                                    <td>Final Suspicion</td>
                                    <td id='claims-detail-final-suspicion'></td>
                                </tr>
                                <tr>
                                    <td>Incident Date</td>
                                    <td id='claims-detail-incident-date'></td>
                                </tr>
                                <tr>
                                    <td>Incident Location</td>
                                    <td id='claims-detail-incident-location'></td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td id='claims-detail-description'></td>
                                </tr>
                                <tr>
                                    <td>Notes</td>
                                    <td id='claims-detail-notes'></td>
                                </tr>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="damage" role="tabpanel" aria-labelledby="damage-tab">
                            damage
                        </div>

                        <div class="tab-pane fade" id="replacement" role="tabpanel" aria-labelledby="replacement-tab">
                            replacement
                        </div>

                        <div class="tab-pane fade" id="dates" role="tabpanel" aria-labelledby="dates-tab">
                            dates
                        </div>

                        <div class="tab-pane fade" id="amounts" role="tabpanel" aria-labelledby="amounts-tab">
                            amounts
                        </div>

                        <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="update-tab">
                            update
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save stuff</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>