    <div class="modal fade" id="alternativeModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 90%">
        <div class="modal-content">
        <form id="phone-alternative-form" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Alternatives</h4>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Replacement Price</th>
                        <th>OS</th>
                        <th>Processor Speed</th>
                        <th>Processor Cores</th>
                        <th>Ram</th>
                        <th>SSD Slot</th>
                        <th>Screen size</th>
                        <th>Screen resolution</th>
                        <th>Camera</th>
                        <th>4G</th>
                        <th>Age</th>
                        <th>Initial Price</th>
                    </tr>
                    </thead>
                    <tbody id="current-table-body">
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Replacement Price</th>
                        <th>OS</th>
                        <th>Processor Speed</th>
                        <th>Processor Cores</th>
                        <th>Ram</th>
                        <th>SSD Slot</th>
                        <th>Screen size</th>
                        <th>Screen resolution</th>
                        <th>Camera</th>
                        <th>4G</th>
                        <th>Age</th>
                        <th>Initial Price</th>
                    </tr>
                    </thead>
                    <tbody id="alternative-table-body">
                    </tbody>
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
      </div>
    </div>
