<div class="modal fade"
     id="onboarding-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="onboarding-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-onboarding modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-onboarding-header">
                <h5 class="modal-title">
                    {# Welcome #}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-zaffre"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="onboarding-carousel"
                     class="carousel slide"
                     data-ride="carousel"
                     data-interval="false"
                     data-wrap="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-md-flex align-items-md-center">
                                <div class="onboarding-carousel__image">
                                    <img src="{{ cdn_url }}/images/rebrand/icns/so-sure_icon_app.png" alt="so-sure - Download the app" width="280px">
                                </div>
                                <div class="onboarding-carousel__body ml-md-3">
                                    <h2 class="h3 text-primary mb-3">Download the app</h2>
                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed ex ut lacus efficitur tincidunt sed et odio. Cras dictum tortor molestie orci ullamcorper.</p>
                                    <form action="">
                                        <input type="text">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            2
                        </div>
                        <div class="carousel-item">
                            3
                        </div>
                    </div>
{#                     <div>
                        <ol class="carousel-indicators">
                            <li data-target="#onboarding-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#onboarding-carousel" data-slide-to="1"></li>
                            <li data-target="#onboarding-carousel" data-slide-to="2"></li>
                        </ol>
                    </div> #}
                </div>
            </div>
            <div class="modal-footer modal-onboarding-footer">
{#                 <ul class="list-inline mb-0 onboarding-indicators">
                    <li class="active list-inline-item">
                        <i class="fas fa-circle"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-circle"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-circle"></i>
                    </li>
                </ul> #}
                <div class="onboarding-controls d-flex align-items-center">
                    <a href="#onboarding-carousel"
                       id="onboarding-prev-btn"
                       class="btn btn-outline-grey d-flex btn-circle justify-content-center align-items-center"
                       role="button"
                       data-slide="prev"
                       disabled="disabled">
                        <span class="sr-only">back</span>
                        <i class="far fa-arrow-left"></i></a>
                    <a href="#onboarding-carousel"
                       id="onboarding-next-btn"
                       class="btn btn-primary ml-4"
                       role="button"
                       data-slide="next">Next</a>
                    <a href="#"
                       id="onboarding-get-started-btn"
                       class="btn btn-success  ml-4 hide-controls"
                       role="button"
                       data-dismiss="modal"
                       aria-label="Close">Get Started </a>
                </div>
            </div>
        </div>
    </div>
</div>
