<div class="modal fade"
     id="starling-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="starling-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thank you for buying your Mobile phone Insurance with so-sure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body text-center text-sm-left">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ cdn_url }}/images/logo/so-sure_starling_bank_logo.svg" alt="Starling Bank" width="200px"
                    </div>
                    <div class="col-sm-8">
                        To link up your policy details with the Starling Bank app click here:<br>
                        <a href="{{ app.session.get('oauth2Flow.targetPath') }}" class="btn btn-starling"><i class="fa fa-link" aria-hidden="true"></i> Link My Policy</a><br>
                        If you have any questions or need support about your policy <br> contact us on <a href="mailto:support@wearesosure.com" class="text-white text-underline">support@wearesosure.com</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
