<section class="user-homepage--content section--pad">
    <div class="container">
        <ul class="list-unstyled">
            <li class="h2">{{ bacsPaymentMethod.accountName }}</li>
            <li class="h2">{{ bacsPaymentMethod.sortCode }}</li>
            <li class="h2">{{ bacsPaymentMethod.displayableAccountNumber }}</li>
        </ul>
        {{ form(bacs_confirm_form) }}
    </div>
</section>
