<h1 class="h2 mb-4">Payment details</h1>

<div class="row">
    {% if bacs %}
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Your current payment method</h5>
                    <p class="card-text mb-4">{% if user.paymentMethod and user.paymentMethod.type == "judo" %}Credit/Debit Card{% elseif user.paymentMethod and user.paymentMethod.type == "bacs" %}Direct Debit{% else %}Unknown{% endif %}</p>
                    {% if not bacs_last_payment_in_progress %}
                        {# TODO: store history of bacs - until then, if payment is pending, changing to card method is problematic #}
                        <a href="#"
                           data-tab-to="#payment_card_tab"
                           class="card-link show-tab"><i class="fal fa-credit-card fa-fw"></i> Change to Credit/Debit Card</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-12 col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Your Direct Debit</h5>
                <p class="card-text mb-4">{% if user.paymentMethod and user.paymentMethod.type == "bacs" %}{{ user.paymentMethod }}{% else %}Not setup{% endif %}</p>
                {% if user.canUpdateBacsDetails %}
                    <a href="#"
                       data-tab-to="#bacs_setup_tab"
                       class="card-link show-tab"><i class="fal fa-edit fa-fw"></i> Update Account Details</a>
                {% else %}
                    <a class="card-link disabled" title="Bacs Payment Pending">Unable to Update Details</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if bacs %}
        {% if policy and policy.premiumPlan == 'monthly' %}
            <div class="col-12 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Direct Debit Billing date</h5>
                        <p class="card-text">Monthly on the <strong>{{ policy.billing|date('jS','Europe/London') }}</strong> <br><small>(or within a few days in the case of weekends/bank holidays)</small></p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
