
    <section class="user-homepage--content section--pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Your Payment Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <h4>Your payment method:</h4>
                </div>
                <div class="col-md-4">
                  <br />
                  <p>{{ user.paymentMethod.name }}</p>
                  <a href="#tab-card" class="btn btn-success" data-toggle="tab">Change to Credit/Debit Card</a>
                </div>
            </div>
        </div>
  </section>
