{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/owl.carousel/owl.carousel.min.css'
        'components/owl.carousel/owl.theme.default.min.css'
        '@AppBundle/Resources/public/sass/page/checkoutNew.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="checkout">
        <div class="checkout--top">
            <div class="container">

                {% if policy.hasNextPolicy and policy.nextPolicy.status == "renewal" %}
                    <h1 class="h2">
                        <span class="title-top">
                            Your policy is scheduled to be renewed
                            {% if policy.hasCashback %}
                                <br>
                                Your cashback request was received and will be processed <span class="text-blue">28-45</span> days after your policy has ended.
                            {% endif %}
                        </span>
                    </h1>
                {% elseif policy.hasCashback %}
                    <h1 class="h2"><span class="title-top">Your cashback request was received and will be processed <span class="text-blue">28-45</span> days after your policy has ended.</span></h1>
                {% else %}
                    {% block titleArea %}{% endblock %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block actions %}{% endblock %}
    </section>

    {% block modals %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/owl.carousel/owl.carousel.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/User/renew.js'
     %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
