{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}
{% set new_footer = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/owl.carousel/owl.carousel.min.css'
        'components/owl.carousel/owl.theme.default.min.css'
        '@AppBundle/Resources/public/sass/page/checkout.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="checkout">
        <div class="checkout--top">
            <div class="container">
                {% block titleArea %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block actions %}{% endblock %}
    </section>

    {% block modals %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/jquery-validation/jquery.validate.js'
    '@AppBundle/Resources/public/js/Default/jqueryValidatorMethods.js'
    'components/jquery-mask-plugin/jquery.mask.min.js'
    'components/owl.carousel/owl.carousel.min.js'
    '@AppBundle/Resources/public/js/User/renew.js'
     %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
