{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set distraction_free = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        'components/owl.carousel/owl.carousel.min.css'
        'components/owl.carousel/owl.theme.default.min.css'
        '@AppBundle/Resources/public/sass/page/checkoutNew.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="checkout">
        <div class="checkout--top">
            <div class="container">
                {% if policy.hasNextPolicy and policy.nextPolicy.status == "renewal" %}
                    <h1 class="h2">
                        <span class="title-top">
                            Thank you for renewing your policy with so-sure.
                        </span>
                    </h1>
                    <h4 class="text-center">You will continue to be protected against theft, loss, and accidental damage.</h4>
                    <p class="lead text-center">Make sure that you continue to get your pot reward next year by re-inviting all your existing connections.<br> Add more connections to get even more money in your pot.</p>
                    {% if policy.hasCashback %}
                        <p class="lead text-center">
                            Your cashback request was received and will be processed <span class="text-blue">28-45</span> days after your policy has ended.
                        </p>
                    {% endif %}
                {% elseif policy.hasCashback %}
                    <p class="lead text-center">Your cashback request was received and will be processed <span class="text-blue">28-45</span> days after your policy has ended.</span></p>
                {% else %}
                    {% block titleArea %}{% endblock %}
                    {% block content %}{% endblock %}
                {% endif %}
            </div>
        </div>
        {% if policy.hasNextPolicy and policy.nextPolicy.status == "renewal" %}
            <h1 class="text-center">connections here</h1>
        {% else %}
            {% block actions %}{% endblock %}
        {% endif %}
    </section>

    {% block modals %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/owl.carousel/owl.carousel.min.js'
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/User/renew.js'
     %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
