{% extends 'base.html.twig' %}

{% block body %}
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Coming soon!</h1>
                <p>
                    We're still working on your account section at the moment, however if you want to update any of your details then head on over to our app!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/public/css/User/trust.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}
