{% extends 'base.html.twig' %}

{% block body %}
  <div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Oops</h1>
                <h2>Looks like you don't have an active policy yet</h2>
                <h2>Download our app :)</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AppBundle/Resources/public/css/User/index.css'
        '@AppBundle/Resources/public/css/User/trust.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}
