{% extends 'AppBundle:User:baseRenewPolicy.html.twig' %}

{% block titleArea %}
    <h1 class="h2">
        <span class="title-top">
            Your cashback request was received.
        </span>
    </h1>
    <p class="lead text-center">Your cashback request will be processed <span class="text-blue">28-45</span> days after your policy has ended.</span></p>
{% endblock %}

{% block content %}
    
{% endblock %}

{% block actions %}
    <h1 class="text-center">renew policy here</h1>
{% endblock %}
