{% block body %}

  <div class="modal-body">
    <div class="container-fluid">
      {{ form_start(form) }}
      {{ form_end(form) }}
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
  </div>

{% endblock %}
