<div class="modal-body">

    <h4>Offers</h4>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Phone</th>
            <th>Offer Price</th>
        </tr>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.phone }}</td>
                <td>£{{ offer.price.yearly }}p/y (£{{ offer.price.montly }}p/m)</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
