{% block body %}

    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="modal-body">
        <div class="container-fluid">
            <div class="form-group row">
                <p>Salva Status</p>
                {{ form_widget(form.status, {'attr': {'class': 'custom-select'}}) }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        {{ form_widget(form.update, { 'attr': {'class': 'btn btn-danger'} }) }}
        <button type="button" class="btn btn-grey" data-dismiss="modal">Close</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
