{% block body %}
    {{ form_start(form) }}
        <div class="modal-body">
            <div class="container-fluid">
                <div class="form-row">
                    <p>Hello it is time</p>
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
