{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'quiz' %}
{% set robots_noindex = true %}

{% block title %}Quiz | so-sure{% endblock %}
{% block meta %}{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/content-pages.css') }}">
{% endblock %}

{% block body %}

    <section class="cp py-lg-5">
        <div class="container-large text-center py-5">
            <iframe id="quizWidget-480088" width="100%" frameborder="0" border="none" src="https://www.qzzr.com/widget/quiz/fi9xdWl6emVzLzQ4MDA4OA"></iframe>
        </div>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/content-pages.js') }}"></script>
{% endblock %}
