// button.scss

.btn {
    font-family: $g-medium;

    .far {
        vertical-align: middle;
    }
}

// Add shadow to button rather than modifying the core css
.btn-shadow {
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);
}

// Modify white btns to match design
.btn-white {
    color: $blue-2;
}

// Add gradient to button rather than modifying the core css
.btn-gradient {
    border: none;
    @include linear-gradient(90deg, $blue-3, $blue-1a);

    &:hover {
        @include linear-gradient(90deg, $blue-1a, $blue-3);
    }
}

// Add gradient to button rather than modifying the core css
.btn-gradient-green {
    border: none;
    // @include linear-gradient(90deg, $green, $green-2);

    &:hover {
        // @include linear-gradient(90deg, $green-2, $green);
    }
}

// Add square buttons for icons to button rather than modifying the core css
.btn-square {
    padding: .6rem 1rem;
    @include border-radius(4px);
}

// Button block mobile only - make buttons full width xs < down
@include media-breakpoint-down(xs) {

    .btn-block-xs {
        display: block;
        width: 80%;
        padding-top: .8rem;
        padding-bottom: .8rem;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-block-xs + .btn-block-xs  {
        margin-top: 1.1rem;
    }
}

