// button.scss

// Add shadow to solid buttons
.btn {
    font-family: $g-medium;
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    &:hover {
        box-shadow: none;
    }
}

.btn.disabled {
    cursor: not-allowed;
}

// Remove box-shadow on outline buttons
a[class*="btn-outline-"],
.btn-circle,
.btn-square,
button[class*="btn-outline-"],
input[type="submit"][class*="btn-outline-"], {
    box-shadow: none;
}

.btn-shadow {
    font-family: $g-medium;
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    &:hover {
        box-shadow: none;
    }
}

// Modify white btns to match design
.btn-white,
.btn-bright-yellow {
    color: $zaffre;

    &:hover {
        color: darken($zaffre, 5%);
    }
}

.btn-blue-gradient {
    border: none;
    @include linear-gradient(100deg, $crayon-blue, $deep-sky-blue-b);

    &:hover,
    &:focus,
    &:active {
        @include linear-gradient(100deg, $crayon-blue, $deep-sky-blue-b);
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        @include linear-gradient(100deg, $crayon-blue, $crayon-blue);

        &:focus {
          @include linear-gradient(100deg, $crayon-blue, $crayon-blue);
        }
    }
}

.btn-green-gradient {
    border: none;
    @include linear-gradient(100deg, $islamic-green, $ufo-green);

    &:hover,
    &:focus,
    &:active {
        @include linear-gradient(100deg, $ufo-green, $islamic-green);
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        @include linear-gradient(100deg, $islamic-green, $islamic-green);

        &:focus {
          @include linear-gradient(100deg, $islamic-green, $islamic-green);
        }
    }
}

.btn-turquoise-gradient {
    border: none;
    @include linear-gradient(100deg, $java, $turquoise);

    &:hover,
    &:focus,
    &:active {
        @include linear-gradient(100deg, $turquoise, $java);
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        @include linear-gradient(100deg, $turquoise, $turquoise);

        &:focus {
          @include linear-gradient(100deg, $turquoise, $turquoise);
        }
    }
}

// Add square buttons for icons to button rather than modifying the core css
.btn-square {
    padding: .6rem 1rem;
    @include border-radius(8px);

    span {
        display: block;
        font-size: 75%;
    }

    @include media-breakpoint-up(sm) {
        span {
            display: inline;
            font-size: 100%;
        }
    }
}

.btn-circle {
    width: 45px; height: 45px;
    @include border-radius(50%);
}

// Don't use .btn just this!
.btn-simple-link {
    background: none;
    border: none;
    padding: 0;
    font-family: $g-medium;
    cursor: pointer;
    text-decoration: underline;
    color: $dodger-blue;

    &:hover,
    &:focus,
    &:active {
        color: darken($dodger-blue, 10%);
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
}

// Button block mobile only - make buttons full width xs < down
@include media-breakpoint-down(ss) {

    .btn-block-xs {
        display: block;
        width: 100%;
        padding-top: .9rem;
        padding-bottom: .9rem;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-block-xs + .btn-block-xs  {
        margin-top: 1.1rem;
    }
}

.btn-hide {
    display: none;
}

// Btn icons using FA5
.btn-icon {

    &:after {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: 'Font Awesome 5 Pro';
        margin-left: 20px;
        // opacity: 0.7;
    }
}

.arrow-right {

    &:after {
        font-weight: 400;
        content: '\f178'
    }

}
