// cards.scss

.cardbox {
    max-width: 300px;
    background-color: $white;
    border: 2px solid rgba(37,147,243, 0.2);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);
    @include border-radius(15px);

    &__body {
        padding: 2rem;
    }

    &__title {}

    &__text {
        font-size: 13px;
    }

    @include media-breakpoint-up(lg) {
        width: 300px;
        // height: 480px;
    }
}

.cardbox-400 {
    @include media-breakpoint-up(md) {
        height: 400px;
    }
}

.cardbox-460 {
    @include media-breakpoint-up(md) {
        height: 460px;
    }
}

.cardbox-100 {
    width: 100%;
}

// Only using px here for consistency
.expanding-cardbox {
    border: 2px solid rgba(37,147,243, 0.2);
    @include border-radius(10px);

    &__body {
        padding: 1.2rem 1.56rem 1.56rem 1.56rem;
    }

    &__title {
        position: relative;
        padding-right: 2.4rem;
        margin-top: .25rem;
        cursor: pointer;

        .far {
            position: absolute;
            right: 0; top: 4px;
        }
    }

    &__excerpt {
        padding-right: 2.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__expand {
        display: none;
    }

    &:hover {
        background-color: $white;
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                    0 5px 15px 0 rgba(8,27,154,0.08);
    }
}

.expanding-cardbox-alt {
    border: 2px solid $columbia-blue-e;

    &:hover {
        border: 2px solid $columbia-blue-e;
        background-color: rgba(255,255,255,.08);
    }
}

.expanding-cardbox-white {
    // border: 2px solid $columbia-blue-e;
    background-color: $white;

    &:hover {
        // border: 2px solid $columbia-blue-e;
        // background-color: rgba(255,255,255,.08);
    }
}

.expanding-cardbox__icon {
    background: $white url('#{$cdn_url}/images/rebrand/icns/so-sure_tick-icn.svg') no-repeat 1.3rem 1.25rem;
    background-size: 2rem;

    .expanding-cardbox__title {
        padding-left: 2.8rem;
    }

    .expanding-cardbox__expand {
        padding-left: 2.6rem;
    }

    .expanding-cardbox__excerpt {
        padding-left: 2.8rem;
    }
}

.expanding-cardbox__open {
    background-color: $white;
    cursor: default;
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    &.expanding-cardbox-alt {
        background-color: rgba(255,255,255,.08);
        border: 2px solid $columbia-blue-e;
    }
}

// Summary Style Cardbox
.summary-cardbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid $selago;
    @include border-radius(0.85rem);

    &__header {
        padding: 1rem 1.25rem;
        border-bottom: 2px solid $selago;
    }

    &__body {
        flex: 1 1 auto;
        padding: 1.25rem;
        background-color: lighten($selago, 5%);
    }

    &__cta {
        a {
            text-align: center;
            display: block;
            padding: 1rem 1.25rem;
            margin: 0 -1px -1px;
            font-family: $g-medium;
            background-color: $dodger-blue;
            color: $white;
            cursor: pointer;
            @include border-bottom-radius(0.85rem);

            &:hover, &:focus {
                outline: 0;
                text-decoration: none;
                background-color: darken($dodger-blue, 5%);
            }

            &:active {
                background-color: darken($dodger-blue, 8%);
            }

            &.disabled {
                pointer-events: none;

                &:hover,
                &:focus,
                &:active {
                    background-color: $dodger-blue;
                    outline: 0;
                    text-decoration: none;
                }
            }
        }
    }
}
