// cards.scss

.cardbox {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    background-color: $white;
    // border: 1px solid rgba(0, 146, 255, 1);
    border: 1px solid rgba(173, 177, 181, 0.6);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);
    @include border-radius($g-border-radius);

    &__body {
        padding: 1.5rem;

        @include media-breakpoint-up(md) {
            padding: 2rem;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0; left: 0;
    }

    &__text {
        font-size: 13px;
    }

    &__header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 58px; height: 58px;
        position: absolute;
        left: 50%; top: -29px;
        margin-left: -29px;
        background-color: $primary;
        color: $white;
        box-shadow: 0 0 0 0.4rem rgba(0, 146, 255, 0.2);

        @include border-radius(50%);
    }

    @include media-breakpoint-up(lg) {
        width: 300px;
    }

    &-400 {
        @include media-breakpoint-up(md) {
            height: 400px;
        }
    }

    &-460 {
        @include media-breakpoint-up(md) {
            height: 460px;
        }
    }

    &-450 {
        max-width: 450px;
    }

    &-100 {
        width: 100%;
        max-width: none;
    }

    &-opacity {
        background-color: rgba(0, 0, 0, 0.1);
        color: $white;
    }

    &-center-box {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    &-focus {
        border: 2px solid rgba(37,147,243, 0.8);
    }

    &-no-smallscreen-border {
        border: none;

        @include media-breakpoint-up(md) {
            border: 1px solid $link-water;
        }
    }

    &-divider {
        border-bottom: 1px solid $link-water;

        &:last-of-type {
            border-bottom: 0;
        }
    }

    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cardbox-flow {
    overflow: visible;
}

.cardbox-ribbon {
    width: 200px;
    background: $lust;
    position: absolute;
    top: 35px; right: -50px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    color: $white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

// Only using px here for consistency
.expanding-cardbox {
    border: 1px solid rgba(0, 146, 255, 1);
    // border: 1px solid rgba(173, 177, 181, 0.6);
    @include border-radius($g-border-radius);

    &__title {
        position: relative;
        @include border-top-radius($g-border-radius);
        padding: 1.2rem 3rem 1.2rem 1.56rem;
        cursor: pointer;
        margin: 0;

        .far {
            position: absolute;
            right: 1.2rem; top: 1.4rem;
        }

        .fas {
            color: lighten($dodger-blue, 30%);
            position: absolute;
            right: 1.2rem; top: 2.4rem;
        }
    }

    &__excerpt {
        padding-right: 2.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__expand {
        display: none;
        padding: 1.2rem 1.56rem 1.56rem 1.56rem;
    }

    &:hover {
        background-color: $white;
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                    0 5px 15px 0 rgba(8,27,154,0.08);
    }

    &-alt {
        border: 2px solid $columbia-blue-e;

        &:hover {
            border: 2px solid $columbia-blue-e;
            background-color: rgba(255,255,255,.08);
        }
    }

    &-white {
        background-color: $white;
    }
}

.expanding-cardbox__icon {
    background: $white url('#{$cdn_url}/images/rebrand/icns/so-sure_tick-icn.svg') no-repeat 1.3rem 1.25rem;
    background-size: 2rem;

    .expanding-cardbox__title {
        padding-left: 2.8rem;
    }

    .expanding-cardbox__expand {
        padding-left: 2.6rem;
    }

    .expanding-cardbox__excerpt {
        padding-left: 2.8rem;
    }
}

.expanding-cardbox__open {
    background-color: $white;
    border: none;
    cursor: default;
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.2),
                0 5px 15px 0 rgba(8,27,154,0.2);

    .expanding-cardbox__title {
        background-color: $primary;
        color: $white;

        .far {
            color: $white;
        }
    }

    &.expanding-cardbox-alt {
        background-color: rgba(255,255,255,.08);
        border: 2px solid $columbia-blue-e;
    }
}

.expanding-cardbox-white.expanding-cardbox__open {
    border: 1px solid rgba(0, 146, 255, 1);

    .expanding-cardbox__title {
        background-color: $white;
        color: $zaffre;

        .far {
            color: $zaffre;
        }

        .fas {
            color: lighten($dodger-blue, 30%);
        }
    }
}

.expanding-cardbox-alt.expanding-cardbox__open {
    .expanding-cardbox__title {
        background-color: transparent;
    }
}


// Summary Style Cardbox
.summary-cardbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid $link-water;

    // @include media-breakpoint-up(lg) {
        border-bottom: none;
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                    0 5px 15px 0 rgba(8,27,154,0.08);
        @include border-radius($g-border-radius);
    // }

    &__header {
        padding: 1rem 2rem;
        background-color: $ultramarine;
        color: $white;

        @include border-top-radius($g-border-radius);
    }

    &__body {
        flex: 1 1 auto;
        padding: 2rem;
        background-color: lighten($selago, 5%);

        @include border-bottom-radius($g-border-radius);
    }

    &__cta {
        a {
            text-align: center;
            display: block;
            padding: 1rem 1.25rem;
            margin: 0 -1px -1px;
            font-family: $g-medium;
            background-color: $dodger-blue;
            color: $white;
            cursor: pointer;

            @include border-bottom-radius($g-border-radius);

            &:hover, &:focus {
                outline: 0;
                text-decoration: none;
                background-color: darken($dodger-blue, 5%);
            }

            &:active {
                background-color: darken($dodger-blue, 8%);
            }

            &.disabled {
                pointer-events: none;

                &:hover,
                &:focus,
                &:active {
                    background-color: $dodger-blue;
                    outline: 0;
                    text-decoration: none;
                }
            }
        }
    }
}

// Tabbed Cardbox
.tabbed-cardbox {

    .nav {
        flex-wrap: nowrap;
    }

    .nav-tabs {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        border: 0;

        @include media-breakpoint-up(md) {
            margin: 0;
        }

        .nav-item {
            flex: 1 1 auto;
        }
    }

    .nav-link {
        height: 64px;
        padding: 1rem 1.5rem;
        color: $white;
        background-color: rgba(255, 255, 255, 0.2);
        border: 0;
        transition: all 0.5s linear;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .fas {
            color: $dodger-blue;
        }

        &.active,
        &:hover {
            background-color: $white;
            color: $zaffre;
        }
    }

    .tab-content {
        border-bottom: 1px solid $link-water;
    }

    // Add border for larger screens
    @include media-breakpoint-up(lg) {

        .tab-content {
            border: {
                left: 1px solid $link-water;
                right: 1px solid $link-water;
                bottom: 1px solid $link-water;
            }

            @include border-bottom-radius($g-border-radius);

            background-color: $white;
            box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                        0 5px 15px 0 rgba(8,27,154,0.08);

            .table-sure {

                tr {
                    &:last-of-type {
                        td {
                            &:first-of-type {
                                @include border-bottom-left-radius($g-border-radius);
                            }
                            &:last-of-type {
                                @include border-bottom-right-radius($g-border-radius);
                            }
                        }
                    }
                }
            }
        }
    }

}

.tabbed-cardbox-info {
    position: relative;
    z-index: 100;
    background-color: rgba(0, 148, 255, 0.1);

    border: {
        top: 1px solid $dodger-blue;
        left: 1px solid $link-water;
        right: 1px solid $link-water;
    }

    &-item {
        padding: 1rem;
        border-bottom: 1px solid $dodger-blue;

        span {
            font-family: $g-bold;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            padding: 1.5rem 1rem;
            flex: 1 1 auto;

            border: {
                bottom: none;
                right: 1px solid $dodger-blue;
            }

            &:last-of-type {
                border-right: none;
            }
        }
    }
}

.tabbed-cardbox-alt {

    // Using BS tabs
    .nav-tabs {
        border: none;
        display: flex;
        justify-content: space-between;

        // Modify - use .justify-content-between on element
        .nav-item {
            width: 18%;
            margin-bottom: -1px;
        }

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: start;
            position: relative;
            z-index: 3;
            padding: 1rem;

            line-height: 1.46;
            font-family: $g-bold;
            font-size: 13px;
            color: $white;
            background-color: rgba(255, 255, 255, 0.1);
            // border: 1px solid rgba(37, 147, 243, 0.2);
            border: 1px solid rgba(173, 177, 181, 0.6);
            border-bottom: none;
            @include border-top-radius($g-border-radius);

            transition: all 0.2s linear;

            img {
                filter: brightness(0) invert(1);
                opacity: 0.5;
            }

            .fas {
                position: absolute;
                right: 1rem; top: 1.8rem;
            }

            &.active,
            &:hover {
                background-color: $white;
                // border: 1px solid rgba(37, 147, 243, 1);
                border: 1px solid rgba(173, 177, 181, 0.6);
                border-bottom: none;
                color: $zaffre;
                z-index: 5;

                img {
                    filter: brightness(1) invert(0);
                    opacity: 1;
                }

                .fas {
                    color: $dodger-blue;
                }
            }
        }
    }

    .tab-content {
        position: relative;
        z-index: 4;
        background-color: $white;
        // border: 1px solid rgba(0, 146, 255, 1);
        border: 1px solid rgba(173, 177, 181, 0.6);
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                    0 5px 15px 0 rgba(8,27,154,0.08);
        @include border-bottom-radius($g-border-radius);

        // Pad the content
        padding: 2rem;
    }
}

.card {
    &-number {
        width: 2.8rem; height: 2.8rem;
        position: absolute;
        top: -1rem; left: -1rem;
        background-color: $white;
        border: 2px solid $dodger-blue;
        font-family: $g-bold;
        color: $dodger-blue;
        @include border-radius(50%);
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.18),
                    0 5px 15px 0 rgba(8,27,154,0.18);

        // Align the number
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
