// checkoutV2.scss

@import "../vendor/bs4/functions";
@import "../vendor/bs4/variables";
@import "../vendor/bs4/mixins/breakpoints";
@import "../abstracts/mixins";
@import "../abstracts/palette";
@import "../abstracts/variables";

#payment-form iframe {
  /* This fixes a mobile Safari bug */
  height: 44px !important;
}

#payment-form {
  width: 100%;
  margin: 0 auto;
}

.input-container {
  position: relative;
  display: flex;
  height: 47px;
}
.icon-container:last-child {
  right: 0;
}
.icon-container.payment-method {
  right: 0;
}

.field {
  color: $zaffre;
}

.card-number-frame,
.expiry-date-frame,
.cvv-frame {
  flex: 1 1 auto;
  padding-left: 40px;
}

.icon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 24px;
  margin: 0 11px;
}

.icon-container.payment-method {
  transform: translateY(-50%) rotateY(90deg);
  transition: opacity 0.15s ease-out;
  opacity: 0;
  top: 50%;
}

.icon-container.payment-method.show {
  opacity: 1;
  transition: all 0.4s ease-out;
  transform: translateY(-50%) rotateY(0deg);
}

.icon-container.payment-method img {
  width: 100%;
}

.icon-container img {
  width: 24px;
}

[id$="-error"] {
  display: none;
}

.frame {
  opacity: 0;
}

.frame--activated {
  background-color: $blacksqueeze;
  border: solid 2px rgba(104, 114, 150, 0.29);
  border-radius: 0.375rem;
  width: 100%;
  box-shadow: none;
  color: #6c757d;
}

.frame--activated.frame--focus {
  background-color: rgba(37, 147, 243, 0.1);;
  border-color: $dodger-blue;
  box-shadow: rgba(37, 147, 243, 0.1);
  color: $zaffre;
}

.frame--activated.frame--invalid {
  border-color: $lust;
  box-shadow: 0 0 0 0.2rem rgba(237, 28, 35, 0.25);
}

.frame--activated.frame--valid {
  border-color: $success;
  box-shadow: 0 0 0 0.2rem rgba(44, 188, 110, 0.25);
}

.error-message {
  display: block;
  color: $danger;
  font-size: 0.7rem;
  margin: 8px 0 0 1px;
  font-weight: 300;
}

/**
IE11-targeted optimisations
 */
_:-ms-fullscreen,
:root .icon-container {
  display: block;
}

_:-ms-fullscreen,
:root .icon-container img {
  top: 50%;
  -ms-transform: translateY(-50%);
  position: absolute;
}

_:-ms-fullscreen,
#icon-card-number,
_:-ms-fullscreen,
#icon-expiry-date,
_:-ms-fullscreen,
#icon-cvv {
  left: 7px;
}

#checkout-frames-card-number::-ms-clear {
  display: none;
}