// dropdown.scss

.dropdown-toggle {
    // Hide the BS arrow
    &:after {
        display: none;
    }
}

.dropdown-item {

    &:hover {
        &:first-of-type {
            @include border-top-radius(5px);
        }
        &:last-of-type {
            @include border-bottom-radius(5px);
        }
    }
}

.dropdown-menu {
    z-index: 1080;
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
            0 5px 15px 0 rgba(8,27,154,0.08);
}

.dropdown-menu-nav {
    width: 20rem;
    position: relative;
    border-top: 4px solid $columbia-blue-e;

    @include border-top-radius(0);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
            0 5px 15px 0 rgba(8,27,154,0.08);

    &:after {
        width: 0; height: 0;
        content: '';
        position: absolute;
        bottom: 100%; left: 50%;
        margin-left: -0.7rem;
        border-left: 0.7rem solid transparent;
        border-right: 0.7rem solid transparent;
        border-bottom: 0.7rem solid $columbia-blue-e;
    }
}

.dropdown-item-nav {
    display: flex;
    align-items: center;

    &:hover {
        &:first-of-type {
            @include border-top-radius(0);
        }
        &:last-of-type {
            @include border-bottom-radius(5px);
        }
    }
}
