// dropdown.scss

.dropdown {

  &-toggle {
        &:after {
            display: none;
        }
    }

    &-menu {
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);
    }

    &-item {
        border-bottom: 1px solid $columbia-blue-e;

        margin: 0;

        small {
            display: block;
            font-family: $g-regular;
            color: $dark;
        }

        &:last-of-type {
            border: none;
        }

        &:hover {
            &:first-of-type {
                @include border-top-radius(5px);
            }
            &:last-of-type {
                @include border-bottom-radius(5px);
            }
        }
    }

    &-toggle {
        &:after {
            margin-left: .7rem;
        }
    }
}
