// form-steps.scss

.form-steps {
    width: 120%;
    margin-left: -10%;
    position: relative;


    &__item {
        width: 25%;
        position: relative;
        float: left;
        text-align: center;

        &-content {
            display: inline-block;
            // text-align: center;
        }

        &-off {
            width: 14px; height: 14px;
            display: block;
            position: relative;
            top: 6px;
            z-index: 2;
            border-radius: 100%;
            background-color: $white;
            border: 2px solid $pattens-blue;
        }

        &-on {
            width: 32px; height: 32px;
            display: block;
            position: relative;
            z-index: 2;
            color: $white;
            line-height: 31px;
            border-radius: 100%;
            background-color: $pattens-blue;
            font-family: $g-bold;
            box-shadow: 0 0 0 8px rgba(224, 239, 253, 0.8);
            @include blue-gradient;
        }

        &-done {
            width: 32px; height: 32px;
            display: block;
            position: relative;
            z-index: 2;
            border-radius: 100%;
            background-color: $pattens-blue;
            line-height: 32px;

            &:hover {
                background-color: darken($pattens-blue, 20%);
            }
        }

        &-line {
            width: 100%; height: 3px;
            display: inline-block;
            position: absolute;
            left: -50%; top: 15px;
            z-index: 1;
            background-color: $pattens-blue;
        }
    }
}
