// forms.scss

.form-400 {
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-family: $g-medium;
    color: $zaffre;

    &.error,
    &.is-invalid {
        font-family: $g-regular;
        font-size: $font-size-sm;
        color: $lust;
    }
}

// Overide for checkbox elements
.custom-checkbox {

    label {
        font-family: $g-regular;
        color: $haiti;
    }
}

// Modify error styling - main styling done in _variables.scss
.form-control {

    // &.is-valid-ss,
    // &.is-valid-ss:focus,
    &:focus {
        border-color: $dodger-blue;
        background-color: rgba(37, 147, 243, 0.1);
        box-shadow: rgba(37, 147, 243, 0.1);
    }

    &[disabled]
    &[readonly], {
        background-color: darken($white, 10%) !important;

        &:focus {
            background-color: darken($white, 10%);
        }
    }
}

// Use on dark backgrounds
.form-control-white {
    background-color: $lily-white;

    &.is-valid-ss,
    &.is-valid-ss:focus,
    &:focus {
        border-color: $dodger-blue;
        background-color: $white;
        box-shadow: rgba(37, 147, 243, 0.1);
    }
}

.form-control-shadow {
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.2),
                0 5px 15px 0 rgba(8,27,154,0.2);
}

.form-control-white + .is-invalid {
    color: #fff;
}

.form-text {
    color: rgba(23, 11, 56, 0.4);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $ufo-green;
}

// Server side error styling
.with-errors {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-family: $g-regular;
            font-size: $font-size-sm;
            color: $lust;
        }
    }
}

// Twitter Typeahead
.twitter-typeahead {
    width: 100%;

    .tt {

        &-input {
            z-index: 1001;
        }

        &-hint {}

        &-menu {
            width: 90%;
            width: calc(100% - 1rem);
            left: 0.5rem !important;
            max-height: 180px;
            background-color: $white;
            @include border-bottom-radius(10px);
            box-shadow: 0 15px 30px 0 rgba(8,27,154,0.1),
                        0 5px 15px 0 rgba(8,27,154,0.1);

            overflow-y: scroll;
            z-index: 1000 !important;
        }

        &-suggestion {
            padding: 1rem;
            border-bottom: 1px solid $columbia-blue-e;
            vertical-align: middle;
            cursor: pointer;

            &:last-of-type {
                border-bottom: none;
            }

            &:hover {
                background-color: rgba(37, 147, 243, 0.1);
            }
        }
    }
}

// Radio Button Group
// Apply class to original options container
.radio-btn-original {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// Currently using a row and columns to size for now
// ".radio-btn-original" to the orignal form-group to hide
// TODO: Make js based off data attr's.
.radio-btn {
    width: 100%; height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(104, 114, 150, 0.6);
    background-color: rgba(37, 147, 243, 0.1);
    border: 2px solid rgba(104, 114, 150, 0.1);
    @include border-radius($g-border-radius);

    -webkit-transition: all 300ms 0ms ease-in-out;
    transition: all 300ms 0ms ease-in-out;

    .discount-price {
        text-decoration: line-through;
        color: $lust;
    }

    .h1 {
        color: $dodger-blue;
    }

    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    &:hover,
    &.radio-btn-active {
        cursor: pointer;
        color: $white;
        background-color: $dodger-blue;
        border-color: $columbia-blue-e;
        box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                    0 5px 15px 0 rgba(8,27,154,0.08);

        .discount-price {
            color: $white;
        }

        .h1 {
            color: $white;
        }
    }

    &.radio-btn-active {
        &:hover {
            -webkit-transform: none;
            transform: none;
        }
    }
}

.radio-btn-nh {
    height: auto;
    margin-bottom: 2rem;
    justify-content: start;
    text-align: left;

    .radio-btn__content {
        display: flex;

        > div {
            &:first-of-type {
                margin-right: 1rem;
            }
        }

        @include media-breakpoint-up(md) {
            display: block;

            > div {
                &:first-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        justify-content: center;
        text-align: center;
    }
}

// Custom Input with button
// TODO: This could be done better - buttons need more thought
.custom-input-with-btn {
    position: relative;

    .form-control {
        height: 55px;
        padding-right: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        position: absolute;
        top: 8px; right: 8px;
        padding: 0.60rem;
        box-shadow: none;

    }
}

.custom-file-label {

    &:after {
        border-radius: 0 $g-border-radius $g-border-radius 0;
    }
}
