// form-steps.scss

.form-steps {
    width: 110%;
    margin-left: -5%;
    position: relative;

    @include media-breakpoint-up(lg) {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        width: 25%;
        position: relative;
        float: left;
        text-align: center;

        &-content {
            display: inline-block;
            // text-align: center;
        }

        &-off {
            width: 14px; height: 14px;
            display: block;
            position: relative;
            top: 6px;
            z-index: 2;
            border-radius: 100%;
            background-color: $white;
            border: 2px solid $bb-2;
        }

        &-on {
            width: 32px; height: 32px;
            display: block;
            position: relative;
            z-index: 2;
            color: $white;
            line-height: 31px;
            border-radius: 100%;
            background-color: $bb-2;
            font-family: $g-bold;
            box-shadow: 0 0 0 8px rgba(224, 239, 253, 0.8);
            @include linear-gradient(90deg, $blue-3, $blue-1a);
        }

        &-done {
            width: 32px; height: 32px;
            display: block;
            position: relative;
            z-index: 2;
            border-radius: 100%;
            background-color: $bb-2;
            line-height: 32px;
        }

        &-line {
            width: 100%; height: 3px;
            display: inline-block;
            position: absolute;
            left: -50%; top: 15px;
            z-index: 1;
            background-color: $bb-2;
        }
    }
}
