// getQuote.scss

.getquote {
    width: 100%; height: 0%;
    position: fixed;
    z-index: 1090;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $dodger-blue;
    background-repeat: no-repeat;
    background-size: cover;
    @include blue-gradient-45;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;

    &:before {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: -1;
        content: '';
        background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-background-mobile.svg');
        background-size: cover;
        opacity: 0.44;
    }

    @include media-breakpoint-up(lg) {
        &:before {
            background-image: url('#{$cdn_url}/images/rebrand/misc/so-sure_swoosh-background.svg');
        }
    }

    &__inner {
        width: 100vw; height: 100vh;
    }

    &--open {
        height: 100%;
        // display: flex;
        opacity: 1;
        visibility: visible;
    }

    .hamburger {
        position: absolute;
        top: 0.5rem; right: 1rem;

        @include media-breakpoint-up(xl) {
            top: 0; right: 3rem;
        }
    }
}

.show-in-quote {
    position: relative;
    z-index: 2000;
}
