// lists.scss

.tick-list {
    // Uses our tick icon on the dt element
    dt {
        padding-left: 45px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        background: url('#{$cdn_url}/images/rebrand/icns/so-sure_tick-icn.svg') no-repeat left center;
        background-size: 35px;
    }

    dd {
        margin-bottom: 2rem;
    }
}

.icn-list {

    li {
        position: relative;
        padding-left: 45px;
        padding-top: 2px;

        img {
            position: absolute;
            left: 0; top: 0;
            vertical-align: middle;
        }
    }
}

// Modify list to handle fa icons
.icn-fa-list {

    li {
        position: relative;
        padding-left: 30px;

        > .far,
        > .fal,
        > .fab {
            position: absolute;
            left: 0; top: 5px;
        }
    }

    li.h5 {
        padding-left: 40px;

        > .far,
        > .fal,
        > .fab {
            top: 2px;
        }
    }
}

// Use .list-unstyled
.simple-list {

    &-item {
        border-bottom: 2px solid $selago;

        &:hover {
            text-decoration: none;
        }
    }
}
