// modal.scss

.modal {

    &-header {
        @include blue-gradient;
        @include  border-top-radius(10px);
    }

    &-title {
        color: $white;
        text-align: center;
    }

    &-body {
        padding: 2rem;
    }
}

.modal-video {

    .modal-body {
        position: relative;

        .close {
            position: absolute;
            top: -30px; right: 10px;

            @include media-breakpoint-up(lg) {
                top: 0; right: -30px;
            }
        }
    }

}

.modal-onboarding {

    &-header {
        background: none;
    }

    &-footer {
        background-color: $selago;
        @include  border-bottom-radius(10px);
    }
}
