// modal.scss

.modal {

    &-header {
        @include blue-gradient;
        @include  border-top-radius(10px);
    }

    &-title {
        color: $white;
        text-align: center;
    }

    &-body {
        padding: 2rem;
    }
}

// Video modal
.modal-video {

    .modal-body {
        position: relative;

        .close {
            position: absolute;
            top: -30px; right: 10px;

            @include media-breakpoint-up(lg) {
                top: 0; right: -30px;
            }
        }
    }

}

// Includes Carousel component
.modal-onboarding {

    .carousel {
        position: static;
    }

    .carousel-item {
        text-align: center;
    }

    .carousel-indicators {
        margin: 0;
        // left: 32px; right: auto; bottom: -46px;

        li {
            @include border-radius(12px);
        }
    }

    &__image {

        img {
            width: 120px;

            @include media-breakpoint-up(lg) {
                width: 280px;
            }
        }
    }

    &-footer {
        position: relative;
        padding: 1rem 2rem;
    }

    .hide-controls {
        display: none;
    }
}

// Fullscreen modal
.modal-fullscreen {

    &-dialog {
        min-width: 100%;
        margin: 0;
    }

    &-content {
        min-height: 100vh;
        @include border-radius(0);
    }

    &-header {
        background: none;
        @include border-radius(0);
    }
}

// Table in modal
.modal-body {

    tr {
        &:last-of-type {
            td {
                &:first-of-type {
                    border-bottom-left-radius: 11px;
                }
                &:last-of-type {
                    border-bottom-right-radius: 11px;
                }
            }
        }
    }

}
