// modal.scss

.modal {

    &-header {
        @include blue-gradient;
        @include  border-top-radius(10px);
    }

    &-title {
        color: $white;
        text-align: center;
    }

    &-body {
        padding: 2rem;
    }
}
