// nav.scss

.navbar {
    background-color: transparent;
    // padding-top: 1.2rem;
    transition: padding 0.2s linear;

    @include media-breakpoint-up(lg) {
        // padding-top: 2rem;
    }

    .navbar-nav {
        transition: none;

        .nav-link {
            font-family: $g-medium;
            color: $dark;
        }

        .dropdown-menu {
            position: absolute;
        }

        .dropdown-toggle {
            // Overide bs toggle style
            &:after {
                border: 0;
                margin: 0;
            }
        }
    }
}

.navbar-brand {

    &__logo {
        width: 120px; height: 30px;
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-blue.svg') no-repeat center center;
        background-size: 120px;
    }

    &__logo-white-dark {
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-white-dark.svg') no-repeat center center;
    }

    &__logo-white-light {
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-white-light.svg') no-repeat center center;
    }
}

.navbar-scrolled {
    transition: padding 0.2s linear;
    // padding-top: 0.5rem;
    background-color: $white;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled-quote {
    visibility: hidden;
}

.hamburger {
    position: relative;
    z-index: 1040;

    &:focus {
        outline: 0;
    }
}

.hamburger--spring-r.is-active .hamburger-inner {
    &,
    &::before,
    &::after {
        opacity: 1;
        background-color: $white;
    }
}

.show-in-nav {
    position: relative;
    z-index: 1080;
}
