// nav.scss

.navbar {
    background-color: transparent;
    // padding-top: 1.2rem;
    transition: padding 0.2s linear;

    @include media-breakpoint-up(lg) {
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
    }

    .navbar-nav {
        transition: none;

        .nav-link {
            font-family: $g-medium;
            color: $grey;

            &.user-link {
                color: $blue-2;
            }
        }

        .dropdown-menu {
            position: absolute;
        }

        .dropdown-toggle {
            // Overide bs toggle style
            &:after {
                border: 0;
                margin: 0;
            }
        }
    }

    &-light {
        .navbar-nav {

            .nav-link {
                color: $white;

                &.user-link {
                    color: $blue-1;
                }
            }

        }
    }
}

// Logo bits
.navbar-brand {

    &__logo {
        width: 120px; height: 30px;
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-blue.svg') no-repeat center center;
        background-size: 120px;
    }

    &__logo-white-dark {
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-white-dark.svg') no-repeat center center;
    }

    &__logo-white-light {
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-white-light.svg') no-repeat center center;
    }
}

// Scroll effects
.navbar-scrolled {
    transition: padding 0.2s linear;
    background-color: $white;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
}

.navbar-light {
    &.navbar-scrolled {
        @include linear-gradient(135deg, $blue-3, $blue-1a);
    }
}

.navbar-scrolled-quote {
    visibility: hidden;
}

// Hamburger toggle
.hamburger {
    position: relative;
    z-index: 1040;

    &:focus {
        outline: 0;
    }

    &.is-active {

        .hamburger-inner {
            &,
            &::before,
            &::after {
                background-color: $white;
            }
        }
    }
}

.navbar-light {
    .hamburger {
        .hamburger-inner {
            &,
            &::before,
            &::after {
                background-color: $white;
            }
        }
    }
}


// Page specific
.quote,
.purchase {

    .navbar {
        @include media-breakpoint-up(lg) {
            box-shadow: none;
        }
    }

}


// Utilities
// Allow elements to show through when menu is open
.show-in-nav {
    position: relative;
    z-index: 1080;
}

// Devbar - non-prod
.devbar {
    background-color: rgba(236, 245, 254, 0.5);

    &:hover,
    &:focus {
        box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.04);
        background-color: rgba(236, 245, 254, 1);
    }
}
