// phone-carousel.scss

.phone-carousel {
    width: 236px; height: 480px;
    background-color: $white;
    box-shadow: 0 35px 20px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 998;

    &__mask {
        width: 250px; height: 534px;
        position: absolute;
        top: -30px; left: -7px;
        z-index: 999;
        background: transparent url('#{$cdn_url}/images/rebrand/ss-phone-carousel-frame.svg') no-repeat 0 0;
        background-size: 250px;
    }

    &__controls {
        position: absolute;
        top: 50%; margin-top: -24px;
    }

    &__next {
        right: -50px;
    }

    &__prev {
        left: -50px;
    }

    &__title {
        position: absolute;
        bottom: -80px;
    }

    &__indicators {
        position: absolute;
        bottom: -100px; left: 0; right: 0;
        text-align: center;

        .carousel-indicators {
            position: static;
        }

        li {
            height: 10px; max-width: 10px;
            border-radius: 10px;
            background-color: lighten($columbia-blue-e, 20%);
        }

        li.active {
            background-color: $columbia-blue-e;
        }
    }

    &__item {
        width: 236px; height: 480px;
        background-color: blue;

        &__top {
            height: 280px;
            background-color: $white;
        }

        &__bottom {
            height: 200px;
        }
    }
}
