// reviews.scss

.review {
    background-color: $white;
    text-align: center;
    opacity: 0.6;
    // Push down so we see reviewer image
    margin-top: 40px;
    position: relative;

    display: flex;
    flex-direction: column;

    @include border-radius(12px);

    &__body {
        position: relative;
        padding: 1.7rem 1.5rem;
        padding-top: 55px;

        flex: 2;
        align-self: stretch;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            padding-top: inherit;
        }
    }

    &__img {
        position: absolute;
        margin: auto;
        left: 50%; top: -35px;
        transform: translate(-50%, 0);

        @include media-breakpoint-up(lg) {
            position: static;
            transform: translate(0);
        }
    }

    &__footer {
        display: flex;
        flex: 1;
        align-self: stretch;
        align-items: center;
        justify-content: space-between;
        background-color: lighten($selago, 4%);
        @include border-bottom-radius(12px);
    }

    &__controls {
        display: none;
        position: absolute;
        top: 0; right: 0;
        z-index: 2000;

        &-prev,
        &-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px; height: 48px;
            cursor: pointer;
        }

        &-next {
            background-color: $ultramarine;
            color: $white;

            @include border-top-right-radius(12px);
            @include border-bottom-left-radius(12px);

            &:hover {
                background-color: darken($ultramarine, 8%);
            }

            @include media-breakpoint-up(lg) {
                background-color: $dodger-blue;

                @include border-bottom-right-radius(6px);
                @include border-top-right-radius(6px);
                @include border-bottom-left-radius(0);

                &:hover {
                    background-color: darken($dodger-blue, 8%);
                }
            }
        }

        &-prev {
            display: none;
            background-color: $ultramarine;
            color: $white;
            @include border-bottom-left-radius(6px);

            &:hover {
                background-color: darken($ultramarine, 8%);
            }

            @include media-breakpoint-up(lg) {
                display: flex;
            }
        }

        @include media-breakpoint-up(lg) {
            right: -48px;
        }
    }

    @include media-breakpoint-up(lg) {
        // min-height: none;
        // height: 275px;
        text-align: left;
        // Remove Push down
        margin-top: 0;
    }
}

.rewiew-slide {
    width: 80%;
    margin-right: 1rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        width: 40%;
        margin-right: 70px;
    }

    &.is-selected {

        .review {
            opacity: 1;
            box-shadow: 0 5px 20px 0 rgba(8,27,154,0.1),
                        0 5px 5px 0 rgba(8,27,154,0.1);

            .review__rating .fas {
                color: $dodger-blue;
            }
        }

        .review__controls {
            display: flex;
            align-items: center;
        }
    }
}

.reviews-mobile {

    &-controls {
        height: 40px;
        margin-bottom: 3rem;
        display: flex;
        justify-content: flex-end;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px; height: 40px;
            color: $white;
            background-color: $primary;

            &:hover {
                cursor: pointer;
                background-color: darken($primary, 20%);
                color: darken($white, 10%);
                text-decoration: none;
            }

            &.disabled {
                cursor: default;
                pointer-events: none;
                text-decoration: none;
                background-color: darken($primary, 10%);
                color: darken($athens-gray, 15%);
            }
        }
    }

    &-item {
        display: none;

        &.active {
            display: block;
            opacity: 1;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }

        &.fade-out {
            animation-name: fadeOut;
        }
    }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(50px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-50px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeOut {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 }