// search.scss

.phone-search-dropdown {

    &__select {
        position: relative;

        // Reset
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;

        // Style
        background: transparent url('#{$cdn_url}/images/rebrand/icns/so-sure_arrow-down-icn.svg') no-repeat;
        background-position: right 12px;
        background-size: 20px;
        border: 0;
        border-bottom: 3px solid $deep-sky-blue-d;
        @include border-radius(0);
        color: $deep-sky-blue-d;
        padding: 0 24px 1px 0;

        &:disabled {
            opacity: 0.5;
            // background: transparent;
            padding: 0 24px 1px 0;
        }

        &.valid-select {
            color: $white;
            background: transparent url('#{$cdn_url}/images/rebrand/icns/so-sure_arrow-down-active-icn.svg') no-repeat;
            background-position: right 12px;
            background-size: 20px;
        }

        &:focus {
            outline: 0;
        }

        .sub {
            > option {
                font-size: 16px;
            }
        }

        @include media-breakpoint-up(ss) {
            background-position:  right 20px;

            &.valid-select {
                background-position:  right 20px;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .h1 {
            font-size: 1.6rem;
        }
    }

    // Allows for a line break in flexed rows
    &__break {
        width: 100%;
    }

    // IE
    select::-ms-expand {
        display: none;
    }

    select {
        option {
            color: $dark;
        }
    }

}
