// search.scss

.phone-search-dropdown {

    &__select {
        position: relative;

        // Reset
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;

        // Style
        background: transparent url('#{$cdn_url}/images/rebrand/icns/so-sure_arrow-down-icn.svg') no-repeat;
        background-position: right 12px;
        background-size: 20px;
        border: 0;
        border-bottom: 3px solid $deep-sky-blue-d;
        @include border-radius(0);
        color: $deep-sky-blue-d;
        padding: 0 24px 1px 0;

        &:disabled {
            opacity: 0.5;
            // background: transparent;
            padding: 0 24px 1px 0;
        }

        &.valid-select {
            color: $white;
            background: transparent url('#{$cdn_url}/images/rebrand/icns/so-sure_arrow-down-active-icn.svg') no-repeat;
            background-position: right 12px;
            background-size: 20px;
        }

        &:focus {
            outline: 0;
        }

        .sub {
            > option {
                font-size: 16px;
            }
        }

        option {
            color: $dark
        }

        @include media-breakpoint-up(ss) {
            background-position:  right 22px;

            &.valid-select {
                background-position:  right 22px;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .h1 {
            font-size: 1.6rem;
        }
    }

    // Allows for a line break in flexed rows
    &__break {
        width: 100%;
    }

    // IE
    select::-ms-expand {
        display: none;
    }

    select {
        option {
            color: $dark;
        }
    }

}

.phone-search-dropdown-card {
    visibility: hidden;

    .form-group {
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__select  {

        // Reset
        appearance: none;
        -webkit-appearance: none;
        // -moz-appearance: none;
        -o-appearance: none;

        // Style;
        border-radius: 3px;
        background-size: 10px;
        border-width: 1.2px;
        border-color: $azureeradiance;
        background: $azureeradiance-20 url('#{$cdn_url}/images/rebrand/icns/so-sure_select-arrow-normal.svg') no-repeat 95% 15px;
        font-weight: bold;
        outline: none;

        &:focus {
            background: $dodger-blue url('#{$cdn_url}/images/rebrand/icns/so-sure_select-arrow-focus.svg') no-repeat 95% 15px;
            border-color: $dodger-blue;
            color: $white;
            box-shadow: none;
            font-weight: normal;
            outline: none;
        }

        &:-moz-focusring {
            border: 0;
        }

        &:disabled {
            border-color: $azureeradiance-20;
            background: $blacksqueeze url('#{$cdn_url}/images/rebrand/icns/so-sure_select-arrow-disabled.svg') no-repeat 95% 15px;
            color: $azureeradiance-50;
            font-weight: normal;
        }

        &:hover {
            cursor: pointer;
            outline: none;
        }

        option {
            background-color: transparent;
        }

    }


    &__text {
        // Style;
        border-radius: 3px;
        background-size: 10px;
        border-width: 1.2px;
        border-color: $azureeradiance;
        font-weight: normal;
        outline: none;

        &:focus {
            border-color: $dodger-blue;
            background: $azureeradiance-20;
            box-shadow: none;
            outline: none;
        }

        &:disabled {
            border-color: $azureeradiance-20;
            background: $blacksqueeze;
            color: $azureeradiance-50;
            font-weight: normal;
        }

        @include placeholder-color($azureeradiance-50);
    }
}

.phone-search-combined {
    visibility: hidden;
    flex-flow: column nowrap;
    align-items: flex-start;

    padding: 1rem;
    background-color: rgba(0, 187, 255, 0.15);

    label.is-invalid {
        position: absolute;
        left: 0;
        top: 100%;
    }

    .form-group {
        width: 100%;
        position: relative;

        .form-control {
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            margin-right: 1rem;
            flex: 2;

            &:last-of-type {
                margin-right: 0;
            }
        }

        @include media-breakpoint-up(lg) {
            flex: 2;

            &:last-of-type {
                flex: 1;
            }
        }

        &:last-of-type {
            margin: 1rem 0 0;

            @include media-breakpoint-up(md) {
                margin: 0;
            }
        }
    }

    .phone-search-button {
        min-width: 150px;
        border-color: $alachite;
        box-shadow: 0 4px 10px 0 rgba(15,8,157,0.25);
        @include border-radius(3px);
    }

    .phone-search-select {
        // Reset
        appearance: none;
        -webkit-appearance: none;
        // -moz-appearance: none;
        -o-appearance: none;

        // Style;
        border-radius: 3px;
        background-size: 10px;
        border-width: 1.2px;
        border-color: $deep-sky-blue-d;
        background: $white url('#{$cdn_url}/images/rebrand/icns/so-sure_select-arrow-normal.svg') no-repeat 95% 15px;
        font-weight: bold;
        outline: none;

        box-shadow: 0 4px 10px 0 rgba(15,8,157,0.25);

        &.is-invalid {
            border-color: $lust;
            box-shadow: 0 4px 10px 0 rgba(118, 116, 158, 0.25);
        }

        &:focus {
            border-color: $deep-sky-blue-d;
            outline: none;

            &.is-invalid {
                border-color: $lust;
            }
        }

        &:-moz-focusring {
            border: 0;
        }

        &:hover {
            cursor: pointer;
            outline: none;
        }

        &:disabled {
            cursor: not-allowed;
            border-color: $deep-sky-blue-d;
            background: $blacksqueeze url('#{$cdn_url}/images/rebrand/icns/so-sure_select-arrow-disabled.svg') no-repeat 95% 15px;
        }
    }

    .phone-search-text {
        // Style;
        border-radius: 3px;
        background-size: 10px;
        border-width: 1.2px;
        border-color: $azureeradiance;
        background-color: $blacksqueeze;
        outline: none;

        &.is-invalid {
            border-color: $lust;
        }

        &:focus {
            border-color: $dodger-blue;
            background: $white;
            box-shadow: none;
            outline: none;

            &.is-invalid {
                color: $lust;
                border-color: $lust;
            }

            @include placeholder-color($zaffre);
        }

        &:disabled {
            cursor: not-allowed;
            background: $blacksqueeze;
            color: $azureeradiance-50;
        }

        @include placeholder-color($azureeradiance-50);
    }

    @include media-breakpoint-up(md) {
        flex-flow: row wrap;
    }
}
