// tables.scss

.table-list {
    table-layout: fixed;
    background-color: $white;
    @include border-radius(15px);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    &__header {
        height: 60px;
        text-align: center;
        background-color: $jacarta;
        @include border-top-radius(15px);
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: $lily-white;
            }

            td {
                height: 90px;
                vertical-align: middle;
                border-bottom: 1px solid transparent;
            }

            &:last-of-type {
                td {
                    border-bottom: 0;
                }
            }
        }
    }

    &__icn {
        display: block;
        padding: 5px 50px;
        background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_unhappy-icn.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
        overflow: visible;
    }

    &__icn-happy {
        background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_happy-icn.svg');
    }
}

.table-comparison {
    table-layout: fixed;
    background-color: $white;
    @include border-radius(15px);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    // Add round corners to th's & td's
    th {
        &:first-of-type {
            border-top-left-radius: 15px;
        }
        &:last-of-type {
            border-top-right-radius: 15px;
        }
    }

    tr {
        &:last-of-type {
            td {
                &:first-of-type {
                    border-bottom-left-radius: 15px;
                }
                &:last-of-type {
                    border-bottom-right-radius: 15px;
                }
            }
        }
    }

    // Spacing
    th, td {
        height: 90px;
        padding: 0 1.4rem;
        text-align: center;
        position: relative;
        vertical-align: middle;
    }

    td.td-30 {
        height: 30px;
    }

    .td-prev-btn,
    .td-next-btn {
        position: absolute;
        top: 24px;
    }

    .td-prev-btn {
        left: 10px;
    }

    .td-next-btn {
        right: 10px;
    }

    .td-info-btn {
        position: absolute;
        bottom: 10px; right: 10px;
        color: rgba(255, 255, 255, 0.7);
    }

    // Hide
    .td-swap {
        display: none;

        &.td-active {
            display: block;
        }
    }

    &.dark-table {
        // Borders
        th.b4 {
            border-left: 1px solid lighten($zaffre, 50%);
            border-right: 1px solid lighten($zaffre, 50%);

            &:first-of-type {
                border-left: none;
            }

            &:last-of-type {
                border-right: none;
            }
        }

        td {
            border: 1px solid #71B2F5;;
        }
    }

    &.light-table {
        // Borders
        th.b4 {
            border-left: 1px solid lighten($zaffre, 50%);
            border-right: 1px solid lighten($zaffre, 50%);

            &:first-of-type {
                border-left: none;
            }

            &:last-of-type {
                border-right: none;
            }
        }

        td {
            border: 1px solid darken($lily-white, 5%);
        }
    }

    tr {
        td {
            &:first-of-type {
                border-left: none;
                border-bottom: none;
                border-top: none;
            }
            &:last-of-type {
                border-right: none;
            }
        }

        &:last-of-type {
            td {
                border-bottom: none;
            }
        }
    }

    // TH/TD Colours
    th.bb1,
    td.bb1 {
        background-color: $lily-white;
        color: $zaffre;
    }

    th.b2,
    td.b2 {
        background-color: $dodger-blue;
        color: $white;
    }

    th.b2a,
    td.b2a {
        background-color: $dodger-blue;
        color: $white;
    }

    th.b4,
    td.b4 {
        background-color: $zaffre;
        color: $white;
    }

    th.wh,
    td.wh {
        background-color: $white;
        color: $zaffre;
    }

    // TH/TD Box shadow
    th.bs-r,
    td.bs-r {
        z-index: 7;
        box-shadow: inset -8px 0 8px -2px rgba(8,27,154,0.09);
    }

    th.bs-l,
    td.bs-l {
        z-index: 7;
        box-shadow: inset 8px 0 8px -2px rgba(8,27,154,0.09);
    }

    @include media-breakpoint-up(md) {
        max-width: 760px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 860px;
    }
}

.table-hover {
    .toggle-row {
        &:hover {
            cursor: pointer;
        }
    }
}

.table-sure {

    thead {
        th {
            background-color: $ultramarine;
            color: $white;
            border-color: $ultramarine;
        }
    }
}

.table-excess {
    width: 100%;
    text-align: center;
    border: $table-border-width solid $dodger-blue;
    border-collapse: separate;
    border-spacing: 0;
    @include border-radius($g-border-radius);

    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
    }

    th {
        background-color: $dodger-blue;
        color: $white;
    }

    th,
    tr:not(:last-child) td {
        border-bottom: $table-border-width solid $dodger-blue;
    }

    th:not(:last-child),
    td:not(:last-child) {
        border-right: $table-border-width solid $dodger-blue;
    }

    // td {
    //     border: $table-border-width solid $dodger-blue;
    // }
}
