// tables.scss

.brtl {
    border-top-left-radius: $g-border-radius;
}

.brbl {
    border-bottom-left-radius: $g-border-radius;
}

.brtr {
    border-top-right-radius: $g-border-radius;
}

.brbr {
    border-bottom-right-radius: $g-border-radius;
}


.table-list {
    table-layout: fixed;
    background-color: $white;
    @include border-radius(15px);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    &__header {
        height: 60px;
        text-align: center;
        background-color: $jacarta;
        @include border-top-radius(15px);
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: $lily-white;
            }

            td {
                height: 90px;
                vertical-align: middle;
                border-bottom: 1px solid transparent;
            }

            &:last-of-type {
                td {
                    border-bottom: 0;
                }
            }
        }
    }

    &__icn {
        display: block;
        padding: 5px 50px;
        background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_unhappy-icn.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
        overflow: visible;
    }

    &__icn-happy {
        background-image: url('#{$cdn_url}/images/rebrand/icns/so-sure_happy-icn.svg');
    }
}

.table-list-v2 {
    table-layout: fixed;
    width: 100%;
    position: relative;

    th, td {
        height: 90px;
        padding: 0 1.4rem;
        text-align: center;
        position: relative;
        vertical-align: middle;
        z-index: 5;
        border: none;
        background-clip: padding-box;
    }

    .swap {
        display: none;

        &.active {
            display: block;
            opacity: 1;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }

        &.fade-left {
            animation-name: fadeInLeft;
        }

        &.fade-right {
            animation-name: fadeInRight;
        }
    }

    .th {
        font-family: $g-bold;
        color: $primary;
        text-align: left;
        border-right: 1px solid darken($athens-gray, 10%);
    }

    .tdh {
        text-align: center;
        font-family: $g-bold;
        background-color: $white;
    }

    .thss {
        z-index: 10;
        background-color: $azureeradiance;

        &-inner {
            padding: 0 1.4rem;
            position: absolute;
            background-color: $azureeradiance;
            top: -3px; right: 0; left: -10px; bottom: -3px;
            display: flex;
            align-items: center;
            @include border-left-radius($g-border-radius);
        }
    }

    .tdw {
        background-color: $white;
    }

    .tdg {
        background-color: $athens-gray;
    }

    .tdb {
        background-color: $lily-white;
    }

    .btb {
        border-top: 5px solid $azureeradiance;
    }

    .bbb {
        border-bottom: 5px solid $azureeradiance;
    }

    .tfss {
        &:after {
            width: 10px; height: 95px;
            content: '';
            position: absolute;
            left: 100%; top: -5px; bottom: -5px;
            background-color: $lily-white;
            border: {
                top: 5px solid $azureeradiance;
                right: 5px solid $azureeradiance;
                bottom: 5px solid $azureeradiance;
            }
            @include border-right-radius($g-border-radius);
        }
    }

    .table-list-controls {
        width: 80px; height: 40px;
        position: absolute;
        bottom: 0; right: 0;
        display: flex;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px; height: 40px;
            color: $white;
            background-color: $primary;

            &:hover {
                cursor: pointer;
                background-color: darken($primary, 20%);
                color: darken($white, 10%);
                text-decoration: none;
            }

            &.disabled {
                cursor: default;
                pointer-events: none;
                text-decoration: none;
                background-color: darken($primary, 10%);
                color: darken($athens-gray, 15%);
            }
        }
    }
}

.table-comparison-v2 {
    table-layout: fixed;
    width: 100%;

    th, td {
        height: 90px;
        padding: 0 1.4rem;
        text-align: center;
        position: relative;
        vertical-align: middle;
        z-index: 5;
        border-right: 1px solid darken($athens-gray, 10%);
        background-clip: padding-box;

        &:last-of-type {
            border-right: none;
        }
    }

    .th {
        font-family: $g-bold;
        background-color: $white;
        color: $primary;
        border-bottom: 1px solid $primary;

        &:last-of-type {
            border-top-right-radius: $g-border-radius;
        }
    }

    .td-info-btn {
        position: absolute;
        bottom: 10px; right: 10px;
        // color: rgba(255, 255, 255, 0.7);
    }

    .thss {
        z-index: 10;
        background-color: $azureeradiance;

        &-inner {
            padding: 0 1.4rem;
            position: absolute;
            background-color: $azureeradiance;
            top: -10px; right: -3px; left: -3px; bottom: 0;
            display: flex;
            align-items: center;
            @include border-top-radius($g-border-radius);
        }
    }

    .tfss {
        &:after {
            height: 20px;
            content: '';
            position: absolute;
            top: 100%; left: -5px; right: -5px;
            background-color: $lily-white;
            border: {
                left: 5px solid $azureeradiance;
                right: 5px solid $azureeradiance;
                bottom: 5px solid $azureeradiance;
            }
            @include border-bottom-radius($g-border-radius);
        }
    }

    .td-info-btn {
        position: absolute;
        bottom: 10px; right: 10px;
        // color: rgba(255, 255, 255, 0.7);
    }

    .tdh {
        text-align: left;
        font-family: $g-bold;
    }

    .tdw {
        background-color: $white;
    }

    .tdg {
        background-color: $athens-gray;
    }

    .tdb {
        background-color: $lily-white;
    }

    .brb {
        border-right: 5px solid $azureeradiance;
    }

    .bb {
        border-bottom: 5px solid $azureeradiance;
    }
}

.table-comparison {
    table-layout: fixed;
    background-color: $white;
    @include border-radius(15px);
    box-shadow: 0 15px 30px 0 rgba(8,27,154,0.08),
                0 5px 15px 0 rgba(8,27,154,0.08);

    // Add round corners to th's & td's
    th {
        &:first-of-type {
            border-top-left-radius: 15px;
        }
        &:last-of-type {
            border-top-right-radius: 15px;
        }
    }

    tr {
        &:last-of-type {
            td {
                &:first-of-type {
                    border-bottom-left-radius: 15px;
                }
                &:last-of-type {
                    border-bottom-right-radius: 15px;
                }
            }
        }
    }

    // Spacing
    th, td {
        height: 90px;
        padding: 0 1.4rem;
        text-align: center;
        position: relative;
        vertical-align: middle;
        background-clip: padding-box;
    }

    td.td-30 {
        height: 30px;
    }

    .td-prev-btn,
    .td-next-btn {
        position: absolute;
        top: 24px;
    }

    .td-prev-btn {
        left: 10px;
    }

    .td-next-btn {
        right: 10px;
    }

    .td-info-btn {
        position: absolute;
        bottom: 10px; right: 10px;
        color: rgba(255, 255, 255, 0.7);
    }

    // Hide
    .td-swap {
        display: none;

        &.td-active {
            display: block;
        }
    }

    &.dark-table {
        // Borders
        th.b4 {
            border-left: 1px solid lighten($zaffre, 50%);
            border-right: 1px solid lighten($zaffre, 50%);

            &:first-of-type {
                border-left: none;
            }

            &:last-of-type {
                border-right: none;
            }
        }

        td {
            border: 1px solid #71B2F5;;
        }
    }

    &.light-table {
        // Borders
        th.b4 {
            border-left: 1px solid lighten($zaffre, 50%);
            border-right: 1px solid lighten($zaffre, 50%);

            &:first-of-type {
                border-left: none;
            }

            &:last-of-type {
                border-right: none;
            }
        }

        td {
            border: 1px solid darken($lily-white, 5%);
        }
    }

    tr {
        td {
            &:first-of-type {
                border-left: none;
                border-bottom: none;
                border-top: none;
            }
            &:last-of-type {
                border-right: none;
            }
        }

        &:last-of-type {
            td {
                border-bottom: none;
            }
        }
    }

    // TH/TD Colours
    th.bb1,
    td.bb1 {
        background-color: $lily-white;
        color: $zaffre;
    }

    th.b2,
    td.b2 {
        background-color: $dodger-blue;
        color: $white;
    }

    th.b2a,
    td.b2a {
        background-color: $dodger-blue;
        color: $white;
    }

    th.b4,
    td.b4 {
        background-color: $zaffre;
        color: $white;
    }

    th.wh,
    td.wh {
        background-color: $white;
        color: $zaffre;
    }

    // TH/TD Box shadow
    th.bs-r,
    td.bs-r {
        z-index: 7;
        box-shadow: inset -8px 0 8px -2px rgba(8,27,154,0.09);
    }

    th.bs-l,
    td.bs-l {
        z-index: 7;
        box-shadow: inset 8px 0 8px -2px rgba(8,27,154,0.09);
    }

    @include media-breakpoint-up(md) {
        max-width: 760px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 860px;
    }
}

.table-hover {
    .toggle-row {
        &:hover {
            cursor: pointer;
        }
    }
}

.table-sure {

    thead {
        th {
            background-color: $ultramarine;
            color: $white;
            border-color: $ultramarine;
        }
    }
}

.table-excess {
    width: 100%;
    text-align: center;
    border: $table-border-width solid $dodger-blue;
    border-collapse: separate;
    border-spacing: 0;
    @include border-radius($g-border-radius);

    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
    }

    th {
        background-color: $dodger-blue;
        color: $white;
    }

    th,
    tr:not(:last-child) td {
        border-bottom: $table-border-width solid $dodger-blue;
    }

    th:not(:last-child),
    td:not(:last-child) {
        border-right: $table-border-width solid $dodger-blue;
    }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(50px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-50px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }