{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}so-sure - Blog title{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
{% endblock %}

{% block body %}

    <section class="blog">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="blog__main__container">
                <div class="blog__main px-4 px-lg-5">
                    <article>
                        <header class="mb-5">
                            <hgroup>
                                <div class="breadcrumbs">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{{ path('blog_index') }}">Blog</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            Blog title
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="text-primary mb-4">Blog title</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div rel="author">so-sure</div>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <time>Blog date</time>
                                    </li>
                                </ul>
                            </hgroup>
                        </header>
                        <p></p>
                        <footer></footer>
                    </article>
                    <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                </div>
            </div>

            {# Sub Content #}
            <div class="blog__sub__container d-none d-lg-flex justify-content-lg-start">
                {# Curve Desktop #}
                <div class="blog__curve">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 69 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="3.0-so-sure-(Price-&amp;-Payment)">
                                <path d="M0,0 L69,0 C31,140 12,280.666667 12,422 C12,563.333333 31,704.666667 69,846 L0,846 L0,0 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3" fill="#E5F4FF"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="blog__sub px-4 pb-4 pt-5 p-lg-5">
                    <div class="blog__nav">
{#                         <div id="blog-nav" class="list-group mb-5">
                            <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                            <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                            <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                            <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                            <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                            <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                            <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                        </div> #}
                        {# <a id="back-to-top-blog" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a> #}
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/blog.js') }}"></script>
{% endblock %}
