{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'blog' %}

{% block title %}so-sure - Starling Bank and so-sure team up to offer mobile phone insurance through the Starling Marketplace{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/blog.css') }}">
{% endblock %}

{% block body %}

    <section class="blog">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="blog__main__container">
                <div class="blog__main px-4 px-lg-5">
                    <article>
                        <header class="mb-5">
                            <hgroup>
                                <div class="breadcrumbs">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{{ path('blog_index') }}">Blog</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fal fa-angle-right"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            Starling Bank and so-sure team up...
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="text-primary mb-4">Starling Bank and so-sure team up to offer mobile phone insurance through the Starling Marketplace</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div rel="author">Susan</div>
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">
                                        <time>Oct 9, 2018</time>
                                    </li>
                                </ul>
                            </hgroup>
                        </header>
                        {# image #}
                        <p>Starling Bank today welcomes so-sure, the pioneering start-up mobile insurance company, to its in-app Marketplace. The partnership will mean that Starling customers will now be able apply for mobile phone insurance within minutes, directly from their Starling app.</p>
                        <p>so-sure offers fast, reliable and simple mobile phone insurance in a market that is often seen as opaque and complex. so-sure declines less than 4% of claims – far lower than the traditional insurance industry.</p>
                        <p>so-sure are also disrupting the insurance market by introducing ‘social insurance’. The concept allows customers to connect their policy with friends and family members who also have a policy with so-sure. As long as no one you are connected to makes a claim, the customer will get up to 80% of their premium back at the end of the policy year.</p>
                        <p>What's more, so-sure offers one simple policy with no hidden terms and covers you for loss, theft, accidental damage, out of warranty breakdown and more.</p>
                        <p>Starling’s in-app Marketplace, launched in February 2018, offers its customers direct access to financial services and products securely on their phone. Starling has existing partnerships with pension provider PensionBee, digital investing services Wealthsimple and Wealthify, mortgage broker Habito, travel insurance provider Kasko, life insurance provider Anorak, and receipts and loyalty partner Flux.</p>
                        <p>Starling are targeting 25 marketplace partners by the end of the year.</p>
                        <h2>Megan Caywood, Chief Platform Officer, Starling Bank said:</h2>
                        <p><em>“Through our Marketplace, we want to enable our customers to manage their whole financial life in one place. As a mobile only bank, we understand the need for affordable mobile phone insurance, so partnering with so-sure was a natural fit. so-sure share our ethos of putting the customer first and are another example of our commitment to partnering with disruptors that are working to improve customers lives through intuitive products and fair and transparent pricing.”</em></p>
                        <h2>Dylan Bourguignon, CEO of so-sure, said:</h2>
                        <p><em>“People just don’t trust insurance companies.  Insurance is too expensive and when you need to claim, the current system makes it really difficult. We wanted to create an insurance policy that provides an amazing claims experience if something happens to your phone. And, have fantastic rewards if you and your friends/family don’t claim.”</em></p>
                        <p><strong>For more information please contact:</strong> starlingbank@pagefield.co.uk</p>
                        <h2>About Starling Bank</h2>
                        <p>Starling Bank built the UK’s first mobile-only current account from scratch. We believe everyone should be able to enjoy a healthy financial life — that means giving our customers access to a mobile market of products and services that best fit their financial needs, giving them the tools to make mindful money decisions.</p>
                        <p>We’re a fintech business with a banking licence, fully regulated by the FCA and PRA, and were granted a banking licence by the Bank of England in July 2016. Our app, available for Android and iOS, was launched to the public in May 2017. Starling Bank is directly connected to major payment schemes, including Faster Payments, and MasterCard. For more information please visit: <a href="http://www.starlingbank.com/" target="_blank" rel="noopener noreferrer">Starling Bank</a> or contact media@starlingbank.com</p>
                        <h3>About so-sure</h3>
                        <p>so-sure already has a loyal following of customers, who earn rewards for each friend that takes up a mobile phone insurance policy and can receive up to 80% of the value of their premium back each year if nobody claims.</p>
                        <p>In recent months the insurtech landscape has undergone significant expansion, and so-sure is leading the charge with a paradigm-shifting offering and a host of innovative features.</p>
                        <p>so-sure reduces excesses for customers by employing patent pending anti-fraud AI technology to detect and deter fraud. It also uses new claim processing technology that has reduced average claim processing time from days to hours.</p>
                        <p>The platform takes advantage of beautiful design to make it easy for someone to buy an insurance policy, supported by simple Ts&amp;Cs that cover customers for loss, theft, damage, accidental damage, out of warranty breakdown and accessories. Its online claims process is simple and hassle free, backed up by superb customer service.</p>
                        <footer></footer>
                    </article>
                    <nav><a href="{{ path('blog_index') }}">Back</a></nav>
                </div>
            </div>

            {# Sub Content #}
            <div class="blog__sub__container d-none d-lg-flex justify-content-lg-start">
                {# Curve Desktop #}
                <div class="blog__curve">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 69 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="3.0-so-sure-(Price-&amp;-Payment)">
                                <path d="M0,0 L69,0 C31,140 12,280.666667 12,422 C12,563.333333 31,704.666667 69,846 L0,846 L0,0 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                                <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3" fill="#E5F4FF"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="blog__sub px-4 pb-4 pt-5 p-lg-5">
                    <div class="blog__nav">
{#                         <div id="blog-nav" class="list-group mb-5">
                            <a class="list-group-item list-group-item-action" href="#top-questions"><i class="far fa-angle-right fa-lg mr-2"></i> Top Questions</a>
                            <a class="list-group-item list-group-item-action" href="#the-so-sure-app-and-pic-sure"><i class="far fa-angle-right fa-lg  mr-2"></i> The so-sure app</a>
                            <a class="list-group-item list-group-item-action" href="#social-insurance-and-reward-pot"><i class="far fa-angle-right fa-lg  mr-2"></i> Social Insurance &amp; Reward Pot</a>
                            <a class="list-group-item list-group-item-action" href="#the-insurance-policy"><i class="far fa-angle-right fa-lg  mr-2"></i> The Insurance Policy</a>
                            <a class="list-group-item list-group-item-action" href="#claims"><i class="far fa-angle-right fa-lg  mr-2"></i> Claims</a>
                            <a class="list-group-item list-group-item-action" href="#payments-and-cancellations"><i class="far fa-angle-right fa-lg  mr-2"></i> Payments &amp; Cancellations</a>
                            <a class="list-group-item list-group-item-action" href="#about-us"><i class="far fa-angle-right fa-lg  mr-2"></i> About us</a>
                        </div> #}
                        {# <a id="back-to-top-blog" href="#" class="btn btn-outline-dodger-blue"><i class="far fa-arrow-up mr-2"></i> Back to top</a> #}
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/blog.js') }}"></script>
{% endblock %}
