<h3>Download our award winning app</h3>
<p>Our app takes all the hassle out of insuring your phone, download and pay it’s as simple as that. You can also add additional phones, invite and connect or get in touch when you need us most.</p>
<ul class="list-inline text-center">
    <br>
    <li>
        <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('footer') }}" target="_blank"><img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" />
        </a>
    </li>
    <li>
        <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('footer') }}" target="_blank"><img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" />
        </a>
    </li>
</ul>
