{#
  location is used to attribute location in app download (branch)

  If phone is passed in, determine if its google/itunes and only display correct download
  If phone is passed in, but windows, etc, do not display
  If phone is not passed in, display both
#}
{% if location is not defined %}
    {% set location = 'footer' %}
{% endif %}

{% set show_google_play = true %}
{% set show_itunes = true %}
{% if phone is defined and phone and not phone.googlePlay %}
    {% set show_google_play = false %}
{% endif %}
{% if phone is defined and phone and not phone.iTunes %}
    {% set show_itunes = false %}
{% endif %}
{% if show_itunes or show_google_play %}
<div>
    <h3 id="download-apps">Download our award winning app</h3>
    <p>Our app takes all the hassle out of insuring your phone, download and pay it’s as simple as that. You can also add additional phones, invite and connect or get in touch when you need us most.</p>
    <ul class="list-inline text-center">
        <br>
        {% if show_itunes %}
        <li>
            <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download(location) }}" target="_blank" rel="noopener noreferrer"><img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download so-sure on the App Store" />
            </a>
        </li>
        {% endif %}
        {% if show_google_play %}
        <li>
            <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download(location) }}" target="_blank" rel="noopener noreferrer"><img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get so-sure on Google Play" />
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
