<table width="100%" class="table-comparison table-comparison-carousel light-table d-table d-md-none mx-auto">
    <thead>
        <tr>
            <th width="50%" class="blue-gradient">
                <img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="img-fluid" alt="so-sure">
            </th>
            <th width="50%" class="b4">
                <div class="td-container">
                    <span class="td-swap td-active">
                        AppleCare+
                    </span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Time to repair / replace after approval</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <strong>24 - 72</strong> <div>hours</div>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_24_72_hours"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <strong>Same day</strong>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Up to 80% Cashback at end of policy year</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_comprehensive"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Insure second hand phones</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Cover for phones purchased up to</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <strong>3 years</strong> <div>from purchase</div>
            </td>
            <td class="wh">
                <div class="td-container">
                    <strong>60 days</strong> <div>from purchase</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Save up to &pound;100 off your excess</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_excess_50"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="far fa-times fa-2x"></i>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="td-30 bb1" colspan="2" align="center">
                <strong>Trustpilot rating</strong>
            </td>
        </tr>
        <tr>
            <td class="b2a">
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
                <i class="fas fa-star text-white"></i>
            </td>
            <td class="wh">
                <div class="td-container">
                    <span class="td-swap td-active">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class="table-comparison light-table d-none d-md-block mx-auto mt-lg-5">
    <thead>
        <tr>
            <th width="25%" class="wh text-left"><span class="h5 text-primary">Features</span></th>
            <th width="25%" class="blue-gradient"><img src="{{ cdn_url }}/images/rebrand/logo/so-sure_logo-white-dark.svg" class="" width="140px" alt="so-sure"></th>
            <th width="25%" class="b4 bs-l">AppleCare+</th>
    </thead>
    <tbody>
        <tr>
            <td class="bb1 text-left"><strong>Time to repair / replace after approval</strong></td>
            <td class="b2">
                <strong>24 - 72</strong> <div>hours</div>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_24_72_hours"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="bb1"><strong>Same day</strong></td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Up to 80% Cashback at end of policy year</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_cashback"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh bs-l">
                <i class="far fa-times fa-2x"></i>
            </td>
        </tr>
        <tr>
            <td class="bb1 text-left">
                <strong>Loss, Theft &amp; Accidental Damage included as standard</strong>
            </td>
            <td class="b2">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_comprehensive"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="bb1 bs-l">
                <i class="far fa-times fa-2x"></i>
            </td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Insure second hand phones</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
            </td>
            <td class="wh bs-l">
                <i class="far fa-times fa-2x"></i>
            </td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Cover for phones purchased up to</strong></td>
            <td class="b2"><strong>3 years</strong> <div>from purchase</div></td>
            <td class="bb1 bs-l"><strong>60 days</strong> <div>from purchase</div></td>
        </tr>
        <tr>
            <td class="wh text-left"><strong>Save up to &pound;100 off your excess</strong></td>
            <td class="b2a">
                <i class="far fa-check fa-2x"></i>
                <a href="#"
                   class="td-info-btn"
                   data-toggle="modal"
                   data-target="#policy_excess_50"
                   role="button">
                    <i class="fal fa-info-circle fa-lg"></i>
                </a>
            </td>
            <td class="wh bs-l">
                <i class="far fa-times fa-2x"></i>
            </td>
        </tr>
        <tr>
            <td class="bb1 text-left"><strong>Trustpilot rating</strong></td>
            <td class="b2">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
            <td class="bb1 bs-l">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </td>
        </tr>
    </tbody>
</table>
<p class="updated-text text-center mt-2"><small><em>Info correct as of Feb 24 2020</em></small></em>
