{# Mobile Table #}
<div class="row comparison__container visible-xs-block">
    <div class="col-xs-6 left">
        <ul class="list-unstyled comparison__list comparison__list_border">
            <li class="so-sure">
                <img src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-white-flat.svg"
                     alt="so-sure"
                     width="120px"
                     class="">
            </li>
            <li>
                <span class="text-muted">Repair or replace:</span> <br>
                24-74 Hours <br> <small class="text-muted">once claim approved</small>
            </li>
            <li>
                <span class="text-muted">Broken phone excess:</span> <br>
                from &pound;50 <br>
                <small class="text-muted">when validated using our app</small>
            </li>
            <li>
                <span class="text-muted">Loss, Theft &amp; Damage Cover:</span> <br>
                As standard
            </li>
            <li>
                <span class="text-muted">Proof of purchase required?</span> <br>
                No <br>
                <small class="text-muted">when validated using our app</small>
            </li>
            <li>
                <span class="text-muted">Age of phones insured:</span> <br>
                &lt; 3 years
            </li>
        </ul>
    </div>
    <div class="col-xs-6 right">
        <div id="carousel-comparison"
             class="carousel slide"
             data-ride="carousel"
             data-interval="8000">
            <div class="carousel-inner" role="listbox">
                <ul class="list-unstyled comparison__list comparison__list_border item active">
                    <li class="protectyourbubble clearfix">
                        <span class="h4 text-white">Protect your <br> bubble</span>

                        <a href="#carousel-comparison" data-slide="prev" class="comparison__controls comparison__controls_left"><i class="fa fa-chevron-left fa-lg text-white" aria-hidden="true"></i></a>
                        <a href="#carousel-comparison" data-slide="next" class="comparison__controls comparison__controls_right"><i class="fa fa-chevron-right fa-lg text-white" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <span class="text-muted">Repair or replace:</span> <br>
                        2-5 work days
                    </li>
                    <li>
                        <span class="text-muted">Broken phone excess:</span> <br>
                        &pound;90
                    </li>
                    <li>
                        <span class="text-muted">Loss, Theft &amp; Damage Cover:</span> <br>
                        +&pound;1.50 Loss
                    </li>
                    <li>
                        <span class="text-muted">Proof of purchase required?</span> <br>
                        Yes
                    </li>
                    <li>
                        <span class="text-muted">Age of phones insured:</span> <br>
                        &lt; 6 months
                    </li>
                </ul>
                <ul class="list-unstyled comparison__list comparison__list_border item">
                    <li class="loveitcoverit">
                        <span class="h4 text-dark-blue">love it <br> cover it</span>

                        <a href="#carousel-comparison" data-slide="prev" class="comparison__controls comparison__controls_left"><i class="fa fa-chevron-left fa-lg text-dark-blue" aria-hidden="true"></i></a>
                        <a href="#carousel-comparison" data-slide="next" class="comparison__controls comparison__controls_right"><i class="fa fa-chevron-right fa-lg text-dark-blue" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <span class="text-muted">Repair or replace:</span> <br>
                        3+ work days
                    </li>
                    <li>
                        <span class="text-muted">Broken phone excess:</span> <br>
                        &pound;80
                    </li>
                    <li>
                        <span class="text-muted">Loss, Theft &amp; Damage Cover:</span> <br>
                        +&pound;2 Damage
                    </li>
                    <li>
                        <span class="text-muted">Proof of purchase required?</span> <br>
                        Yes
                    </li>
                    <li>
                        <span class="text-muted">Age of phones insured:</span> <br>
                        &lt; 3 years
                    </li>
                </ul>
                <ul class="list-unstyled comparison__list comparison__list_border item">
                    <li class="gadgetcover">
                        <span class="h4 text-dark-blue">Gadget <br> Cover</span>

                        <a href="#carousel-comparison" data-slide="prev" class="comparison__controls comparison__controls_left"><i class="fa fa-chevron-left fa-lg text-dark-blue" aria-hidden="true"></i></a>
                        <a href="#carousel-comparison" data-slide="next" class="comparison__controls comparison__controls_right"><i class="fa fa-chevron-right fa-lg text-dark-blue" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <span class="text-muted">Repair or replace:</span> <br>
                        2-7 work days
                    </li>
                    <li>
                        <span class="text-muted">Broken phone excess:</span> <br>
                        &pound;75
                    </li>
                    <li>
                        <span class="text-muted">Loss, Theft &amp; Damage Cover:</span> <br>
                        +&pound;2 Loss
                    </li>
                    <li>
                        <span class="text-muted">Proof of purchase required?</span> <br>
                        Yes
                    </li>
                    <li>
                        <span class="text-muted">Age of phones insured:</span> <br>
                        &lt; 18 months
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{# Tablet Up Table #}
<div class="table-responsive hidden-xs">
    <table class="table table-striped table__comparison">
        <thead>
            <tr>
                <th with="20%" class="background-light-grey h4">
                    Features
                </th>
                <th with="20%" class="so-sure border-left-right">
                    <img src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-white-flat.svg"
                         alt="so-sure"
                         width="120px">
                </th>
                <th class="protectyourbubble text-white h4" width="20%">
                    Protect your bubble
                </th>
                <th class="loveitcoverit text-dark-blue h4" width="20%">
                    love it cover it
                </th>
                <th class="gadgetcover text-dark-blue h4" width="20%">
                    Gadget Cover
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="middle">Time to Repair/replace</td>
                <td align="middle" valign="middle" class="border-left-right">
                    <span class="h4">24-74 Hours</span><br>
                    <small class="text-muted">once claim approved</small>
                </td>
                <td align="middle">
                    2-5 work days
                </td>
                <td align="middle">
                    3+ work days
                </td>
                <td align="middle">
                    2-7 work days
                </td>
            </tr>
            <tr>
                <td align="middle">Broken phone excess</td>
                <td align="middle" valign="middle" class="border-left-right">
                    <span class="h4"><small>from</small> &pound;50</span> <br>
                    <small class="text-muted">when validated using our app</small>
                </td>
                <td align="middle">
                    &pound;90
                </td>
                <td align="middle">
                    &pound;80
                </td>
                <td align="middle">
                    &pound;75
                </td>
            </tr>
            <tr>
                <td align="middle">Loss, Theft &amp; Damage Cover</td>
                <td align="middle" class="border-left-right">
                    <span class="h4">As standard</span>
                </td>
                <td align="middle">
                    +&pound;1.50 Loss
                </td>
                <td align="middle">
                    +&pound;2 Damage
                </td>
                <td align="middle">
                    +&pound;2 Loss
                </td>
            </tr>
            <tr>
                <td align="middle">Proof of purchase required?</td>
                <td align="middle" class="border-left-right">
                    <span class="h4">No</span> <br>
                    <small class="text-muted">when validated using our app</small>
                </td>
                <td align="middle">
                    Yes
                </td>
                <td align="middle">
                    Yes
                </td>
                <td align="middle">
                    Yes
                </td>
            </tr>
            <tr>
                <td align="middle">Age of phones insured</td>
                <td align="middle" class="border-left-right-bottom">
                    <span class="h4">&lt; 3 years old</span>
                </td>
                <td align="middle">
                    &lt; 6 months old
                </td>
                <td align="middle">
                    &lt; 3 years old
                </td>
                <td align="middle">
                    &lt; 18 months old
                </td>
            </tr>
        </tbody>
    </table>
</div>
