{# Theft #}
<div class="modal modal-new fade"
     id="theft-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="modal-body--left text-center">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                 data-src="{{ cdn_url }}/images/homepage/so-sure_theft.svg"
                                 alt="so-sure cover - Theft"
                                 width="250px">
                            <h3>Theft</h3>
                            <ul class="list-inline hidden-xs">
                                <li>
                                    <a href="#loss-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Loss <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accidental-damage-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accidental Damage <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#breakdown-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Out of Warranty Breakdown <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#charges-modall"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Unauthorise Network charges <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accessories-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accessories <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="modal-body--right">
                            <p class="center-xs">Theft happens when someone takes your phone from you using either force or deception. It’s defined in our <u>policy document</u> as:</p>
                            <p class="text-center"><mark>"The physical removal of the mobile phone without the consent of the owner and with the intention of depriving the owner of it permanently."</mark></p>
                            <p>We expect you to be <span class="text-blue">'taking reasonable care'</span> of your mobile phone. That means:</p>
                           <ul>
                                <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                                <li>If you need to leave your mobile phone somewhere then we expect you to lock it away out of sight if at all possible. If you cannot lock it away then you must leave it with someone you trust or concealed out of sight in a safe place</li>
                            </ul>
                            <p>What aren't you covered for?</p>
                            <ul>
                                <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                                <li>More than two claims for Loss and/or Theft in any policy year</li>
                                <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                            </ul>
                            <p class="center-xs text-blue">If you follow the above, we will have your back if your phone gets stolen!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue-hollow visible-xs-inline-block" data-dismiss="modal" aria-label="Close">Close
                </button>
            </div>
        </div>
    </div>
</div>
{# End Theft #}

{# Loss #}
<div class="modal modal-new fade"
     id="loss-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="modal-body--left text-center">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                 data-src="{{ cdn_url }}/images/homepage/so-sure_loss.svg"
                                 alt="so-sure cover - Loss"
                                 width="250px">
                            <h3>Loss</h3>
                            <ul class="list-inline hidden-xs">
                                <li>
                                    <a href="#theft-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Theft <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accidental-damage-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accidental Damage <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#breakdown-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Out of Warranty Breakdown <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#charges-modall"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Unauthorise Network charges <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accessories-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accessories <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="modal-body--right">
                            <p class="center-xs">Our policy document defines loss as:</p>
                            <p class="text-center"><mark>"The mobile phone has been accidentally left behind by you and you are permanently deprived of its use and unable to locate the mobile phone."</mark></p>
                            <p>We expect you to be <span class="text-blue">'taking reasonable care'</span> of your mobile phone. That means:</p>
                            <ul>
                                <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                            </ul>
                            <p>What aren't you covered for?</p>
                            <ul>
                                <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                                <li>More than two claims for Loss and/or Theft in any policy year</li>
                                <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                            </ul>
                            <p class="center-xs text-blue">If you follow the above, we will have your back if your phone gets lost!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue-hollow visible-xs-inline-block" data-dismiss="modal" aria-label="Close">Close
                </button>
            </div>
        </div>
    </div>
</div>
{# End Loss #}

{# Accidental Damage #}
<div class="modal modal-new fade"
     id="accidental-damage-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="modal-body--left text-center">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                 data-src="{{ cdn_url }}/images/homepage/so-sure_accidental_damage.svg"
                                 alt="so-sure cover - Accidental Damage"
                                 width="250px">
                            <h3>Loss</h3>
                            <ul class="list-inline hidden-xs">
                                <li>
                                    <a href="#theft-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Theft <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#loss-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Loss <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#breakdown-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Out of Warranty Breakdown <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#charges-modall"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Unauthorise Network charges <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accessories-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accessories <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="modal-body--right">
                            Right
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue-hollow visible-xs-inline-block" data-dismiss="modal" aria-label="Close">Close
                </button>
            </div>
        </div>
    </div>
</div>
{# End Accidental Damage #}

{# Skeleton #}
<div class="modal modal-new fade"
     {# id="loss-modal" #}
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="modal-body--left text-center">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                 data-src="{{ cdn_url }}/images/homepage/so-sure_loss.svg"
                                 alt="so-sure cover - Loss"
                                 width="250px">
                            <h3>Loss</h3>
                            <ul class="list-inline hidden-xs">
                                <li>
                                    <a href="#theft-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Theft <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accidental-damage-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accidental Damage <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#breakdown-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Out of Warranty Breakdown <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#charges-modall"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Unauthorise Network charges <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#accessories-modal"
                                       data-toggle="modal"
                                       data-dismiss="modal"
                                       class="btn btn-blue-hollow">Accessories <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="modal-body--right">
                            Right
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue-hollow visible-xs-inline-block" data-dismiss="modal" aria-label="Close">Close
                </button>
            </div>
        </div>
    </div>
</div>
{# Skeleton #}
