{# Cover Modal #}
<div class="modal modal-new fade and carousel slide"
     id="cover-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4">
                                1
                            </div>
                            <div class="col-md-8">
                                1
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        2
                    </div>
                    <div class="item">
                        3
                    </div>
                    <div class="item">
                        4
                    </div>
                    <div class="item">
                        5
                    </div>
                    <div class="item">
                        6
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="list-inline">
                    <li>
                        <a href="#"
                           data-slide-to="0"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Theft</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="1"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Loss</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="2"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Accidental Damage</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="3"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Network Charges</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="4"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Accessories</a>
                    </li>
                    <li>
                        <a href="#"
                           data-slide-to="5"
                           data-target="#cover-modal"
                           class="btn btn-blue-hollow">Breakdown</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-blue-hollow visible-xs-inline-block" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
{# Cover Modal #}
