{# Theft #}
<div class="modal modal-blue fade"
     id="theft-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Theft</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Theft happens when someone takes your phone from you using either force or deception. It’s defined in our policy document as:</p>
                <p class="highlight-text">"The physical removal of the mobile phone without the consent of the owner and with the intention of depriving the owner of it permanently."</p>
                <p class="lead">We expect you to be 'taking reasonable care' of your mobile phone. That means:</p>
                <ul>
                    <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                    <li>If you need to leave your mobile phone somewhere then we expect you to lock it away out of sight if at all possible. If you cannot lock it away then you must leave it with someone you trust or concealed out of sight in a safe place</li>
                </ul>
                <p class="lead">What aren't you covered for?</p>
                <ul>
                    <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                    <li>More than two claims for Loss and/or Theft in any policy year</li>
                    <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                </ul>
                <p class="lead">If you follow the above, we will have your back if your phone gets stolen!</p>
            </div>
        </div>
    </div>
</div>
{# End Theft #}

{# Loss #}
<div class="modal modal-blue fade"
     id="loss-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Loss</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Our policy document defines loss as:</p>
                <p class="highlight-text">"The mobile phone has been accidentally left behind by you and you are permanently deprived of its use and unable to locate the mobile phone."</p>
                <p class="lead">We expect you to be 'taking reasonable care' of your mobile phone. That means:</p>
                <ul>
                    <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                </ul>
                <p class="lead">What aren't you covered for?</p>
                <ul>
                    <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                    <li>More than two claims for Loss and/or Theft in any policy year</li>
                    <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                </ul>
                <p class="lead">If you follow the above, we will have your back if your phone gets stolen!</p>
            </div>
        </div>
    </div>
</div>
{# End Loss #}

{# Accidental Damage #}
<div class="modal modal-blue fade"
     id="accidental-damage-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Accidental Damage</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Accidental damage is when something happens to your property that is completely out of your control. It's defined in our policy document as:</p>
                <p class="highlight-text">"Physical harm that impairs the normal function of your mobile phone."</p>
                <p class="lead">Examples of accidental damage:</p>
                <ul>
                    <li>Spillages</li>
                    <li>Damage by children</li>
                    <li>Damage caused by pets</li>
                    <li>Electrical surges</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{# End Accidental Damage #}

{# Loss #}
{# <div class="modal modal-blue fade"
     id="loss-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Loss</h3>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div> #}
{# End Loss #}
