{# Theft #}
<div class="modal modal-blue fade"
     id="theft-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Theft</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Theft happens when someone takes your phone from you using either force or deception. It’s defined in our policy document as:</p>
                <p class="highlight-text">"The physical removal of the mobile phone without the consent of the owner and with the intention of depriving the owner of it permanently."</p>
                <p class="lead">We expect you to be 'taking reasonable care' of your mobile phone. That means:</p>
                <ul>
                    <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                    <li>If you need to leave your mobile phone somewhere then we expect you to lock it away out of sight if at all possible. If you cannot lock it away then you must leave it with someone you trust or concealed out of sight in a safe place</li>
                </ul>
                <p class="lead">What aren't you covered for?</p>
                <ul>
                    <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                    <li>More than two claims for Loss and/or Theft in any policy year</li>
                    <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                </ul>
                <p class="lead">If you follow the above, we will have your back if your phone gets stolen!</p>
            </div>
        </div>
    </div>
</div>
{# End Theft #}

{# Loss #}
<div class="modal modal-blue fade"
     id="loss-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Loss</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Our policy document defines loss as:</p>
                <p class="highlight-text">"The mobile phone has been accidentally left behind by you and you are permanently deprived of its use and unable to locate the mobile phone."</p>
                <p class="lead">We expect you to be 'taking reasonable care' of your mobile phone. That means:</p>
                <ul>
                    <li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or Accidental Damaged. If in doubt for Loss or Theft, ask yourself "would I leave a pile of &pound;400 in cash there and expect to find it when I return?"</li>
                </ul>
                <p class="lead">What aren't you covered for?</p>
                <ul>
                    <li>Excess: You need to pay a contribution every time you make a successful claim</li>
                    <li>More than two claims for Loss and/or Theft in any policy year</li>
                    <li>Theft, Loss, Accidental Damage or Breakdown where you have knowingly put your mobile phone at risk and/or you have not taken care of it</li>
                </ul>
                <p class="lead">If you follow the above, we will have your back if your phone gets lost!</p>
            </div>
        </div>
    </div>
</div>
{# End Loss #}

{# Accidental Damage #}
<div class="modal modal-blue fade"
     id="accidental-damage-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Accidental Damage</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Accidental damage is when something happens to your property that is completely out of your control. It's defined in our policy document as:</p>
                <p class="highlight-text">"Physical harm that impairs the normal function of your mobile phone."</p>
                <p class="lead">Examples of accidental damage:</p>
                <ul>
                    <li>Spillages</li>
                    <li>Damage by children</li>
                    <li>Damage caused by pets</li>
                    <li>Electrical surges</li>
                </ul>
                <p class="lead">What isn't covered:</p>
                <ul>
                    <li>Cosmetic damage</li>
                    <li>Damage resulting from you putting your phone at risk</li>
                    <li>Damage caused before the insurance policy</li>
                    <li>Excess: You need to pay a contribution every time you make a successful claim.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{# End Accidental Damage #}

{# Breakdown #}
<div class="modal modal-blue fade"
     id="breakdown-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Breakdown (including faults)</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Our policy does not provide cover for problems with your mobile phone that are covered by the manufacturer warranty. If your mobile phone does develop a fault whilst still under warranty you should follow the warranty returns process as specified by the manufacturer.</p>
                <p class="lead">However, if you do experience Out of Warranty Breakdown, which is defined in our policy document as:</p>
                <p class="highlight-text">"Sudden failure of the mobile phone attributable to a defect within the mobile phone preventing normal function of your mobile phone."</p>
                <p class="lead">then we are here to help!</p>
            </div>
        </div>
    </div>
</div>
{# End Breakdown #}

{# Unauthorised Network Charges #}
<div class="modal modal-blue fade"
     id="charges-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Unauthorised Network Charges</h3>
            </div>
            <div class="modal-body">
                <p class="lead">We cover you for up to &pound;1,000 of unauthorised network changes. Unauthorised usage applies when you have either lost your phone or had it stolen; and it is then used without your knowledge or permission. It’s defined in our policy document as:</p>
                <p class="highlight-text">"Unauthorised network charges (calls, texts, data) as a result of someone else using your mobile phone without consent"</p>
                <p class="lead">So, if your mobile phone has been used without your consent after it has been lost or stolen, we will pay those charges incurred for 24 hours from the time of Loss or Theft, as long as:</p>
                <ul>
                    <li>You notify your network within 24 hours of the Theft/Loss </li>
                    <li>Your Loss or Theft claim for your mobile phone is approved </li>
                    <li>SIM card is registered to you or your family member, or to the business or an employee for these charges to be covered.</li>
                    <li>You provide the copy of an itemised bill</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{# End Unauthorised Network Charges #}

{# Accessories #}
<div class="modal modal-blue fade"
     id="accessories-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="so-sure"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title text-center">Accessories</h3>
            </div>
            <div class="modal-body">
                <p class="lead">Accessory claims are covered up to &pound;100 including VAT. Accessories include, but are not limited to:</p>
                <ul>
                    <li>Chargers</li>
                    <li>Protective cases</li>
                    <li>Stands</li>
                    <li>Headphones</li>
                    <li>Memory cards</li>
                    <li>Carrying cases</li>
                    <li>Speakers</li>
                    <li>Data cables</li>
                </ul>
                <p class="lead">Replacement of any Accessories that were accidentally lost, stolen or Accidentally Damaged at the same time as your mobile phone or if we replace your mobile phone with a different make or model and can no longer use your existing Accessories.</p>
                <p class="lead">A claim under this section is subject to your Loss or Theft claim for your mobile phone being approved.</p>
            </div>
        </div>
    </div>
</div>
{# End Accessories #}
