<section class="section--pad section--arrow section--arrow__off-white learn-more--effective-monthly-premium">
    <div class="container">
        <h3>What is an effective monthly premium?</h3>
        <p>Your effective monthly premium is calculated by taking into account the potential cashback</p>
        <span class="h2 text-blue">Effectve monthly premium = Monthly Premium - Cashback</span>
        <p><small>(Cashback paid out end of policy year)</small></p>
    </div>
</section>
