<div class="modal fade"
     id="sosure-video-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="sosure-video-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-video modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times text-white"></i>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" id="sosure-video-modal-embed"  allowscriptaccess="always" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
