{# Quotes #}
<section class="section--pad homepage--feedback">
    <div class="container">
        <h2 class="h1">Our Customers Love Us</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_honor_b.png"
                     alt="Honor B"
                     width="120px" class="lozad">
                <blockquote>
                    <p>"Your terms and conditions are so clear and concise it makes the customer feel like you actually care about them"</p>
                    <footer>
                        Honor B.
                    </footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_herve_n.png"
                     alt="Herve N"
                     width="120px" class="lozad">
                <blockquote>
                    <p>"My so-sure claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution"</p>
                    <footer>
                        Herve N.
                    </footer>
                </blockquote>
            </div>
            <div class="col-md-4">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/feedback/so-sure_feedback_ted_e.png"
                     alt="Ted E"
                     width="120px" class="lozad">
                <blockquote>
                    <p>"After the 1st year, I got 71% money back. I used it to spruce up my new apartment. Never imagined my phone insurance would pay my IKEA bill!"</p>
                    <footer>
                        Ted E.
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
