{# How do the reward pot work? #}
<section id="reward-pot" class="homepage--how-does-the-reward-pot-work">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ cdn_url }}/images/homepage/so-sure_reward_pot_smile_characters_small.svg"
                     alt="so-sure - reward pot"
                     class="img-responsive img-responsive--center so-sure_piggy_bank lozad">
            </div>
            <div class="col-md-7">
                <h2 class="h1">How Does the Reward Pot Work?</h2>
                <p class="lead">If you and your friends take good care of your phones and don’t need to claim, we’ll give you up to <mark class="background-white">80% of your premium back</mark> at the end of your policy year.</p>
                <ol class="ol--blue-counter">
                    <li class="lead">Invite your family and friends to join, connect with them and receive up to &pound;10 pp each in your individual Reward Pots</li>
                    <li class="lead">Take a good care of your phone throughout the policy period and make no claims.</li>
                    <li class="lead">At the end of the year, when you and your connections haven’t claimed, your Reward Pot is paid out to you</li>
                </ol>
            </div>
        </div>
        <p class="lead text-center"><span class="link-text">You can save anything between £2 to £100. <a href="#" class="scroll-to" data-scroll-to-anchor=".homepage--instant-quote">Get a quote</a> to see the Reward Pot size for your device</span></p>
        <div class="row">
            <div class="col-md-4">
                <div class="speech-bubble speech-bubble--1">I used my Reward Pot money to renew my policy and my insurance bill is now cut in half!</div>
                <div class="speech-bubble--name text-center">Patrick, November 2017</div>
            </div>
            <div class="col-md-4">
                <div class="speech-bubble speech-bubble--2">I was delighted to receive cash back from my phone insurance. It feels great being rewarded for my wife and I being careful! What separates so-sure from other insurers is that they actually deliver on their promises</div>
                <div class="speech-bubble--name text-center">Jose, October 2017</div>
            </div>
            <div class="col-md-4">
                <div class="speech-bubble speech-bubble--3">After the 1st year, I got 71% money back. I used it to spruce up my new apartment. Never imagined my phone insurance would pay my IKEA bill!</div>
                <div class="speech-bubble--name text-center">Ted, September 2017</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="h3 hidden-xs">Watch our video</span>
                <div class="video-container">
                    <iframe id="exp-vid" src="https://player.vimeo.com/video/185840373??api=1&player_id=vimeoplayer&title=0&byline=0&portrait=0" width="800" height="450"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
