{# Comparison #}
<section class="section--pad homepage--we-compare-well">
    <div class="container">
        <h2 class="text-center h1">Why choose us?</h2>
        <p class="lead text-center">Our customers love us – that’s why more than 20,000 have joined the so-sure family. <br> But what makes so-sure better than the rest? Here’s just some of the reasons...</p>
        <table class="table hidden-xs">
            <thead>
                <tr>
                    <td width="50%" class="h3 contrast">Traditional Insurers</td>
                    <td width="50%" class="sosure">
                        <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                             alt="so-sure"
                             width="120px"
                             class="lozad">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contrast">They make you wait between 4 - 18 days to replace your phone</td>
                    <td class="sosure">We’ll replace your phone the next working day</td>
                </tr>
                <tr>
                    <td class="contrast">Their cover takes 14 days to kick in</td>
                    <td class="sosure">We cover you from day one</td>
                </tr>
                <tr>
                    <td class="contrast">They only cover shiny new phones</td>
                    <td class="sosure">We cover phones up to three years old (and don’t need to see your receipt)</td>
                </tr>
                <tr>
                    <td class="contrast">They love jargon</td>
                    <td class="sosure">We love keeping communication simple</td>
                </tr>
                <tr>
                    <td class="contrast">They are expensive</td>
                    <td class="sosure">We’re up to 40% cheaper (yes, you read that right)</td>
                </tr>
            </tbody>
        </table>
        <table class="table visible-xs">
            <thead>
                <tr>
                    <td width="50%" class="h3 contrast">Traditional Insurers</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contrast">They make you wait between 4 - 18 days to replace your phone</td>
                </tr>
                <tr>
                    <td class="contrast">Their cover takes 14 days to kick in</td>
                </tr>
                <tr>
                    <td class="contrast">They only cover shiny new phones</td>
                </tr>
                <tr>
                    <td class="contrast">They love jargon</td>
                </tr>
                <tr>
                    <td class="contrast">They are expensive</td>
                </tr>
            </tbody>
        </table>
        <table class="table visible-xs">
            <thead>
                <tr>
                    <td width="50%" class="sosure">
                        <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                             alt="so-sure"
                             width="120px" class="lozad">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sosure">We’ll replace your phone the next working day</td>
                </tr>
                <tr>
                    <td class="sosure">We cover you from day one</td>
                </tr>
                <tr>
                    <td class="sosure">We cover phones up to three years old (and don’t need to see your receipt)</td>
                </tr>
                <tr>
                    <td class="sosure">We love keeping communication simple</td>
                </tr>
                <tr>
                    <td class="sosure">We’re up to 40% cheaper (yes, you read that right)</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
