{# Comparison #}
<section class="section--pad homepage--we-compare-well">
    <div class="container">
        <h2 class="text-center h1">We Compare Well</h2>
        <table class="table hidden-xs">
            <thead>
                <tr>
                    <td width="50%" class="h3 contrast">Traditional Insurers</td>
                    <td width="50%" class="sosure">
                        <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                             alt="so-sure"
                             width="120px"
                             class="lozad">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contrast">4-18 days wait on average</td>
                    <td class="sosure">{% if replacement is defined and replacement == 'seventytwo-hours' %}Replacement within 24-72 hours{% else %}Next working day replacement{% endif %}</td>
                </tr>
                <tr>
                    <td class="contrast">Cover starts after 14 days</td>
                    <td class="sosure">Immediate cover</td>
                </tr>
                <tr>
                    <td class="contrast">Only phones purchased within 30 days are covered</td>
                    <td class="sosure">Refurbished and second-hand devices up to 3 years old are covered</td>
                </tr>
                <tr>
                    <td class="contrast">You'll need to have a law degree to understand the terms</td>
                    <td class="sosure">Plain English Terms &amp; Conditions </td>
                </tr>
            </tbody>
        </table>
        <table class="table visible-xs">
            <thead>
                <tr>
                    <td width="50%" class="h3 contrast">Traditional Insurers</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contrast">4-18 days wait on average</td>
                </tr>
                <tr>
                    <td class="contrast">Cover starts after 14 days</td>
                </tr>
                <tr>
                    <td class="contrast">Only phones purchased within 30 days are covered</td>
                </tr>
                <tr>
                    <td class="contrast">You'll need to have a law degree to understand the terms</td>
                </tr>
            </tbody>
        </table>
        <table class="table visible-xs">
            <thead>
                <tr>
                    <td width="50%" class="sosure">
                        <img data-src="{{ cdn_url }}/images/logo/so-sure_so-sure-full-logo-blue-flat.svg"
                             alt="so-sure"
                             width="120px" class="lozad">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sosure">Next working day replacement</td>
                </tr>
                <tr>
                    <td class="sosure">Immediate cover</td>
                </tr>
                <tr>
                    <td class="sosure">Refurbished and second-hand devices up to 3 years old are covered</td>
                </tr>
                <tr>
                    <td class="sosure">Plain English Terms &amp; Conditions </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
