<section class="benefits section--pad" id="benefits">
    <div class="container">
        <h2 class="text-center">Why we're better</h2>
        <p class="lead text-center">We believe that if you claim, you should get great service and if you don’t claim, you should get money back.</p>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/safebox.png" alt="You're covered for theft, loss and accidental damage as standard."></img>
                <h4 class="text-left"><strong>Total peace-of-mind by design</strong></h4>
                <p class="text-left">Covered for theft, loss, accidental damage &amp; breakdown. Your policy is also easy to read, so you know exactly what you're buying.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/time_passing.png" alt="Once you claim is approved, we'll aim to get you a replacment the next-working day."></img>
                <h4 class="text-left"><strong>Great service &amp; next day delivery</strong></h4>
                <p class="text-left">A quick and stree-free claims, we aim to have a replacement phone in your hand the next-working day.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/coins.png" alt="We're already up to 40% cheaper than the networks before you connect with anyone!"></img>
                <h4 class="text-left"><strong>It's cheaper &amp; you can get cashback</strong></h4>
                <p class="text-left">We're up to 40% cheaper than the phone companies. Get 80% cashback every year when you connect with friends and don't claim.</p>
            </div>
        </div>
    </div>
</section>
