<section class="benefits section--pad background-white" id="benefits">
    <div class="container">
        <h2 class="text-center">Why we're better</h2>
        <p class="lead text-center">We believe that if you claim, you should get great service and if you don’t claim, you should get money back.</p>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/safebox.png" alt="You're covered for theft, loss and accidental damage as standard.">
                <h4><strong>Total peace-of-mind by design</strong></h4>
                <p>Covered for theft, loss, accidental damage &amp; breakdown.</p>
                <p>Your policy is easy to read, so you know what you're buying.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/time_passing.png" alt="Once you claim is approved, we'll aim to get you a replacment the next-working day.">
                <h4><strong>Great service &amp; 24-72 hour replacement</strong></h4>
                <p>Quick and stress free claims.</p>
                <p>We aim to have a phone in your hand in 24-72 hour replacement once your claim is approved.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/coins.png" alt="We're already up to 40% cheaper than the networks before you connect with anyone!">
                <h4><strong>It's cheaper &amp; you can get cashback</strong></h4>
                <p>We're up to 40% cheaper than the phone companies.</p>
                <p >Get up to 80% cashback every year when you connect with friends and don't claim.</p>
            </div>
        </div>
    </div>
</section>
