<section class="benefits" id="benefits">
    <div class="container">
        <div class="row centered">
            <h2 class="text-center">Why we're better</h2>
            <p class="lead text-center" id="hero-description">We believe that if you claim, you should get great service and if you don’t claim, you should get money back.</p>
        </div>
        <div class="row centered">
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/safebox.png" alt="You're covered for theft, loss and accidental damage as standard."></img>
                <h4 class="text-center">Total peace-of-mind by design</h4>
                <p class="text-center">You'll be covered for theft, loss, accidental damage &amp; breakdown. Your policy is easy to read, so you know exactly what you're buying.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/time_passing.png" alt="Once you claim is approved, we'll aim to get you a replacment the next-working day."></img>
                <h4 class="text-center">Great service &amp; next day replacements</h4>
                <p class="text-center">Exceptional support whenever you need it and, once your claim is approved, we'll aim to get you a replacement phone the next-working day.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ cdn_url }}/images/home/benefits-icons/coins.png" alt="We're already up to 40% cheaper than the networks before you connect with anyone!"></img>
                <h4 class="text center">It's cheaper &amp; you could get money back</h4>
                <p class="text center">We're already up to 40% cheaper than the phone companies. And you could get 80% money back when you connect with friends and don't claim.</p>
            </div>
        </div>
    </div>
</section>
