<div>
</div>
<div>
    <canvas id="connectionsChart" width="200" height="200"></canvas>
    <div id="connectionsChartLegend" class="chart-legend"></div>
</div>
<br>
<form>
<input type="text" class="span2" value=""
       data-slider-min="0"
       data-slider-max="{{ phone_price.maxConnections }}"
       data-slider-maxpot="{{ phone_price.maxPot }}"
       data-slider-step="1"
       data-slider-value="5"
       data-slider-id="connection-slider" id="connection-value"
       data-slider-handle="round"
       data-slider-connection-value="{{ connection_value }}" />
&nbsp;
</form>
