<div>
<form>
0 connections
<input type="text" class="span2" value=""
       data-slider-min="0"
       data-slider-max="8"
       data-slider-step="1"
       data-slider-value="1"
       data-slider-id="connection-slider" id="connection-value"
       data-slider-handle="round" />
8 connections
</form>
</div>
<div>
    <canvas id="connectionsChart" width="200" height="200"></canvas>
</div>
<div id="connectionLegend"></div>
