<div>
</div>
<div>
    <canvas id="connectionsChart" width="200" height="200"></canvas>
    <div id="connectionsChartLegend" class="chart-legend"></div>
</div>
<br>
<form>
<input type="text" class="span2" value=""
       data-slider-min="0"
       data-slider-max="{{ phone_price.maxConnections }}"
       data-slider-maxpot="{{ phone_price.monthlyPremiumPrice * 12 }}"
       data-slider-step="1"
       data-slider-value="{{ phone_price.maxConnections }}"
       data-slider-id="connection-slider" id="connection-value"
       data-slider-handle="round" />
&nbsp;
</form>
