{% extends 'base.html.twig' %}

{# Set vars #}
{% set include_emoji = 1 %}
{% set new_stylesheet = 1 %}

{% block body %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-blue">Buttons</h4>
            <ul class="list-unstyled">
                <li><a href="#" class="btn btn-blue">Call to action</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue-hollow">Call to action</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-grey">Call to action</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue btn-lg">Call to action large</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue-hollow btn-lg">Call to action large</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-grey btn-lg">Call to action large</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue btn-xs">Call to action small</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue-hollow btn-xs">Call to action small</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-grey btn-xs">Call to action small</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue">Call to action with icon <i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-blue-hollow">Call to action with icon <i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><br></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4 class="text-blue">Headings</h4>
            <h1>Heading H1</h1>
            <h2>Heading H2</h2>
            <h3>Heading H3</h3>
            <h4>Heading H4</h4>
            <h4 class="text-blue">Body Text</h4>
            <p>Our main body text uses the font ‘Avenir Light’ set at 16px, line height is set to 1.428571429 and <a href="#">here is a link</a>. The colour of body text is set to #626b78.</p>
            <h4 class="text-blue">Primary Text</h4>
            <p class="lead">Primary text is 18px which reduces on tablet and below to 16px to match the body, (currently this is bootstrap’s functionaility). This has a line height of 1.4.</p>
            <h4 class="text-blue">Secondary Text</h4>
            <p><small>Secondary text or small text is set to 14px, this is used for additional info and descriptions, we try to avoid small print so we should not use anything smaller than 14px. Small should use the ‘Avenir Light’ font.</small></p>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets

    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}
