{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Heading h1</h1><br>
            <h2>Heading h2</h2><br>
            <h3>Heading h3</h3><br>
            <h4>Heading h4</h4><br>
            <h5>Heading h5</h5><br>
            <p class="lead">Traditional insurance has consistently let us down: they charge a lot of money and then when you claim they hide behind small print and painful process not to pay you out. That needed to change, so I created so-sure.</p>            
            <p>Traditional insurance has consistently let us down: they charge a lot of money and then when you claim they hide behind small print and painful process not to pay you out. That needed to change, so I created so-sure.</p>
            <div class="box-border-grey">
                .box-border-grey
                <p>Traditional insurance has consistently let us down: they charge a lot of money and then when you claim they hide behind small print and painful process not to pay you out. That needed to change, so I created so-sure.</p>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li style="background:black;padding:3px;"><a href="#" class="btn btn-default-hollow">Call to action default</a></li>                
                <li><br></li>
                <li><a href="#" class="btn btn-primary">Call to action primary</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-primary-hollow">Call to action primary</a></li>
                <li><br></li>                
                <li><a href="#" class="btn btn-success">Call to action success</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-success-hollow">Call to action success</a></li>
                <li><br></li>                                
                <li><a href="#" class="btn btn-danger">Call to action danger</a></li>
                <li><br></li>         
                <li><a href="#" class="btn btn-danger-hollow">Call to action danger</a></li>
                <li><br></li>                         
                <li><a href="#" class="btn btn-warning">Call to action warning</a></li>                         
                <li><br></li>
                <li><a href="#" class="btn btn-warning-hollow">Call to action warning</a></li>                         
                <li><br></li>                
                <li><a href="#" class="btn btn-info">Call to action info</a></li>                         
                <li><br></li>     
                <li><a href="#" class="btn btn-info-hollow">Call to action info</a></li>                         
                <li><br></li>                                
                <li><a href="#" class="btn btn-link">Call to action link</a></li>
                <li><br></li>        
                <li><br></li>                                
                <li><a href="#" class="btn btn-primary btn-xs">Call to action xs</a></li>
                <li><br></li>
                <li><a href="#" class="btn btn-primary btn-lg">Call to action lg</a></li>
                <li><br></li>                                
            </ul>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/alpha.css'
    '@AppBundle/Resources/public/css/Purchase/checkout.css'    
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}
