{% extends 'base.html.twig' %}
{% block title %}so-sure - Download the app{% endblock %}
{% block body %}
  <div class="login">
    <div class="container text-center">
        <section class="download-now" id="download-now">
                <h2>Get covered in seconds using our app</h2>
                  <p class="lead text-center" id="hero-description">Our app makes it easier for you to cover your phone and connect with your friends.</p>
                <div class="row download-app">
                    <div class="col-md-6 text-right">
                        <a class="ga-outbound-click" href="{{ apple_download('download-page') }}">
                            <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                        </a>
                    </div>
                    <div class="col-md-6 text-left">
                        <a class="ga-outbound-click" href="{{ google_download('download-page') }}">
                            <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                        </a>
                    </div>
                </div>
        </section>

    </div>
  </div>
</div>
{% endblock %}
