{% extends 'base.html.twig' %}
{% block title %}so-sure - Download the app{% endblock %}
{% block body %}

<section class="section--pad login">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <h2>Get covered in seconds using our app</h2>
                <p class="lead text-center" id="hero-description">Our app makes it easier for you to cover your phone and connect with your friends.</p>
                <div class="row download-app">
                    <div class="col-md-6 text-right">
                        <a class="ga-outbound-click" data-clicklabel="iTunes" href="{{ apple_download('download-page') }}">
                            <img src="{{ cdn_url }}/images/icons/app-store-original.svg" alt="Download it on the App Store"></img>
                        </a>
                    </div>
                    <div class="col-md-6 text-left">
                        <a class="ga-outbound-click" data-clicklabel="PlayStore" href="{{ google_download('download-page') }}">
                            <img src="{{ cdn_url }}/images/icons/google-play-original.svg" alt="Get it on Google Play"></img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
