{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'faq' %}

{% block title %}so-sure - Frequently Asked Questions{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/faq.css') }}">
{% endblock %}

{% block body %}

    <section class="qpw">
        <div class="d-lg-flex">

            {# Main Content #}
            <div class="qpw__main__container">

            </div>

            {# Curve Desktop #}
            <div class="qpw__curve">
                <svg class="d-none d-lg-block" preserveAspectRatio="xMinYMin meet" viewBox="0 0 57 846" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-12.000000, 0.000000)" fill="#FFFFFF">
                            <path d="M69,0 L69,846 L68,846 C30.6666667,705 12,564 12,423 C12,282 31,141 69,0 Z" id="Rectangle-3"></path>
                        </g>
                    </g>
                </svg>
            </div>

            {# Sub Content #}
            <div class="qpw__sub__container">
                <div class="qpw__sub px-4 pb-4 pt-5 p-lg-5">


                </div>
            </div>

        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/faq.js') }}"></script>
{% endblock %}
