{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'faq' %}
{% set scrollspy = 1 %}
{% set scrollspyID = '#faq-nav' %}

{% block title %}so-sure - Frequently Asked Questions{% endblock %}

{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/faq.css') }}">
{% endblock %}

{% block body %}

    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    {# Main Content #}
                    <div class="faq__main__container">
                        <h5 class="text-blue4 mb-0">so-sure help</h5>
                        <h1 class="text-primary mb-4">Frequently Asked Questions</h1>
                        <p class="mb-4">We all need a little extra info sometimes, that's why we've put together this handy FAQ section for you! Can't find what you're looking for? Then don't hesitate to ask via <a href="#" class="open-intercom">live chat</a> Monday-Friday 9am-6pm or by emailing us at <a href="mailto:support@wearesosure.com">support@wearesosure.com</a>.</p>

                        <h4 id="list-item-1">Item 1</h4>
                        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <h4 id="list-item-2">Item 2</h4>
                        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <h4 id="list-item-3">Item 3</h4>
                        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <h4 id="list-item-4">Item 4</h4>
                        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>

                </div>
                <div class="col-md-3 offset-2">

                    {# Sub Content #}
                    <div class="faq__sub__container d-none d-md-block">
                        <div id="faq-nav" class="list-group faq__nav">
                          <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                          <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                          <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                          <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {# Page Modals #}

{% endblock %}

{% block footer %}
    {# TODO: Fix footer #}
{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/faq.js') }}"></script>
{% endblock %}
