{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}
{% set new_footer = 1 %}
{% set homepage = 1 %}
{% set useDropdownSearch = 1 %}

{% block title %}so-sure - Frequently Asked Questions{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    'components/animate.css/animate.min.css'
    '@AppBundle/Resources/public/sass/page/faq.scss'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="section--pad faqs"  data-spy="scroll" data-target="#faqs__nav">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="faqs__content">
                        <h1>FAQ</h1>

                        {# About so-sure #}
                        <h2 id="about-so-sure">About so-sure</h2>

                        <h3>
                            <a href="#who-is-so-sure"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="who-is-so-sure"
                               class="collapsed">
                                Who is so-sure?
                            </a>
                        </h3>
                        <div class="collapse" id="who-is-so-sure">
                            <p>We’re here because consumers deserve better when it comes to insurance.</p>
                            <p>When we launched so-sure in 2016, we wanted to revolutionise the industry by making insurance fairer, reliable and rewarding for honest consumers all over the world.</p>
                        </div>

                        <h3>
                            <a href="#our-vision-and-misson"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="our-vision-and-misson"
                               class="collapsed">
                                Our vision and mission
                            </a>
                        </h3>
                        <div class="collapse" id="our-vision-and-misson">
                            <p>Our vision is to turn the insurance industry on its head by giving our customers the service they deserve. Provide a new, revolutionary social insurance concept that is significantly cheaper for careful groups of families and friends. We’re here protecting customers when they claim and rewarding them when they don't.</p>
                            <p>Our concept is inspired by the origins of insurance. Back in the seventeenth century - when the concept of insurance was born out of the ship-owner community - insurance was how it should be. It was a time when insurance was designed around the customer, if no-one claimed, you got your money back, and if one of the ships went down, everyone chipped in.</p>
                            <p>But as the world changed, so too did the insurance industry. Companies started to care less about the customer and more about profits. And in turn, trust in insurance providers plummeted.</p>
                            <p>At so-sure, we’re on a mission to restore the essence of what insurance was – and make it even better.</p>
                        </div>

                        <h3>
                            <a href="#how-are-you-different-from-traditional-insurance-companies"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="how-are-you-different-from-traditional-insurance-companies"
                               class="collapsed">
                                How are you different from traditional insurance companies?
                            </a>
                        </h3>
                        <div class="collapse" id="how-are-you-different-from-traditional-insurance-companies">
                            <p>Traditional insurers exist to make big fat profit margins.  They keep the money that they don't pay out on claims. This means whenever they pay a claim, the loose profit.  This is why getting your claim approved and paid is so very painful… they want to keep your money.</p>
                            <p>So-Sure has been designed differently.  Our whole business is built around putting you, the customer first. That’s why we decline less than 3% of claims because we believe insurance should have your back when you need it and also reward you for being careful.</p>
                            <p>We also treat the money you pay as your money, and we believe that people are better together, and that's why we've created insurance that’s social and gives money back when there’s no claims.</p>
                        </div>

                        <h3>
                            <a href="#why-should-i-use-you"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="why-should-i-use-you"
                               class="collapsed">
                                Why should I use you?
                            </a>
                        </h3>
                        <div class="collapse" id="why-should-i-use-you">
                            <p>Unlike other insurers, we’re less focused on profit, and more focused on giving customers value.  Our mission is to make insurance better and cheaper for honest people,  and that's why we’ve developed clever anti-fraud tech that makes your life easier.  Plus we’re the only insurer that gives you money back when {Link find out more}</p>
                            <ul>
                                <li>Instant cover from purchase</li>
                                <li>Next Working Day Replacement</li>
                                <li>Hassle-Free Claims</li>
                                <li>Low excess from just &pound;50 when validated with our anti-fraud technology {link - learn more}.  If not validated then excess is standard &pound;150</li>
                                <li>Insure mobiles up to 3 years old</li>
                                <li>No proof of purchase required upfront,  or at all when you use our anti-fraud technology {link to learn more}</li>
                                <li>Rewards when you and your connections don't claim - up to 80% of your premium back</li>
                            </ul>
                        </div>

                        <h3>
                            <a href="#what-is-social-insurance"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="what-is-social-insurance"
                               class="collapsed">
                                What is social insurance?
                            </a>
                        </h3>
                        <div class="collapse" id="what-is-social-insurance">
                            <p>We believe that people are better together, we also believe that most customers are honest and will help a friend or family member in need. So when you connect your policy with friends and family and no-one claims, we'll give you up to 80% of your premium back at the end of your policy year. We call this our Reward Pot. Last year we paid thousands back to our lovely customers. Its how insurance should be, and we’re the only ones in the UK doing this.</p>
                        </div>

                        <h3>
                            <a href="#how-do-you-make-money"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="how-do-you-make-money"
                               class="collapsed">
                                How do you make money?
                            </a>
                        </h3>
                        <div class="collapse" id="how-do-you-make-money">
                            <p>We take a small fee from the monthly payments. The rest is yours, and we will give you up to 80% of that money back if you and your connections don't claim. The profit we make goes into making our customer service and technology even better, and in the future we hope to make insurance even cheaper for our customers.</p>
                        </div>

                        <h3>
                            <a href="#how-do-i-contact-so-sure"
                               data-toggle="collapse"
                               aria-expanded="false"
                               aria-controls="how-do-i-contact-so-sure"
                               class="collapsed">
                                How do I contact so-sure?
                            </a>
                        </h3>
                        <div class="collapse" id="how-do-i-contact-so-sure">
                            {# <p>We are online, you can contact us: through live chat {INSERT LINK} Monday-Friday 9am-6pm or by emailing us at <a href="mailto:support@wearesosure.com">support@wearesosure.com</a>. If you have a claim you can call our claims team on <a href="tel:03448560852">0344 856 0852</a> <small>local rates apply</small></p> #}
                            <p>We are online, you can contact us via:</p>
                            <ul>
                                <li><a href="#" class="open-intercom">Live chat</a> <u>Monday-Friday 9am-6pm</u></li>
                                <li>Emailing us at <a href="mailto:support@wearesosure.com">support@wearesosure.com</a></li>
                                <li>If you have a claim you can call our claims team on <a href="tel:03448560852">0344 856 0852</a> <small>local rates apply</small></li>
                            </ul>
                        </div>
                        {# End #}

                        {# Social Insurance and the Reward Pot #}
                        <h2 id="social-insurance-and-reward-pot">Social Insurance and the Reward Pot</h2>

                        <h3>What is the Reward Pot?</h3>
                        <div class=""></div>

                        <h3>Is the money back with the reward pot guaranteed?</h3>
                        <div class=""></div>

                        <h3>Can anyone connect to anyone?</h3>
                        <div class=""></div>

                        <h3>How do I make connections to people?</h3>
                        <div class=""></div>

                        <h3>Do I need to connect to get money back?</h3>
                        <div class=""></div>

                        <h3>Do I need to connect to have so-sure’s insurance policy?</h3>
                        <div class=""></div>
                        {# End #}

                        {# The Insurance Policy #}
                        <h2 id="the-insurance-policy">The Insurance Policy</h2>

                        <h3>What am I covered for?</h3>
                        <div class=""></div>

                        <h3>What’s not covered?</h3>
                        <div class=""></div>

                        <h3>How much is excess?</h3>
                        <div class=""></div>

                        <h3>What is accidental damage?</h3>
                        <div class=""></div>

                        <h3>What isn’t covered</h3>
                        <div class=""></div>

                        <h3>Am I still covered if I upgrade/change the device on cover?</h3>
                        <div class=""></div>
                        {# End #}

                        {# Claims #}
                        <h2 id="claims">Claims</h2>

                        <h3>How do I make a claim?</h3>
                        <div class=""></div>

                        <h3>Do I need to provide proof of purchase if I make a claim?</h3>
                        <div class=""></div>

                        <h3>How long will it take for my claim to be processed?</h3>
                        <div class=""></div>

                        <h3>What kind of supporting document may I need?</h3>
                        <div class=""></div>

                        <h3>If I want my mobile device repaired instead of replaced how long will this take?</h3>
                        <div class=""></div>
                        {# End #}

                        {# Unknown #}
                        <h2 id="unknown">Unknown</h2>

                        <h3>Do you cover other gadgets like laptops?</h3>
                        <div class=""></div>

                        <h3>I bought a used a used phone/ my friend gave me an older phone can I still insure it?</h3>
                        <div class=""></div>

                        <h3>Do you have a discount for annual payments?</h3>
                        <div class=""></div>

                        <h3>Is there an age limit on the mobile phone I want to insure?</h3>
                        <div class=""></div>

                        <h3>Can I take out insurance if I bought my mobile phone from eBay or another auction site?</h3>
                        <div class=""></div>

                        <h3> got my mobile phone on a contract, will you cover the full replacement value of the phone?</h3>
                        <div class=""></div>

                        <h3>Do you cover phones that have purchased outside of the UK?</h3>
                        <div class=""></div>

                        <h3>Are the replacement handsets brand new?</h3>
                        <div class=""></div>
                        {# End #}

                        {# Payments & Cancellations #}
                        <h2 id="payments-and-cancellations">Payments and Cancellations</h2>

                        <h3>I'm paying monthly. How and when will I be charged?</h3>
                        <div class=""></div>

                        <h3>If I pay annually do I get a discount?</h3>
                        <div class=""></div>

                        <h3>I got an email about payment failed but my details have not changed, what should I do?</h3>
                        <div class=""></div>

                        <h3>Can I change the date of my Direct Debit if I pay monthly?</h3>
                        <div class=""></div>

                        <h3>I want to cancel my policy how do I do it?</h3>
                        <div class=""></div>

                        <h3>Can I cancel my policy if I have a successful claim?</h3>
                        <div class=""></div>

                        <h3>Can I cancel my policy if I haven't made a claim?</h3>
                        <div class=""></div>

                        <h3>What is the cool-off period?</h3>
                        <div class=""></div>

                        <h3>If I have moved how do I inform you of my new address?</h3>
                        <div class=""></div>

                        <h3>What is an IMEI number and how do I find out the IMEI of my mobile phone?</h3>
                        <div class=""></div>
                        {# End #}
                    </div>
                </div>
                <div class="col-md-3 hidden">
                    <div class="faqs__sidebar" id="faqs__nav">
                        <h2>Quicklinks</h2>
                        <ul class="list-unstyled nav" role="tablist">
                            <li><a href="#about-so-sure">About us</a></li>
                            <li><a href="#social-insurance-and-reward-pot">Social Insurance and the Reward Pot</a></li>
                            <li><a href="#the-insurance-policy">The Insurance Policy</a></li>
                            <li><a href="#unknown">Unknown</a></li>
                            <li><a href="#claims">Claims</a></li>
                            <li><a href="#payments-and-cancellations">Payments and Cancellations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/faq.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
