    <section class="section--pad background-white">
        <div class="container text-center">
            <h2 class="text-center">Faster claims, Better cover</h2>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr class="info">
                        <td width="50%"><strong>so-sure</strong></td>
                        <td width="50%"><strong>Competition</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Claims speed: Next working day</td>
                        <td>4-18 days on average*</td>
                    </tr>
                    <tr>
                        <td>Immediate cover</td>
                        <td>Can be up to 14 days before cover starts</td>
                    </tr>
                    <tr>
                        <td>Insure phones up to 3 years old</td>
                        <td>Most require purchase within 30 days</td>
                    </tr>
                    <tr>
                        <td>Terms &amp; Conditions in plain English</td>
                        <td>Do you have a law degree to understand them?</td>
                    </tr>
                </tbody>
            </table>
            <p><small>*FCA report Dec 2015</small></p>
        </div>
    </section>
