<section class="social-proof section--pad">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Here's what our customers have to say...</h2>
            <div class="col-md-4">
                <blockquote>
                <p>Claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution!</p>
                    <footer><em>- Herve</em></footer>
                </blockquote>
            </div>    
            <div class="col-md-4">
                <blockquote>
                    <p>Your T &amp; Cs are so clear and concise it makes the customer feel like you actually care about them!</p>
                    <footer><em>- Honor</em></footer>
                </blockquote>
            </div>  
            <div class="col-md-4">
                <blockquote>
                    <p>The UX is great. Really smooth process. I also love the tone of voice and iconography. Time to get a few more friends involved!</p>
                    <footer><em>- Adam</em></footer>
                </blockquote>
            </div>                  
        </div>
    </div>
</section>