<section class="social-proof section--pad background-light-grey">
    <div class="container">
        <h2 class="text-center">This is what our customers say...</h2>
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <blockquote>
                    <h3>Great claim experience</h3>
                    <p>My so-sure claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution!</p>
                    <footer>
                        <img width="52px" class="img-circle" src="{{ cdn_url }}/images/feedback/so-sure_feedback_herve_n.png">
                        Herve N
                    </footer>
                </blockquote>
            </div>
            <div class="col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2">
                <blockquote>
                    <h3>Clear T&amp;Cs</h3>
                    <p>Your T&amp;Cs are so clear and concise it makes the customer feel like you actually care about them!</p>
                    <footer>
                        <img width="52px" class="img-circle" src="{{ cdn_url }}/images/feedback/so-sure_feedback_honor_b.png">
                        Honor Bulmer
                    </footer>
                </blockquote>
            </div>
        </div>
        {% if moneyBackGuarantee is defined and moneyBackGuarantee == 'money-back-guarantee' %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="text-center">Don't just take their word for it - try it yourself</h3>
                    <div class="h3 h-light text-center">We pride ourselves on our service - if you're not satisfied within the first 2 weeks, we'll give you a full refund 💰🔙</div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
