<section class="social-proof section--pad">
    <div class="container">
        <div class="">
            <h2 class="">Don't believe us?</h2>
            <p class="lead">Here's what our customers have to say (even before they've got money back)!</p>
            <div class="col-md-5">
                <blockquote>
                    <p>Claim was super fast and everyone was really friendly! Based on previous phone insurance experiences, I can honestly say this truly is a revolution!</p>
                    <footer><em>Herve</em></footer>
                </blockquote>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <blockquote>
                    <p>Your T &amp; Cs are so clear and concise it makes the customer feel like you actually care about them!</p>
                    <footer><em>Honor</em></footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>