<section class="social-proof section--pad">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Don't believe us?</h2>
            <p class="lead text-center">Here's what our customers have to say (even before they've got money back)!</p>
            <div class="col-md-4 col-md-offset-1">
                <blockquote>
                    <p>The UX is great. Really smooth process. I also love the tone of voice and iconography. Time to get a few more friends involved!</p>
                    <footer><em>Adam</em></footer>
                </blockquote>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <blockquote>
                    <p>Your T &amp; Cs are so clear and concise it makes the customer feel like you actually care about them!</p>
                    <footer><em>Honor</em></footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
