<section class="footer-cta brand-gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Ready for better phone insurance?</h2>
                <p class="lead">You can't always have better in life, but you can have better phone insurance.</p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li><a href="mailto:hello@wearesosure.com" class="btn btn-default-hollow btn-block open-intercom">Chat with us <i class="fa fa-comments"></i></a></li>
                    <li><a href="{{ path('homepage') }}?quote=1" class="btn btn-black btn-block" id="get-quote-btn">Get a quote</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
