  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="one-third column">
          <p class="terms-link">so-sure &copy; 2016 | <a class="terms" href="{{ path('terms') }}">cookies + privacy</a></p>
        </div>
        <div class="one-third column">
          <p><a href="https://twitter.com/wearesosure"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.facebook.com/wearesosure"><i class="fa fa-facebook fa-2x"></i></a></p>
        </div>
        <div class="one-third column">
          <p><a class="button" href="{{ path('jobs') }}">We are hiring!</a></p>
        </div>
      </div>
    </div>
  </div>
