    <section class="footer-cta brand-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-left">
                    <h2>Ready for better phone insurance?</h2>
                    <p class="lead">You can't always have better in life, but you can have better phone insurance.</p>
                </div>
                <div class="col-lg-2 text-center">
                    <a class="btn btn-primary" id="get-quote-btn">Get a quote</a>
                </div>
                <div class="col-lg-2 text-center">
                    <a class="btn btn-info" id="open-intercom">Chat with us <i class="fa fa-comments"></i></a>
                </div>
            </div>
        </div>
    </section>
