<section id="how-it-works" class="section--pad brand-gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-white">
                <h2 class="text-white">Why we're different</h2>
                <h3 class="text-white">Traditional insurance is rubbish.</h3>
                <p class="">
                    It's too expensive and when you claim you're treated like a thief.
                </p>
                <h3 class="text-white">How we're fixing it:</h3>
                <ul class="list-unstyled">
                    <li><strong>Transparency.</strong>  Clear policy terms &amp; conditions.</li><br>
                    <li><strong>Great customer service.</strong> A quick, stress-free claim experience.</li><br>
                    <li><strong>Rewards.</strong> Money back when you and your friends don’t claim (watch the video).</li>
                </ul>
                <p>We believe in trust between you and us.  To ensure we can provide you better and cheaper insurance, we don't tolerate fraud.</p>
            </div>
            <div class="col-md-6">
                <div class="explainer-video-thumb">
                    <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                        <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">

                        <svg id="play-button" width="80px" height="80px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard">
                                    <circle id="play-bg" fill="#202532" cx="100" cy="100" r="100"></circle>
                                    <polygon id="Triangle" fill="#FFFFFF" points="149 100 69 145 69 55"></polygon>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
