    <section>
        <div id="learn-more">
            <div class="container">
                <h3 class="text-center">How it works</h3>
                <p></p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">
                            <img src="{{ cdn_url }}/images/home/illustrations/gifs/so-sure_illy-1.gif" alt"Get your phone covered for Theft, Loss and Accidental Damage for a small monthly fee"></img>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-left">Get your phone covered.</h4>
                        <p class="text-left">With our app, it's never been easier to insure your phone against theft, loss &amp; accidental damage. Giving you <a href="https://help.wearesosure.com/hc/en-us/articles/209753345" target="_blank">great cover</a> in seconds, for a small monthly fee.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <p class="text-center">
                            <img src="{{ cdn_url }}/images/home/illustrations/gifs/so-sure_illy-2.gif" alt"Connect with those you trust to build your Reward Pot"></img>
                        </p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h4 class="text-right">Connect with friends &amp; family to build your Reward Pot.</h4>
                        <p class="text-right">Invite those you trust and for each one that also buys insurance with us we'll add up to £10 to both of your Reward Pots. Learn more about how this works <a href="https://help.wearesosure.com/hc/en-us/sections/201888645-Your-Reward-Pot" target="_blank">here</a>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center">
                            <img src="{{ cdn_url }}/images/home/illustrations/gifs/so-sure_illy-3.gif" alt="If you and your friends don't claim you get money back!"></img>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-left">Nobody claims? You get money back.</h4>
                        <p class="text-left">If none of you make a claim, we’ll give you whatever is in your Reward Pot at the end of the year. Or roll it over into next year to make your insurance even cheaper.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <p class="text-center">
                            <img src="{{ cdn_url }}/images/home/illustrations/gifs/so-sure_illy-4.gif" alt="If a connection makes a claim, your Reward Pot will help them get their phone back."></img>
                        </p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <h4 class="text-right">Someone needs to claim? You get to help them out.</h4>
                        <p class="text-right">If one of your connections makes a claim, your Reward Pot will go towards helping them get their phone back. They’ll do the same if you need to make a claim.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
