<section id="learn-more">
    <div class="container">
        <h2>How so-sure works</h2>
        <p class="lead" id="hero-description">We designed so-sure to allow you and your friends to get money back when you don't claim.</p>
        <div class="row">
            <div class="col-md-6">
                <p><img src="{{ cdn_url }}/images/home/illustrations/pngs/slide1-min.png" alt"Get your phone covered for Theft, Loss and Accidental Damage for a small monthly fee"></img></p>
                <h3>1. Insure your phone in seconds.</h3>
            </div>
            <div class="col-md-6">
                <p><img src="{{ cdn_url }}/images/home/illustrations/pngs/slide2-min.png" alt"Connect with those you trust to build your Reward Pot"></img></p>
                <h3>2. Connect with friends &amp; we'll add money to your Reward Pot</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><img src="{{ cdn_url }}/images/home/illustrations/pngs/slide3-min.png" alt="If a connection makes a claim, your Reward Pot will help them get their phone back."></img></p>
                <h3>3. If none of you make a claim, you'll get whatever is in your Reward Pot back at the end of the year.</h3>
            </div>
            <div class="col-md-6">
                <p><img src="{{ cdn_url }}/images/home/illustrations/pngs/slide4-min.png" alt="If a connection makes a claim, your Reward Pot will help them get their phone back."></p>
                <h3>4. If you or a connection makes a claim, your Reward Pot will be used up.</h3>
            </div>
        </div>
    </div>
</section>
