<section id="how-it-works" class="section--pad">  
    <div class="container">
        <h2 class="text-center">How so-sure works</h2>
        <p class="lead text-center" id="hero-description">We designed so-sure to allow you and your friends to get money back when you don't claim.</p>
        <div class="row">
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide1-min.png" alt"Get your phone covered for Theft, Loss and Accidental Damage for a small monthly fee" class="img-responsive"> 
                <h4>1. Insure your phone in seconds.</h4>
                <p>With our app, it's never been easier to insure your phone against theft, loss &amp; accidental damage. Giving you <a href="https://help.wearesosure.com/hc/en-us/articles/209753345" target="_blank">great cover</a> in seconds.</p>
            </div>
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide2-min.png" alt"Connect with those you trust to build your Reward Pot" class="img-responsive">
                <h4>2. Connect with friends &amp; we'll add money to your Reward Pot.</h4>
                <p>Invite those you trust and for each one that also buys insurance with us we'll add up to £10 to both of your Reward Pots. Learn more <a href="https://help.wearesosure.com/hc/en-us/sections/201888645-Your-Reward-Pot" target="_blank">here</a>.</p>
            </div>
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide3-min.png" alt="If you and your friends don't claim you get money back!" class="img-responsive">
                <h4>3. If none of you make a claim, you'll get whatever is in your Reward Pot back at the end of the year.</h4>
                <p>If none of you make a claim, we’ll give you whatever is in your Reward Pot back at the end of the year. Or roll it to make your insurance super cheap.</p>                
            </div>
            <div class="col-sm-6 col-md-6 how-it-works--step">
                <img src="{{ cdn_url }}/images/home/illustrations/pngs/slide4-min.png" alt="If a connection makes a claim, your Reward Pot will help them get their phone back." class="img-responsive">
                <h4>4. If you or a connection makes a claim, your Reward Pot will be used up.</h4>
                <p>If one of your connections makes a claim, <a href="https://help.wearesosure.com/hc/en-us/articles/208238165-What-happens-to-my-Reward-Pot-if-someone-claims-" target="_blank">your Reward Pot will go towards helping them get their phone back</a>. They’ll do the same if you make a claim.</p>
            </div>
        </div>                
    </div> 
</section>
