<section id="how-it-works" class="section--pad">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <h2>Our mission</h2>
            <h3>Insurance is rubbish.</h3>
            <p class="">
                It costs too much, you're never quite sure what you're paying for and when you try to claim you discover that you didn't read their small print.
            </p>
            <h3>We are making it better.</h3>
            <p class="">
                We're taking insurance back to how it all started: careful, connected people who can trust that when the worst does happen, they’re covered. And when it doesn’t, they get most of their money back. 
                We call this <strong>Social Insurance.</strong>
            </p>
        </div>

        <div class="col-sm-6">
                <div class="explainer-video-thumb">
                    <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                        <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">
                        
                        <svg id="play-button" width="80px" height="80px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard">
                                    <circle id="play-bg" fill="#202532" cx="100" cy="100" r="100"></circle>
                                    <polygon id="Triangle" fill="#FFFFFF" points="149 100 69 145 69 55"></polygon>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            </div>
    </div>
</section>
