<section id="how-it-works" class="section--pad">
    <div class="container text-center">
        <h2>How so-sure works</h2>
        <p class="lead">We designed so-sure to allow you and your friends to get money back when you don't claim. Watch our video below to learn more. 📺 👀</p>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                <div class="explainer-video-thumb">
                    <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                        <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
