{% if referral != '' %}
    {% set og_title = 'Join today & get rewarded' %}
    {% set og_image = cdn_url ~ '/images/so-sure-welcome.png' %}
{% endif %}
{% extends 'base.html.twig' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance"/>

    <meta property="og:video" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:secure_url" content="https://cdn.so-sure.com/video/explainer-subtitle-640.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/css/Default/index.css'
    '@AppBundle/Resources/public/css/Default/homepage.css'
    '@AppBundle/Resources/public/css/Default/selectPhoneMake.css'
    '@AppBundle/Resources/public/css/Default/scrollindicator.css'
    '@AppBundle/Resources/public/css/Default/modal.css'        
    '@AppBundle/Resources/public/css/Default/videoOverlay.css'
 %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'components/vimeo-player-js/player.min.js'        
    '@AppBundle/Resources/public/js/Default/index.js'
    '@AppBundle/Resources/public/js/Default/modalVideo.js'
    '@AppBundle/Resources/public/js/Default/selectPhoneMake.js'
 %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block body %}

    <section class="hero" id="get-quote">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>The insurance revolution is here</h1>
                    <h3 class="text-light-blue">Mobile phone insurance is finally worthwhile</h3>
                    <ul class="list-unstyled fa-list-bullet">
                        <li class="text-white"><i class="fa fa-check text-green fa-lg" aria-hidden="true"></i> Up to 40% cheaper than traditional insurers</li>
                        <li class="text-white"><i class="fa fa-check text-green fa-lg" aria-hidden="true"></i> Faster claims</li>
                        <li class="text-white"><i class="fa fa-check text-green fa-lg" aria-hidden="true"></i> Cashback</li> 
                    </ul>
                    <div class="center-xs ">
                        <a class="btn btn-success btn-rounded btn-lg" data-toggle="modal" data-target="#quoteModel">Get a quote</a>
                    </div>
                </div>
            </div>            
        </div>
    </section>    

    {% include 'AppBundle::Default/press.html.twig' %}

    {# {% include 'AppBundle::Default/benefits.html.twig' %} #}
    {% include 'AppBundle::Default/whySoSure.html.twig' %}

    {# {% include 'AppBundle::Default/howItWorksVideo.html.twig' %}    #}
    {% include 'AppBundle::Default/saveMoney.html.twig' %}

    {% include 'AppBundle::Default/fasterClaims.html.twig' %}

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}

    {% include 'AppBundle::Default/footerCta.html.twig' %}

    {% include 'AppBundle::Default/partnership.html.twig' %}

    {# Page Modals #}         

    {% include 'AppBundle::Default/modalVideo.html.twig' %}    

    <div class="modal modal-switching fade" 
         id="switchingModal" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="Switch to so-sure" 
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3>Want to switch to so-sure?</h3>
                </div>
                <div class="modal-body">
                    <p><strong>Switching to so-sure is easy. Just follow these steps:</strong></p>
                    <ol>
                        <li>Contact your existing insurance provider and request to cancel your policy. Check on their website but often you can email them and, at most, give them a 30 day notice.</li>
                        <li>Download the so-sure app and purchase your new policy from so-sure.</li>
                    </ol>
                    <p class="text-center"><button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Got it!</button></p>
                </div>
            </div>
        </div>
    </div>      

    {% include 'AppBundle::Default/modalQuote.html.twig' %}    

    {# End Page Modals #}       

{% endblock %}