{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'home' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends and don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/homepage.css') }}">
{% endblock %}

{% block body %}

    <section class="homepage__hero">
        <div class="container">

        </div>
        <svg preserveAspectRatio="none" viewBox="0 0 1463 940" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
                <rect id="path-1" x="0" y="0" width="1463" height="1798"></rect>
                <linearGradient x1="55.7648571%" y1="50.2572323%" x2="-22.393885%" y2="141.737118%" id="linearGradient-3">
                    <stop stop-color="#2493F4" offset="0%"></stop>
                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                </linearGradient>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.15">
                <g id="Artboard">
                    <g id="BG---swoosh">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Mask"></g>
                        <g id="Group" mask="url(#mask-2)">
                            <g transform="translate(-2.815080, -124.699620) rotate(-24.000000) translate(2.815080, 124.699620) translate(-1912.315080, -2088.699620)">
                                <path d="M1502.42642,2329.81664 L791.484559,1106.57725 L7.27595761e-12,1565.55661 L916.551655,3148.80733 C1348.89922,3894.79922 2303.92194,4148.94793 3049.69064,3716.47935 C3083.02233,3697.15043 3115.95622,3676.43464 3148.38365,3654.33487 C3246.24225,3587.68329 3333.50775,3511.22555 3410.59153,3427.49472 C2760.55466,3577.52095 2061.87568,3296.29953 1709.79623,2688.80698 L1502.42642,2329.81664 Z" id="Combined-Shape" fill="#2594F4"></path>
                                <path d="M2699.42893,5.45696821e-12 L1902.76716,461.981185 L2804.64197,2018.1126 C2896.50544,2176.61926 2918.93453,2356.85008 2881.02329,2519.7105 C2846.25855,2669.03117 2760.84816,2803.75032 2629.68309,2893.08592 C2615.84744,2902.46796 2601.65377,2911.46858 2587.43488,2919.71317 C2282.14534,3096.75 1889.77077,2992.32182 1712.77633,2686.92662 L1711.51889,2684.75751 L1710.21974,2682.5321 L1502,2329.91227 L1709.36981,2688.90067 C2061.44538,3296.38642 2760.12242,3577.60591 3410.1622,3427.58647 C3677.9936,3136.64429 3818.64472,2754.76613 3818.86594,2366.02831 L3818.86594,2364.24352 C3818.70973,2088.25806 3747.76952,1808.8486 3601.30374,1556.13045 L2699.42893,5.45696821e-12 Z" id="Fill-3" fill="url(#linearGradient-3)"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </section>

{% endblock %}

{% block javascriptsPage %}
    <script src="{{ asset('css-js/homepage.js') }}"></script>
{% endblock %}
