{% extends 'base.html.twig' %}

{% block title %}so-sure - Jobs{% endblock %}
{% block meta %}
  <meta name="description" content="Make the Social Insurance Revolution happen by joining our awesome team."/>
  <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/jobs.css'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
  <div class="section terms">
    <div class="container">
      <h1 class="section-title">We're not currently hiring.</h1>
      <p class="section-description">Thanks for checking in with us, but we don't currently have any vacancies.
      However, if you're keen to help us out, please do send a note to <a href="jobs@wearesosure.com">jobs@wearesosure.com</a>.
      </p>
    </div>
  </div>
{% endblock %}
