<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>so-sure - Jobs</title>
  <meta name="description" content="We are hiring! Make the Social Insurance Revolution happen by joining our awesome team." />
  <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="application/x-font-woff" href="/fonts/AvenirLTStd-Book.woff">
  <link rel="application/x-font-woff" href="/fonts/AvenirLTStd-Heavy.woff">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Skeleton -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <!-- Custom -->
  <link rel="stylesheet" href="/css/custom.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Site JS -->
  <script src="/js/site.js"></script>
  <!-- Optimzely -->
  <script src="//cdn.optimizely.com/js/4833800075.js"></script>

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section terms">
    <div class="container">
      <div class="row">
        <div class="nine columns">
          <p class="logo"><img class="logo" src="/images/logo/so-sure-logo.svg" alt="so-sure"></img></p>
          <p class="logo-description">Social mobile phone insurance. Better, cheaper, easier.</p>
        </div>
        <div class="three columns">
          <p class="home-button"><a class="button button-primary" href="/">Back to homepage</a></p>
        </div>
      </div>

      <hr>

      <h1 class="section-title">We are hiring!</h1>
      <p class="section-description"></p>
      <h3>Current vacancies</h3>
      <ul class="jobs">
        <li class="dev"><a href="#ios-dev">iOS Developer</a></li>
        <li class="growth"><a href="#marketing-exec">Growth / Marketing Executive</a></li>
      </ul>

      <h2><a id="About_sosure_0"></a>About so-sure</h2>
      <p><strong>Everyone hates insurance. We think that needs to change.</strong></p>
      <p>We are revolutionising insurance by providing consumers with a better, easier and up to 80% cheaper solution. We call this <strong>Social Insurance</strong>.</p>
      <p>Starting with mobile phones in April, so-sure’s ambition is to expand rapidly across consumer lines and geographies over the next few years.</p>

      <hr>

      <h2 id="ios-dev">iOS Developer</h2>

      <h3>About the role</h3>
      <p>You will be solely responsible for the development of our green-field iOS app.</p>
      <p>You will therefore be involved in everything; developing the intial app from the ground up; integrating and maintaining various APIs; co-designing the UI to optimise performance and delight users; safeguarding the availability of our service.</p>
      <p>You will also own the mobile application development and deployment cycles - including our beta testing programme and app store submissions.</p>
      <h3>You must have</h3>
      <ul>
        <li>Track record of building rich, engaging iOS apps that delight users, including at least one app built in Swift</li>
        <li>You will be comfortable managing an effective development and deployment process and understand the value of testing.</li>
        <li>A passion for UI &amp; UX (creating UI components, animations and transitions is essential, as is being comfortable with autolayout) – after all it’s not just how it’s built, but how people use it.</li>
        <li>A strong sense of ownership, urgency, and drive – you shouldn’t be afraid to wear many hats and get your hands dirty.</li>
        <li>You must have strong analytical and troubleshooting skills as well as fluent written and verbal communication.</li>
        <li>Experience with game design is a definite plus.</li>
      </ul>
      <h3>Benefits</h3>
      <ul>
        <li>Competitive salary with equity options</li>
        <li>Get in on the ground floor of an exciting new start-up, with a truly disruptive proposition</li>
        <li>It’s a completely green-field project, so the architecture and design is entirely up to you (although the user should alway be front of mind)!</li>
        <li>Work at Runway East - home to some of the UK’s hottest start-ups</li>
      </ul>
      <h3>Your application should include</h3>
      <ul>
        <li>Your CV, along with your GitHub URL</li>
        <li>Links to apps you have created worked on</li>
      </ul>
      <h5>If this interests you then drop us an email – <a href="mailto:jobs@so-sure.com?subject=iOS Developer">jobs@so-sure.com</a></h5>

      <hr>

      <h2 id="#marketing-exec">Growth / Marketing Executive</h2>

      <h3></a>About the role</h3>
      <p>We are seeking a junior marketing executive who will design and drive our digital marketing campaigns through the creation and distribution of rich, engaging, SEO optimised content, as well as executing paid campaigns across search and social.</p>
      <p>The role presents a great opportunity to get the full exposure that a well funded, early stage startup can provide as well as partake in the rewards through equity.</p>
      <h3>Must have</h3>
      <ul>
        <li>Experience growing social media channels and managing paid social and PPC (AdWords)</li>
        <li>Strong analytical skills, with an ability to make reasoned decisions with uncertain / incomplete data</li>
        <li>Genuine passion for sourcing, producing and deploying great content across all owned platforms</li>
        <li>Interest in learning about user behaviour through analysing both quantitative and qualitative data</li>
        <li>Exceptional writing skills, with a demonstrable ability to write clear and captivating copy</li>
      </ul>
      <h3></a>Benefits</h3>
      <ul>
        <li>Competitive salary with equity options</li>
        <li>Get in on the ground floor of an exciting new start-up, with a truly disruptive proposition</li>
        <li>Work at Runway East - home to some of the UK’s hottest start-ups</li>
        <li>Create a great network within the ever growing start-up world</li>
      </ul>
      <h3><a id="Your_application_should_include_27"></a>Your application should include</h3>
      <ul>
        <li>Your CV and LinkedIn</li>
        <li>Examples of your ability to use data to drive user growth through social and search</li>
        <li>Examples of your copy (e.g. Twitter profile, blog, or campaigns you’ve worked on)</li>
      </ul>
      <h5>If this interests you then drop us an email – <a href="mailto:jobs@so-sure.com?subject=Growth / Marketing Exec">jobs@so-sure.com</a></h5>
    </div>
  </div>

  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          so-sure &copy; 2016 | <a class="terms" href="/terms">cookies &amp; privacy</a>
        </div>
        <div class="one-half column">
          <a href="https://twitter.com/wearesosure"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="https://www.facebook.com/wearesosure"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
