{% extends 'base.html.twig' %}

{% block title %}so-sure - Jobs{% endblock %}
{% block meta %}
  <meta name="description" content="Make the Social Insurance Revolution happen by joining our awesome team."/>
  <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/Default/jobs.css'
    %}<link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}
  
  <div class="section terms">
    <div class="container">
      <h1 class="section-title">We're not currently hiring.</h1>
      <p class="section-description lead">Thanks for checking in with us, but we don't currently have any vacancies.
      However, if you're keen to help us out, please do send a note to <a href="jobs@wearesosure.com">jobs@wearesosure.com</a>.
      </p>
    </div>
  </div>
  
  {# <div class="section terms">
    <div class="container">

      <h1 class="section-title">We are hiring!</h1>
      <p class="section-description"></p>
      <h3>Current vacancies</h3>
      <ul class="jobs">
        <li class="dev"><a href="#frontend-dev">Front-End Developer/Designer</a></li>
      </ul>

      <h2><a id="About_sosure_0"></a>About so-sure</h2>
      <p><strong>Everyone hates insurance. We believe that needs to change.</strong></p>
      <p>We are revolutionising insurance by providing consumers with a better, easier and up to 80% cheaper solution. We call this <strong>Social Insurance</strong>.</p>
      <p>Starting with mobile phones, so-sure’s ambition is to expand rapidly across consumer lines and geographies over the next few years.</p>

      <hr>

      <h2 id="frontend-dev">Front-End Developer/Designer</h2>

      <h3>About the role</h3>
      <p>You will be responsible for the design and front-end development of the wearesosure.com website, working directly with our lead developer and product manager.</p>
      <p>You will therefore be involved in everything related to that; (re)designing the website, testing and optimizing the site for online purchasing, while ensure the best performance possible.</p>
      <h3>You must have</h3>
      <ul>
        <li>Track record of building engaging webites that delight users</li>
        <li>Able to design a website in Photoshop/Sketch and then handcode that design in html/css and able to add in the javascript functionality as required.</li>
        <li>You will be comfortable managing an effective development and deployment process and understand the value of testing.</li>
        <li>A passion for UI &amp; UX – after all it’s not just how it’s built, but how people use it.</li>
        <li>A strong sense of ownership, urgency, and drive – you shouldn’t be afraid to wear many hats and get your hands dirty.</li>
        <li>You must have strong analytical and troubleshooting skills as well as fluent written and verbal communication.</li>
      </ul>
      <h3>Benefits</h3>
      <ul>
        <li>Competitive salary with equity options</li>
        <li>Get in on the ground floor of an exciting new start-up, with a truly disruptive proposition</li>
        <li>Work at Runway East - home to some of the UK’s hottest start-ups</li>
      </ul>
      <h3>Your application should include</h3>
      <ul>
        <li>Your CV, along with your GitHub URL</li>
        <li>Links to websites you have created and/or worked on</li>
      </ul>
      <h5>If this interests you then drop us an email – <a href="mailto:jobs@wearesosure.com?subject=Front-End Developer">jobs@wearesosure.com</a></h5>
</div> #}
{% endblock %}
