<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>so-sure - Refer-a-friend &amp; get rewarded!</title>
  <meta name="description" content="Welcome to so-sure. Refer-a-friend and we'll reward you both when we launch!" />
  <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />

  {% include 'AppBundle:Default:header.html.twig' %}

</head>

<body>
  <!-- Facebook Pixel Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Custom Event for Refer Page -->
  <script>fbq('track', 'Lead');</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1018444924864481&ev=PageView&noscript=1" /></noscript>

  <!-- FB Send Button -->
  <div id="fb-root"></div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section refer">
    <div class="container">
      <h2><img src="/images/icons/rewards.svg"></img></h2>
      <h3>Welcome! Refer-a-friend &amp; get rewarded.</h3>
      <div class="row">
        <div class="one-half column">
          <ul>
          <li>As one of our first 1,000 customers we'd like to reward you and your friends.</li>
          <li>Simply share your unique link with your friends and for each one that also gets their phone insured with us we'll add an <b>extra £5</b> to both of your Reward Pots. </li>
          <li>That's on top of the £10 we'll add to your Reward Pots when you get a friend to join!</li>
        </ul>
        </div>
        <div class="one-half column">
          <div class="refer-card">
            <h5>Share your unique link:</h5>
            <p class="share-url">{{ referral_url }}</p>
            <div class="row">
              <div class="one-half column">
                <div class="fb-share-button" data-href="{{ referral_url }}" data-layout="button"></div>
              </div>
              <div class="one-half column">
                <div class="twt-share-button"><a class="twitter-share-button" href="https://twitter.com/share" data-via="wearesosure" data-url="{{ referral_url }}">Tweet</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  {% include 'AppBundle:Default:footer.html.twig' %}


  </div>
  <!-- Twitter single-event website tag code -->
  <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
  <script type="text/javascript">
    twttr.conversion.trackPid('nubzq', {
      tw_sale_amount: 0,
      tw_order_quantity: 0
    });
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nubzq&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nubzq&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  </noscript>
  <!-- End Twitter single-event website tag code -->
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
