<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>so-sure - Refer-a-friend &amp; get rewarded!</title>
  <meta name="description" content="Welcome to so-sure. Refer-a-friend and we'll reward you both when we launch!" />
  <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />

  <!-- FB Open Graph Tags
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta property="og:url"           content="http://so-sure.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="so-sure" />
	<meta property="og:description"   content="Social mobile phone insurance made better, easier and up to 80% cheaper. The social insurance revolution starts here." />
	<meta property="og:image"         content="http://so-sure.com/images/logo/so-sure-logo.svg" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="application/x-font-woff" href="fonts/AvenirLTStd-Book.woff">
  <link rel="application/x-font-woff" href="fonts/AvenirLTStd-Heavy.woff">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Skeleton -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <!-- Custom -->
  <link rel="stylesheet" href="/css/custom.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Site JS -->
  <script src="/js/site.js"></script>
  <!-- Optimzely -->
  <script src="//cdn.optimizely.com/js/4833800075.js"></script>

  <!-- Facebook Pixel Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Custom Event for Refer Page -->
  <script>fbq('track', 'Lead');</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1018444924864481&ev=PageView&noscript=1" /></noscript>

</head>

<body>
  <!-- FB Send Button -->
  <div id="fb-root"></div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section refer">
    <div class="container">
      <h2><img src="/images/icons/rewards.svg"></img></h2>
      <h3>Welcome! Refer-a-friend &amp; get rewarded.</h3>
      <div class="row">
        <div class="one-half column">
          <p>Share your unique link and we'll give you an <b>extra £5</b> (on top of the £10 we'll already give you) when you sign-up a friend.</p>
        </div>
        <div class="one-half column">
          <div class="refer-card">
            <p class="share-url">{{ referral_url }}</p>
            <div class="row">
              <div class="one-half column">
                <div class="fb-share-button" data-href="#" data-layout="button"></div>
              </div>
              <div class="one-half column">
                <div class="twt-share-button"><a class="twitter-share-button" href="https://twitter.com/share" data-via="wearesosure" data-url="{{ referral_url }}">Tweet</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          so-sure &copy; 2016 | <a class="terms" href="/terms.html">cookies + privacy</a>
        </div>
        <div class="one-half column">
          <a href="https://twitter.com/wearesosure"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="https://www.facebook.com/weraresosure"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
