{% extends 'base_rebrand.html.twig' %}

{# Set vars #}
{% set body_class = 'usa' %}

{% block title %}so-sure - Welcome to Social Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Coming soon to the US!"/>
{% endblock %}

{% block cssPage %}
    <link rel="stylesheet" href="{{ asset('css-js/usa.css') }}">
{% endblock %}

{% block body %}


    <section class="usa-hero">
        <div class="container container-xtra">
            <h1 class="h2 mb-4">Insure with friends. <br>Get up to 80% of your money back.</h1>
            <p class="lead mb-4">Introducing sosure, a better kind of insurance that allows you to get up to 80% of your money back when you connect with those you trust &amp; none of you claim.</p>
            <div class="mb-4">
                <a href="#"
                   class="btn btn-primary btn-block-xs join-waitlist mr-md-2"
                   data-toggle="modal"
                   data-target="#signup_modal">Looking for Renter's Insurance?</a>
                <a href="#"
                   class="btn btn-outline-primary btn-block-xs join-waitlist"
                   data-toggle="modal"
                   data-target="#signup_modal">How about Home Owner's Insurance?</a>
            </div>
            <a href="{{ path('homepage', {'site': 'uk'}) }}"><strong>In the UK?</strong> 🇬🇧</a>
        </div>
    </section>

    {# Page Modals #}
    <div class="modal fade"
         id="signup_modal"
         tabindex="-1" role="dialog"
         aria-labelledby="signup_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Keep me updated</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="//so-sure.us12.list-manage.com/subscribe/post?u=d404a621b5ee396856d97129f&amp;id=b88f4758e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" rel="noopener noreferrer" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <p class="lead">Let me know when you're launching in the USA.</p>
                            <div class="mc-field-group form-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_d404a621b5ee396856d97129f_b88f4758e0" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block remotestylesheets %}
    <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
{% endblock %}
