<div class="so-sure-loading loading-overlay-widget {{ class }}">
    <div class="loading-overlay-widget__inner">
        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading...">
    </div>
</div>
