<div class="so-sure-loading loading-overlay-widget {% if class is defined %}{{ class }}{% endif %}">
    <div class="loading-overlay-widget__inner">
        <img src="{{ cdn_url }}/images/spinner.svg" alt="Loading...">
    </div>
</div>
