{% extends 'base.html.twig' %}

{# Set vars #}
{% set new_stylesheet = 1 %}

{% block title %}so-sure - mobile phone insurance for your company
{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
    <meta name="keywords" content="mobile phone insurance, social insurance, mobile phone insurance for your company"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/Default/index.js' %}
    <script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
        '@AppBundle/Resources/public/sass/page/corporate.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{# {% block nav %}{% endblock %} #}

{% block body %}

    <section class="corporate-hero">
        {# <div class="container-fluid"> #}
            <div class="corporate-hero-inner">
                <h1 class="text-blue">Mobile phone insurance for your company</h1>
                <p class="lead">Next working day replacement or repair on phones up to 3 years old <br class="hidden-xs"> with up to 80% of your premium back every year.</p>
                <a href="#" class="btn btn-green btn-lg">Get a quote</a>
                <div class="fom">
                    <a href="#"><small>Find out more <br> <i class="fa fa-chevron-down" aria-hidden="true"></i></small></a>
                </div>
            </div>
        {# </div> #}
    </section>

    <section class="section--pad">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <p>Business</p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}
