{% extends 'base.html.twig' %}
{% block body %}
  <div class="section hero" style="min-height: 700px;">
    <div class="container text-center">
        <h2 class="section-title">Manage your communication preferences</h2>
        <h4 style="margin-top: 20px; margin-bottom: 40px;">Enter your email to receive an email with a link to manage your communication preferences.</h4>
        {{ form_start(form_optout) }}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="input-group">
                        {{ form_widget(form_optout.email, { 'attr': {'placeholder': 'Email Address', 'class': 'form-control'}}) }}
                        <span class="input-group-btn">
                            {{ form_widget(form_optout.decline, {'label': 'Email me', 'attr': {'class': 'btn btn-danger'}}) }}
                        </span>
                    </div>
                </div>
            </div>
        {{ form_end(form_optout) }}
    </div>
  </div>

{% endblock %}
