<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h1 id="termsconditions">Terms &amp; Conditions</h1>

<h2 id="so-suremobilephoneinsurance">so-sure Mobile Phone Insurance</h2>

<h3 id="thelegalstuff">The Legal Stuff</h3>

<p>This is your mobile phone insurance policy which details what you need to know. Please read this carefully to make sure this policy is right for you. If you have any questions then call us. </p>

<p>This insurance is arranged and sold by so-sure, which is a trading name of so-sure Limited, and underwritten and administered by SALVA. References to ‘we/us/our’ relates to SALVA.</p>

<p>The benefits, conditions and exclusions of this policy apply to the individual or family or employee member who owns the mobile phone.</p>

<h3 id="yourdemandsandneeds">Your Demands and Needs</h3>

<p>By purchasing insurance you will have come to your own decision as to whether this product meets your particular demands and needs for insuring your mobile phone against theft, damage, breakdown and/or loss and you are aware that the replacement of your mobile phone may be from refurbished stock. You have therefore decided to proceed with the insurance cover provided by us at the cost and terms indicated on a non-advised sales basis, which means that no advice on the suitability of this insurance has been given by so-sure.</p>

<h2 id="summaryofyourpolicycover">Summary of your Policy Cover</h2>

<h3 id="whatyouarecoveredfor">What you are covered for</h3>

<p>Replacing or repairing your registered mobile phone in the event of: </p>

<p>Theft of device</p>

<p>Damage to device</p>

<p>Breakdown (including faults) of device</p>

<p>Loss of device</p>

<p>Unauthorised network changes (up to £1,000 including VAT) related to approved loss or theft claim</p>

<p>Accessory claims (up to £100 including VAT) related to approved loss or theft claim</p>

<h3 id="benefits">Benefits</h3>

<p>We believe in exceptional service level for claim fulfilment: </p>

<ul>
<li>Call centre to register a claim is open 24 hrs day, 365 days a year</li>
<li>Once a claim is validated, we aim to have a replacement phone delivered to you in the UK the next working</li>
</ul>

<h3 id="whatyouarenotcoveredfor">What you are NOT covered for</h3>

<ul>
<li>Excess: You need to pay a contribution every time you make a successful claim. The value will depend on the type of claim you are making, and must be paid before your claim is settled.</li>
<li>More than two instances that give rise to an accepted loss or theft claim in any 12 month period.</li>
<li>Theft, loss, damage or breakdown where you have knowingly put your mobile phone at risk or you have not taken care of it.</li>
</ul>

<p>For details on all of the above, please refer to “<a href="http://#/">What you are NOT covered for</a>” in the Policy Document section.</p>

<h3 id="importantstuffyouneedtoknowforregulatorypurposes">Important stuff you need to know for regulatory purposes</h3>

<ul>
<li><strong>Disclosure of important information</strong>

<ul>
<li>We rely on the information you provide to us either online, over the phone or in writing to make decisions about your insurance and any claim. If you do not answer accurately and completely any questions we ask, we might invalidate your insurance and/or we might reject your claim.</li>
</ul></li>
<li><strong>Making changes to your insurance policy</strong>

<ul>
<li>If you no longer have your mobile phone, want to make changes to what you have insured or need to change any personal information contact us immediately so we can make sure that your cover continues and to ensure our records are up to date.</li>
</ul></li>
<li><strong>Status Disclosure</strong>

<ul>
<li>This insurance has been arranged and sold by so-sure and insured by SALVA. so-sure is a trading name of so-sure Limited, a company registered in England and Wales (registration company number 9365669). Registered address, 10 Finsbury Square, London EC2A 1AF. so-sure Limited is appointed representative of SALVA authorised and regulated by the Financial Conduct Authority under registration number XXXXXX. SALVA is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority under registration number YYYYYY. You can check these registrations on the Financial Services Register at <a href="http://www.fca.org.uk/">http://www.fca.org.uk/</a> or by calling 0800 111 6768.</li>
</ul></li>
<li><strong>Financial Services Compensation Scheme</strong>

<ul>
<li>If the insurer is unable to meet their liabilities you may be entitled to compensation under the Financial Services Compensation Scheme (FSCS). Further information about compensation scheme arrangements is available at <a href="http://www.fscs.org.uk/">www. fscs.org.uk</a> by emailing enquiries@fscs.org.uk or by phoning the FSCS on 0800 6781100 or 0207 741 4100.</li>
</ul></li>
<li><strong>Automatic renewal of your policy</strong>

<ul>
<li>To make sure you have continuous cover under your policy we will automatically renew your policy every year, unless you advise us otherwise and your monthly premium will be collected by the method chosen by you at the time of the initial purchase of this policy.</li>
</ul></li>
</ul>

<h2 id="thebigpolicydocument">The BIG Policy Document</h2>

<h3 id="whoisthiscoverdesignedfor">Who is this cover designed for?</h3>

<ul>
<li>People who don’t have their mobile insured elsewhere or wish to cover them separately, and who want to cover the costs of repair or replacement should an insurance event take place</li>
<li>Careful people – Having insurance doesn’t mean you can take needless risks with your phone.</li>
<li>People who are UK Residents and over 18 years of age</li>
<li>Phone was purchased in the last 36 months</li>
</ul>

<h3 id="basicdefinitions">Basic definitions</h3>

<p>The following defines the terms that are used throughout this document:</p>

<ul>
<li>Loss means the mobile phone has been accidentally left behind by you and you are permanently deprived of its use and unable to locate the mobile phone. Loss of your mobile phone is only available where you have chosen to pay the additional premium and will be detailed on your schedule of insurance.</li>
<li>Theft means the physical removal of the mobile phone without the consent of the owner and with the intention of depriving the owner of it permanently.</li>
<li>We define as taking reasonable care of your mobile phone as:

<ul>
<li>Not knowingly leaving your mobile phone somewhere it is likely to be lost, stolen or damaged. If in doubt, ask yourself “would I leave a wad of ten £50 notes there?”</li>
<li>If you need to leave your mobile phone somewhere then we expect you to lock it away out of sight if at all possible. If you cannot lock it away then you must leave it with someone you trust or concealed out of sight in a safe place.</li>
<li>Making reasonable enquiries to find your mobile phone if you think you have lost it.</li>
<li>Not intentionally damaging your mobile phone.</li>
</ul></li>
</ul>

<h3 id="whatyouarecoveredfor">What you are covered for</h3>

<table>
  <tr>
    <th>Risks you are covered for</th>
    <th>Benefits you receive</th>
  </tr>
  <tr>
    <td>Your registered mobile phone is covered for:
        <ul>
            <li>Theft</li>
            <li>Damage</li>
            <li>Breakdown (including faults)</li>
            <li>Loss anywhere in the world</li>
    </td>
    <td>
    Insurance cover for the mobile phone detailed on your policy documents and as specified in your schedule of insurance which must be owned by you or a family member, or in the case of a business owned by the business and used by its employees.
    <p>If your mobile phone is damaged or breaks down we will either:<br>a) repair the mobile phone (where possible) or <br> b) replace it with a mobile phone as defined in Replacements (below).<p> <p>If your phone is stolen or lost, we will be replacing it with a Replacement mobile phone as defined below:</p>
    <p>Replacements:
    <ol>
    <li>Where we replace the mobile device the replacement may be a remanufactured (not brand new) device</li>
    <li>We will attempt to replace your device with the same model, colour and memory but we can’t guarantee to do this or replace any limited or special edition mobile devices. If we cannot do this you will be given a choice of models with an equivalent specification</li>
<li>Where we send you a replacement or repaired item, this will only be sent to a UK address</li>
</td>
  </tr>
  <tr>
    <td>Lost/Stolen Accessories covered up to £100 value.</td>
    <td>If your loss or theft claim for your phone is approved, we will replace any Accessories that were accidentally lost, stolen or damaged at the same time as your phone up to a maximum value of £100. <p>Accessories are mainly but not limited to, chargers, protective cases, stands, headphones, memory cards, carrying cases, speakers and data cables. If we replace your mobile phone with a different make or model and this means you can no longer use your existing Accessories, we will replace them too (up to a maximum value of £100).</p></td>
  </tr>
  <tr>
    <td>Up to £1,000 worth of unauthorised network charges (calls, texts or data) as a result of someone else using your mobile phone.</td>
    <td>If your loss or theft claim for your mobile phone is approved and that your mobile phone has been used after it has been lost or stolen, we will pay those charges incurred during the period between the moment the loss or theft occurred until 24 hours after you discovered it missing. For example, if your phone was stolen at 8am on Tuesday and you discovered it missing at 11am on Wednesday, you would be covered for charges made between 8am Tuesday and 11am Thursday, up to a maximum of £1,000.<p> We will require itemised bills in order for us to pay any claim for unauthorised network charges.</p><p>The SIM card will also need to be registered to you or your family member, or to the business or an employee in order for these charges to be covered.</p></td>
  </tr>
</table>

<h3 id="whatyouarenotcoveredfor">What you are NOT covered for</h3>

<table>
  <tr>
    <th>Summary</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Any incident prior to the start date of your insurance</td>
    <td>
    This insurance policy begins on the start date as detailed on your schedule of insurance. Any incident which would result in you needing to make a claim that happens before this date is not covered. <p>We may ask for evidence or contact the network directly in order to verify that the mobile phone was being used after the start date of this policy. If we are unable to validate the mobile phone was being used then we may decline your claim.</p>
</td>
  </tr>
  <tr>
    <td>Any mobile phone not registered on your policy</td>
    <td>This policy only covers the mobile phones detailed on your schedule of insurance. If you want to insure any new mobile phone you then need to take out additional insurance to cover the item. It is important to check your schedule of insurance regularly and advise us of any changes.</td>
  </tr>
  <tr>
    <td>Breakdown covered by the manufacturer’s warranty</td>
    <td>This policy does not provide cover for problems with your mobile phone that are covered by the manufacturer warranty. If your mobile phone does develop a fault whilst still under warranty you should follow the warranty returns process as specified by the manufacturer.</td>
  </tr>
  <tr>
  <td>Excess</td>
  <td>You need to pay a contribution every time you make a successful claim. This is detailed below and confirmed within your schedule of insurance:
<ul>
<li>Damage and breakdown claims: £50</li>
<li>Theft claims: £70</li>
<li>Loss claims: £70</li>
</ul>
<p>This is the excess. Your excess will need to be paid before we will settle your claim.</p></td>
  </tr>
  <tr>
  <td>More than 2 loss or theft claims in a 12 month period for each insured item</td>
  <td>There is a limit of 2 successful claims for loss or theft for each insured item in any twelve month period, beginning from the start date detailed on your certificate of insurance. For example if you purchase your insurance on the 1st January, you are limited to only two successful claims for loss or theft up until 31st December (included) the following year. <p>There is no limitation on claims for damage or breakdown.</p></td>
  </tr>
  <tr>
  <td>Loss, theft, damage or breakdown as a result of not taking care of your mobile phone</td>
  <td>We know how important your mobile phone is to you and we expect that you will take care of your mobile phone.  If you don’t take care of your mobile phone then we may not pay your claim.
<p>We will always take into account where you are and what you are doing when we assess whether you have taken care of your device.  If we believe you have not taken reasonable care of your mobile phone, and have knowingly taken a risk with it, we may decline your claim.</p>
<p>If you knowingly leave your mobile phone somewhere you can’t see it but others can, we may decline your claim for not taking care of your mobile phone – for example:
<ul>
<li>in a cafe or pub you leave your mobile phone on the table when you go to the bar to pick up your drink instead of taking it with you</li>
<li>leaving your mobile phone on display in your car</li>
<li>leaving your mobile phone in the care of someone you don’t know well</li>
<li>if you are at the gym and you leave your mobile phone on a bench in the changing rooms rather than taking it with you or locking it in a locker</li>
</ul>
<p>All of these examples increase the risk of it being lost, stolen or damaged and may result in your claim being declined.  The examples are to help you understand what’s covered, and are not the only reasons a claim could be rejected.</p>
</td>
  </tr>
  <tr>
  <td>Mobile phones which were not to manufacturer standards at the time of purchase</td>
  <td>We can insure mobile phones which are functioning as intended by the manufacturer at the time of purchase and at the time of taking out this policy. Any damage or default of the phone prior to you taking out this policy or purchasing the phone is not covered by this policy.</td>
  </tr>
  <tr>
  <td>Cosmetic damage</td>
  <td>We only cover damage if it stops the normal functioning of your mobile phone. We know scratches, dents and scrapes to your mobile phone aren’t nice but we are here to fix your mobile phone when it isn’t working, so if it still functions as you would expect then we will not repair or replace it. For example, a scratched screen would not be covered but a cracked screen would be covered.</td>
  </tr>
  <tr>
  <td>Unauthorised repairs</td>
  <td>Making sure that your mobile phone is repaired to a high standard enables us to continue to provide this insurance cover. We want your mobile phone to continue functioning which is why we only use our approved repairers. <p>We also want the ability for us to assess the damage to your mobile phone in order to best decide whether to repair or replace the mobile phone.</p>
<p>If you have your mobile phone repaired without our opportunity to do this then we may not pay your claim.</p></td>
  </tr>
  <tr>
  <td>Contents of your mobile phone</td>
  <td>We only cover the mobile phone, we don’t cover the contents.  This means that any pictures, software, downloads, apps, music or any other content is not covered by this policy so make sure you back it up regularly. There are lots of ways to back up the contents of your mobile phone and we suggest you do this regularly so that if you have a claim and you lose your mobile phone’s contents as a result, you can download it on to your replacement mobile phone and be up and running again in no time.</td>
  </tr>
  <tr>
  <td>Individual accessories</td>
  <td>Accessories that are not lost, stolen or damaged at the same time as the Mobile Phone are not covered by our policy.</td>
  </tr>
  <tr>
  <td>Other losses</td>
  <td>Any cost or losses that can’t be resolved by the repair or replacement of your mobile phone. We don’t cover any loss of profit, opportunity, subscription fees, line rental, goodwill or similar losses. We just cover the loss of your mobile phone and any unauthorised network charges.</td>
  </tr>
  <tr>
  <td>Modifications</td>
  <td>If your mobile phone has been modified in any way we will only replace the mobile phone, we do not cover the modifications that have been made. Modifications are anything that changes the way your mobile phone looks or operates from the original specifications.  This includes things like adding gems, precious metals or making software changes such as unlocking your mobile phone from a network.</td>
  </tr>
  <tr>
  <td>Proof of ownership</td>
  <td>We need to know that the mobile phone you are claiming for is yours or a family member’s (or owned by the business if this is a business policy):
  <ul>
  <li>You will need to be able to tell us the make and model of your mobile phone.</li>
  <li>We may ask to see something that tells us that the items you are claiming for belong to you and confirms the make, model or IMEI number and memory size (where relevant) of your mobile phone.</li>
    </ul>
<p>**If you downloaded our app, we can assess that without you having to make an effort. However, if our app is not downloaded (might not be available for your phone), you might need to provide some form of proof of ownership.**</p>
    <p>If the IMEI number on the mobile phone has been tampered with and we are unable to verify this we will decline your claim.</p>
    <p>Proof of ownership could include a till receipt or documentation from any online purchase, or from your network provider. If you don’t have any proof of ownership we may decline your claim if we have reason to believe that your device might have been stolen before you owned it.</p>
  </td>
  </tr>
</table>

<h2 id="rewardpot">Reward Pot</h2>

<p>For every connection you make with another so-sure policyholder £X is put into your Reward Pot. You can connect to as few or many people as you want until your Reward Pot is 80% of the value of the price of your insurance.</p>

<p>As long as your connections don’t claim, within the first 60 days of taking out your policy, the connection value £X is worth £10 for that year and after 60 days it is worth £2 for that year. If there has been a claim among your connections, any new connection you make is worth £2 for that year. </p>

<p>The last connection you make is worth between £0.01 and £X to ensure your pot is worth 80% of your insurance price.</p>

<p>For example, if your insurance price is £60 and you connect to your friends in the first 60 days, your Reward Pot is worth:</p>

<table>
  <tr>
    <th>Number of connections</th>
    <th>Reward Pot Value</th>
    <th>% of Insurance cost</th>
  </tr>
  <tr>
    <td>0</td>
    <td>£0</td>
    <td>0%</td>
  </tr>
  <tr>
    <td>1</td>
    <td>£10</td>
    <td>17%</td>
  </tr>
  <tr>
    <td>2</td>
    <td>£20</td>
    <td>33%</td>
  </tr>
  <tr>
    <td>3</td>
    <td>£30</td>
    <td>50%</td>
  </tr>
  <tr>
    <td>4</td>
    <td>£40</td>
    <td>67%</td>
  </tr>
  <tr>
    <td>5</td>
    <td>£48</td>
    <td>80%</td>
  </tr>
</table>

<h3 id="rewardpotvaluewhenthereareclaimsinyournetwork">Reward pot value when there are claims in your network</h3>

<ul>
<li>If you claim, your Reward Pot value is turned to £0 (zero pounds), regardless of your number of connections.</li>
<li>If your Reward Pot is worth £40 or more and one of your connections claims, your Reward Pot is reduced to £10.</li>
<li>If your Reward Pot is worth less than £40 and one of your connections claims, your Reward Pot is reduced to £0 (zero pounds).</li>
</ul>

<p>At the end of every year, you have the opportunity to either re-connect with your existing connections, change the connections you had in the prior year or add more connections (up until you Virtual Pot is worth 80% of your insurance price). Any connection you make in the first 60 days of your renewal, contributes £10 to that year’s Reward Pot.</p>

<p>If you and your connections do not claim during your year of insurance, the Reward Pot is paid out to you. If you renew your policy for another year, your Reward Pot is:</p>

<ol>
<li>Either paid out to you monthly to reduce your following year’s monthly payments (for example, if your insurance price was £60 and Reward Pot was worth £48, the price of your insurance for the following year is £1 per month instead of £5 per month);</li>
<li>Or you can get paid the Reward Pot as a Lump Sum Payment.</li>
</ol>

<p>If you do not wish to renew your policy, we will pay you out in full the value of your Reward Pot as a Lump Sum Payment.</p>

<p>Lump Sum Payments are made within 45 days of your policy ending as long as none of your connection(s) have submitted a claim before the end of your policy term. For example, if your policy ends on 3rd March and your Reward Pot was worth £48 and none of your connections submit a claim by 31st March, we will payout £48 to the card with which you bought the insurance by the 17th April.</p>

<p>Circumstances in which your Reward Pot will not be paid out to you:</p>

<ul>
<li>your policy has been cancelled within the last 12 months</li>
<li>one of your connections files a claim within 28 days of the end of your previous year’s insurance policy</li>
</ul>

<p>If you upgrade your phone to a more expensive one, we will amend your premium to reflect the phone insured and allow you to connect to another person. The value of that connection will be as much as if you had connected to them in the first 60 days. </p>

<p>If one of your connections’ mobile phone is no longer insured by so-sure part way through your annual policy, we will allow you to connect to a new person during the 30 days following your connection’s departure from the service. The value of that new connection will be the same value as the connection it is replacing.</p>

<h2 id="claimsprocess">Claims Process</h2>

<p>The actions you will need to take on loss, theft, breakdown or damage to your mobile phone are explicated in </p>

<ul>
<li>Section A: theft or loss</li>
<li>Section B: damage or breakdown</li>
</ul>

<p>Our customer services team is available to register a claim 24hrs a day, 365 days a year. They will take down all the details so that our claim validation team which works 8am to 5pm Monday to Friday can start processing the claim.</p>

<h3 id="sectiona-yourphonehasbeenstolenorlost">Section A - Your phone has been stolen or lost</h3>

<p>When you lose or have your phone stolen, you need to take these 4 simple steps:</p>

<ol>
<li><strong>Network: tell your network provider as soon as you can</strong>

<ul>
<li>It is important to contact your network to block your device and SIM card as soon as possible if your device is lost or stolen. We may ask for evidence of this to support any claim for the loss or theft of your mobile phone.</li>
</ul></li>
<li><strong>Police: report it to the Police</strong>

<ul>
<li>Tell the local Police about any lost or stolen mobile phone as soon as you can, as we will ask you to provide the Police reference number before we will pay any claim for loss and theft.</li>
<li>If you have difficulty reporting your incident to the police please contact us and we can help to guide you.</li>
</ul></li>
<li><strong>Last place: Report it to the place you believe it has been lost or stolen from</strong>

<ul>
<li>You never know: they might have kept it aside for you! So we expect you to report your mobile phone as lost or stolen to the place you think it has been lost or stolen from.</li>
<li>We may ask you to provide the details of where your mobile phone was lost or stolen from and actions you have taken to try to recover it</li>
</ul></li>
<li><strong>so-sure: Report your claim to us as soon as you can but within 28 days</strong>

<ul>
<li>For details on how to contact us and know what happens next, please go to Section C].</li>
</ul></li>
</ol>

<h3 id="sectionb.yourphoneisdamaged">Section B. Your phone is damaged</h3>

<p>When your phone is damaged and you want to claim on your insurance, you just need to report your claim to so-sure as soon as you can but within 28 days.</p>

<p>For details on how to contact us and know what happens next, please go to Section C. </p>

<h3 id="sectionc-contactingusandwhathappensonceyouhavereportedyourclaim">Section C - Contacting us and what happens once you have reported your claim?</h3>

<ol>
<li>Contacting us to report your claim</li>
</ol>

<p>You can log your claim online, by telephone, by email or in writing, so tell us about a claim as soon as you can. We expect you to tell us about any claim as soon as possible and within 28 days of discovery of the loss, theft or damage. </p>

<p>If you don’t do this it we will still consider your claim, however it makes it difficult for us to investigate your claim or recover (for loss/theft) or stop any further damage to (for damage) your mobile phone. </p>

<p>You can contact us in the following ways:</p>

<ul>
<li><p>Registering and logging in to your online account portal at www.wearesosure.com and submitting your claim or; </p></li>
<li><p>Calling our customer services team on TTTT TTT TTTT </p></li>
<li><p>Emailing our customer services team at customerservices@so-sure.com</p></li>
<li><p>Writing to us at so-sure, [DAVIES ADDRESS]</p></li>
<li><p>What happens once you have reported your claim</p></li>
</ul>

<p>When you have reported to us the claim, we will do the following:</p>

<ul>
<li>We will walk you through the simple claims process and tell you what information and documents you will need to provide for us to assess your claim</li>
<li>You will need to pay your excess for every accepted claim before the claim is settled.</li>
<li><p>Once your claim is validated, we will aim to either repair your mobile phone or send you a replacement within 1 working day</p>
We do understand that every claim can be quite different and we will make every effort to take this into consideration when we review a claim.</li>
</ul>

<h3 id="whatyouneedtoknowabouttheclaimsprocess">What you need to know about the claims process</h3>

<ul>
<li><p>Repairs may be made using readily available parts, or we may provide refurbished products which may contain parts, which are of similar or equivalent specification, and which may include unbranded parts. </p>
This policy is provided in addition to any manufacturer’s warranty that applies to your mobile phone (“applicable manufacturer’s warranty”).</li>
<li>Nothing in this policy is intended to affect your rights under the applicable manufacturer’s warranty or your statutory rights. If any repairs authorised by us under this policy invalidate the applicable manufacturer’s warranty, we will repair or replace your mobile phone, as necessary, in accordance with the terms of the applicable manufacturer’s warranty for the unexpired period of the applicable manufacturer’s warranty</li>
<li>Where we replace the mobile phone the replacement may be a remanufactured (not brand new) device</li>
<li>If we are unable to replace your device with the same make and model, we will contact you to discuss an alternative claim settlement</li>
<li>If any lost, stolen or damaged items are recovered after the claim is approved, they shall become the property of the insurer and must be returned to us immediately. Damaged mobile phones, parts and materials replaced by us shall become the property of the insurer</li>
<li>Davies Group Limited shall handle all claims.</li>
</ul>

<h3 id="whatifyourclaimisrejected">What if your claim is rejected?</h3>

<p>If you’re not happy with the claims decision, we want to hear from you as soon as possible. Please follow the complaints process. </p>

<p>If your claim for a lost or stolen mobile phone has been rejected then insurance cover for that mobile phone will cease and no further insurance premiums will be collected for it. This will result in your policy cancelling.</p>

<h2 id="fraud">Fraud</h2>

<p>We do not tolerate any aspect of fraudulent activity. We work closely and share data with other insurers, law enforcement agencies and airtime providers to identify fraud and support prosecution where the appropriate evidence exists. </p>

<p>Our fraud team works tirelessly to prevent and detect fraud. We, and other organisations, may access and use the information’ recorded by fraud prevention agencies, from both the UK and from other countries. It is important that when applying for insurance, or submitting a claim you or anyone acting on your behalf must take reasonable care to answer all questions honestly and to the best of your knowledge. Failure to do so may affect the validity of your policy or the payment of your claim.</p>

<p>If false or inaccurate information is provided and fraud is identified then we will: </p>

<ul>
<li>Not honour the claim and we will cancel your policy. If an excess has been paid this will not be returned, this is not a penalty this is to cover administration costs</li>
<li>Report you to the relevant authorities and take legal action, if necessary, to recover any money already paid to you under this insurance policy</li>
<li>Put the details of the fraudulent claim onto a Register of Claims through which insurers share information to prevent fraudulent claims. A list of participants are available on request.</li>
<li>Pass the details to fraud prevention agencies. Law enforcement agencies may access and use this information. Other organisations may also access and use this information to prevent fraud and money laundering, for example, when:

<ul>
<li>Checking details on applications for credit and credit related accounts or facilities</li>
<li>Managing credit and credit related accounts or facilities</li>
<li>Recovering debt</li>
<li>Checking details on proposals and claims for all types of insurance</li>
<li>Checking details of job applicants and employees</li>
<li>Please contact us at TTTT TTT TTTT if you want to receive details of the relevant fraud prevention agencies.</li>
</ul></li>
</ul>

<h2 id="priceofyourinsurance">Price of your insurance</h2>

<p>The price of this insurance is based upon the model and type of device and is detailed within your schedule of insurance.</p>

<h2 id="durationofthispolicy">Duration of this Policy</h2>

<p>This annual insurance policy will continue to run on until the year’s anniversary of the policy issuance (eg if you take out the policy on 1st January, the policy runs until 31st December included), except if one of the following events happens: </p>

<ul>
<li>You fail to pay the monthly premium</li>
<li>so-sure or the insurer cancel the insurance</li>
</ul>

<h2 id="cancellingyourinsurance">Cancelling your insurance</h2>

<p>You may cancel the insurance within the 14 days after you receive the insurance documents and you will receive a full refund of any premiums paid. </p>

<p>The insurer can cancel the insurance without notice if you do not pay the monthly premium when due or if you make a claim which we believe to be fraudulent. Otherwise the insurer can cancel your insurance by giving you 30 days written notice to your last known address or an email to the email address you provided.</p>

<p>The reasons that the insurer may cancel this insurance could be for: significant adverse claims experience, significant increase in the insurer’s operating costs, inflation, economic and environmental factors, and changes in legislation, taxation or interest rates.</p>

<h2 id="makinganenquiryorcomplaint">Making an enquiry or complaint</h2>

<p>We will always try to be fair and reasonable. If you believe we have not provided you with a satisfactory level of service, please tell us so that we can do our best to resolve the problem. The easiest way to contact us is to call us on XXXX XXX XXX. We will do everything possible to ensure that your query is dealt with promptly. </p>

<p>Alternatively, you can email complaints@so-sure.com or write to:</p>

<p>Quality Assurance Manager, Davies Group Limited, P.O Box 2801, Stoke-On-Trent, Staffordshire, ST4 9DN. Please quote your mobile phone number in any correspondence.</p>

<p>Davies Group Limited handle all queries and complaints.</p>

<p>If you are not happy with our decision you can, within 6 months of our final decision, refer your complaint for an independent assessment to: The Financial Ombudsman Service, Exchange Tower, Harbour Exchange, LONDON, E14 9SR, Telephone: 0800 023 4567 / 0300 123 9123, Email: complaint.info@financial-ombudsman.org.uk Web: <a href="http://www.financial-ombudsman.org.uk">http://www.financial-ombudsman.org.uk</a> </p>

<p>Nothing in these terms, including referral to the Financial Ombudsman Service affects your statutory rights.</p>

<h2 id="choiceoflaw">Choice of law</h2>

<p>English law applies to this policy. It’s written in English and all communication with you will be in English.</p>

<h2 id="ifweneedtochangethetermsofthepolicy">If we need to change the terms of the policy</h2>

<p>In the event that the insurer needs to change the terms, we will give you 30 days’ notice in writing to your last known address, or via email whe re you have provided us with a valid email address. This will only be for valid reasons such as to respond proportionately to changes in the law or decisions of the Financial Ombudsman Service, to meet regulatory requirements, industry guidance or codes of practice, to proportionately reflect other legitimate cost increases or reductions associated with providing the cover, or where we choose to change the level of cover. </p>

<h2 id="statusdisclosure">Status disclosure</h2>

<p>This insurance has been arranged and sold by so-sure Limited with a single insurer SALVA. so-sure Limited is a company registered in England and Wales (registration company number 9365669). Registered address, 10 Finsbury Square, London EC2A 1AF. so-sure Limited is appointed representative of AFL Insurance Brokers Limited which is authorised and regulated by the Financial Conduct Authority under registration number AFLREGNUM. SALVA is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority under registration number SALVAPRANUM. You can check these registrations on the Financial Services Register at http://www.fca.org.uk/ or by calling 0800 111 6768</p>

<h3 id="contactdetails">Contact details</h3>

<p>SALVA. Registered in England No. XXXXX. Registered Office: [SALVA ADDRESS]</p>

<h2 id="howwehandleyourpersonalinformation.">How we handle your personal information.</h2>

<p>We are committed to preserving the privacy of our customers. Please read the following privacy policy to understand how we will use and protect the information that you provide to us. By purchasing this insurance from us you consent to the collection and use of your information under the terms of this privacy policy for the purposes of effecting and administering this insurance policy. The information you provide will be used by us to supply you with the services for which you have registered and we may use the information to contact you to obtain your views on our services and to let you know about important changes to the services which we offer. </p>

<p>The information you provide to us about you and the mobile phone will be shared with the insurer. If you make a claim that has been approved, the fact that the claim has been approved will be shared with your connections in view to evaluate their reward pot value, however, the details of your claim will not be shared with your connections. In order to prevent fraud we may share information with other insurers and fraud prevention agencies where this had been detected. </p>

<p>We may contact you by post, mobile phone, text, fax, or e-mail. You will only be contacted by the methods you have asked to be contacted by. Your information will not be used or disclosed other than in accordance with this privacy policy, or without your permission, unless required by law. If you would prefer us not to contact you to obtain your views and/or you change your mind in the future and would like us to stop contacting you for this purpose, please write to:</p>

<p>Customer Services, so-sure Limited, 10 Finsbury Square, London EC2A 1AF.</p>

<p>The details of mobile devices reported lost or stolen will be submitted, where applicable, to the IMEI Database to prevent further use. We may co-operate with the Police and any other relevant authorities or organisations in connection with any misuse or suspected misuse of the services provided by us or other telecommunications services provided by any member of our group of companies. If necessary, we may divulge information about you for this purpose. You have a right to ask for a copy of the data held about you and you may ask us to make any necessary changes to ensure that it is accurate and kept up-to-date. If you wish to do this, please contact the Customer Helpline on TTTT TTT TTTT. </p>

<p>We are entitled by law to charge you a fee of £10.00 to meet our costs in providing you with details of the information we hold about you. We employ security measures to protect your information from access by unauthorised persons and against unlawful use, accidental loss, destruction and damage. We will retain your information for a reasonable period or as long as the law requires. Any changes to our privacy policy will be notified to you in the appropriate way. All comments, queries and requests relating to our use of your information are welcomed and should be addressed as specified above.</p>

<p>If we transfer your information to a person, office, branch, organisation, service provider or agent in another country, we will make sure that they agree to apply the same levels of protection as we are required to apply to information held in the UK and to use your information only for the purposes that we have permitted. You confirm that you consent to transfers of your data outside the EEA for the purposes described in this policy. </p>

<h2 id="contactdetails">Contact details</h2>

<ul>
<li>so-sure Limited, 10 Finsbury Square, London EC2A 1AF</li>
<li>SALVA [SALVA ADDRESS]</li>
<li>Davies Group Limited, P.O Box 2801, Stoke-On-Trent, Staffordshire, ST4 9DN</li>
</ul>

</body>
</html>
