<section class="press">
    <div class="container">
        <div class="col-sm-3 col-md-2">
            <h4 class="footer-press--heading">
                <strong><small>FEATURED IN</small></strong>
            </h4>
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/g@2x.png" alt="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/ft@2x.png" alt="Financial Times - Innovation to watch: Friends based insurance" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-2">
            <img src="{{ cdn_url }}/images/home/press-images/ip@2x.png" alt="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-2">
            <h4 class="footer-press--heading">
                <strong><small>AWARDED BY</small></strong>
            </h4>
        </div>
        <div class="col-sm-3 col-md-2">
           <img src="{{ cdn_url }}/images/home/press-images/di@2x.png" alt="Post Digital Insurance Awards 2016 - so-sure nominated for The New Kid on the Block Award" class="img-responsive">
        </div>
    </div>
</section>