<section class="section--pad quote--press">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>As Seen In</h4>
                <ul class="list-inline press-list press-list--1">
                    <li class="press-img" title="The Guardian - Why Facebook and Microsoft say chatbots are the talk of the town"></li>
                    <li class="press-img" title="Financial Times - Innovation to watch: Friends based insurance"></li>
                    <li class="press-img" title="Insurance Post - so-sure to launch revolutionary social peer-to-peer mobile insurance app"></li>
                </ul>
            </div>
            <div class="col-md-5">
                <h4>Awards</h4>
                <ul class="list-inline press-list press-list--2">
                    <li class="press-img digital-top-50" title="Digital Top 50 Awards 2016 - B2C Start-up"></li>
                    <li class="press-img insurance-choice-awards" title="Insurance Choice Awards 2017 - ‘Best Insurance App' + 'Innovation of the Year' categories 2017"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
