<section id="how-it-works" class="section--pad">
    <div class="container">
        <h2 class="text-center text-white">Insure. Save. Together.</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="h3 text-white">Up to 40% cheaper than traditional insurers.</div>
                <div class="h3 text-white" style="line-height:1.5;">And get up to 80% cashback every year when you and your friends don’t claim.</div>
                <div class="text-white"><span class="lead">How?</span></div>
                <ul class="text-white list-unstyled lead">
                    <li>Connect to friends/family and each receive up to £10 in your individual Reward Pots.</li>
                    <li>At the end of the year, when you and your connections haven’t claimed, your Reward Pot is paid out to you.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="explainer-video-thumb">
                    <a class="explainer-video-view-thumb" data-toggle="modal" data-target="#modal-fullscreen">
                        <img src="{{ cdn_url }}/images/home/explainer-video/explainer-video-frame-2.png" class="img-responsive">

                        <svg id="play-button" width="80px" height="80px" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard">
                                    <circle id="play-bg" fill="#202532" cx="100" cy="100" r="100"></circle>
                                    <polygon id="Triangle" fill="#FFFFFF" points="149 100 69 145 69 55"></polygon>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <p class="text-white text-center h3">Watch the video to find out more!</p>
            </div>
        </div>
    </div>
</section>
