<div id="select-phone-data" data-phones='{{ phones|json_encode|raw }}'>
    {% if type is defined and type == 'purchase-select' %}
        {% set buttonText = 'Select Phone' %}
        {% set class = "device-select-block" %}
    {% elseif type is defined and type == 'purchase-change' %}
        {% set buttonText = 'Select Phone' %}
        {% set class = "device-select-block" %}
    {% else %}
        {% set buttonText = 'Quote me' %}
        {% set class = "text-center" %}
    {% endif %}
    <form method="get" id="search-phone-form" {% if phone %}action="{{ path('quote_phone', {'id': phone.id }) }}"{% endif %}>
        <input type="text" class="required search-phone-text" id="search-phone" placeholder="Find your phone e.g. iPhone 7" value="{% if phone %}{{ phone }}{% endif %}" />
        <button type="submit" class="btn btn-success btn-get-quote btn-lg">Quote me</button>
        {% if type == 'homepage' %}
            <a id="find-out-more" href="#" class="btn btn-link-white"><i class="fa fa-graduation-cap" aria-hidden="true"></i> LEARN MORE</a>
        {% endif %}
    </form>
    {% if type is not defined or not type  %}
        <p><a href="mailto:hello@wearesosure.com" class="btn btn-link text-black open-intercom"><i class="fa fa-comments"></i> Don't see your device? Let us know.</a></p>
    {% endif %}

    <div id="loading-search-phone" class="text-center">
        <p><small>loading...</small></p>
    </div>

</div>
