<section class="social-proof section--pad">
    <div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">so-sure</div>
			<div class="col-md-4">Others</div>
		</div>
		<div class="row">
			<div class="col-md-4"><span class="h3">What you're covered for</span></div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<ul class="list-unstyled">
						 	<li>Worldwide cover for:</li>
						 	<li>Theft + Loss</li>
						 	<li>Accidental Damage</li>
						 	<li>Breakdown</li>
						 	<li>Accesories &amp; Unauthorised Usage</li>
						</ul>
					</div>
					<div class="col-md-6">
						<p>Theft and Loss is often extra. <br> Accidental Damage can also be extra. Excess can vary.</p>
						<p><a href="#">Here’s an example of what we’re talking about…</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><span class="h3">Why we're better</span></div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>Next-working day replacement</li>
							<li>24/7 claims support</li>
							<li>Live chat</li>
							<li>Instant Cover</li>
						</ul>
					</div>
					<div class="col-md-6">2</div>
				</div>
			</div>
		</div>
			<div class="row">
			<div class="col-md-4"><span class="h3">Why we're cheaper</span></div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">1</div>
					<div class="col-md-6">2</div>
				</div>
			</div>
		</div>		
    </div>
</section>