<section class="sosure-compared section--pad">
    <div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="hidden-xs hidden-sm col-md-4 text-center">
				<h3><img src="{{ cdn_url }}/images/logo/Logo-Dark-with-Social-Insurance.svg" alt="so-sure" title="so-sure" width="150"></h3>
			</div>
			<div class="hidden-xs hidden-sm col-md-4 text-center">
				<h3>Others</h3>
			</div>
		</div>
		<div id="why-were-better" class="row">
			<div class="col-md-4"><h3 class="text-center">Why we're better</h3></div>
			<div class="col-md-8 sosure-compared--card">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<h4 class="visible-xs-block visible-sm-block">Us</h4>
						<ul class="list-unstyled">
							<li>Next-working day replacement</li>
							<li>24/7 claims support</li>
							<li>Live chat</li>
							<li>Instant Cover</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6">
						<h4 class="visible-xs-block visible-sm-block">Others</h4>
						<ul class="list-unstyled">
							<li>Take up to 3 weeks to repair or replace your phone.</li>
							<li>Cover start can vary (some can take up to a month).</li>
						</ul>
					</div>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="col-md-4"><h3 class="text-center">What you're covered for</h3></div>
			<div class="col-md-8 sosure-compared--card">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<h4 class="visible-xs-block visible-sm-block">Us</h4>
						<ul class="list-unstyled">
						 	<li>Worldwide cover for:</li>
						 	<li>Theft + Loss</li>
						 	<li>Accidental Damage</li>
						 	<li>Breakdown</li>
						 	<li>Accesories &amp; Unauthorised Usage</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6">
						<h4 class="visible-xs-block visible-sm-block">Others</h4>
						<ul class="list-unstyled">
							<li>Theft and Loss is often extra.</li>
							<li>Accidental Damage can also be extra.</li>
							<li><a href="https://secure.covercloud.co.uk/quote/select?gtype=smartphone" target="_blank">Here’s an example of what we’re talking about…</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><h3 class="text-center">Why we're cheaper</h3></div>
			<div class="col-md-8 sosure-compared--card">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<h4 class="visible-xs-block visible-sm-block">Us</h4>
						<ul class="list-unstyled">
							<li>Already up to 40% cheaper than the phone companies.</li>
							<li>Option to get up to 80% money back every year when you connect with friends and none of you claim.</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-6">
						<h4 class="visible-xs-block visible-sm-block">Others</h4>
						<ul class="list-unstyled">
							<li>Some will reduce your excess the following year. Thats about it.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>		
    </div>
</section>