<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>so-sure - Terms</title>
  <meta name="description" content="Our privacy &amp; cookies policy that outlines the types of data we collect when you use our website." />
  <meta name="keywords" content="mobile insurance, phone insurance, mobile phone insurance, cheap mobile phone insurance, cheap phone insurance, cheap mobile insurance, better phone insurance, better mobile phone insurance" />

  {% include 'AppBundle:Default:header.html.twig' %}

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section terms">
    <div class="container">
      <div class="row">
        <div class="nine columns">
          <p class="logo"><img class="logo" src="/images/logo/so-sure-logo.svg" alt="so-sure"></img>
          </p>
          <p class="logo-description">Social mobile phone insurance. Better, cheaper, easier.</p>
        </div>
        <div class="three columns">
          <p class="home-button"><a class="button button-primary" href="/">Back to homepage</a></p>
        </div>
      </div>
      <hr>
      <h1 class="section-title">Cookies &amp; Privacy</h1>
      <p class="section-description">The following terminology applies to this Cookies and Privacy Policy, Terms of Use, and any or all Agreements: “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. “The Company”, “Ourselves”,
        “We” and “Us”, refers to so-sure (trading as Deabea Limited). “Party”, “Parties”, or “Us”, refers to both you and ourselves, or either you or ourselves.</p>
      <h3>What's in here:</h3>
      <ol>
        <li><a href="#privacy-statment">Privacy statement</a></li>
        <li><a href="#personal-data-collected">Personal data we collect</a></li>
        <li><a href="#what-we-do-with-your-data">What we do with that data</a></li>
        <li><a href="#cookies-we-use">Cookies we use and why</a></li>
        <li><a href="#where-your-data-is-stored">Where your data is stored</a></li>
        <li><a href="#changes">Updates to this policy</a></li>
        <li><a href="#contact-us">Got questions? Contact us</a></li>
      </ol>
      <hr>
      <h2 id="privacy-statement">1. Privacy Statement</h2>
      <p>We are committed to protecting and respecting your privacy.</p>
      <p>Authorised employees within the company only use any information collected from individual customers on a need to know basis for the purposes set out in this policy. We constantly review our systems and data to ensure the best possible service to
        our customers.
      </p>
      <p>This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand how we will process your personal data. By visiting our website
        you are accepting and consenting to the practices described in this policy.</p>
      <p>For the purpose of the Data Protection Act 1998 (the Act), the data controller is Deabea Limited of 18 ADDISON BRIDGE PLACE, LONDON, UNITED KINGDOM, W14 8XW.</p>
      <h3 id="personal-data-collected">2. What Personal Data Do We Collect?</h3>
      <p>We may collect and process the following personal data about you:</p>
      <p>Information submitted by you via forms on our website:</p>
      <ul>
        <li>Email address</li>
        <li>Full name</li>
      </ul>
      <p>With regard to each of your visits to our site we may automatically collect the following information:</p>
      <ul>
        <li>Technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type; Information about your visit, including the full Uniform Resource Locators (URL); page response
          times, length of visit to certain pages, page interaction information (such as scrolling and clicks).</li>
        <li>This information is not shared with third parties and is used only within this Company on a need-to-know basis. Any individually identifiable information related to this data will never be used in any way different to that stated above without
          your explicit permission.</li>
      </ul>
      <h3 id="what-we-do-with-your-data">3. What We Will and Won’t Do With Your Personal Data</h3>
      <p>We will:</p>
      <ul>
        <li>Use your email address to contact you about our services from time to time;</li>
      </ul>
      <p>We won’t:</p>
      <ul>
        <li>Provide your personal data to any third-parties without your explicit permission, unless required to do so by law;</li>
        <li>Store your personal data for more than a reasonable period of time considering the purpose for which the personal data has been collected (unless you are banned, in which case we will retain data relating to your identity only).</li>
        <li>In addition, please note that we may use the information we automatically collect about you to:
          <ul>
            <li>Administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
            <li>Improve our site to ensure that content is presented in the most effective manner for you and for your device.</li>
          </ul>
        </li>
      </ul>
      <h3 id="cookies-we-use">4. Use of Cookies on our Website</h3>
      <p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site.</p>
      <p>By continuing to browse the site, you are agreeing to our use of cookies.</p>
      <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive.</p>
      <p>We use the following types of cookies:</p>
      <ul>
        <li>Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website.</li>
        <li>Analytical/performance cookies.They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us analyse data about webpage traffic and improve our website in order
          to tailor it to customer needs.</li>
        <li>Functionality cookies. These are used to recognize you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences.</li>
      </ul>
      <p>The only third-party cookies used by us are those provided by Google Analytics, MailChimp, Optimizely and Heap Analytics. Here are the links to their respective cookie policies:</p>
      <ul>
        <li><a href="https://www.google.co.uk/intl/en/policies/privacy/">Google Analytics Privacy Policy</a></li>
        <li><a href="http://mailchimp.com/legal/privacy/">MailChimp Privacy Policy</a></li>
        <li><a href="https://www.optimizely.com/privacy/">Optimizely Privacy Policy</a></li>
        <li><a href="https://heapanalytics.com/privacy">Heap Analytics Privacy Policy</a></li>
      </ul>
      <p>Cookies used by us can be either first or third-party cookies. A first-party cookie is set by the website being visited. A third-party cookie is issued by a different website to that being visited.</p>
      <p>You can choose to accept or decline cookies. You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential
        cookies) you may not be able to access all or parts of our website.</p>
      <h3 id="where-your-data-is-stored">5. Where We Store Your Personal Data</h3>
      <p>Your data is stored on servers which are located within the European Economic Area.</p>
      <h3>Access to Information</h3>
      <p>The Data Protection Act 1998 gives you the right to access information held about you. We will provide you with a copy of any and all of your data we keep, on the proviso that you give us reasonable notice of such a request. Any access request may
        be subject to a fee of £10 to meet our costs in providing you with details of the information we hold about you.</p>
      <h3 id="changes">6. Changes to Our Privacy Policy</h3>
      <p>If there are any changes to our privacy policy, we will announce that these changes have been made on our homepage or on other key pages on our site.</p>
      <p>Please check back frequently to see any updates or changes to our privacy policy.</p>
      <h3 id="contact-us">7. Contact Us</h3>
      <p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to <a href="mailto:info@so-sure.com">info@so-sure.com</a>.</p>
      </ol>
    </div>
  </div>

  {% include 'AppBundle:Default:footer.html.twig' %}

  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
