{% extends 'base.html.twig' %}

{% block title %}so-sure - Better Phone Insurance{% endblock %}
{% block meta %}
    <meta name="description" content="Social mobile phone insurance that's better and up to 80% cheaper when you connect with friends don't claim. Download our app now to see how much you could save."/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/*.css'
    '@AppBundle/Resources/public/sass/page/article.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}">{% endstylesheets %}
{% endblock %}

{% block body %}

    <section class="hero brand-gradient">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left">Think your iPhone 7 is insured by your bank? <br>Think again...</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="article-content section--pad">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img src="{{ cdn_url }}/images/articles/bank-logo-icons.jpg" alt="Bank Logos" class="img-responsive img--pad">
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Don’t worry, we’re not here to scare you, we just believe customers should have complete transparency on the things that their insurance providers do or don’t do.</p>
                    <p>Many banks offer mobile phone insurance as part of their ‘Premium Bank Account service’. On surface it sounds great. However, we’ve been hearing some horror-stories about the service they provide.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Trying to go through my phone insurance to replace my screen but it&#39;s sooo much hassle 😩😩😩</p>&mdash; shan (@shaannongee) <a href="https://twitter.com/shaannongee/status/831869149257330688">February 15, 2017</a></blockquote><br>
                    <p class="">That said, we haven’t heard any complaints from customers with NatWest cover <i class="fa fa-check text-green" aria-hidden="true"></i>.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="">If your bank provides a sub-par mobile phone insurance service, and you are looking for cover for your phone, you might want to consider buying mobile phone insurance.</p>
                    <p class="">We think people deserve better. That's why all our policies come with <strong>instant cover</strong>, <strong>24-72 hours phone replacement/repair once claim is approved</strong>, <strong>better prices</strong> and also cover for <strong>theft, loss, accidental damage</strong> and <strong>breakdown</strong>.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="h2">Demand more from your insurance</div>
                    <a href="#" data-event-url="{{ path('homepage') }}" data-event="quote-bank"
                       class="btn btn-success  sosure-track">GET A QUOTE</a>
                </div>
            </div>

        </div>
    </section>

    {% include 'AppBundle::Default/feedbackQuotes.html.twig' %}

{% endblock %}
