<section id="why-insure-your-phone" class="section--pad background-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">                
                <img src="{{ cdn_url }}/images/without-favourite-app.jpg" alt="">
            </div>
            <div class="col-md-9">
                <h2>Could you live one week without your phone?</h2>
                
            </div>
        </div>
    </div>
</section>
