<section class="section--pad background-white">
    <div class="container">
        <h2 class="text-center">Why did we create so-sure?</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote class="lead">
                    <p>Traditional insurance has consistently let us down: they charge a lot of money and then when you claim they hide behind small print and painful process not to pay you out. That needed to change, so I created so-sure.</p>
                    <footer>
                        <em>Dylan Bourguignon - CEO</em>
                        <img width="52px" class="img-circle" src="{{ cdn_url }}/images/about/team/dylan_bio.jpg">
                    </footer>
                </blockquote>     
                <ul class="lead list-unstyled">
                    <li><strong>We are changing that, starting with mobile phone insurance</strong></li>
                    <li><i class="fa fa-check-circle text-green fa-lg" aria-hidden="true"></i> Up to 40% cheaper than mobile operators</li>
                    <li><i class="fa fa-check-circle text-green fa-lg" aria-hidden="true"></i> Phone in your hand the next working day when you claim</li>
                    <li><i class="fa fa-check-circle text-green fa-lg" aria-hidden="true"></i> Get cashback when you and your friends don’t claim</li>
                    <li><i class="fa fa-check-circle text-green fa-lg" aria-hidden="true"></i> We don’t hide behind SMALL PRINT or painful process </li>
                </ul>                                          
            </div>
        </div>        
    </div>
</section>
