<section id="why-so-sure" class="section--pad background-white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote class="lead">
                    <h2>Why did we create so-sure?</h2>
                    <p>Traditional insurance has consistently let us down: they charge a lot of money and then when you claim they hide behind small print and painful process not to pay you out. That needed to change, so I created so-sure.</p>
                    <footer>
                        <img width="52px" class="img-circle" src="{{ cdn_url }}/images/home/dylan_thumb.jpg">
                        Dylan Bourguignon - CEO
                    </footer>
                </blockquote>
            </div>
            <div class="col-md-12">
                <h3 class="text-center">We are revolutionising insurance, starting with mobile phones</h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="h3 text-blue text-underline">Up to 40% cheaper than traditional insurers</li>
                            <li class="h3 text-blue text-underline">
                                Replacement or repair within 24 to 72 hours once claim approved
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="h3 text-blue text-underline">Get up to £80 back at the end of the year</li>
                            <li class="h3 text-blue text-underline">We don’t hide behind SMALL PRINT or painful process </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
