    <section class="section--pad background-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="text-center"><img src="{{ cdn_url }}/images/about/team/dylan_bio.jpg" alt="Dylan CEO" class="img-circle" width="300px;">
                        <br><br><strong>Dylan Bourguignon - CEO</strong>
                    </p>
                </div>
                <div class="col-md-8">
                    <h2>Why did we create so-sure?</h2>
                    <p class="h3">Traditional insurance is rubbish</p>
                    <ul class="lead list-unstyled">
                        <li><i class="fa fa-minus-circle text-red" aria-hidden="true"></i> Too expensive</li>
                        <li><i class="fa fa-minus-circle text-red" aria-hidden="true"></i> Doesn’t payout when you claim</li>
                    </ul>
                    <p class="h3">We are changing that, starting with mobile phone insurance</p>
                    <ul class="lead list-unstyled">
                        <li><i class="fa fa-check-circle text-green" aria-hidden="true"></i> Up to 40% cheaper than mobile operators</li>
                        <li><i class="fa fa-check-circle text-green" aria-hidden="true"></i> Phone in your hand the next working day when you claim</li>
                        <li><i class="fa fa-check-circle text-green" aria-hidden="true"></i> Get cashback when you and your friends don’t claim</li>
                        <li><i class="fa fa-check-circle text-green" aria-hidden="true"></i> We don’t hide behind SMALL PRINT or painful process </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
