// base.scss

html, body {
	overflow-y: scroll;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

// Sections
.section--pad {
    padding: 20px 0;
}

@include breakpoint(mobileonly) {

	.section--pad {
	    padding: 30px 0;
	}

}

// Row Centred
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
