// base.scss

html, body {
	overflow-y: scroll;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

// Sections
.section--pad {
    padding: 40px 0;
}

@include breakpoint(mobileonly) {

	.section--pad {
	    padding: 30px 0;
	}

}
