// header.scss

// Logo
.so-sure-logo {
	width: 120px; height: 30px;
    background-size: 120px;

	&-dark {
		background: transparent no-repeat top center url('#{$cdn_url}/logo/so-sure-logo-dark.svg');
	}

	&-light {
		background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-white-light.svg') no-repeat top center;
	}

    &-blue-flat {
        background: transparent url('#{$cdn_url}/images/rebrand/logo/so-sure_logo-blue.svg') no-repeat top center;
    }
}

// Cookie Consent
/* Cookie */
.cc-message {
    padding-right: 15px;
}

.cc-compliance {
    align-self: flex-start;
}

.cc-btn {
    margin-top: 5px;
}

.cc-window {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.cc-window .cc-message {
    margin-bottom: 0 !important;
}

.cc-floating.cc-theme-classic {
    border-radius: 0;
}

@include breakpoint(tablet) {

    .cc-btn {
        margin-top: 0;
    }

}
