// includes.scss

// Press
.press {
	padding: 15px;
	background-color: $white;
	text-align: center;

	img {
		margin:  auto;
		display: inline-block;
		max-width: 200px;
	}
}

@include breakpoint(tablet) {

	.press {

		img {
			width: 100%;
		}

		h4 {
			margin: 32px 0 0;

			small {
				color: $grey-dark;
			}
		}
	}

}

// Partnership
.partnership {
	background-color: $grey-light;
}

// Footer (Banner) CTA
.footer-cta {
	padding: 40px 0;
	color: $white;
	text-align: center;

	h2 {
		color: $white;
		margin: 0;
	}

	li {
		width: 45%;
	}
}

@include breakpoint(laptop) {

	.footer-cta {
		text-align: left;

		p {
			margin: 0;
		}
	}

}
