// nav.scss

// Navbar
.navbar-default {
    z-index: 1000;
    margin-bottom: 0;
    border: 0;
    background: rgba(0,0,0,0.0);
    display: block;
}

.navbar-default .navbar-collapse {
    background-color: $white;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
}

.navbar-default.nav-new .navbar-collapse {
    background-color: $blue;

    @include breakpoint(laptop) {
        background-color: $white;
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    color: $white;

    &:hover {
        color: darken($blue, 20%);
        transition: all 0.3s ease;
    }

    &:focus {
        color: $black;
        border-color: $black;
        outline: none;
        transition: all 0.3s ease;
    }

    @include breakpoint(laptop) {
        color: $blue;
    }
}

.navbar-default .navbar-nav > li > span {
    display: block;
    position: relative;
    padding: 0 0 0 15px;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;

    .icon-bar {
        background-color: $blue;
    }

    &:hover, &:focus {
        background-color: transparent;
        border: none;
        outline: none;
        transition: all 0.3s ease;

        .icon-bar {
            background-color: darken($blue, 20%);
        }
    }

    @include breakpoint(laptop) {
        display: none;
    }
}

@include breakpoint(laptop) {

    .navbar-default .navbar-collapse {
        background-color: transparent;
        border: none;
    }

}

@include breakpoint(laptop) {

    .navbar-nav > li {
        margin: 0 5px;
        padding: 0 5px;
    }

}

.navbar-sticky {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
}

// Secondary Nav
.secondary-nav {
    width: 620px; height: 50px;
    position: absolute;
    left: 50%; margin-left: -310px;
    z-index: 1000;
    text-align: center;
    // padding: 15px 0;
    background-color: $white;

    @include border-bottom-radius(10px);

    li {
        padding: 15px;
    }
}

.secondary-nav-sticky {
    top: 0;
    position: fixed;
    background-color: transparent;
}
