// nav.scss

// Navbar
.navbar-default {
    z-index: 1000;
    margin-bottom: 0;
    border: 0;
    background: rgba(0,0,0,0.0);
    display: block;
}

.navbar-default.nav-new .navbar-collapse {
    background-color: $blue;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    color: $white;
    text-align: center;

    &:hover {
        color: darken($blue, 20%);
        transition: all 0.3s ease;
    }

    &:focus {
        color: $black;
        border-color: $black;
        outline: none;
        transition: all 0.3s ease;
    }

    @include breakpoint(laptop) {
        font-size: 18px;
    }
}

.navbar-btn {
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > span {
    text-align: center;
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;

    .icon-bar {
        background-color: $blue;
    }

    &:hover, &:focus {
        background-color: transparent;
        border: none;
        outline: none;
        transition: all 0.3s ease;

        .icon-bar {
            background-color: darken($blue, 20%);
        }
    }
}

.navbar-fixed-top .navbar-collapse {
    max-height: none !important;

    @include breakpoint(laptop) {
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
        padding-bottom: 30px;
    }
}

.navbar-sticky {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
}

// Secondary Nav
.secondary-nav {
    width: 620px; height: 50px;
    position: absolute;
    left: 50%; margin-left: -310px;
    z-index: 1000;
    text-align: center;
    // padding: 15px 0;
    background-color: $white;

    @include border-bottom-radius(10px);

    li {
        padding: 15px;
    }
}

.secondary-nav-sticky {
    top: 0;
    position: fixed;
    background-color: transparent;
}

// Copied solution to make menu collapsed all the time
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .collapse.in{
        display:block !important;
        overflow-y: scroll;
    }
    .container-fluid > .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
}

