<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h1 id="termsconditions">Key Facts</h1>

<h2 id="so-suremobilephoneinsurance">so-sure Mobile Phone Insurance</h2>

<ul>
<li>so-sure Limited, 10 Finsbury Square, London EC2A 1AF</li>
<li>SALVA [SALVA ADDRESS]</li>
<li>Davies Group Limited, P.O Box 2801, Stoke-On-Trent, Staffordshire, ST4 9DN</li>
</ul>

</body>
</html>
