{% extends '::base.html.twig' %}

{% block title %}so-sure - Page not found{% endblock %}

{% block stylesheets %}
    {% stylesheets output='css/error.css'
        '@AppBundle/Resources/public/sass/page/error.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}        	

{% block body %}
<section class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h1 class="section-title">Page Not Found</h1>
              <img class="logo" src="{{ cdn_url }}/images/logo/unhappy-so-sure-smiley.svg" alt="Unhappy so-sure smiley"></img>
              <p class="lead">Unforunately the page you requested couldn't be located. Check the URL for any misspellings or <a href="/">return to the homepage</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
